<section>
  <img src="assets/images/banner1.jpg" class="page-banner">
</section> 

<div class="inner-wrap">
<div class="container">

 <section>
    <div class="white-block">
       <h1>Welcome to Goglides</h1>
       <h4><strong>That wonderful feeling --- you start the engine and your adventure begins…</strong></h4>
       <p>At Goglides.com, our aim is to give you the freedom to search more. We create experiences that makes you smile, increase your heart beat and bring you a smooth, hassle-free experience from start to finish.</p>
     </div>

     <div class="white-block"> 
       <h2>What we're about</h2>
       <strong>We want to make booking a gliding very simple.</strong>
       <p>Fly like a bird is a dream for everyone. Goglides brings you freedom to choose your best and cheap gliding package from various companies. We search various packages from different companies in a single click and show you all the information you need to make the best gliding decisions.</p>
     </div>

     <div class="white-block">
       <h2>How we work</h2>
        <p>Making sure you have a great experience every time you book from us.
          We are a listing company. We're more than a listing site, because we stay with you every step of the way.
        </p>
        <ol type="1" style="line-height: 2.5;">
        <li><strong>Search:</strong> You search our site for the glide you want.</li>
        <li><strong>Compare:</strong> We show you the best deals, reviews and ratings to help you to choose.</li>
        <li><strong>Book :</strong> You pick the package you want, add any extras you'd like - such as transportation, photo/video, insurance, meals, sightseeing and book</li>
        <li><strong>You're all set:</strong> We confirm your booking with the gliding company you choose, and confirm back to you.</li>
        <li><strong>Pick you up:</strong> We come to your place or you need to come to gliding company you choose and we pick you up to gliding site.</li>
        <li><strong>Have a fantastic glide:</strong> You glide and start fly like a bird.</li>
        <li><strong>Enjoy our support:</strong> We're here 24/7 to support- before, during and after your trip.</li>
        </ol>
     </div>
     
     <div class="white-block">
       <h2>Why use us</h2>
       <p>In Simple word, because we bringing you unbeatable price throughout your gliding journey.</p>
     </div>

     <div class="white-block">
       <h2>Who we are</h2>
       <p>Goglides is the world's first integrated, real-time, largest gliding site, facilitating agents and user to meet each other in same place. Goglides offers you benefits unlike other gliding sites.</p>
     </div>

 </section>


</div> 
</div>