<div class="thumbnail rounded-top">
  <div class="zoom">
    <img (click)="detailPage(list?.listing[0]?.slug)" [src]="list?.listing[0]['featureImageUrl']" class="col4-img rounded-top w-100 cursor">
  </div>
  <div class="mb-4">
    <div class="position-relative cursor">
    <p class="agent-review">
      <img (click)="businessPage(list?.business[0]?.slug)" [src]="list?.business[0]['logoUrl']">
    </p>
    <span (click)="businessPage(list?.business[0]?.slug)"  class="package-oprator">{{list?.business[0]['businessName']}}</span>      
    </div>
  </div>

    <div class="caption">
      <div class="title-content">
      <strong (click)="detailPage(list?.listing[0]?.slug)" class="package-title cursor">{{list?.listing[0]['title']}}</strong>
      <p class="text-sm">
        <i class="fa fa-map-marker pr-1 text-primary" aria-hidden="true"></i> {{list?.business[0]['street']}}, {{list?.business[0]['city']}}</p>
      </div>
      <h3 class="amount pb-1">
          
        <!-- <small class="text-secondary">from</small> {{list?.listingPrice  }} -->
        <small class="text-secondary">from</small> {{ forexService.calculateRate(list?.listingPrice) |  currency:forexService.currencyCode }}
      </h3>

    <div class="listing-reviews">
      <ngb-rating [rate]="list?.review['average']" max=5 readonly=true></ngb-rating>
      |
      <span>{{list?.review['total']}} Reviews</span>
      <span class="pull-right">
        <a [class.disabled]="!heart">
          <i (click)="RemoveWishlist(list?.listing[0])" *ngIf="wishList" class="fa fa-heart pull-right" style="color:#f12828;" aria-hidden="true"></i>
          <i (click)="wishlist(list?.listing[0])" *ngIf="!wishList" class="fa fa-heart pull-right" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>
</div>
