
<form [formGroup]="basicForm" (ngSubmit)="saveBusinessGeneralInfo(basicForm.value)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Basic-Info</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">business</i>
                    </div>
                    <h4 class="card-title">Basic Information </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Registered Business Name</mat-label>
                                <input matInput placeholder="Trip Concern Pvt. Ltd." type="text" formControlName="businessName">
                            </mat-form-field>
                            <mat-error *ngIf="!basicForm.controls.businessName.valid  && basicForm.controls.businessName.touched">Business name is required.</mat-error>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Business TAX/PAN/VAT/TIPNS</mat-label>
                                <input matInput placeholder="AAAPL1234C" type="text" formControlName="registrationNumber">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Website</mat-label>
                                <input matInput placeholder="https://goglides.com/" type="url" pattern="https?://.+" formControlName="website">
                            </mat-form-field>
                            <mat-error *ngIf="!basicForm.controls.website.valid  && basicForm.controls.website.touched">website must be valid.</mat-error>

                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="info@tripconcern.com" type="email" formControlName="email">
                            </mat-form-field>
                            <mat-error *ngIf="!basicForm.controls.email.valid  && basicForm.controls.email.touched">email must be valid.</mat-error>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Primary Number</label>
                            <int-phone-prefix formControlName="phone1" class="form-control" style="height: 55px;" (input)="getPhoneValidationError()"></int-phone-prefix>
                            <mat-error class="my-1" *ngIf="!basicForm.controls.phone1.valid  && basicForm.controls.phone1.touched">Please provide valid number</mat-error>
                        </div>
                        <div class="col-md-6 form-group">
                                <label>Primary Number</label>
                            <int-phone-prefix formControlName="phone2" class="form-control" style="height: 55px;"></int-phone-prefix>
                        </div>
                        <div class="col-md-6 form-group">
                            <mat-form-field>
                                <mat-label>Choose Business Type</mat-label>
                                <mat-select placeholder="Business Type" formControlName="businessType">
                                    <mat-option *ngFor="let b of business" [value]="b.name">
                                        {{ b.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error *ngIf="!basicForm.controls.businessType.valid  && basicForm.controls.businessType.touched">Business Type is required.</mat-error>
                        </div>

                        <div class="col-md-12 form-group">
                            <!-- <mat-form-field>
                            <textarea matInput placeholder="Short Description" rows="5" formControlName="description"></textarea>
                          </mat-form-field> -->
                            <p><strong class="text-gray">Business Description</strong></p>
                            <app-ngx-editor [config]="editorConfig21" placeholder="Business description" [spellcheck]="true" [(ngModel)]="htmlContent21" formControlName="description"></app-ngx-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button type="submit" [disabled]="!basicForm.valid" mat-button class="btn btn-primary">Next</button>
    </div>
</form>

<!-- <mat-card>
    <pre>{{basicForm.value | json}}</pre>
</mat-card> -->