  <div class="row">
      <div class="col-md-12">
            <h3 class="mat-dialog-title mb-4">Update Business Logo </h3>
            <div class="row">
                <div class="col-md-4">    
                <input  type="file"  name="file" id="file"  (change)="fileChangeEvent($event)" class="inputfile" />   
                <label class="mat-raised-button" for="file">Choose a file</label>      <br> <br>              
                <button *ngIf="logoBarStaus === 0" [disabled]="!croppedImage" mat-button class="btn btn-success mat-raised-button" (click)="upload()">Update</button>
                <p *ngIf="logoBarStaus === 1"><ngb-progressbar type="info" [value]="logoProgressPercentage" [striped]="true">{{ logoProgressPercentage  }} %</ngb-progressbar></p>                                  
            </div>
                <div class="col-md-4">
                <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="4 / 4"
                    [resizeToWidth]="300"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
                </div>
                <div class="col-md-4">
                <label>Preview</label> 
                <div><img [src]="croppedImage" /></div>
                <button  [mat-dialog-close]="1" [disabled]="!croppedImage" mat-button class="btn btn-primary mat-raised-button" (click)="upload()">save</button>                
                </div>
            
            </div>          
      </div>
  </div>






