

     <!-- notification -->
    <section>
      <div class="row">

        <div class="col-sm-12 inner-content">
         <h2>Notifications</h2>

         <section>
           <div class="white-block">
            <div *ngFor="let item of notifications">
                    <div class="row">
                            <div class="col-sm-1 text-center">
                                <i (click)="deleteNotification(item?.id)" class="fa fa-close"></i>
                            </div>
                            <div class="col-sm-9" innerHTML="{{item?.description }}">
                               
                            </div>
                            <div class="col-sm-2 text-center">
                                <span>{{item?.createdAt | date:'mediumDate'}}   </span>
                            </div>
                          </div>
             
                          <hr>
            </div>
            


           </div>
         </section>

         

     

        </div>

      </div>

    </section>
    <!-- ends -->
