<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Pax Information</h3> -->
    <strong class="mr-2">Other Details</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">
                    <i class="material-icons">home</i>
                </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li>
                <a [routerLink]="['/bookings']">Booking </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li class="active"> Pax Info</li>
        </ol>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Other Info </h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form autocomplete="off" [formGroup]="otherInfo">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <strong class="text-gray">Payment Option</strong>
                        </div>
                        <div class="col-md-12">
                            <mat-radio-group>
                                <mat-radio-group class="example-radio-group" formControlName="paymentMode" >
                                    <mat-radio-button class="example-radio-button" (change)="checkPayMode($event)" *ngFor="let mode of paymodes" [value]="mode.value">
                                        {{mode.option}}
                                    </mat-radio-button>
                                </mat-radio-group>
                                <span *ngIf="show">
                                        <mat-form-field>
                                            <mat-label>Receipt Number</mat-label>
                                            <input matInput placeholder="001253669">
                                        </mat-form-field>
                                    </span> 
                               
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Pickup</mat-label>
                                <mat-select placeholder="PickUp" formControlName="pickup">
                                    <mat-option *ngFor="let option of pickup" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Dropoff</mat-label>
                                <mat-select placeholder="title" formControlName="dropOff">
                                    <mat-option *ngFor="let option of dropoff" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Emergency Contact Person</mat-label>
                                <input formControlName="emergencyContactName" matInput placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Emergency Contact Number</mat-label>
                                <input formControlName="emergencyContactNumber" matInput placeholder="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <textarea formControlName="comment" matInput placeholder="Special Request" rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <mat-button (click)="book(otherInfo.value)" class="btn btn-primary mt-3 pull-right">Book now</mat-button>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <!-- profile -->
        <div class="card card-profile mb-0">
            <div class="card-avatar position-relative full-width-avatar">
                <img class="img img-banner" [src]="bannerImage" />
            </div>
            <div class="position-relative featured-img" style="margin: -70px 0 0 30px">
                <img class="img img-feat" [src]="featureImage" />
            </div>
            <div class="card-body">
                <h4 class="card-title mb-1">{{listing?.title}}</h4>
                <h6 class="text-gray">Trip Code : {{listing?.code}} </h6>
                <div>
                    <small>
                        <strong>Catagory : {{category?.title}}</strong>
                    </small>
                </div>
                <p>
                    <button class="btn text-primary" style="background: #f1f1f1; width: 100%;">
                        <strong [routerLink]="['/bookings/bookingView',booking?.id]">{{booking?.bookingStatus}}</strong>
                    </button>
                </p>
                <!-- <div>
                    <strong class="d-block">Client Name : {{booking?.clientName}} </strong>
                    <strong class="d-block">Client Contact : {{booking?.clientContact}} </strong>
                    <strong class="d-block">Booking Date : {{booking?.bookingDate | date:'medium'}} </strong>
                    <strong class="d-block">Booked Date : {{booking?.createdAt | date:'medium'}} </strong>
                </div>-->
            </div>
        </div>
        <!-- end -->

        <!-- summary -->
        <div class="card mt-0">
            <div class="card-body" style="padding: 10px;">
                <div style="background: #f1f1f1; padding: 10px;">
                    <!-- <h5 class="text-center">
                        <strong>Booking Summary</strong>
                    </h5> -->
                    <table class="table">
                        <!-- <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr> -->
                        <tr>
                            <td>
                                <strong>Client Name</strong>
                            </td>
                            <td>{{booking?.clientName}} </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Client Contact </strong>
                            </td>
                            <td>{{booking?.clientContact}} </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Booking Date </strong>
                            </td>
                            <td>{{booking?.bookingDate | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Booked Date</strong>
                            </td>
                            <td>{{booking?.createdAt | date:'medium'}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- end -->
        <!-- summary -->
        <div class="card mt-0">
            <div class="card-body" style="padding: 10px;">
                <div style="background: #f1f1f1; padding: 10px;">
                    <h5 class="text-center">
                        <strong>Booking Summary</strong>
                    </h5>
                    <table class="table">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        <!-- <tr>
                            <td colspan="2">
                                <div *ngIf="cartList">
                                <table>
                                    <tr *ngFor="let cart of cartList">
                                        <td>{{cart?.nationality}}</td>
                                        <td>{{cart?.total}}</td>
                                    </tr>
                                </table>
                            </div>
                            </td>
                        </tr> -->
                        <!-- <span *ngIf="cartList">
                            <tr *ngFor="let cart of cartList">
                                <span></span>
                                <td>{{cart?.nationality}}</td>
                                <td>{{cart?.total}}</td>
                            </tr>
                        </span> -->
                    </table>
                </div>
            </div>
        </div>
        <!-- end -->

    </div>

</div>

<pre>{{otherInfo.value | json}}</pre>