<h3 mat-dialog-title>Are you sure to delete?</h3>
<div mat-dialog-content>
<!-- {{data?.title}} -->

</div>

<div mat-dialog-actions>
  <button mat-button class="btn btn-success" [mat-dialog-close]="1" (click)="confirmDelete()">yes, Delete it</button>
  <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">no, keep it</button>
</div>
