@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins-Bold.ttf') format('truetype'),
    url('../fonts/Poppins-Bold.svg#Poppins') format('svg'),
    url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.eot');
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins-Light.ttf') format('truetype'),
    url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg'),
    url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.woff2') format('woff2'),
    url('fonts/Poppins-Medium.woff') format('woff'),
    url('fonts/Poppins-Medium.ttf') format('truetype'),
    url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg'),
    url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
    url('fonts/Poppins-Regular.woff') format('woff'),
    url('fonts/Poppins-Regular.ttf') format('truetype'),
    url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'),
    url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('fonts/Poppins-SemiBold.woff') format('woff'),
    url('fonts/Poppins-SemiBold.ttf') format('truetype'),
    url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
    url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype');
}
body, html {
    font-family: 'Poppins-Regular', sans-serif;
    color: #767676;
}

a, .navigation-bar .navbar-nav li a {
    color: #656565;
}

a:hover, a:focus {
    text-decoration: none;
}

h1.para-text {
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 4px;
}

h1 {
    font-size: 36px;
    margin: 0 0 3px;
}

h2 {
    font-size: 22px;
    margin: 0 0 15px;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    color: #444;
    text-transform: capitalize;
}

h6 {
    font-size: 15px;
    text-transform: capitalize;
}

h6, h3, .img-icons span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation-bar {
    background-color: transparent;
    text-transform: capitalize;
    border: 0;
    margin-bottom: 0;
    /*padding-top: 8px;*/
    font-family: 'Poppins-Medium';
}

.bg-white {
    height: 66px;
    background: #07575b;
}

.nav > li > a {
    padding: 12px 15px;
}

.logo {
    padding-top: 6px;
    z-index: 9;
}

.navbar-toggle {
    margin-bottom: 0;
    margin-top: 0;
}

.navigation-bar .navbar-nav li a, .navigation-bar .navbar-nav li a:hover {
    color: #fff;
}

.navigation-bar .navbar-nav ul.dropdown-menu li a {
    color: inherit;
}

.navigation-bar .navbar-nav li:hover .dropdown-menu {
    display: block;
}

.banner-img {
    height: 100vh;
}

.lists .img-text {
    min-height: 170px;
}

.search-block {
    z-index: 99;
}

.currency select {
    border: 0;
    padding: 10px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.currency select:focus {
    outline: 0;
}

.currency:after {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    top: 10px;
    right: 18px;
}

.footer {
    padding: 80px 0 60px;
    background: #353535;
    color: #909090;
}

.fa-envelope-open {
    font-size: 11px;
}

.footer .fa {
    padding-right: 6px;
    color: #fff;
}

.footer a {
    color: inherit;
    line-height: 1.8;
}

.ft-logo p {
    margin-top: 10px;
}

.social-block {
    padding: 20px 0 10px;
    font-size: 12px;
    background: #212020;
}

.social-block .fa {
    font-size: 15px;
    height: 36px;
    width: 36px;
    padding: 9px 0;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
}

.content-wrap.winner-wrap {
    /*margin-top: 40px;*/
    padding: 50px 0;
}

header{
    background: linear-gradient(180deg,rgba(0,0,0,.5),transparent);
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    z-index: 250;
    top:0;
}
.navigation-bar .navbar-nav li a{ color: #fff;}

/*Common css*/

.navigation-bar, .form-control.input-last, .pax-info h3 {
    font-family: 'Poppins-Medium';
}

.block-heading span, .amount, h2 {
    color: #07575b;
}

.listing-reviews .fa, .nav-listing a, .info-tab .nav-tabs > li.active > a {
    color: #66a5ad;
}

.btn, .form-control.input-last, .progress-bar-info, .blue-block {
    background-color: #66a5ad;
}

.block .thumbnail, .btn, .form-control, .well, .dropdown-menu, .progress {
    border-radius: 0;
}

.sorting-bar .form-control, .dropdown-menu, .search-block .form-control, .booking-detail .form-control, .info-tab .nav-tabs,
.info-tab .nav-tabs > li.active > a, .info-tab .nav-tabs > li > a {
    border: 0;
}

.amount, .listing-reviews span, .center-content, h6, .form-control.input-last {
    letter-spacing: 1px;
}

.center-content, .center-content h3, .center-content a, .social-block, .social-block a, .form-control.input-last, .footer h6,
.btn, .btn:hover, .view-btn, .view-btn:hover, .view-btn:focus, .btn:focus, .blue-block, .blue-block h2, .dark-blue-block, .btn a, .hvr-icon a,
.hvr-icon {
    color: #fff;
}

.search-bar .btn:focus, .slick-center:focus {
    outline: none !important;
}

.event-banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.block {
    padding: 50px 0;
    background-color: #fff;
}

.block-more {
    margin: 40px 0 15px;
}

.white-block {
    background-color: #fff;
    margin: 0 0 15px;
    padding: 20px;
}

.blue-block {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.6;
    background-color: #66a5ad;
    color: #fff;
}

.view-btn {
    padding: 12px 25px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #07575b;
    color: #fff;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.event-info .blue-block {
    height: 350px;
}

.event-info .blue-block i {
    font-size: 24px;
    padding-right: 5px;
}

.info-text {
    padding: 25px 40px 0 0;
}

.info-text h1 {
    margin-bottom: 10px;
}

.title {
    font-size: 35px;
}

#counter {
    font-size: 36px;
    margin: 40px 0;
}

#counter span {
    font-size: 16px;
    padding-right: 15px;
}

.pricing-block {
    background-color: #ebebeb;
}

.pricing-block .blue-block {
    height: 130px;
    width: 130px;
    margin: 20px auto;
    padding: 36px 0;
    border-radius: 50%;
    font-size: 40px;
}

.title-bg {
    text-align: center;
    background: #07575b;
    color: #fff;
    padding: 15px;
    margin: 0;
}

.title-arrow {
    color: #07575b;
    position: absolute;
    text-align: center;
    width: 95%;
    font-size: 60px !important;
    padding: 0;
    margin: 0;
    line-height: 13px !important;
}

.ad-block {
    margin-bottom: 60px;
}

.event-counter {
    padding: 20px 0;
    margin-top: 30px;
}

.event-counter #counter {
    margin-top: 20px;
}

.event-counter #counter span {
    font-size: 18px;
    padding-right: 40px;
}

.contact-block {
    border: 1px solid #ebebeb;
    padding: 50px 0;
    margin-bottom: 15px;
}

.event-info .contact-block {
    height: auto;
}

.inquiry-block {
    border: 3px solid #ddd;
    padding: 20px;
    margin: 50px 0;
}

.inquiry-block a {
    margin-left: 10px;
}

.white-block.blue-block.inquiry-block {
    border: 0;
    margin: 0;
}

.white-block.blue-block.inquiry-block a {
    color: #fff;
    margin: 0;
}

.title .pull-right i {
    font-size: 16px;
}

.title .pull-right {
    margin-top: -15px;
}

@media ( max-width: 767px) {
    .event-banner {
        height: auto;
    }

    .inquiry-block {
        margin: 0 0 15px;
    }

    .inquiry-block a {
        display: block;
        margin: 15px 15% 0;
    }

    .contact-block {
        padding: 15px;
        text-align: left;
    }
}

.showMore {
    height: 200px;
    overflow: hidden;
}

.more {
    color: #75a5ae;
}

.info-text h2 {
    margin: 0;
}

/*For event grid start*/

.event-block {
    background-color: #eaeaea;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 15px;
    min-height: 185px;
}

.event-block h4 {
    color: #07575b;
    margin: 5px 0;
}

.event-block p {
    margin-bottom: 5px;
}

.event-block .btn {
    margin: 10px 0;
    padding: 5px 20px;
}

/*event grid ends*/

.winner-wrap {
    padding: 20px;
}

/* promotion block start*/

#promo-modal {
    margin-top: 3%;
}

#canvas {
    position: absolute;
    top: 5px;
    left: 0;
    width: 99.3%;
    height: 98%;
}

.modal-btn {
    position: absolute;
    bottom: 26%;
    right: 29%;
    padding: 10px 30px;
    background: #cc0545;
}

@media (max-width: 767px) {
    #canvas {
        display: none;
    }

    .modal-btn {
        bottom: 10%;
        padding: 5px 10px;
    }
}

/*evneent query block*/

.contact-info {
    font-size: 12px;
    line-height: 3;
    padding-right: 60px;
}

.contact-info .btn {
    border: 1px solid #fff;
    background: #565656;
}

.contact-info .form-control {
    border: 0;
    font-size: 12px;
    height: 34px;
}

.pricing-block h2 {
    font-size: 22px;
}

#inq-form h2 {
    margin: 0 0 20px;
}

/* promotion block ends*/

/*responsive*/
@media ( max-width: 767px) {
    /*event page*/
    .no-padding-right, .no-padding-left, .contact-block {
        padding: 15px;
    }

    .info-text {
        padding: 0;
    }

    #counter {
        font-size: 18px;
        margin: 15px 0;
    }

    #counter span {
        font-size: 12px;
        padding-right: 6px;
    }

    .event-info .blue-block, .event-info .contact-block {
        height: auto;
    }
}

@media ( max-width: 991px) and ( min-width: 768px) {
    /*event page*/
    #counter {
        font-size: 24px;
    }

    #counter span {
        font-size: 13px;
    }

    .info-text {
        font-size: 12px;
        padding: 10px 10px 0 0;
    }
}

@media ( max-width: 1199px) and ( min-width: 992px) {
    /*event page*/
    #counter {
        font-size: 28px;
    }

    #counter span {
        font-size: 13px;
    }
}
