@charset "utf-8";

/*--------------------------------------------- */
@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans.eot') format('eot'),
    url('fonts/opensans.woff') format('woff'),
    url('fonts/opensans.ttf') format('truetype'),
    url('fonts/opensans.otf') format('opentype');
}

@font-face {
    font-family: 'opensansregular';
    src: url('fonts/opensans-regular.eot') format('eot'),
    url('fonts/opensans-regular.ttf') format('truetype'),
    url('fonts/opensans-regular.otf') format('opentype');
}

@font-face {
    font-family: 'opensansbold';
    src: url('fonts/opensans-bold.eot') format('eot'),
    url('fonts/opensans-bold.woff') format('woff'),
    url('fonts/opensans-bold.ttf') format('truetype'),
    url('fonts/opensans-bold.otf') format('opentype');
}

@font-face {
    font-family: 'opensanssemi';
    src: url("fonts/opensans-semibold.eot");
    src: url("fonts/opensans-semibold.ttf") format('truetype');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h2 {
    margin: 10px 0 16px;
    font-family: 'opensanssemi';
}

h5 {
    font-size: 16px;
}

.input-group-addon {
    border-radius: 0;
}

/**booking page**/
.form-icon {
    float: right;
    margin: -33px 15px 0 0;
    color: #6e6b6c;
    font-size: 18px;
}

.form-control {
    height: 45px;
    color: #999;
}

.input-group-addon {
    background-color: transparent;
}

.noborderRight {
    border-right: 0;
}

.Form-label-radio, .Form-label-checkbox {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden
}

.Form-label-radio + .Form-label-text, .Form-label-checkbox + .Form-label-text {
    cursor: pointer;
    margin-right: 20px;
    font-weight: normal;
}

.Form-label-radio + .Form-label-text::before, .Form-label-checkbox + .Form-label-text::before {
    font-size: 12px;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 1.6;
    border: 2px solid #ccc;
    margin-right: 6px;
    content: "\00a0";
    color: #07575b;
    background-clip: padding-box;
    background-color: white;
    text-align: center
}

.Form-label-radio + .Form-label-text:hover::before, .Form-label-checkbox + .Form-label-text:hover::before {
    border-color: #07575b !important;
    box-shadow: 0 0 0 0 black !important
}

.Form-label-checkbox + .Form-label-text::before {
    color: #fff;
}

.Form-label-radio:checked + .Form-label-text::before {
    background-color: #fff;
    border-color: #ccc;
    box-shadow: 0 0 0 0 black;
    font-family: FontAwesome;
    content: "\f111"
}

.Form-label-checkbox:checked + .Form-label-text::before {
    background-color: #07575b;
    border-color: #07575b;
    box-shadow: 0 0 0 0 black;
    font-family: FontAwesome;
    content: "\f00c"
}

.Form-label-radio:focus + .Form-label-text::before, .Form-label-checkbox:focus + .Form-label-text::before, .Form-label-radio:active + .Form-label-text::before, .Form-label-checkbox:active + .Form-label-text::before {
    border-color: #07575b;
    box-shadow: 0 0 2px 0 rgba(0, 135, 212, 0.2)
}

.Form-label-radio + .Form-label-text::before {
    border-radius: 100%
}

.stepper .btn:focus {
    color: inherit;
}

.req {
    color: #f00 !important;
}

.bttn {
    color: #fff;
    background-color: #66a5ad;
}

.bttn:hover {
    opacity: .8;
    color: #fff;
}

.form-bottom select {
    background: url(../images/caretdown.png) no-repeat right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bttn, .dropdown-menu, .modal-content {
    border-radius: 0;
}

.dropdown-menu {
    font-size: 14px;
}

/*form*/
.sidemenu {
    padding: 35px 40px 15px 10px;
    line-height: 2;
}

.sidemenu li {
    border-bottom: 1px solid #e6e6e6;
    padding: 8px;
}

.sidemenu i {
    font-size: 16px;
    padding-right: 8px;
}

.form-box {
    padding-top: 15px;
}

.form-top {
    overflow: hidden;
    padding: 0 0 15px;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 0;
}

.form-top-left h3 {
    margin-top: 0;
}

.form-top-right {
    float: left;
    width: 25%;
    font-size: 36px;
    color: #ddd;
    text-align: right;
}

.form-bottom {
}

.form-bottom p {
    font-size: 12px;
    margin: 5px 0;
    color: #aaa
}

form .form-bottom .input-error {
    border-color: #f00;
}

form.registration-form fieldset {
    display: none;
}

.btn-next, .btn-previous, .border-top .bttn {
    padding: 8px 20px;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #66a5ad;
    border-radius: 0px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 26px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #FFFFFF;
    color: inherit;
}

.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #FFFFFF;
    color: #666666;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 25px;
    margin: 0px;
    background: #66a5ad;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 65px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.border-top {
    border-top: 2px solid #e6e6e6;
    padding-top: 30px;
    margin-top: 10px;
}

.file {
    visibility: hidden;
    position: absolute;
}

.browse {
    background: transparent;
    color: inherit;
    border: 2px solid #66a5ad;
    width: 160px;
    margin-bottom: 8px;
}

.browse:focus {
    color: inherit;
}

/*table*/
.log-content-wrap .tab-content {
    margin-top: 20px;
}

.table {
    font-size: 14px;
    word-break: break-word;
}

.table th {
    font-weight: normal;
    font-family: 'opensanssemi';
}

.table i {
    padding-right: 10px;
}

.log-table {
    font-size: 13px;
}

.log-table th:last-child {
    min-width: 100px;
}

.log-table td {
    vertical-align: middle !important;
}

.log-table td, .log-table th {
    padding: 9px 0 !important;
}

.log-table th {
    color: #65a4ad;
}

.log-table .img-box {
    height: 50px;
    width: 60px;
}

.multimedia-grid iframe {
    margin-bottom: -5px;
}

.log-info-bar {
    margin: 10px 0;
}

.log-info-bar .form-control {
    background-color: transparent;
}

.log-info-bar .input-group {
    width: 18.5%;
}

.log-info-bar .btn-group {
    padding: 10px;
    margin-top: -10px;
}

.log-info-bar .btn-group:first-child {
    width: 24%;
}

.log-info-bar .btn-group, .log-info-bar .form-control {
    height: 40px;
}

.log-info-bar .btn-group a {
    color: #999;
    cursor: pointer;
    display: block;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.log-info-bar .fa.pull-right {
    color: #7a6a64;
    font-size: 20px;
}

li.log-search .form-control {
    border: 0;
    padding-left: 35px;
}

li.log-search {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 8px;
}

li.log-search .form-icon {
    font-size: 14px;
    float: left;
    margin: -30px 15px 0 15px;
}

.show-results {
    line-height: 2;
    margin-bottom: 8px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-top: 4px solid #66a5ad;
    border-radius: 0;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav-tabs a {
    padding: 8px 14px !important;
}

form.form-edit fieldset {
    display: block;
}

.bttn:focus {
    color: #fff;
}

.multi-field:first-child button.remove-field {
    display: block;
}

.multi-field {
    margin-bottom: 8px;
}

.nav-sm .site_title {
    display: none;
}

.nav-sm .site_title.visible-xs {
    display: block !important;
    padding: 6px 12px;
}

.nav-tabs {
    font-size: 16px;
}

.img-box {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 180px;
}

.img-box-2col {
    height: 110px;
}

.img-box-6col {
    height: 150px;
}

.img-padding {
    padding: 2px;
}

.div-edit {
    position: absolute;
    bottom: 0;
    background: rgba(102, 165, 173, 0.75);
    display: none;
    padding: 5px 10px;
}

.preview:hover .div-edit {
    display: block;
}

.div-edit .fa {
    color: #fff;
    padding: 5px;
}

.preview-section iframe {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
}

.badge-info {
    margin: 15px 0 35px;
}

.badge {
    background-color: #65a4ad;
    padding: 3px 8px;
}

.badge-info a {
    padding-right: 88px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-right: 15px;
    background: #f7f7f7;
}

.action {
    margin: 10px 0 0;
}

.space-bottom {
    margin-bottom: 15px;
}

.pagelisting {
    text-align: right;
    margin: 30px 0;
}

.pagelisting li a {
    border-radius: 50%;
    margin: 5px;
    color: #07575b;
}

.pagelisting li:first-child a, .pagelisting li:last-child a {
    border: 0;
}

.pagelisting li:last-child a:hover, .pagelisting li:first-child a:hover {
    background-color: transparent;
}

.review {
    font-size: 18px;
    margin-bottom: 5px;
}

.booking-info {
    line-height: 1.6;
    font-size: 13px;
}

.booking-editform {
}

.x_content select, .x_title select {
    background: url(../images/caretdown.png) no-repeat right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.log-info-bar .btn {
    height: 40px;
    margin-bottom: 10px;
    float: right;
}

.booking-editform .Form-label-checkbox + .Form-label-text {
    margin-left: 10px;
}

.stepper .btn {
    padding: 9px 12px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
}

.pax-detail {
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.text-title {
    font-size: 16px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 8px 0;
    margin: 15px 0 25px;
}

.invoice-info {
    border-top: 2px solid #e6e6e6;
    padding-top: 15px;
    margin-top: 5px;
}

.invoice-info p {
    margin: 0;
}

.invoice-info strong {
    display: block;
    margin-bottom: 15px;
}

.age-group {
    width: 8%;
}

.opt1, .opt2 {
    padding: 20px;
}

.table .sm-input {
    width: 30%;
    display: inline-block;
}

.price-section {
    margin: 10px 0;
}

.opt1 label {
    width: 100%;
}

.error {
    color: #f00;
    font-size: 12px;
}

/*wind direction*/
#windDirection ul {
    position: relative;
    display: block;
    width: 250px;
    height: 200px;
    background: url(../images/compass.png) no-repeat 27px 22px;
}

#windDirection li {
    position: absolute;
}

#windDirection li.dirNE, #windDirection li.dirNW {
    top: 20px;
}

#windDirection li.dirN {
    top: -4px;
}

#windDirection li.dirN, #windDirection li.dirS {
    left: 121px;
}

#windDirection li.dirE, #windDirection li.dirW {
    top: 82px;
}

#windDirection li.dirE {
    left: 207px;
}

#windDirection li.dirW {
    left: 35px;
}

#windDirection li.dirSE, #windDirection li.dirSW {
    top: 155px;
}

#windDirection li.dirNE, #windDirection li.dirSE {
    left: 58px;
}

#windDirection li.dirSE, #windDirection li.dirSW {
    top: 145px;
}

#windDirection li.dirNW, #windDirection li.dirSW {
    left: 185px;
}

#windDirection li.dirS {
    bottom: -5px;
}

ul.wind li label {
    float: left;
    clear: both;
    font-size: 12px;
}

ul.wind {
    list-style-type: none;
    margin: 0;
}

.dirNE span, .dirSE span {
    margin: -40px;
}

.dirW span {
    margin: -35px;
}

/*progress bar*/
.bs-wizard {
    margin: 0 0 25px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 30px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 36px;
    height: 36px;
    display: block;
    background: #66a5ad;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

/*.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fff; border-radius: 50px; position: absolute; top: 8px; left: 8px; } */
.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 2px;
    box-shadow: none;
    margin: 24px 0;
    background-color: #eee;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #ddd;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #eee;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}

.bs-wizard-dot span {
    position: absolute;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    top: 7px;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot span {
    color: #777;
}

.nested-step {
    position: absolute;
    left: 26%;
    width: 75%;
    top: 45px;
}

.nested-step:before {
    content: "|";
    padding: 16px 0 0 35px;
    color: #ddd;
    margin-bottom: -32px;
}

/*END Form Wizard*/

.img-list {
    height: 180px;
    overflow-y: scroll;
}

.img-list li {
    padding: 8px 15px 8px 0;
    border-bottom: 1px solid #eee;
}

.fa-trash {
    color: #d9534f;
}

.preview {
    position: relative;
}

.preview-hvr {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 70px;
    font-size: 34px;
    display: none;
}

.preview .fa-trash {
    color: #fff;
}

.preview:hover .preview-hvr {
    display: block;
}

.video-list {
    padding: 10px;
    border: 1px solid #e6e6e6;
}

.video-list, .img-list {
    word-break: break-word;
}

/*pagination*/
.pagination .step, .pagination .currentStep {
    padding: 10px 0px;
    width: 43px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 50%;
}

.pagination .currentStep {
    background: #66a5ad;
    color: #fff;
}

.pagination .prevLink, .pagination .nextLink {
    margin: 0 6px;
}

/*listing view page*/
strong {
    font-weight: normal;
    font-family: 'opensanssemi';
}

.listing-view h4 {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    background: #f6f6f6;
    font-size: 15px;
    font-family: 'opensanssemi';
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 5px 0px;
}

.listing-view h4 a {
    font-size: 13px;
}

.view-content {
    border: 0;
    padding: 15px;
    line-height: 1.5;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.12);
}

.view-content ul {
    padding: 0 25px;
}

.view-content-height li {
    background: url('../images/angle-right.png') no-repeat left 5px;
    padding: 0 0 6px 16px;
}

.view-content-height {
    height: 300px;
}

.list-content-height {
    height: 175px;
}

.view-content-height, .list-content-height, .all-packages {
    margin-bottom: 15px;
}

.list-unstyled {
    padding-left: 0 !important;
}

.view-content .nav-tabs {
    padding: 0;
    margin: 15px 0;
}

.view-content .tab-content {
    padding: 0 15px;
}

.view-content .table {
    margin-bottom: 0;
}

.policy-view {
    line-height: 2;
}

.logo-box {
    height: 200px;
    width: 200px;
    vertical-align: middle;
    display: table-cell;
    border: 1px solid #e6e6e6;
}

.modal-xl {
    width: 90%;
}

/*.pkg-list:nth-child(odd) { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #f8f8f8;}*/
.pkg-list {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.pkg-list:last-child {
    border-bottom: none;
}

#divLoading {
    display: none;
}

#divLoading.show {
    display: block;
    position: fixed;
    z-index: 9999;
    background-image: url('../images/ring.gif');
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.review-block p {
    margin-bottom: 5px;
    font-size: 13px;
}

.review-block .x_panel {
    margin-bottom: 5px;
}

.img-box-1col {
    height: 60px;
}

.review-block .btn {
    font-size: 12px;
}

.amount {
    color: #65a4ad;
}

.dash-table {
    font-size: 13px;
}

.dash-table th {
    background: #f3f3f3;
    border-bottom: 0 !important;
}

.dash-table > tbody > tr > td {
    vertical-align: middle;
}

.fa-pencil {
    color: #24b52f;
}

.fa-eye {
    color: #66a5ad;
}

.order-table .img-box {
    height: 38px;
    width: 46px;
}

.order-table td {
    padding: 5px 0;
}

.order-table i, .review-table i {
    padding-right: 0;
    font-size: 13px;
}

/*.sort-opt{ border:0; box-shadow: none; height: auto; }*/
.review-table .img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*.x_title select{ font-size: 17px; }*/
.title-bg {
    padding: 1px 0;
    border-bottom: none;
}

.title-bg .input-group-btn {
    width: auto;
}

.title-bg .input-group .btn, .title-bg .input-group .form-control {
    height: 40px;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.title-bg .input-group {
    margin-top: 10px;
}

/*pagination*/
.pagination .step, .pagination .currentStep {
    padding: 10px 0px;
    width: 43px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 50%;
}

.pagination .currentStep {
    background: #66a5ad;
    color: #fff;
}

.pagination .prevLink, .pagination .nextLink {
    margin: 0 6px;
}

@media ( max-width: 767px) {
    .site_title {
        padding: 5px 10px;
    }

    .log-info-bar .btn-group:first-child {
        margin-bottom: 10px;
    }

    .log-info-bar .btn-group:first-child, .log-info-bar .input-group, .form-group {
        width: 100%;
    }

    h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 19px;
    }

    .badge-info {
        margin: 0px 0 15px;
    }

    .badge-info a {
        display: block;
    }

    .action .btn {
        margin-bottom: 5px;
    }

    .page-title .title_right .pull-right {
        margin: 0 0 10px;
    }

    .page-title .title_left, .badge-info a, .page-title .title_right {
        width: 100%;
    }

    .table tr {
        border-bottom: 2px solid #e6e6e6;
    }

    .bs-wizard {
        display: none;
    }

    .view-content-height, .list-content-height {
        height: auto;
    }
}

@media ( max-width: 991px) and ( min-width: 768px) {
    .nested-step:before {
        padding: 16px 0 0 28px;
    }
}

@media ( max-width: 1199px) and ( min-width: 992px) {
    .nested-step:before {
        padding: 16px 0 0 25px;
    }
}

#divLoading {
    display: none;
}

#divLoading.show {
    display: block;
    position: fixed;
    z-index: 9999;
    background-image: url('../images/ring.gif');
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.log-table .img-box {
    width: 60px;
    height: 60px;
}

@media ( max-width: 767px) {
    .site_title {
        padding: 5px 10px;
    }

    .log-info-bar .btn-group:first-child {
        margin-bottom: 10px;
    }

    .log-info-bar .btn-group:first-child, .log-info-bar .input-group, .form-group {
        width: 100%;
    }

    h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 19px;
    }

    .badge-info {
        margin: 0px 0 15px;
    }

    .badge-info a {
        display: block;
    }

    .action .btn {
        margin-bottom: 5px;
    }

    .page-title .title_right .pull-right {
        margin: 0 0 10px;
    }

    .page-title .title_left, .badge-info a, .page-title .title_right {
        width: 100%;
    }

    .table tr {
        border-bottom: 2px solid #e6e6e6;
    }

    .bs-wizard {
        display: none;
    }
}

@media ( max-width: 991px) and ( min-width: 768px) {
    .nested-step:before {
        padding: 16px 0 0 28px;
    }
}

@media ( max-width: 1199px) and ( min-width: 992px) {
    .nested-step:before {
        padding: 16px 0 0 25px;
    }
}

/*ptint css*/
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@media print {
    header, footer, .bttn {
        display: none;
        visibility: hidden;
    }

    .ticket-wrap {
        padding: 0;
    }

    .tkt-wrap .fa {
        color: #fff !important;
    }

    body {
        font-family: verdana, arial, sans-serif;
        font-size: 12pt;
        color: #767676;
        width: 100%;
        height: 100%;
    }

    .title, .all-info th {
        background: #66a5ad !important;
    }

    .title p, .title, .title strong, .all-info th {
        color: #fff !important;
    }

    .title p {
        text-align: center;
    }

    table {
        page-break-inside: auto;
        page-break-after: avoid;
        width: 100%;
    }

    tr {
        page-break-inside: auto;
        page-break-after: auto
    }

    .tkt-wrap {
        border: 0 !important;
    }

    .flight-detail th:last-child, .flight-detail td:last-child {
        border-right: 0 !important;
    }

    a[href]:after {
        content: none !important;
    }
}

.flight-detail th, .flight-detail td {
    border-right: 1px dotted #aaa;
}

.flight-detail th:last-child, .flight-detail td:last-child {
    border-right: 0;
}