<form [formGroup]="addonsForm" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Add-Ons</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Add-Ons</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="legacy">
                                <mat-label>Add-Ons</mat-label>
                                <input matInput placeholder="Photo, Video, Transportation" formControlName="title">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field appearance="legacy">
                                <mat-label>Wholesale Rate</mat-label>
                                <input matInput placeholder="2000" formControlName="wholesaleRate">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field appearance="legacy">
                                <mat-label>Retail Rate</mat-label>
                                <input matInput placeholder="2500" formControlName="retailRate">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                                <mat-label>Included in Base Price</mat-label>

                                <mat-slide-toggle #toggle></mat-slide-toggle>
                        </div>
                        <button [disabled]="!addonsForm.valid" class="btn btn-round btn-success btn-just-icon" (click)="addAddons(toggle)"><i class="material-icons">done</i></button>
                    </div>

                    <br><hr>

                    <div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                        </div>      
                        <mat-table #table [dataSource]="dataSource" matSort>
                        
                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </mat-cell>
                            </ng-container>
                        
                            <!-- addons Column -->
                            <ng-container matColumnDef="addons">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Add-Ons </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                            </ng-container>
                        
                            <!-- wholesale Column -->
                            <ng-container matColumnDef="wholesale">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Wholesale </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.wholesaleRate}} </mat-cell>
                            </ng-container>
                        
                            <!-- retail Column -->
                            <ng-container matColumnDef="retail">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Retail </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.retailRate}} </mat-cell>
                            </ng-container>

                            <!-- retail Column -->
                            <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element" [ngSwitch]="element.type">
                                <span *ngSwitchCase="1"  class="badge badge-default">Included in base price.</span>
                                <span *ngSwitchCase="0"  class="badge badge-default">Not-included in base price.</span>
                            </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" [ngSwitch]="element.type">
                                      <a class="btn-link" (click)="cancelAddons(i)">
                                        <i class="material-icons text-danger">clear</i>
                                      </a>
                                </mat-cell>
                                </ng-container>
                        
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator class="d-inline-block pull-right" [length]="100"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </div>                          

                    <!-- <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Add-Ons</th>
                                    <th class="text-center">Wholesale</th>
                                    <th class="text-center">Retail</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Transportation</td>
                                    <td class="text-center">1000</td>
                                    <td class="text-center">1500</td>
                                    <td><mat-slide-toggle>Included in base price.</mat-slide-toggle></td>
                                    <td>
                                        <button class="btn btn-round btn-danger btn-just-icon" data-toggle="modal" data-target="#confirmbox"><i class="material-icons">clear</i></button>
                                        <button class="btn btn-round btn-primary btn-just-icon"><i class="material-icons">create</i></button>
                                        <button class="btn btn-round btn-success btn-just-icon"><i class="material-icons">done</i></button>
                                    </td>
                                    
                                    <div class="modal fade" id="confirmbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center">
                                                <h3>Do you want to delete this add-on?</h3>
                                                <button class="btn btn-primary">Yes</button>
                                                <button class="btn btn-danger" data-dismiss="modal">No</button>   
                                            </div>
                            
                                        </div>
                                        </div>
                                    </div>
                                
                                </tr>
                                <tr>
                                    <td>Photo/Video</td>
                                    <td class="text-center">2000</td>
                                    <td class="text-center">2500</td>
                                    <td><mat-slide-toggle formControlName="toggle">Included in base price.</mat-slide-toggle></td>
                                    <td>
                                        <button class="btn btn-round btn-danger btn-just-icon" (click)="openDialog()"><i class="material-icons">clear</i></button>
                                        <button class="btn btn-round btn-primary btn-just-icon"><i class="material-icons">create</i></button>
                                        <button class="btn btn-round btn-success btn-just-icon"><i class="material-icons">done</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->

                </div>
            </div>
        </div>
    </div>     
    
    <div class="buttons">
        <button [routerLink]="['/packages/pricing']" mat-button class="btn btn-primarybtn btn-default">Back</button>
        <button mat-button class="btn btn-primary mat-raised-button" (click)="saveAddons()">Next</button>
    </div>  

</form>

<!-- <mat-card>
    <pre>{{ addonsForm.value | json}}</pre>
</mat-card> -->

