<div class="modal-header">
  <h4 class="modal-title">Update Profile Picture</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <input type="file" name="file" style="margin:  0 auto; border: 1px solid #ddd;padding:  30px;"> -->
      <!-- <input *ngIf="!imageChangedEvent" type="file" (change)="fileChangeEvent($event)" /> -->

      <div class="upload-btn-wrapper">
        <button class="btn-upload my-1"><strong><i class="fa fa-upload pr-1"></i> Choose Photo</strong></button>
        <!-- <input multiple="" name="uploadfile" type="file"> -->
        <input *ngIf="!imageChangedEvent" type="file" (change)="fileChangeEvent($event)" />
      </div>

      <image-cropper *ngIf="imageChangedEvent"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          [resizeToWidth]="500"
          format="png"
          (imageCroppedBase64)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
      >
    </image-cropper>
    <div class="carousel-caption img-spinner">
    <img *ngIf="image" src="assets/images/Spinner.svg" alt="">
  </div>
    <i *ngIf="imageChangedEvent" class="fa fa-times-circle close-fa cursor text-right" (click)="cancelImage()" title="Cancel Image"></i>
  </div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="uploadImage()">Upload</button>
  <button type="button" class="btn btn-info " (click)="activeModal.close('Close click')">Close</button>
</div>
`