<div class="buttons">
  <button matTooltip="Add New Package" [matTooltipPosition]="'left'" class="btn btn-lg btn-round btn-primary btn-just-icon pull-right" [routerLink]="['/choosebusiness']">
    <i class="material-icons">add</i>
  </button>
  </div>
  
  <div class="row">
          <div class="col-md-9">
                  <div>
                  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Package Listings</h3> -->
                  <strong class="mr-2">Package Listings</strong>
                  <div class="breadcrumb-block">
                          <ol class="breadcrumb">
                          <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
                          <!-- <li><a href="#">Packages </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li> -->
                          <li class="active"> Packages</li>
                          </ol>
                  </div> 
                  
                  </div>
          </div>
          <!-- <div class="col-md-3">
                  <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>  
          </div> -->
  </div>
  
  
    
  <!-- <div class="row business-list-block" >
  <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let list of listing" >
          <div class="card card-stats" (click)="viewPackage(list?.id)">
          <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon p-1">
                  <i class="material-icons">list</i>
                  </div>
                  <h4 class="card-title">{{list?.title}}</h4>
                  <p class="card-category">Paragliding</p>
          </div>
          <div class="card-footer">
                  
                  
                  <i class="material-icons">place</i> {{list?.referenceId}}
  
                  <div  [ngSwitch]="list?.status" class="stats">
                          <span *ngSwitchCase="'DRAFT'" class="pull-right badge badge-secondary ng-star-inserted">
                                  Draft
                          </span>
                          <span *ngSwitchCase="'PUBLISH'" class="pull-right badge badge-success ng-star-inserted">
                                  Publish
                          </span>
                          <span *ngSwitchCase="'TRASH'" class="pull-right badge badge-danger ng-star-inserted">
                                  Trash
                          </span>
                          <span *ngSwitchCase="'AWAITING_APPROVAL'" class="pull-right badge badge-primary ng-star-inserted">
                                  Pending
                          </span>
                          <span *ngSwitchCase="'DECLINED'" class="pull-right badge badge-warning ng-star-inserted">
                                  Decline
                          </span>
                          <span *ngSwitchCase="'CLOSED'" class="pull-right badge badge-dark ng-star-inserted">
                                  Close
                          </span>
                  </div>
          </div>
          </div>
  </div>
  
  </div> -->
  
  <div class="card">
      <!-- <mat-paginator class="d-inline-block" [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator> -->
      <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 mt-3">
          <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>  
      </div>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort>
  
          <!-- Position Column -->
          <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: .3"> S.N </mat-header-cell>
          <mat-cell *matCellDef="let element; let i =index;" style="flex: .3"> {{i+1}} </mat-cell>
          </ng-container>
  
          <!-- code Column -->
          <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="px-2"> Code </mat-header-cell>
          <mat-cell *matCellDef="let element" class="px-2"> {{element.code}} </mat-cell>
          </ng-container>
  
          <!-- business Column --> 
          <!-- <ng-container matColumnDef="logo">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: .2">  </mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: .2">
                  <img class="img" [src]="element.businessLogo" width="30px;"> 
          </mat-cell>
          </ng-container> -->
  
          <!-- business Column --> 
          <ng-container matColumnDef="business">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 3" class="px-2"> Business </mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: 3" class="px-2">
                  <a [routerLink]="['/businessdirectory',businessId]"><img class="img pr-2" [src]="element.businessLogo" width="30px;"> {{element.businessName}}      </a>
          </mat-cell>
          </ng-container>
  
          <!-- title Column -->
          <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 3" class="px-2"> Title </mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: 3" class="px-2"><a [routerLink]="['/packages/detailview', element.id]"> {{element.title}} </a></mat-cell>
          </ng-container>
  
          <!-- category Column -->
          <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="px-2"> Category </mat-header-cell>
          <mat-cell *matCellDef="let element" class="px-2"> <strong>{{element.category}}</strong> </mat-cell>
          </ng-container>
  
          <!-- location Column -->
          <!-- <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
          </ng-container> -->
  
          
  
          <!-- status Column -->
          <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngSwitch]="element.status">
                  <span *ngSwitchCase="'PUBLISH'" class="badge badge-success"> Publish</span>
                  <span *ngSwitchCase="'AWAITING_APPROVAL'" class="badge badge-info"> Pending</span>
                  <span *ngSwitchCase="'TRASH'" class="badge badge-danger"> Trash</span>
                  <span *ngSwitchCase="'DRAFT'" class="badge badge-warning"> Draft</span>
                  <span *ngSwitchCase="'DECLINED'" class="badge badge-dark"> Decline</span>
                  <span *ngSwitchCase="'CLOSED'" class="badge badge-secondary"> Closed</span>
                </mat-cell>
          </ng-container>
  
          <!-- action Column -->
          <!-- <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
                  <a (click)="viewPackage(element.id)"class="btn-link">
                  <i class="material-icons text-primary">remove_red_eye</i>
                  </a>
          </mat-cell>
          </ng-container> -->
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       </mat-table>
       <mat-paginator class="d-inline-block" [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
  </div>
                