<h3 mat-dialog-title>Upload Multimedia</h3>
<div class="row">
    <div class="col-md-12 mb-2"><strong class="text-gray">Images</strong></div>
    <div class="col-md-12">
        <div *ngIf="!galleryStatus; else upload">
            <input type="file" class="inputfile" id="gallery" multiple (change)="choosedPhoto($event)">
            <label class="mat-raised-button" for="gallery">Choose a file</label> 
        </div>                                    
    </div>
</div>
<ng-template #upload>
     <div class="row">
        <div class="col-sm-3 mt-3">
           <label >{{ fileName }}</label>
        </div>
        <div class="col-sm-6 mt-4">
            <p><ngb-progressbar type="info" [value]="galleryProgressPercentage" [striped]="true">{{ galleryProgressPercentage  }} %</ngb-progressbar></p>                                  
        </div>
        <div class="col-sm-2">
            <button *ngIf="progressBar===0" class="btn btn-primary" type="button" (click)="uploadGalleryPhotos()">Upload</button>
            <button *ngIf="progressBar===1" class="btn btn-primary" type="button">Uploading...</button>
            <button *ngIf="progressBar===2" class="btn btn-success" type="button">Uploaded</button>
        </div>
     </div>
</ng-template>
<hr>
<div class="row">
    <div class="col-md-12 mb-2"><strong class="text-gray">Video</strong></div>
    <div class="col-md-8">
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Video Url" type="text" value="" #video>
        </mat-form-field>
    </div>
    <button matTooltip="Click to save video." matTooltipPosition="right" class="btn btn-round btn-success btn-just-icon" (click)="addVideo(video)"><i class="material-icons">done</i></button>
</div> 
    
<div mat-dialog-actions>
<button mat-button class="btn btn-success" [mat-dialog-close]="1">add</button> 
<button mat-button class="btn btn-danger" (click)="onClick()" tabindex="-1">cancel</button> 
</div>
