<div class="wrapper">
    <div class="menu-height"></div>
    <div class="inner-wrap">
        <div class="container">

            <!-- notification -->
            <section>
                <div class="row">

                    <div class="col-sm-12 inner-content">
                        <h2>Notifications</h2>

                        <section>
                            <div class="white-block">
                                <div *ngIf="notifications">
                                    <div *ngFor="let notification of notifications">
                                        <div class="row" *ngIf="notification?.status==='NEW'" >
                                            <div class="col-sm-1 text-center" (click)="readNotification(notification?.referenceId)" >
                                                <i class="fa fa-envelope" matTooltip="Mark as read"></i>

                                            </div>
                                            <div class="col-sm-9" innerHTML="{{notification?.description}}">
                                                <!-- Contrary to popular belief,
                                                <a href="#" target="_blank" style="color: #66a5ad">
                                                    <strong>Lorem Ipsum is not simply random text.</strong>
                                                </a> It has roots in a piece of classical Latin literature from 45 BC, making it over
                                                2000 years old. -->
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <span>{{notification?.createdAt | date:'mediumDate'}}</span>
                                            </div>
                                        </div>


                                        <div class="row" *ngIf="notification?.status!=='NEW'">
                                            <div class="col-sm-1 text-center">
                                                <i class="fa fa-envelope-open"></i>
                                            </div>
                                            <div class="col-sm-9" innerHTML="{{notification?.description}}">
                                                <!-- Contrary to popular belief,
                                                <a href="#" target="_blank" style="color: #66a5ad">
                                                    <strong>Lorem Ipsum is not simply random text.</strong>
                                                </a> It has roots in a piece of classical Latin literature from 45 BC, making it over
                                                2000 years old. -->
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <span>{{notification?.createdAt | date:'mediumDate'}}</span>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>

                            </div>
                        </section>





                    </div>

                </div>

            </section>
            <!-- ends -->

        </div>
    </div>


</div>