<form [formGroup]="factsForm" autocomplete="off"> 
    <h3 class="mat-dialog-title">Update Facts Info </h3>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-1">
                <div class="card-header card-header-icon card-header-primary">
                    <!-- <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div> -->
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Package Rule</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- common fields -->
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>No. of Days</mat-label>
                                <input matInput placeholder="2" type="number" min="1" formControlName="daysCount">
                                <!-- <span matSuffix>Days</span>
                                     <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.daysCount.touched && !factsForm.controls.daysCount.valid">Minimum 1 day is needed.</mat-error>                             
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>No. of Nights</mat-label>
                                <input matInput placeholder="3" type="number" min="0" formControlName="nightCount">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.nightCount.touched && !factsForm.controls.nightCount.valid">Minimum 1 night is needed.</mat-error>                             
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label>Minimum Age (in years)</mat-label>
                            <input matInput placeholder="10" type="number" min="1" max="100" formControlName="minAge">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.minAge.touched && !factsForm.controls.minAge.valid">Mininum age should be 1.</mat-error>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label>Maximum Age</mat-label>
                            <input matInput placeholder="90" type="number" min="1" max="100" formControlName="maxAge">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.maxAge.touched && !factsForm.controls.maxAge.valid">Maximum age should be 100.</mat-error>    
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label>Minimum Weight (in Kg)</mat-label>
                            <input matInput placeholder="20" type="number" min="1" max="100" formControlName="minWeight">
                            <!-- <span matSuffix>Kg</span>
                            <mat-hint>Weight should be in Kg.</mat-hint> -->
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.minWeight.touched && !factsForm.controls.minWeight.valid">Enter a valid number.</mat-error>                            
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label>Maximum Weight</mat-label>
                            <input matInput placeholder="100" type="number" min="1" max="100" formControlName="maxWeight">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.maxWeight.touched && !factsForm.controls.maxWeight.valid">Enter a valid number.</mat-error>                                                         
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                            <mat-label>Minimum PAX Per Booking</mat-label>    
                            <input matInput placeholder="1" type="number" min="1" formControlName="minPax">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.minPax.touched && !factsForm.controls.minPax.valid">Enter a valid number.</mat-error>                                                         
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                            <mat-label>Maximum PAX Per Booking</mat-label>
                            <input matInput placeholder="15" type="number" min="1" formControlName="maxPax">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.maxPax.touched && !factsForm.controls.maxPax.valid">Enter a valid number.</mat-error>                                                         
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label *ngIf="data?.code==='GCAT-0001'">Maximum Flying Capacity</mat-label><!--for paragliding-->
                            <mat-label *ngIf="data?.code!=='GCAT-0001'">Maximum Group Capacity</mat-label>
                            <input matInput placeholder="15" type="number" min="1" formControlName="availableCapacity">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.availableCapacity.touched && !factsForm.controls.availableCapacity.valid">Enter a valid number.</mat-error>                                                         
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Best Seasons</mat-label>
                                <input matInput placeholder="Feb-May, Oct-Nov" type="text" formControlName="bestSeason">
                            </mat-form-field>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                    <mat-select placeholder="Trip Standard" formControlName="tripStandard">
                                            <mat-option *ngFor="let standard of stars" [value]="standard.value">
                                            {{ standard.viewValue }}
                                            </mat-option>
                                        </mat-select>
                            </mat-form-field>
                        </div>
                    <!-- </div>  -->
                    <!--ends  -->
                    <!-- {{category}} -->

                    <!-- <div class="row"> -->
                        
                
                        <div *ngIf="data?.code === 'GCAT-0003' ||data?.code === 'GCAT-0006'" class="col-md-6">
                            <mat-form-field>
                            <mat-label>Grade</mat-label>
                            <input matInput placeholder="1-4, moderate-difficult" formControlName="tripGrade">
                            </mat-form-field>
                        </div>
                        <div *ngIf="data?.code === 'GCAT-0002'" class="col-md-6">
                            <mat-form-field>
                            <mat-label>Bridge Height</mat-label>
                            <input matInput placeholder="160m" formControlName="bridgeHeight">
                            </mat-form-field>
                        </div>
                        <div *ngIf="data?.code === 'GCAT-0003'"  class="col-md-6">
                            <mat-form-field>
                            <mat-label>River Distance (Approx)</mat-label>
                            <input matInput placeholder="92km" formControlName="riverDistance">
                            </mat-form-field>
                        </div>
                    </div>        
                </div>
            </div>
        </div>

        <div class="col-md-12" *ngIf="data?.code === 'GCAT-0002'">
            <div class="card mt-1">
                <!-- <strong class="card-header-primary">Elevation</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <!-- <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div> -->
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Health Condition</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <app-ngx-editor [config]="editorConfig" placeholder="Health conditions for bungy jumping." [spellcheck]="true" formControlName="healthCondition"></app-ngx-editor>                                                                                     
                        </div>
                    </div>          
                </div>
            </div>
        </div>
    
        <div class="col-md-12" *ngIf="data?.code !== 'GCAT-0002'">
            <div class="card mt-1">
                <!-- <strong class="card-header-primary">Elevation</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <!-- <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div> -->
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Elevation</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label *ngIf="data?.code==='GCAT-0001'">Take-off Elevation (in meter)</mat-label><!--paragliding-->
                            <mat-label *ngIf="data?.code!=='GCAT-0001'">Trip Start Elevation (in meter)</mat-label>
                            <input matInput placeholder="2100 m" type="number" min="1" formControlName="startElevation">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.startElevation.touched && !factsForm.controls.startElevation.valid">Enter a valid number.</mat-error>                                                                                     
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label  *ngIf="data?.code==='GCAT-0001'">Landing Elevation</mat-label><!--paragliding-->
                            <mat-label *ngIf="data?.code!=='GCAT-0001'">Lowest Elevation</mat-label>
                            <input matInput placeholder="1500 m" type="number" min="1" formControlName="lowestElevation">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.lowestElevation.touched && !factsForm.controls.lowestElevation.valid">Enter a valid number.</mat-error>                                                                                     
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label  *ngIf="data?.code==='GCAT-0001'">Highest Flying Elevation</mat-label><!--paragliding-->
                            <mat-label *ngIf="data?.code!=='GCAT-0001'">Highest Elevation</mat-label>
                            <input matInput placeholder="3200 m" type="number" min="1" formControlName="highestElevation">
                            </mat-form-field>
                            <mat-error *ngIf="factsForm.controls.highestElevation.touched && !factsForm.controls.highestElevation.valid">Enter a valid number.</mat-error>                                                                                     
                        </div>
                    </div>          
                </div>
            </div>
        </div>
        <!-- {{category}} -->
    
        <div class="col-md-12">
            <div class="card mt-1">
                <!-- <strong class="card-header-primary">Start/End Point</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <!-- <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div> -->
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Start/End Point</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label>Trip Start Point</mat-label>
                            <input matInput placeholder="Chapakharka" type="text" formControlName="startPoint">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-label>Trip End Point</mat-label>
                            <input matInput placeholder="Godawari" type="text" formControlName="endPoint">
                            </mat-form-field>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
    </div>   

    <div mat-dialog-actions>
        <button mat-button class="btn btn-success" [mat-dialog-close]="factsForm.value">yes, update</button>
        <button mat-button class="btn btn-danger" (click)="onClose()">no, keep it</button>
    </div>

</form>
<mat-card>
    <pre>{{ factsForm.value | json }}</pre>
</mat-card> 
