<h3 class="mat-dialog-title mb-4">Add-Ons</h3>
<div class="row">

    <div class="col-md-12" *ngFor="let item of addons">
        <mat-checkbox (change)=plusAddons($event,item,data?.category) class="mr-5">{{item?.title}} -> {{item?.retailRate}}</mat-checkbox>  
    </div>
</div>
<div mat-dialog-actions class="mb-3">
    <button mat-button class="btn btn-success" (click)="saveAddons()" >add</button>
    <button mat-button class="btn btn-danger">cancel</button>
</div>
<!-- <mat-divider></mat-divider>

<div *ngIf="objectList.length>0">
        <h3 mat-subheader>Selected Addons</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th>Addons</th>
                    <th>Rate</th>
                </tr>
                <tr *ngFor="let item of objectList; let i = index">
                    <td class="p-1">{{item.title}} </td>
                    <td class="p-1">{{item?.retailRate}} </td>
                </tr>
            </tbody>
        </table>
   
</div> -->
<!-- <pre>{{object |json}}</pre> -->