<form [formGroup]="updateBusinessDirLocation">
  <div class="row">
      <div class="col-md-12">
            <!-- <strong class="card-header-primary">Location</strong> -->
            <h3 class="mat-dialog-title mb-4">Update Location </h3>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Street</mat-label>
                        <input matInput placeholder="" type="text" formControlName="street" [(ngModel)]="data.businessInfo.street" >
                    </mat-form-field>                        
                    <!-- <mat-error *ngIf="!locationForm.controls.street.valid  && locationForm.controls.street.touched">Business name is required.</mat-error> -->
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Kathmandu" type="text" formControlName="city" [(ngModel)]="data.businessInfo.city">
                    </mat-form-field>     
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Province/State</mat-label>
                        <input matInput placeholder="" type="text" formControlName="state" [(ngModel)]="data.businessInfo.state">
                    </mat-form-field>     
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Nepal" type="text" formControlName="country" [(ngModel)]="data.businessInfo.country">
                    </mat-form-field>     
                </div>
            
                <div class="col-md-6">
                <mat-form-field>
                    <mat-label>latitude</mat-label>
                    <input matInput placeholder="Latitude" type="text" formControlName="latitude">
                </mat-form-field>     
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>longitude</mat-label>
                    <input matInput placeholder="longitude" type="text" formControlName="longitude">
                </mat-form-field>     
            </div>
        
            </div>
      </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn btn-success" [mat-dialog-close]="1" (click)="confirmBusinessDirUpdate(updateBusinessDirLocation.value)">yes, Update</button>
    <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">no, keep it</button>
  </div>
</form>

<!-- <mat-card>
  <pre>{{updateBusinessDirLocation.value | json}}</pre>
</mat-card> -->
