<form [formGroup]="contactForm" class="form-array">
  <div formArrayName="contact_info">

      <div class="row">
          <div class="col-md-12">
              <div class="card">
              <!-- <strong class="card-header-primary">Contact-Person</strong> -->
                  <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h4 class="card-title">Contact Person </h4>
                  </div>
                  <div class="card-body">
                      <div *ngFor="let title of contactForms.controls; let i=index" 
                      [formGroupName]="i">
                          <div class="row">
                              <div class="col-md-11">
                              <div class="row">
                                  <div class="col-md-6">
                                      <mat-form-field>
                                          <mat-label>First Name</mat-label>
                                          <input matInput placeholder="" type="text" formControlName="contactPersonFirstName" (input)="setFormInvalid()">
                                      </mat-form-field>                        
                                      <!-- <mat-error *ngIf="!contactForm.controls.fname.valid  && contactForm.controls.fname.touched">Business name is required.</mat-error> -->
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field>
                                          <mat-label>Last Name</mat-label>
                                          <input matInput placeholder="" type="text" formControlName="contactPersonLastName" (input)="setFormInvalid()">
                                      </mat-form-field>     
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field>
                                          <mat-label>Email</mat-label>
                                          <input matInput placeholder="info@tripconcern.com" type="email" formControlName="contactPersonEmail" (input)="setFormInvalid()">
                                      </mat-form-field> 
                                      <!-- <mat-error *ngIf="!contactForm.controls.email.valid  && contactForm.controls.email.touched">Please enter a valid email.</mat-error>     -->
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field>
                                          <mat-label>Designation</mat-label>
                                          <input matInput placeholder="Manager" type="text" formControlName="contactPersonJobTitle" (input)="setFormInvalid()">
                                      </mat-form-field>     
                                  </div>
                                  <div class="col-md-6">
                                      <label>Primary Number</label>
                                        <int-phone-prefix formControlName="contactPersonPrimaryPhone" class="form-control" style="height: 55px;" (input)="getPhoneValidationError(primaryPhone)" #primaryPhone></int-phone-prefix>
                                        <mat-error class="my-1" *ngIf="!phoenValidation">{{ message }}</mat-error>
                                  </div>
                                  <div class="col-md-6">
                                        <label>Secondary Number</label>
                                        <int-phone-prefix formControlName="contactPersonSecondaryPhone" class="form-control" style="height: 55px;"></int-phone-prefix>
                                  </div>
                                  <div class="col-md-6 my-3">
                                        <label>Mobile Number</label>
                                        <int-phone-prefix formControlName="contactPersonMobile" class="form-control" style="height: 55px;"></int-phone-prefix>
                                  </div>
                              </div>
                              </div>
                              <div class="col-md-1">
                              <button *ngIf="contactForm.controls.contact_info.controls.length > 1" (click)="deleteTitle()" class="btn btn-round btn-danger btn-just-icon"><i class="material-icons">clear</i></button>
                              </div>
                          </div> 
                          <hr><br>
                      </div>
                     <button (click)="addTitle()" class="btn btn-round btn-primary btn-just-icon"><i class="material-icons">add</i></button>
                  </div>
              </div>
          </div>    
      </div>
  </div> 
  
  <div class="buttons">
      <button  mat-button class="btn btn-primarybtn btn-default">Back</button>
      <button (click)="saveBusinessContactPersonInfo(contactForm.value)" [disabled]="!formValidation" mat-button class="btn btn-primary mat-raised-button">Next</button>
  </div>
</form>

<!-- <mat-card>
  <pre>{{contactForm.value | json}}</pre>
</mat-card> -->
