<form [formGroup]="seoForm" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Setting </strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">SEO</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>Meta Title</mat-label>
                                <input matInput placeholder="Input" formControlName="metaTitle">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>Meta Keyword</mat-label>
                                <input matInput placeholder="Input" formControlName="metaKeyword">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>Meta Description</mat-label>
                                <textarea matInput placeholder="Textarea" rows="5" formControlName="metaDescription"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button mat-button class="btn btn-primarybtn btn-success" [disabled]="!seoForm.valid" [mat-dialog-close]="seoForm.value">Save</button>
    <button mat-button class="btn btn-primarybtn btn-danger">Cancel</button>
</form>

<mat-card>
    <pre>
    {{seoForm.value | json}}
  </pre>
</mat-card>