.edit-icons{
    padding: 6px 0 0;
    i {
        visibility: hidden;
        // font-size: 20px;
    }
}
.card:hover .edit-icons i{
    visibility: visible;
}
ul{
    padding: 5px 20px;
}
.list-unstyled{
    padding-left: 0;
}
// .card-profile .card-avatar{
//     max-width: 90%;
//     max-height: 100%;
//     border-radius: 0;
// }
// .card-avatar img.img-feat{
//     height: auto;
// }
.icon-absolute-round {
    background: rgba(0,0,0,0.8);
    display: none;
    height: 30px;
    padding: 3px;
    position: absolute;
    width: 30px;
    border-radius: 50%;
    top: -10px;
    right: -10px;
}
.gallery-img:hover .icon-absolute-round, .map-img:hover .icon-absolute-round{
    display: block;
}
.badge{
    cursor: pointer;
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .review-image img{
    width: 60px;
      height: 50px;
      object-fit: cover;
  }

  .element-row {
    position: relative;
  }

  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }