<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Package Detail View</h3> -->
    <strong class="mr-2">Package Detail View</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">
                    <i class="material-icons">home</i>
                </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li>
                <a [routerLink]="['/packages/list']">Packages </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li class="active"> View</li>
        </ol>
    </div>
</div>
<br/>
<ngx-image-gallery [images]="images" [conf]="conf" (onOpen)="galleryOpened($event)" (onClose)="galleryClosed()" (onImageClicked)="galleryImageClicked($event)"
    (onImageChange)="galleryImageChanged($event)" (onDelete)="deleteImage($event)">
</ngx-image-gallery>
<div class="row">
    <div class="col-md-9">
        <!-- general -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">General </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-success" (click)="updateListingGeneralInfo(listing)">create</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab label="Tour Description">
                        <div class="card-body">
                            <div *ngIf="!description">
                                <div class="card-description" innerHTML="{{listing?.description | shorten: 200: '...'}} "></div>
                                <span class="badge badge-secondary p-1 px-2" (click)="description = true">Read More </span>
                            </div>
                            <div *ngIf="description">
                                <div class="card-description" innerHTML="{{listing?.description}}"></div>
                                <span class="badge badge-secondary p-1 px-2" (click)="description = false">Read Less </span>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Tour Highlights">
                        <div class="card-body">
                            <div *ngIf="!highlight">
                                <div class="card-description" innerHTML="{{listing?.highlight | shorten: 200: '...'}}"></div>
                                <span class="badge badge-secondary p-1 px-2" (click)="highlight = true">Read More </span>
                            </div>
                            <div *ngIf="highlight">
                                <div class="card-description" innerHTML="{{listing?.highlight}}"></div>
                                <span class="badge badge-secondary p-1 px-2" (click)="highlight = false">Read Less </span>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <!-- end -->
        <!-- itineray -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Itinerary </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <!-- <button class="btn btn-round btn-primary btn-just-icon">  -->
                        <i class="material-icons text-primary" (click)="addNewListingItinerary(listing)">add</i>
                        <!-- </button>     -->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let itenary of listingItinerary">
                        <div class="expansion-icons">
                            <button class="pull-right" mat-icon-button [matMenuTriggerFor]="itineraryMenu">
                                <i class="material-icons  mb-4">more_vert</i>
                            </button>
                            <mat-menu #itineraryMenu="matMenu">
                                <mat-icon class="ml-3">
                                    <i class="material-icons text-success" title="Edit" (click)="updateListingItinerary(itenary)">create</i>
                                </mat-icon>
                                <mat-icon class="ml-3">
                                    <i class="material-icons text-danger" title="Delete" (click)="itineraryDelete(itenary?.id)">clear</i>
                                </mat-icon>
                            </mat-menu>
                        </div>
                        <mat-expansion-panel-header class="form-group" style="width: 95%">
                            <mat-panel-title>
                                <strong> {{itenary?.title}}</strong>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p innerHTML="{{itenary?.description}}"></p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <!-- <pre>{{listingDestination | json}}</pre> -->
        <!-- end -->
        <!-- facts -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Facts </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-success" (click)="factsUpdate(listingFact, listing)">create</i>
                        <i class="material-icons text-primary" (click)="pickupDropoffAdd()">add</i>
                        <!-- <i class="material-icons text-gray" (click)="pickupDropoffUpdate()">create</i> -->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab label="Package Rule">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">No. of Days :</dt>
                                        <dd class="col-sm-6">{{listingFact?.daysCount}} D</dd>
                                    </dl>
                                    <!-- <strong>No. of Days : </strong> {{listingFact?.daysCount}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">No. of Nights :</dt>
                                        <dd class="col-sm-6">{{listingFact?.nightCount}} N</dd>
                                    </dl>
                                    <!-- <strong>No. of Nights : </strong> {{listingFact?.nightCount}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Min Age :</dt>
                                        <dd class="col-sm-6"> {{listingFact?.minAge}} Yrs</dd>
                                    </dl>
                                    <!-- <strong>Min Age : </strong> {{listingFact?.minAge}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Max Age : </dt>
                                        <dd class="col-sm-6">{{listingFact?.maxAge}} Yrs</dd>
                                    </dl>
                                    <!-- <strong>Max Age : </strong> {{listingFact?.maxAge}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Min Weight : </dt>
                                        <dd class="col-sm-6"> {{listingFact?.minWeight}} Kg</dd>
                                    </dl>
                                    <!-- <strong>Min Weight : </strong> {{listingFact?.minWeight}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Max Weight :</dt>
                                        <dd class="col-sm-6">{{listingFact?.maxWeight}} Kg</dd>
                                    </dl>
                                    <!-- <strong>Max Weight : </strong> {{listingFact?.maxWeight}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Min Pax Per Booking :</dt>
                                        <dd class="col-sm-6">{{listingFact?.minPax}} Pax</dd>
                                    </dl>
                                    <!-- <strong>Min Pax Per Booking : </strong> {{listingFact?.minPax}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Max Pax Per Booking :</dt>
                                        <dd class="col-sm-6">{{listingFact?.maxPax}} Pax</dd>
                                    </dl>
                                    <!-- <strong>Max Pax Per Booking : </strong> {{listingFact?.maxPax}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">
                                            <span *ngIf="categoryCode==='GCAT-0001'">Available Flying Capacity :</span>
                                            <span *ngIf="categoryCode!=='GCAT-0001'">Available Group Capacity :</span>
                                        </dt>
                                        <dd class="col-sm-6">{{listingFact?.availableCapacity}} Pax</dd>
                                    </dl>
                                    <!-- <strong>Available Group Capacity : </strong> 
                                    <strong>Available Flying Capacity : </strong>
                                    {{listingFact?.availableCapacity}} -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Trip Standard : </dt>
                                        <dd class="col-sm-6">{{listingFact?.tripStandard}} Star</dd>
                                    </dl>
                                    <!-- <strong>Trip Standard : </strong> 4 Star -->
                                </div>
                                <div class="col-md-6" *ngIf="categoryCode === 'GCAT-0002'">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Bridge Height :</dt>
                                        <dd class="col-sm-6">{{listingFact?.bridgeHeight}}m</dd>
                                    </dl>
                                    <!-- <strong>Bridge Height : </strong> 130m -->
                                </div>
                                <div class="col-md-6" *ngIf="categoryCode === 'GCAT-0003' ||categoryCode === 'GCAT-0006'">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Grade :</dt>
                                        <dd class="col-sm-6">{{listingFact?.tripGrade}}</dd>
                                    </dl>
                                    <!-- <strong>Grade : </strong> 4  -->
                                </div>
                                <div class="col-md-6" *ngIf="categoryCode === 'GCAT-0003'">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">River Distance (Approx) : </dt>
                                        <dd class="col-sm-6">{{listingFact?.riverDistance}} km</dd>
                                    </dl>
                                    <!-- <strong>River Distance (Approx) : </strong> 92 km -->
                                </div>
                                <div class="col-md-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Best Seasons : </dt>
                                        <dd class="col-sm-6">{{listingFact?.bestSeason}} </dd>
                                    </dl>
                                    <!-- <strong>Best Seasons : </strong> october-November -->
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div>
                                        <strong>No. of Days : </strong> {{listingFact?.daysCount}}</div>
                                    <div>
                                        <strong>No. of Nights : </strong> {{listingFact?.nightCount}}</div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div>
                                        <strong>Min Age : </strong> {{listingFact?.minAge}}</div>
                                    <div>
                                        <strong>Max Age : </strong> {{listingFact?.maxAge}}</div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div>
                                        <strong>Min Weight : </strong> {{listingFact?.minWeight}}</div>
                                    <div>
                                        <strong>Max Weight : </strong> {{listingFact?.maxWeight}}</div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div>
                                        <strong>Min Pax : </strong> {{listingFact?.minPax}}</div>
                                    <div>
                                        <strong>Max Pax : </strong> {{listingFact?.maxPax}}</div>
                                    <div>
                                        <strong>Available Capacity : </strong> {{listingFact?.availableCapacity}}</div>

                                </div>
                            </div> -->
                        </div>
                    </mat-tab>
                    <mat-tab label="Elevation">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">
                                            <span *ngIf="categoryCode==='GCAT-0001'">Take-off Elevation :</span>
                                            <span *ngIf="categoryCode!=='GCAT-0001'">Trip Start Elevation :</span>
                                        </dt>
                                        <dd class="col-sm-6">{{listingFact?.startElevation}} m</dd>
                                    </dl>
                                    <!-- <strong>Take-off Elevation : </strong> {{listingFact?.startElevation}} -->
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">
                                            <span *ngIf="categoryCode==='GCAT-0001'">Landing Elevation :</span>
                                            <span *ngIf="categoryCode!=='GCAT-0001'">Lowest Elevation :</span>
                                        </dt>
                                        <dd class="col-sm-6">{{listingFact?.lowestElevation}} m</dd>
                                    </dl>
                                    <!-- <strong>Landing Elevation : </strong> {{listingFact?.lowestElevation}} -->
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">
                                            <span *ngIf="categoryCode==='GCAT-0001'">Highest Flying Elevation :</span>
                                            <span *ngIf="categoryCode!=='GCAT-0001'">Highest Elevation :</span>
                                        </dt>
                                        <dd class="col-sm-6">{{listingFact?.highestElevation}} m</dd>
                                    </dl>
                                    <!-- <strong>Highest Flying Elevation : </strong> {{listingFact?.highestElevation}} -->
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Health Condition" *ngIf="categoryCode === 'GCAT-0002'">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- <dd class="col-sm-6">{{listingFact?.highestElevation}} m</dd> -->
                                    <p innerHTML="{{listingFact?.healthCondition}}"></p>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Start/End Point">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Trip Start Point : </dt>
                                        <dd class="col-sm-6">{{listingFact?.startPoint}}</dd>
                                    </dl>
                                    <!-- <strong>Trip Start Point : </strong> {{listingFact?.startPoint}} -->
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Trip End Point : </dt>
                                        <dd class="col-sm-6">{{listingFact?.endPoint}}</dd>
                                    </dl>
                                    <!-- <strong>Trip End Point : </strong> {{listingFact?.endPoint}} -->
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Pickup/Dropoff">
                        <div class="card-body">
                            <!-- <div class="row" *ngFor="let route of transpostRoutes">
                                <div class="col-sm-6">
                                    <strong>Pickup : </strong> <span *ngIf="route?.pickUp">{{route?.address}}</span>
                                </div>
                                <div class="col-sm-6">
                                    <strong>Dropoff : </strong><span *ngIf="route?.dropOff">{{route?.address}}</span>
                                </div>
                            </div> -->
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Location</th>
                                            <th>Pickup</th>
                                            <th>Dropoff</th>
                                        </tr>
                                        <tr *ngFor="let route of transpostRoutes">
                                            <td>{{route?.address}}</td>
                                            <td>
                                                <i *ngIf="route?.pickUp; else clear" class="material-icons text-success">done</i>
                                            </td>
                                            <td>
                                                <i *ngIf="route?.dropOff; else clear" class="material-icons text-success">done</i>
                                            </td>
                                            <td>
                                                <button class="pull-center" mat-icon-button [matMenuTriggerFor]="pickMenu">
                                                    <i class="material-icons">more_vert</i>
                                                </button>
                                                <mat-menu #pickMenu="matMenu">
                                                    <mat-icon class="ml-3">
                                                        <i class="material-icons text-success" title="Edit" (click)="pickupDropoffUpdate(route)">edit</i>
                                                    </mat-icon>
                                                    <mat-icon class="ml-3">
                                                        <i class="material-icons text-danger" title="Delete" (click)="pickupDropoffDelete(route?.id)">clear</i>
                                                    </mat-icon>
                                                </mat-menu>
                                            </td>

                                            <ng-template #clear>
                                                <i class="material-icons text-danger">clear</i>
                                            </ng-template>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
        <!-- end -->
        <!-- inclusion -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Inclusion/Checklist </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <div>
                            <button class="pull-right" mat-icon-button [matMenuTriggerFor]="inclusionMenu">
                                <i class="material-icons text-success">edit</i>
                            </button>
                            <mat-menu #inclusionMenu="matMenu">
                                <mat-icon style="cursor: pointer;" class="d-block border-bottom p-1" (click)="inclusionUpdate()">
                                    <i class="material-icons text-success" style="font-size: 16px; padding: 5px;">create</i>
                                    Inclusion
                                </mat-icon>

                                <mat-icon style="cursor: pointer;" class="d-block p-1" (click)="checklistUpdate()">
                                    <i class="material-icons text-success" style="font-size: 16px; padding: 5px;">create</i>
                                    Checklist
                                </mat-icon>
                            </mat-menu>
                        </div>
                        <!-- <i class="material-icons text-gray" (click)="inclusionAdd()">add</i> -->
                        <!-- <i class="material-icons text-gray" (click)="inclusionUpdate()">create</i>
                        <i class="material-icons text-gray" (click)="checklistUpdate()">create</i> -->
                        <!-- <i class="material-icons text-gray" (click)="checklistAdd()">add</i> -->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab label="Include/Exclude">
                        <div class="card-body">
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <mat-checkbox>Check me!</mat-checkbox>
                                </div> -->
                                <div class="col-md-12">
                                    <strong>Includes</strong>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let item of includeExcludes?.include; let i = index">
                                            <i class="fa fa-check-circle-o pr-1" aria-hidden="true"></i> {{ item?.title }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Excludes</strong>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let item of includeExcludes?.exclude; let i = index">
                                            <i class="fa fa-check-circle pr-1" aria-hidden="true"></i> {{ item?.title }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Provide/Bring">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Provide</strong>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let item of checklist?.provide">
                                            <i class="fa fa-check-circle-o pr-1" aria-hidden="true"></i> {{item?.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Bring</strong>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let item of checklist?.bring">
                                            <i class="fa fa-times-circle pr-1" aria-hidden="true"></i> {{item?.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <!-- end -->
        <!-- pricing -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Pricing </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <div>
                            <button class="pull-right" mat-icon-button [matMenuTriggerFor]="menu1">
                                <i class="material-icons text-primary">add</i>
                            </button>
                            <mat-menu #menu1="matMenu">
                                <mat-icon style="cursor: pointer;" class="d-block border-bottom p-1" (click)="pricingAdd()">
                                    <i class="material-icons text-primary" style="font-size: 16px; padding: 5px;">add</i>
                                    Pricing
                                </mat-icon>
                                <mat-icon style="cursor: pointer;" class="d-block p-1" (click)="addonsAdd()">
                                    <i class="material-icons text-primary" style="font-size: 16px; padding: 5px;">add</i>
                                    Add-Ons
                                </mat-icon>
                            </mat-menu>
                        </div>
                        <!-- <i class="material-icons text-gray" (click)="pricingAdd()">add</i> -->
                        <!-- <i class="material-icons text-gray" (click)="pricingUpdate()">create</i> -->
                        <!-- <i class="material-icons text-gray">create</i> -->
                        <!-- <i class="material-icons text-gray" (click)="addonsAdd()">add</i> -->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab label="Pricing">
                        <div class="card-body">
                            <mat-accordion *ngFor="let price of listingPrices; let i=index">

                                <mat-expansion-panel>
                                    <div class="expansion-icons">
                                        <button class="pull-right" mat-icon-button [matMenuTriggerFor]="pricingMenu">
                                            <i class="material-icons mb-4">more_vert</i>
                                        </button>
                                        <mat-menu #pricingMenu="matMenu">
                                            <mat-icon class="ml-3">
                                                <i class="material-icons text-success" title="Edit" (click)="pricingUpdate(i)">create</i>
                                            </mat-icon>
                                            <mat-icon class="ml-3">
                                                <i class="material-icons text-danger" title="Delete" (click)="pricingDelete(price?.id)">clear</i>
                                            </mat-icon>
                                        </mat-menu>
                                    </div>
                                    <mat-expansion-panel-header class="form-group" style="width: 95%">
                                        <mat-panel-title>
                                            {{price?.nationality}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <table class="table table-active">
                                                <tbody>
                                                    <tr>
                                                        <td>Nationality</td>
                                                        <td>{{price?.nationality}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td>{{price?.type}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Duration</td>

                                                        <td>{{commonService.formatDuration(price?.duration)}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Schedule</td>

                                                        <td>{{commonService.formatSchedule(price?.schedule)}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Available Stock</td>
                                                        <td>{{ price?.stockUnit }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-8">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Age group</th>
                                                        <th>Wholesale</th>
                                                        <th>Retail</th>
                                                        <th>Sales</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Senior</td>
                                                        <td> {{price?.seniorWholesaleRate}}</td>
                                                        <td> {{price?.seniorRetailRate}}</td>
                                                        <td> {{price?.seniorSalesRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Adult</td>
                                                        <td> {{price?.wholesaleRate}}</td>
                                                        <td> {{price?.retailRate}}</td>
                                                        <td> {{price?.salesRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Child</td>
                                                        <td> {{price?.childWholesaleRate}}</td>
                                                        <td> {{price?.childRetailRate}}</td>
                                                        <td> {{price?.childSalesRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Infant</td>
                                                        <td> {{price?.infantWholesaleRate}}</td>
                                                        <td> {{price?.infantRetailRate}}</td>
                                                        <td> {{price?.infantSalesRate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div>
                                                <mat-label *ngIf="price?.status === 'PUBLISH'" class="pull-right">Publish
                                                    <mat-slide-toggle [checked]="checked" (click)="draftStatus(price?.id,'DRAFT', i)"></mat-slide-toggle>
                                                </mat-label>
                                            </div>

                                            <div>
                                                <mat-label class="pull-right" *ngIf="price?.status !== 'PUBLISH'">Publish
                                                    <mat-slide-toggle [checked]="disable" (click)="publishStatus(price?.id,'PUBLISH', i)"></mat-slide-toggle>
                                                </mat-label>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>

                            </mat-accordion>
                        </div>
                    </mat-tab>
                    <mat-tab label="Add-Ons">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Title</th>
                                        <th>Wholesale</th>
                                        <th>Retail</th>
                                        <th></th>
                                        <th>Actions</th>
                                        <th>Publish </th>
                                    </tr>
                                    <tr *ngFor="let addonsprice of listingAddonsPrices">
                                        <td>{{addonsprice?.title}}</td>
                                        <td>{{addonsprice?.wholesaleRate}}</td>
                                        <td>{{addonsprice?.retailRate}}</td>
                                        <td>
                                            <span *ngIf="addonsprice?.type===1">Included in base price.</span>
                                        </td>
                                        <td>
                                            <small>
                                                <i class="material-icons text-success" (click)="addonsUpdate(addonsprice)">edit</i>
                                            </small>
                                            <small>
                                                <i class="material-icons text-danger" (click)="deleteAddons(addonsprice?.id)">clear</i>
                                            </small>
                                        </td>
                                        <td > 
                                                <div>
                                                        <mat-label *ngIf="addonsprice?.status === 'PUBLISH'" >Publish
                                                            <mat-slide-toggle [checked]="checked" (click)="draftAddonStatus(addonsprice?.id,'DRAFT', i)"></mat-slide-toggle>
                                                        </mat-label>
                                                    </div>
        
                                                    <div>
                                                        <mat-label  *ngIf="addonsprice?.status !== 'PUBLISH'">Publish
                                                            <mat-slide-toggle [checked]="disable" (click)="publishAddonStatus(addonsprice?.id,'PUBLISH', i)"></mat-slide-toggle>
                                                        </mat-label>
                                                    </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <!-- end -->
        <!-- media -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Media </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-primary" (click)="mediaAdd()">add</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group>

                    <mat-tab label="Gallery">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 mb-4" *ngFor="let image of images;let i=index">
                                    <div class="position-relative gallery-img">
                                        <span class="icon-absolute-round">
                                            <i class="material-icons text-white" (click)="mediaDelete(image?.id)">clear</i>
                                        </span>
                                        <img (click)="openGallery(i)" [src]="image?.url" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Video">
                        <div class="card-body">
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/L84C8jrD5dk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>                                    
                                </div>
                            </div> -->
                            <!-- <div class="row"> -->
                            <div class="py-2" *ngFor="let v of videos; let i = index">
                                <div class="position-relative gallery-img">
                                    <span class="icon-absolute-round">
                                        <i class="material-icons text-white" (click)="mediaDelete(v?.id)">clear</i>
                                    </span>
                                    <a href="{{v.fileUrl}}" target="_blank"> Video {{i+1}}</a>
                                    <!-- <iframe width="100%" height="100" src="https://www.youtube.com/watch?v=nBfaj_blvB8" frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen="">
                                    </iframe> -->
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <!-- end -->
        <!-- other -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Others </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-primary" (click)="faqAdd()">add</i>
                        <!-- <i class="material-icons text-gray" (click)="faqUpdate()">create</i> -->
                        <!-- <i class="material-icons text-gray" (click)="policyUpdate()">create</i>
                        <i class="material-icons text-gray" (click)="policyAdd()">add</i> -->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab label="FAQ's">
                        <div class="card-body">
                            <mat-accordion *ngFor="let faq of listingFaqs; let i = index">
                                <mat-expansion-panel>
                                    <div class="expansion-icons">

                                        <button class="pull-right" mat-icon-button [matMenuTriggerFor]="faqMenu">
                                            <i class="material-icons mb-4">more_vert</i>
                                        </button>
                                        <mat-menu #faqMenu="matMenu">
                                            <mat-icon class="ml-3">
                                                <i class="material-icons text-success" title="Edit" (click)="faqUpdate(faq)">create</i>
                                            </mat-icon>
                                            <mat-icon class="ml-3">
                                                <i class="material-icons text-danger" title="Delete" (click)="faqDelete(faq?.id)">clear</i>
                                            </mat-icon>
                                        </mat-menu>
                                    </div>
                                    <mat-expansion-panel-header class="form-group" style="width: 95%;">
                                        <mat-panel-title>
                                            {{faq?.question}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>{{faq?.answer}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-tab>
                    <mat-tab label="Policy/Terms">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Goglides standard policy</strong> [
                                    <a href="https://goglides.com/privacy-policy" target="blank">
                                        Read Policy </a>]
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Company custom policy</strong>
                                    <ul>
                                        <li>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                        </li>
                                        <li>
                                            Established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                        </li>
                                        <li>
                                            It is a long established fact that a reader will be distracted by the readable content.
                                        </li>
                                        <li>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                        </li>
                                        <li>
                                            Established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                        </li>
                                        <li>
                                            It is a long established fact that a reader will be distracted by the readable content.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <!-- <mat-tab label="Coupon">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Coupon Status </dt>
                                        <dd class="col-sm-6">Enable</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Coupon Type </dt>
                                        <dd class="col-sm-6">Festival</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Start Date </dt>
                                        <dd class="col-sm-6">12/12/2018</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">End Date </dt>
                                        <dd class="col-sm-6">15/12/2018</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">No. of Coupon </dt>
                                        <dd class="col-sm-6">50</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Minimum Amount to Purchase</dt>
                                        <dd class="col-sm-6">2000</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Discount</dt>
                                        <dd class="col-sm-6">10%</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-6">Assign to</dt>
                                        <dd class="col-sm-6">...</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </mat-tab> -->
                </mat-tab-group>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Review </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-primary" (click)="faqAdd()">add</i>
                        <!-- <i class="material-icons text-gray" (click)="faqUpdate()">create</i> -->
                        <!-- <i class="material-icons text-gray" (click)="policyUpdate()">create</i>
                        <i class="material-icons text-gray" (click)="policyAdd()">add</i> -->
                    </div>
                </div>
            </div>
            <div class="card-body"> 
                <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource">
                  
                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="userName">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="star">
                        <mat-header-cell *matHeaderCellDef> <i class="material-icons">
                            stars
                            </i> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.star}} </mat-cell>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="updatedAt">
                        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.updatedAt}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)='publishReview(element?.id, element?.status)'>
                             <mat-slide-toggle *ngIf="element?.status === 'COMPLETED'" [checked]="true">Publish</mat-slide-toggle>
                             <mat-slide-toggle  *ngIf="element?.status === 'PENDING'" [checked]="false">Publish</mat-slide-toggle>
                             </mat-cell>
                        <!-- <mat-cell *ngIf="element?.status === 'PENDING'" *matCellDef="let element" (click)='publishReview(element?.id, element?.status)'> <mat-slide-toggle [checked]="false">Publish</mat-slide-toggle> </mat-cell> -->
                      </ng-container>
                  
                      <!-- Expanded Content Column - The detail row is made up of this one column -->
                      <ng-container matColumnDef="expandedDetail">
                        <mat-cell *matCellDef="let detail"> 
                          {{detail.element.description}}
                          <div class="review-image" *ngFor="let img of detail?.element?.multimedia">
                            <img [src]="img?.url" width="100px;">
                        </div>
                        </mat-cell>
                      </ng-container>
                  
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"
                              matRipple 
                              class="element-row" 
                              [class.expanded]="expandedElement == row"
                              (click)="expandedElement = row"></mat-row>
                      <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                              [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                              style="overflow: hidden"> 
                      </mat-row>
                    </mat-table>
                  </div>
                  
            </div>
            
        </div>
        <!-- end -->
    </div>

    <div class="col-md-3 aside">
        <!-- profile -->
        <div class="card card-profile">
            <div class="card-avatar position-relative full-width-avatar">
                <span class="icon-absolute py-5">
                    <i class="material-icons text-white" (click)="openDialog(bannerImageId)">create</i>
                    <i class="material-icons text-white" (click)="openDialog1(bannerImage)">remove_red_eye</i>
                </span>
                <img class="img img-banner" [src]="bannerImage" />
            </div>
            <div class="position-relative featured-img" style="margin: -70px 0 0 30px">
                <span class="icon-absolute">
                    <i class="material-icons text-white" (click)="openDialog2(featureImageId)">create</i>
                    <i class="material-icons text-white" (click)="openDialog3(featureImage)">remove_red_eye</i>
                </span>
                <img class="img img-feat" [src]="featureImage" />
            </div>
            <div class="card-body p-1">
                <h5 class="card-title mb-0">
                    <strong>{{listing?.title}}</strong>
                </h5>
                <p class="text-gray">Trip Code : {{listing?.code}}</p>

                <div class="mb-3">
                    <img [src]="businessDir?.logoUrl" alt="" srcset="" width="30px">
                    <strong>{{businessDir?.businessName}}</strong>
                </div>
                <div>
                    <small>
                        <strong>Catagory : {{category?.title}}</strong>
                        <p style="line-height: 1.1;">Adventure, Holiday</p>
                    </small>
                </div>

                <p class="text-gray">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </p>
                <!-- <div>
                <img [src]="businessDir?.logoUrl" alt="" srcset="" width="30px">
                <strong>{{businessDir?.businessName}}</strong>
                </div> -->
                <p>

                    <button class="btn btn-primary btn-round btn-xs">View Bookings</button>
                    <button [routerLink]="['/bookings/bookingdetail/',businessId]" class="btn btn-primary btn-round btn-xs">Book Now</button>
                </p>

            </div>
        </div>
        <!-- end -->

        <!-- setting -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <!-- <div class="card-icon">
                    <i class="material-icons">list</i>
                </div> -->
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Setting </h4>
                    </div>
                    <div class="col-md-4 text-right">
                        <!-- <i class="material-icons text-gray">create</i> -->
                    </div>
                </div>
            </div>
            <div class="card-body p-1">
                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <mat-form-field>
                                    <mat-label>Status</mat-label>

                                    <mat-select placeholder="Status" [value]="listing?.status" (change)="listingStatusFxn(listing, $event.value)">
                                        <mat-option *ngFor="let option of statusList" [value]="option.value">
                                            {{ option.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>Created Date :</td>
                            <td>
                                <strong>{{listing?.createdAt | date:'mediumDate'}}</strong>
                            </td>
                        </tr>
                        <tr>
                                <td>Verified</td>
                                <td>
                                    <mat-slide-toggle *ngIf="listing?.isVerified === 1" [checked]="enabled" (click)="isVerifiedState(listing)"></mat-slide-toggle>
                                    <mat-slide-toggle *ngIf="listing?.isVerified !== 1" [checked]="disabled" (click)="isVerifiedState(listing)"></mat-slide-toggle>
                                </td>
                            </tr>
                        <tr>
                            <td>Visibility</td>
                            <td>
                                <mat-slide-toggle *ngIf="listing?.isVisible === 1" [checked]="enabled" (click)="visibilityState(listing)"></mat-slide-toggle>
                                <mat-slide-toggle *ngIf="listing?.isVisible !== 1" [checked]="disabled" (click)="visibilityState(listing)"></mat-slide-toggle>
                            </td>
                        </tr>
                        <tr>
                            <td>Confirm booking</td>
                            <td>
                                <mat-slide-toggle *ngIf="listing?.instantBooking === 1" [checked]="enabled" (click)="instantBookingFxn(listing)"></mat-slide-toggle>
                                <mat-slide-toggle *ngIf="listing?.instantBooking !== 1" [checked]="disabled" (click)="instantBookingFxn(listing)"></mat-slide-toggle>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top">Featured</td>
                            <td>
                                <mat-slide-toggle *ngIf="listing?.isFeatured === 1" [checked]="enabled" (click)="featuredOff(listing)"></mat-slide-toggle>
                                <mat-slide-toggle *ngIf="listing?.isFeatured !== 1" [checked]="disabled" (click)="featuredOn(listing)"></mat-slide-toggle>
                                <!-- <div *ngIf="listing?.isFeatured ===1" class="more-option-field">
                                    <div class="row">
                                        <div class="col-sm-12 mb-3">
                                            <my-date-picker name="mydate" [(ngModel)]="featuredStart" placeholder="Start Date" [options]="myDatePickerOptions" required></my-date-picker>
                                        </div>
                                        <div class="col-sm-12">
                                            <my-date-picker name="mydate" [(ngModel)]="featuredEnd" placeholder="End Date" [options]="myDatePickerOptions" required></my-date-picker>
                                        </div>
                                        <i class="material-icons" (click)="updateFeatured(listing)">edit</i>
                                    </div>
                                </div> -->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="border-top-0">
                                <div *ngIf="listing?.isFeatured ===1">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            Start Date : {{listing?.featuredStart | date:'mediumDate'}}
                                        </div>
                                        <div class="col-sm-10">
                                            End Date : {{listing?.featuredEnd | date:'mediumDate'}}
                                        </div>
                                        <div class="edit-icons">
                                        <i class="material-icons text-success" (click)="updateFeatured(listing)">edit</i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>Recursive </td>
                            <td>
                                <mat-slide-toggle></mat-slide-toggle>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end -->

        <div class="card">
            <div class="position-relative map-img">
                <span class="icon-absolute-round">
                    <i class="material-icons text-white" (click)="mapUpdate(map, listing)">edit</i>
                </span>
                <img [src]="map?.fileUrl" width="100%">
            </div>
        </div>

        <!-- destination -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <!-- <div class="card-icon">
                    <i class="material-icons">list</i>
                </div> -->
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Tour Destinations </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-primary" (click)="destinationAdd()">add</i>
                    </div>
                </div>
            </div>
            <div class="card-body p-1">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Country</th>
                            <th>City</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        <tr *ngFor="let destination of listingDestination">
                            <td>{{destination?.country}}</td>
                            <td>{{destination?.city}}</td>
                            <td class="text-right">
                                <button mat-icon-button [matMenuTriggerFor]="destinationMenu">
                                    <i class="material-icons text-gray icon-sm">more_vert</i>
                                </button>
                                <mat-menu #destinationMenu="matMenu">
                                    <mat-icon class="ml-3">
                                        <i class="material-icons text-success" title="Edit" (click)="destinationUpdate(destination)">edit</i>
                                    </mat-icon>
                                    <mat-icon class="ml-3">
                                        <i class="material-icons text-danger" title="Delete" (click)="destinationDelete(destination?.id)">clear</i>
                                    </mat-icon>
                                </mat-menu>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- end -->

        <!-- seo -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <!-- <div class="card-icon">
                    <i class="material-icons">list</i>
                </div> -->
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">SEO Setting </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <button mat-icon-button [matMenuTriggerFor]="seoMenu">
                            <i class="material-icons text-gray">more_vert</i>
                        </button>
                        <mat-menu #seoMenu="matMenu">
                            <mat-icon class="ml-3" *ngIf="!listing?.metaTitle || !listing?.metaKeyword || !listing?.metaDescription ">
                                <i class="material-icons text-primary" (click)="seoAdd(listing)">add</i>
                            </mat-icon>
                            <mat-icon class="ml-3">
                                <i class="material-icons text-primary" (click)="seoEdit(listing)">edit</i>
                            </mat-icon>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div class="card-body p-1">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>{{ listing?.metaTitle }}</td>
                        </tr>
                        <tr>
                            <td>Keywords</td>
                            <td>{{ listing?.metaKeyword }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ listing?.metaDescription }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end -->

        <!-- calendar -->
        <!-- <div class="card">
            <div class="card-body">
                <div *ngIf="calendarOptions">
                    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                        (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
                </div>
            </div>
        </div> -->
        <!-- end -->

    </div>
</div>