<div class="menu-height"></div>
<div class="inner-wrap">
  <div class="container">
    <section>
      <div class="white-block">
        <div class="row">
          <div class="col-sm-6">
            <h1>{{listing?.listing[0]?.title}} </h1>
            <!-- <h1>test</h1> -->
            <span class="badge badge-pill badge-secondary">
              <small>Code : {{listing?.listing[0]?.code}} </small>
              <!-- <small>Product code : test </small> -->
            </span>
          </div>
          <div class="col-sm-6">
            <div class="row package-info">
              <div class="col-xs-6 col-sm-6">
                <!-- <i class="fa fa-clock-o" aria-hidden="true"></i> {{homeService.formatSchedule(pricing?.schedule)}} -->
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{homeService.formatSchedule(booking?.schedule)}}
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-calendar" aria-hidden="true"></i> {{booking?.bookingDate | date:'mediumDate'}}
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-info-circle" aria-hidden="true"></i> {{booking?.type}}
                <!-- <img src="assets/images/para-ico.png"> test -->
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{homeService.formatDuration(booking?.duration)}}
                <!-- <i class="fa fa-clock-o" aria-hidden="true"></i>test -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row">
      <!-- paxlist -->
      <div class="col-sm-9">
        <section class="paxlist">
          <div class="white-block p-0">
            <h2 class="px-2 pt-4">Pax Details</h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Email</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Weight</th>
                    <th scope="col">A.G</th>
                    <th scope="col">Addons</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of paxList; let i = index ">
                    <td scope="row">{{item.id}}{{item.fullName}}</td>
                    <td>{{item.contactNo}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.identificationNo}} {{item.identificationType}}</td>
                    <td>{{item.category}}</td>
                    <td> {{item.weight}}kg</td>
                    <td>{{item.ageGroup}}</td>
                    <!-- <td><input (change)="addonEvent($event,item?.referenceId,content)" type="checkbox" value=""> -->
                    <td>
                      <mat-checkbox (change)="addonEvent($event,item?.referenceId,content)" type="checkbox" value=""></mat-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <div class="form-group text-center">
          <button (click)="next()" class="btn-lg btn-large btn">Next</button>
        </div>
      </div>
      <!-- ends -->

      <!-- aside -->
      <div class="col-sm-3 sidebar">
        <aside>
          <div>
            <div class="white-block blue-block">
              <h4 class="text-center mb-3">
                Booking Summary
              </h4>
              <ul class="list-unstyled mb-0">
                <li>
                  <span>{{infactPax}}</span> x Infant
                  <span class="pull-right">{{ forexService.calculateRate(infactPaxRate) | currency:forexService.currencyCode }} </span>
                </li>
                <li>
                  <span>{{childPax}}</span> x Child
                  <span class="pull-right">{{ forexService.calculateRate(childPaxRate) | currency:forexService.currencyCode }} </span>
                </li>
                <li>
                  <span>{{adultPax}}</span> x Adult
                  <span class="pull-right">{{ forexService.calculateRate(adultPaxRate) | currency:forexService.currencyCode }}</span>
                </li>
                <li>
                  <span>{{seniorPax}}</span> x Senior
                  <span class="pull-right">{{ forexService.calculateRate(seniorPaxRate) | currency:forexService.currencyCode }} </span>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="white-block blue-block">
              <h4 class="text-center mb-3">
                Addons Summary
              </h4>
              <ul class="list-unstyled mb-0" *ngIf="individualAddonsList">
                <li *ngFor="let item of individualAddonsList">
                  <strong>{{item?.name}}</strong>
                  <div *ngFor="let addon of item?.addons">
                    <div>{{addon?.title}}
                      <span class="pull-right">{{ forexService.calculateRate(addon?.rate) | currency:forexService.currencyCode }}
                        <i class="fa fa-trash pl-2" (click)=removeAddons(item?.name,addon?.refId) placement="top" ngbTooltip="Remove"></i>
                      </span>
                    </div>
                  </div>

                  <hr>
                </li>
              </ul>
            </div>
            <div class="white-block dark-blue-block text-center">
              Total : {{ forexService.calculateRate(total) | currency:forexService.currencyCode }}
            </div>
          </div>
        </aside>
      </div>
      <!--ends  -->

    </div>

  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header border-0 pb-0">
    <!-- <h4 class="modal-title">Addons List</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- {{addonsList.length}} -->
    <div *ngIf="addonsList.length<=0" class="row">
      <div class="col-md-12">
        <div class="white-block">
          <h2 class="text-center">Sorry! no addons available for this package.</h2>
        </div>
      </div>
    </div>
    <div *ngIf="addonsList">
      <div class="row" *ngFor="let item of addonsList">
        <div class="col-8 col-sm-8">
          <div class="form-check pl-0">
            <!-- <input class="form-check-input" (change)="plusAddons($event,item)" type="checkbox" value=""> -->
            <mat-checkbox (change)="plusAddons($event,item)"></mat-checkbox>
            <label class="form-check-label ml-4">
              {{item.title}}
            </label>
          </div>
        </div>
        <div class="col-4 col-sm-4">
          {{ forexService.calculateRate(item.rate) | currency:forexService.currencyCode }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="save()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<!-- <pre>{{individualAddonsList|json}}</pre> -->