<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <strong class="card-header-primary">Itinerary</strong> -->
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8"><h4 class="card-title">Itinerary Details</h4></div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="itineraryForm">
                    <div class="row">
                        <div class="col-md-12">
                        <mat-form-field>
                            <input matInput placeholder="Title" formControlName="title" value="Day {{itineraryDays}} : &nbsp;">
                        </mat-form-field>
                        </div>
                        <div class="col-md-11">
                            <p><strong> Description </strong></p>
                            <app-ngx-editor [config]="editorConfig" placeholder="Type your itinerary details." [spellcheck]="true" formControlName="description"></app-ngx-editor>        
                        </div>  
                        <button matTooltip="Info about the action" matTooltipPosition="right" (click) = "saveItinerary(itineraryForm.value)" class="btn btn-round btn-success btn-just-icon mt-4" 
                        matTooltip="Click save button to add new itinerary." matTooltipPosition="left" [disabled]="!itineraryForm.valid">
                            <i class="material-icons">done</i>
                        </button>
                    </div>
                                              
                    <div class="buttons">
                        <button [routerLink]="['/packages/general']" mat-button class="btn btn-primarybtn btn-default">Back</button>
                        <button (click) = "gotoFacts()" mat-button class="btn btn-primary mat-raised-button">Next</button>
                    </div>   
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <mat-accordion *ngFor="let itinerary of listingItinerary; let i=index" >
            <mat-expansion-panel>
                <!-- <div class="expansion-icons">
                    <i class="material-icons text-success">create</i>
                    <i class="material-icons text-danger">clear</i>
                </div> -->
                <mat-expansion-panel-header class="form-group">
                <mat-panel-title>
                    {{itinerary.title}}
                </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field class="example-full-width">
                    <textarea rows="5" matInput placeholder="Description" value={{itinerary.description}} ></textarea>
                </mat-form-field>
            
            </mat-expansion-panel>
        </mat-accordion>                                  
    </div>
    
</div>

<!-- <mat-card>
   <pre>{{ itineraryForm.value | json}}</pre>
</mat-card> -->
