.sorting-bar .input-ico{ top: 2px; right: 20px; color: #66a5ad; font-size: initial;}
.slider-block h5 {  padding-top: 10px;}
.search-content{ background: none;}


#search-modal .modal-body{ padding: 0; }
#search-modal{ margin-top: 5%; }
.center-content{ width: auto; top: 55%; padding: 10px;}