<div class="menu-height"></div>

  <div class="inner-wrap search-wrap">
  <div class="container">

  <div class="row">

   <div class="col-sm-3 col-md-2">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed filter-btn" data-toggle="collapse" data-target="#search" aria-expanded="false">
         <i class="fa fa-plus" aria-hidden="true"></i> <small>Advance Search</small>
       </button>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="search">
       <div class="search-filter">  
         <div class="well">
           <div class="filter-bar">
           
             <div class="row">
               
               <div class="col-sm-12">
                 
                 <div class="img-icons">
                 <h5><strong>Categories</strong></h5>
                 
                 <span class="img-check" >
                 <img src="assets/images/paragliding.png" alt="...">
                 <input type="checkbox" name="chk1" id="item1" value="val1" class="hidden" autocomplete="off">
                 <br>
                 <strong>Paragliding</strong>
                 </span>
 
                 <span class="img-check">
                 <img src="assets/images/rafting.png" alt="...">
                 <input type="checkbox" name="chk1" id="item2" value="val1" class="hidden" autocomplete="off">
                 <br>
                 <strong>Rafting/Kayak</strong>
                 </span>
 
                 <span class="img-check" >
                 <img src="assets/images/bungy.png" alt="...">
                 <input type="checkbox" name="chk1" id="item3" value="val1" class="hidden" autocomplete="off">
                 <br>
                 <strong>Bungy</strong>
                 </span>
 
                 <span class="img-check">
                 <img src="assets/images/skydiving.png" alt="...">
                 <input type="checkbox" name="chk1" id="item3" value="val1" class="hidden" autocomplete="off">
                 <br>
                 <strong>Sky Diving</strong>
                 </span>
 
                 <span class="img-check">
                 <img src="assets/images/paragliding.png" alt="...">
                 <input type="checkbox" name="chk1" id="item1" value="val1" class="hidden" autocomplete="off">
                 <br>
                 <strong>Ultralight</strong>
                 </span>
 
                 <span class="img-check">
                 <img src="assets/images/rafting.png" alt="...">
                 <input type="checkbox" name="chk1" id="item2" value="val1" class="hidden" autocomplete="off">
                 <br>
                 <strong>Zip Flying</strong>
                 </span>
 
                 </div>
                 
               </div>
 
               <div class="col-sm-12">
               <div class="slider-block">

               <div class="row">

                 <!-- <div class="col-sm-12">
                   <h5><strong> Price <small>($)</small></strong></h5>
                   <div>{{ value[0] }} - {{ value[1] }}</div>
                   <div class="range-block">
                   <rangeslider [(ngModel)]="value" [range]="true" [min]="0" [max]="100" [step]="2"></rangeslider>                        
                   </div>
                 </div>
                 
                 <div class="col-sm-12">
                   <h5><strong>Time <small>(24 Hours)</small></strong></h5>
                   <div>{{ value1[0] }} - {{ value1[1] }}</div>
                   <div class="range-block">
                   <rangeslider [(ngModel)]="value1" [range]="true" [min]="0" [max]="24" [step]="2"></rangeslider>
                   </div>
                 </div>

                 <div class="col-sm-12">
                   <h5><strong>Duration <small>(H:M)</small></strong></h5>
                   <div>{{ value2[0] }} - {{ value2[1] }}</div>
                   <div class="range-block">
                   <rangeslider [(ngModel)]="value2" [range]="true" [min]="0" [max]="60" [step]="2"></rangeslider>
                   </div>
                 </div> -->
                 
 
                 <div class="col-sm-12">  
                 <h5><strong>Rating</strong></h5>
                 <ngb-rating [(rate)]="currentRate" max="5"></ngb-rating>             
                 </div>
 
                 <div class="col-sm-12">
                   <h5><strong>Partners</strong></h5>
                   <div class="checkbox">
                     <label>
                       <input type="checkbox"> Kathmandu Paragliding
                     </label>
                   </div>
                   <div class="checkbox">
                     <label>
                       <input type="checkbox"> Sunrise Paragliding
                     </label>
                   </div>
                   <div class="checkbox">
                     <label>
                       <input type="checkbox"> Cloud Base Paragliding
                     </label>
                   </div>
                   <div class="checkbox">
                     <label>
                       <input type="checkbox"> Blue Sky Paragliding
                     </label>
                   </div>
                 </div>
                 
 
                 <div class="col-sm-12">
                   <button class="btn">
                     Clear Filters
                   </button>
                   
                 </div>
 
                 </div>
 
                 </div>
               </div>
             </div>
           </div>
         </div>
           
       </div>
      
    </div><!-- /.navbar-collapse -->
    </div>
   
    <div class="col-sm-6 col-md-7 search-content block">

    <div class="sorting-bar">
      <form>
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-4">
            <input type="text" class="form-control" placeholder="Location" aria-label="" #searchloc>
            <i class="fa fa fa-map-marker input-ico" aria-hidden="true"></i>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-4">
           <!-- <input class="form-control" placeholder="Date" bsDatepicker #dp="bsDatepicker"> -->
           <i class="fa fa-calendar input-ico" aria-hidden="true"></i>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2">
            <div class="dropdown">
               <button class="btn dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Sort by
                 <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                 <li><a href="#">Lowest Price</a></li>
                 <li><a href="#">Highest Price</a></li>
                 <li><a href="#">Ratings</a></li>
                 <li><a href="#">Review</a></li>
               </ul>
             </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 text-right">
            <span id="list"><i class="fa fa-bars" aria-hidden="true"></i></span>
            <span id="grid"><i class="fa fa-th-large" aria-hidden="true"></i></span>            
          </div>
        </div>
      </form>
    </div>

     <div id="product-view">

      <div class="row">
         <div class="col-sm-6 col-md-4 list-item">
          <a href="#">
           <div class="thumbnail">
             <div class="zoom"><img class="image-box" src="assets/images/img5.jpg"></div>
             <div class="caption">
               <h6> Cloud Base Paragliding</h6>
               <p>Pokhara, Nepal </p>
               <strong class="amount"><small>from</small> $115</strong>

               <div class="cat-info">
               <span><i class="fa fa-clock-o" aria-hidden="true"></i> 9:30AM</span>
               <span><i class="fa fa-hourglass-half" aria-hidden="true"></i> 20 Minutes</span>
               <span><img src="assets/images/paragliding.png" alt="...">Solo</span>
               </div>

               <div class="listing-reviews">
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star-o" aria-hidden="true"></i>
                 <span>20 Reviews</span>
               </div>
               
             </div>

             <div class="text-center price-block">
               <strong class="amount"><small>from</small> $115</strong>
               <button class="btn" href="#">View Detail</button>
             </div>

           </div>
           </a>
        </div>

        <div class="col-sm-6 col-md-4 list-item">
          <a href="#">
           <div class="thumbnail">
             <div class="zoom"><img class="image-box" src="assets/images/img2.jpg"></div>
             <div class="caption">
               <h6> Kathmandu Paragliding</h6>
               <p>Pokhara, Nepal </p>
               <strong class="amount"><small>from</small> $115</strong>

               <div class="cat-info">
               <span><i class="fa fa-clock-o" aria-hidden="true"></i> 9:30AM</span>
               <span><i class="fa fa-hourglass-half" aria-hidden="true"></i> 20 Minutes</span>
               <span><img src="assets/images/paragliding.png" alt="...">Tandem</span>
               </div>

               <div class="listing-reviews">
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star-half-o" aria-hidden="true"></i>
                 <span>20 Reviews</span>
               </div>
               
               
             </div>

             <div class="text-center price-block">
               <strong class="amount"><small>from</small> $115</strong>
               <button class="btn" href="#">View Detail</button>
             </div>

           </div>
           </a>
        </div>

        <div class="col-sm-6 col-md-4 list-item">
          <a href="#">
           <div class="thumbnail">
             <div class="zoom">
                 <img class="image-box" src="assets/images/img5.jpg">
             </div>
             <div class="caption">
               <h6> Sunrise Paragliding</h6>
               <p>Pokhara, Nepal </p>
               <strong class="amount"><small>from</small> $95</strong>

               <div class="cat-info">
               <span><i class="fa fa-clock-o" aria-hidden="true"></i> 9:30AM</span>
               <span><i class="fa fa-hourglass-half" aria-hidden="true"></i> 20 Minutes</span>
               <span><img src="assets/images/paragliding.png" alt="...">Tandem</span>
               </div>

               <div class="listing-reviews">
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star-half-o" aria-hidden="true"></i>
                 <span>20 Reviews</span>
               </div>
               
             </div>

             <div class="text-center price-block">
               <strong class="amount"><small>from</small> $115</strong>
               <button class="btn" href="#">View Detail</button>
             </div>

           </div>
           </a>
        </div>

        <div class="col-sm-6 col-md-4 list-item">
          <a href="#">
           <div class="thumbnail">
             <div class="zoom"><img class="image-box" src="assets/images/img3.jpg"></div>
             <div class="caption">
               <h6> Kathmandu Paragliding</h6>
               <p>Pokhara, Nepal </p>
               <strong class="amount"><small>from</small> $115</strong>

               <div class="cat-info">
               <span><i class="fa fa-clock-o" aria-hidden="true"></i> 9:30AM</span>
               <span><i class="fa fa-hourglass-half" aria-hidden="true"></i> 20 Minutes</span>
               <span><img src="assets/images/paragliding.png" alt="...">Tandem</span>
               </div>

               <div class="listing-reviews">
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star-half-o" aria-hidden="true"></i>
                 <span>20 Reviews</span>
               </div>
               
               
             </div>

             <div class="text-center price-block">
               <strong class="amount"><small>from</small> $115</strong>
               <button class="btn" href="#">View Detail</button>
             </div>

           </div>
           </a>
        </div>

        <div class="col-sm-6 col-md-4 list-item">
          <a href="#">
           <div class="thumbnail">
             <div class="zoom">
                 <img class="image-box" src="assets/images/img6.jpg">
             </div>
             <div class="caption">
               <h6> Sunrise Paragliding</h6>
               <p>Pokhara, Nepal </p>
               <strong class="amount"><small>from</small> $95</strong>

               <div class="cat-info">
               <span><i class="fa fa-clock-o" aria-hidden="true"></i> 9:30AM</span>
               <span><i class="fa fa-hourglass-half" aria-hidden="true"></i> 20 Minutes</span>
               <span><img src="assets/images/paragliding.png" alt="...">Solo</span>
               </div>

               <div class="listing-reviews">
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <i class="fa fa-star-o" aria-hidden="true"></i>
                 <span>20 Reviews</span>
               </div>
               
             </div>

             <div class="text-center price-block">
               <strong class="amount"><small>from</small> $115</strong>
               <button class="btn" href="#">View Detail</button>
             </div>

           </div>
           </a>
        </div>


        </div>
        </div>

    </div>

    <div class="col-sm-3 promo-block">
      <a href="#">
       <img src="assets/images/img6.jpg" class="img-fluid"> 
       </a> 
       <br>
       <h6>Featured</h6>
       <img class="image-box" src="assets/images/para.jpg" class="img-fluid">     
    </div>
    

  </div>

  </div>

 </div>

   