<div class="menu-height"></div>
<div class="inner-wrap">
  <div class="container">
    <section>
      <div class="row">
          <div *ngIf="mybookings?.length === 0" class="col-sm-12 col-lg-9 inner-content">
              <section>
                <div class="white-block text-center">
                  <h2>your Booking is currently empty.</h2>
                  <p><i class="fa fa-search"></i> Find your next trip.</p>
                  <br>
                  <p>
                    <a routerLink="" class="btn-lg btn">Return To Home </a>
                  </p>
                </div>
              </section>
            </div>  
        <div class="col-sm-12 col-lg-9 inner-content">
          <section>
            
          <div *ngIf="mybookings?.length !== 0">
          <h2>Your Bookings</h2>

                <div class="white-block wishlist-block" *ngFor="let mybooking of mybookings">
                    <div class="row">
                      <div class="col-sm-12 edit-ico">
                        <a>
                          <i class="fa fa-eye" aria-hidden="true" (click)="viwTicket(mybooking?.referenceId)"></i>
                          <span>View</span>
                        </a>
                        <a *ngIf="mybooking?.bookingStatus !== 'CANCELLATION_REQUEST' && mybooking?.bookingStatus !== 'COMPLETED' && mybooking?.bookingStatus !== 'CANCELLED'"
                          (click)="openModal(mybooking?.referenceId)">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                          <span class="red-bg">Cancel</span>
                        </a>
                      </div>
                      <div class="col-sm-4" [ngSwitch]="mybooking?.bookingStatus">
                        <h6>{{ mybooking?.lisitngTitle }}</h6>
                        <!-- <p class="no-margin-bottom">Product code : {{ mybooking?.code }}</p> -->
                        <span class="badge badge-pill badge-secondary">
                          Booking Ref : {{ mybooking?.code }}
                        </span>
                        <strong *ngSwitchCase="'PENDING'">
                          <span class="badge badge-pill badge-info">
                            <i class="fa fa-ban" aria-hidden="true"></i> PENDING </span>
                        </strong>
                        <strong *ngSwitchCase="'DECLINED'">
                          <span class="badge badge-pill badge-warning">
                            <i class="fa fa-ban" aria-hidden="true"></i> DECLINED </span>
                        </strong>
                        <strong *ngSwitchCase="'COMPLETED'">
                          <span class="badge badge-pill badge-success">
                            <i class="fa fa-check" aria-hidden="true"></i> COMPLETED </span>
                        </strong>
                        <strong *ngSwitchCase="'TRASH'">
                          <span class="badge badge-pill badge-danger">
                            <i class="fa fa-ban" aria-hidden="true"></i> TRASH </span>
                        </strong>
                        <strong *ngSwitchCase="'AWAITING_APPROVAL'">
                          <span class="badge badge-pill badge-info">
                            <i class="fa fa-ban" aria-hidden="true"></i> AWAITING_APPROVAL </span>
                        </strong>
                        <strong *ngSwitchCase="'CLOSED'">
                          <span class="badge badge-pill badge-danger">
                            <i class="fa fa-ban" aria-hidden="true"></i> CLOSED </span>
                        </strong>
                        <strong *ngSwitchCase="'CANCELLED'">
                          <span class="badge badge-pill badge-danger">
                            <i class="fa fa-ban" aria-hidden="true"></i> CANCELLED </span>
                        </strong>
                        <strong *ngSwitchCase="'CANCELLATION_REQUEST'">
                          <span class="badge badge-pill badge-warning">
                            <i class="fa fa-ban" aria-hidden="true"></i> CANCELLATION_REQUEST </span>
                        </strong>
                        <strong *ngSwitchCase="'RESERVED'">
                          <span class="badge badge-pill badge-dark">
                            <i class="fa fa-ban" aria-hidden="true"></i> RESERVED </span>
                        </strong>
                      </div>
      
                      <div class="col-sm-5">
                        <div class="row package-info">
                          <div class="col-sm-6">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ mybooking?.businessAddress }}, {{ mybooking?.businessCity }}
                          </div>
                          <div class="col-sm-6">
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{ mybooking?.bookingDate | date:'mediumDate'}}
                          </div>
                          <div class="col-sm-6">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> {{ mybooking?.type | ucfirst}}
                          </div>
                          <div class="col-sm-6">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>{{ homeService.formatDuration(mybooking?.duration) }} | {{ homeService.formatSchedule(mybooking?.schedule)
                            }}
                          </div>
                        </div>
                      </div>
      
                      <div class="col-sm-3">
                        <h3 class="amount">
                          <small>total</small>
                          <br>{{ forexService.calculateRate(mybooking?.grandTotal) | currency:forexService.currencyCode }}</h3>
                      </div>
      
                    </div>
                  </div>
            </div>
           
          </section>
        </div>
        <!-- <div class="col-sm-3">
           <aside>
          
           <div class="form-group"><img src="images/img1.jpg" width="100%"></div>

           <div class="videoframe">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/jIJhnLHc_H4" frameborder="0" allowfullscreen=""></iframe>
            </div>
             
           </aside>
         </div> -->

      </div>

    </section>

  </div>
</div>