<form [formGroup]="locationForm">    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Map-Info</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Map Info</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Address" type="text" formControlName="address">
                            </mat-form-field>
                        </div>  
                        <div class="col-md-6 form-group">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Latitude" type="text" formControlName="latitude">
                            </mat-form-field>
                        </div>  
                        <div class="col-md-6 form-group">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Longitude" type="text" formControlName="longitude">
                            </mat-form-field>
                        </div>     
                        
                        <div class="col-md-12">
                            <iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=bakhundol+(Goglides)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>                                 
                    </div>

                </div>
            </div>
        </div>
    </div>   
    
    <div class="buttons">
        <button [routerLink]="['/packages/calendar']" mat-button class="btn btn-primarybtn btn-default">Back</button>
        <button [routerLink]="['/packages/faq']" mat-button class="btn btn-primary mat-raised-button">Next</button>
    </div>  

</form>

<mat-card>
    <pre>{{ locationForm.value | json }}</pre>
</mat-card>
