<div class="row">
    <div class="col-md-12">
        <h3 class="mat-dialog-title mb-4">Add Pickup/Dropoff Info </h3>
        <form [formGroup]="locationForm" autocomplete="off">

            <div formArrayName="location_detail">

                <div *ngFor="let location of locationDetailForms.controls; let i=index" [formGroupName]="i">

                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field>
                                <input matInput placeholder="Location" formControlName="address">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-checkbox formControlName="pickUp">Pickup</mat-checkbox>
                        </div>
                        <div class="col-md-3">
                            <mat-checkbox formControlName="dropOff">Drop-Off</mat-checkbox>
                        </div>
                        <button *ngIf="locationForm.controls.location_detail.controls.length > 1" (click)="deleteLocation(i)" class="btn btn-round btn-danger btn-just-icon">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>

                </div>
                <!-- <button class="btn btn-round btn-success btn-just-icon"><i class="material-icons">done</i></button> -->
                <button (click)="addLocation()" class="btn btn-round btn-primary btn-just-icon">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </form>
        <ng-template #clear>
            <i class="material-icons text-danger">clear</i>
        </ng-template>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button class="btn btn-success" [mat-dialog-close]="locationForm.value">add</button>
    <button mat-button class="btn btn-danger">cancel</button>
</div>

<!-- <mat-card>
    <pre>
            {{

                locationForm.value | json
            }}
        </pre>
</mat-card> -->