/*my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}*/

.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.package-form .mat-horizontal-stepper-header-container {
  display: block;
  float: left;
  left: 0;
  position: absolute;
  width: 15%;
  height: 100vh;
  margin-bottom: 30px;
}
.package-form .mat-horizontal-content-container{ 
  float: left; 
  margin-left: 15%;
  padding-bottom: 60px;
  margin-bottom: 30px;
  width: 85%;
}
.package-form .mat-horizontal-stepper-header{
  height: 40px;
  padding: 0 10px;
}
.package-form .mat-stepper-horizontal-line{
  margin: 0;
}
.package-form .mat-step-header .mat-step-icon,
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar,
form .ng-valid .mat-input-underline,
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb,
form .ng-valid .mat-input-underline .mat-input-ripple{
  background-color: #66a5ad;
}
form .ng-valid .mat-input-underline {
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{ 
  border-color: #66a5ad;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
  background-color: #97c0c5;
}
.package-form .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 0;
  padding: 3px 10px;
  text-align: center;
  width: 130px;
}
.card{
  border-radius: 0;
}
.package-form .ngx-editor .ngx-wrapper .ngx-editor-textarea{ 
  z-index: inherit !important;
}
.mat-chip {
  font-size: 11px;
  line-height: 0.5;
  margin-bottom: 3px;
}
.mat-chip-remove .material-icons{
  font-size: 11px;
}
input.mat-chip-input{
  margin: inherit;
}
.gallery-img img {
  height: 100px;
  object-fit: cover;
}
.more-option-field{
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}
.more-option-field .mat-radio-label {
  padding: 20px 30px 0 0;
}
.mat-tab-group img{
  cursor: pointer;
}
.form-control, .is-focused .form-control{
  background-image: none;
}
.panel-icons .material-icons{
  font-size: 16px;
}
form .ng-valid.mat-focused .mat-form-field-label, form .ng-valid .mat-focused .mat-form-field-label, form .ng-valid .mat-form-field-label {
  color: #ccc;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  color: #66a5ad !important;
}
.mat-expansion-panel{
  margin-bottom: 15px;
}
/* .package-form .mat-expansion-panel-header{
  width: 90%;
} */
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background: initial;
}
.mat-error{
  margin-top: -10px;
  font-size: 12px;
}
.mat-stepper-horizontal{ position: relative;}
.buttons{ 
    background: #fff; 
    border-top: 1px solid #66a5ad;
    bottom:0; 
    display: block; 
    padding: 8px 50px;
    position: fixed; 
    right: 0; 
    text-align: right;
    width: 100%; 
    z-index: 4;
}
.expansion-icons{
  cursor: pointer;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 15px;
  visibility: visible;
  width: 10%;
}
.mat-expansion-panel{
  position: relative;
}
.expansion-icons .material-icons{
  color: #757575;
  font-size: 16px;
  padding: 2px 5px;  
}
.material-icons{
  cursor: pointer;
}
.sidebar .logo .simple-text{
  padding: 1px 0;
}
.package-form .mat-list .mat-list-item{
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  height: 36px;
  font-size: 13px;
}
.package-form .btn.btn-just-icon.btn-sm .material-icons{
  font-size: 14px;
  line-height: 24px;
}
.package-form .btn.btn-just-icon.btn-sm{
  height: 24px;
  min-width: 24px;
  margin-right: 10px;
  width: 24px;
}
.package-form .mat-list{
  height: 100vh;
}
.mat-list-item-focus{
  background: #66a5ad;
  color: #fff !important;
}
.navbar .navbar-brand{
  text-transform: capitalize;
}
.business-list-block .card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text{
  text-align: left;
}
.breadcrumb{
  background-color: transparent;
  /* font-size: 13px; */
  margin-bottom: 0;
  padding: 0 15px;
}
.breadcrumb span{
  padding: 0 10px;
}
.breadcrumb-block{
  /* background-color: #fff; */
  border-left: 1px solid #66a5ad;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */
  display: inline-block;
  margin-right: 30px;
  position: relative;
  width: auto;
  z-index: 9;
}
.breadcrumb i{
  font-size: 19px;
}
/* .breadcrumb-block:before {
  content: "";
  position: absolute;
  right: -12px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 12px solid #fff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
} */
/* h3.title{
  margin: -30px 0 20px;
  text-align: right;
}
h3.title button{
  margin: -30px 0 0 20px;
} */
.card-avatar img.img-banner{
  height: 130px;
  object-fit: cover;
}
.img-feat{
  /* background: #fff; 
  border: 5px solid #fff; */
  object-fit: contain; 
  width: 130px; 
  height: 100px;
}
.card-avatar.full-width-avatar{
  max-width: 90%;
  max-height: 100%;
  border-radius: 0;
}
.card-profile .card-avatar{
  background: #fff;
}
.icon-absolute{
  background: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  padding: 45% 0;
  position: absolute;
  width: 100%;
}
.card-avatar:hover .icon-absolute,.featured-img:hover .icon-absolute{
  display: block;
}
.mat-cell,.mat-header-cell{
  font-size: 13px;
}
.featured-img{
  max-width: 130px;
}
.featured-img .icon-absolute{
  padding: 25% 0;
}
.flex-sm{
  flex: .3 !important;
}
.flex-lg{
  flex: 3 !important;
}
.aside .card{
  font-size: 12px;
}
.btn-xs {
  padding: 4px 10px;
  font-size: 9px;
}
.icon-sm{
  font-size: 16px;
}
.cursor{ cursor: pointer;}

/* calendar */
.mydp .header,.mydp .headerlabelbtn{background: none !important;}
.mydp .mydpicon,.mydp .header{color:#fff !important;}
.mydp .weekdaytitle{ font-size:13px !important; padding:10px 0 !important;}
.mydp .caltable,.mydp .weekdaytitle,.mydp .highlight{ color:#66a5ad !important;}
.mydp .header{background-color: #9bc4c9 !important;}
.mydp, .mydp .headertodaybtn{ border:0 !important;}
.mydp .selector{width: 278px!important; border:0; box-shadow: 0 0 10px 0 #aaa;}
.mydp .header {
  background-color: #66a5ad!important;
  height: 50px !important;
}
.mydp .headerlabelbtn{ color: #fff; }
.mydp .headerbtn{ background: none; }
.mydp .selector:focus{ border:0; }
.mydp .daycell{ color: #54708b !important; }
.mydp .icon-mydpcalendar{color: #767676 !important; padding: 9px; background: #eee;}
.mydp .headertodaybtn{ display: none;}
.mydp .mydpicon,.mydp .headerbtncell,.mydp .weekdaytitle,.mydp .currmonth,.mydp .btnpickerenabled:hover{ background: transparent !important;}
.main-panel .header{ margin-bottom: 0;}
.daycell.selectedday { background: #ddd !important;}
.mydp .selection{ border-bottom: 1px solid #eee !important; border-radius: 0 !important; height: 40px !important;}
/* ends */

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;   
    /* print-color-adjust: exact; */
  }
  
  table { page-break-inside:auto; page-break-after:avoid; width: 100%; }
  tr { page-break-inside:auto; page-break-after:auto }
  table tr th{ background: #000 !important;}

  .title{
    background-color: #66a5ad !important; 
    padding: 6px 10px; 
    color: #fff; 
    margin-bottom: 0;
  }
  .pax-head{
      background: #eee !important; 
      padding: 10px; 
      margin: 0;
  }

  .ticket-logo-placeholder{
     width: 20% !important;
    float: left !important;
  }
  .ticket-heading{
     width: 80% !important;
    float: left !important;
  } 
}

/* responsive */
@media (max-width : 767px){
  .main-panel .main-content{
    margin-top: 40px;
  }
  .package-form .card .card-body {
    padding: 0.9375rem 15px;
  }


}

