.package-detail {
    font-size: 13px;
    .form-control{
        border: 0;
        border-bottom: 1px solid #eee;
        padding: 0;
    }
    p{
        margin-bottom: 0;
        font-size: 12px;
    }
}

.amount-lg{
    font-size: 2vw;
}

.sorting-bar .form-control{
    font-size: 12px;
    opacity: 1;
    height: 33px;
}

.sorting-bar .btn{
    font-size: 13px;
    letter-spacing: 1.2px;
    font-family: poppins-medium;
}

.rating-stars span {
    font-size: 28px !important;
}
// .badge-secondary{ 
//     background: #07575b73;
//     letter-spacing: 1px;
//     font-size: 11px;
// }
.white-block .sorting-bar small{
    line-height: 2.5;
}
p{
    font-size: 13px;
}
.pricing-view h4{
    color: #66a5ad;
}

.review-text {
    float: left;
    width: 80%;
    line-height: 1.4;
    p{
        font-size: 12px;
    }
}

@media(max-width:991px){
    .pricing-view .btn{
        margin-top: 10px !important;
    }
    .progressbar {
        font-size: 11px;
    }
}
@media(max-width:767px) and (min-width:576px){
    .package-detail p, .package-detail{
        font-size: 10px;
    }
}
@media (max-width:576px){
    .package-detail p{
        margin-bottom: 1rem;
    }
    .amount-lg{
        font-size: 5vw;
        text-align: center;
    }
}

