<!-- 
<h1>{{slug}}</h1>
<p>
  detail-page-index works!
</p> -->



<section>
  <img [src]="listingDetail?.listing[0]?.bannerImageUrl" class="page-banner">
</section>

<div class="inner-wrap">
  <div class="container">
    <!-- package title -->
    <section>
      <div class="white-block">
        <div class="row">
          <div class="col-sm-9">
            <h1 class="text-capitalize">{{listingDetail?.listing[0]?.title}}</h1>
            <p class="mb-4">
              <span class="badge badge-pill badge-secondary">
                <small>{{listingDetail?.listing[0]?.code}}</small>
              </span>
              <span class="badge badge-pill badge-secondary">
                <small>{{listingDetail?.category[0]?.title}}</small>
              </span>
              <!-- <span class="badge badge-pill badge-secondary"><small>Adventure, Holiday</small></span>                             -->
            </p>

            <div id="navlist" class="nav-listing">
              <ul class="list-inline">
                <li class="cursor">
                  <a (click)="scrollToElement(target1)">Packages Availability</a>
                </li>
                <li class="cursor">
                  <a (click)="scrollToElement(target2)">Details</a>
                </li>
                <li class="cursor">
                  <a (click)="scrollToElement(target3)">Facts</a>
                </li>
                <li class="cursor">
                  <a (click)="scrollToElement(target4)">Checklist</a>
                </li>
                <li class="cursor">
                  <a (click)="scrollToElement(target5)">FAQ'S</a>
                </li>
                <!-- <li class="cursor">
                  <a (click)="scrollToElement(target6)">Policy</a>
                </li> -->
                <li class="cursor">
                    <a (click)="scrollToElement(target7)">Gallery</a>
                    <!-- {{listingDetail?.listing[0]?.referenceId}} -->
                  </li>
                <li class="cursor">
                  <a (click)="scrollToElement(target8)">Review</a>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-sm-3 text-right">
            <p class="amount amount-lg">
              <small>from</small> {{ forexService.calculateRate(listingDetail?.listingPrice) |  currency:forexService.currencyCode }}
            </p>
          </div>

        </div>
      </div>
    </section>
    <!-- ends -->

    <!-- package detail -->
    <section>
      <div class="row">

        <div class="col-sm-9 inner-content">
  
          <!-- Package availability -->
          <!-- <pre>{{ bookingInfo | json }}</pre> -->
          <section #target1>
            <div class="white-block">
              <h2>Package Availability</h2>
              <div class="sorting-bar">
                <form #bookingForm="ngForm">
                  <div class="row pt-1">
                    <!-- <div class="col-sm-4 col-lg-3 pr-0"> -->
                      <mat-form-field class="col-sm-4 col-lg-5">
                          <mat-select name="type" [(ngModel)]="bookingInfo.type" placeholder="Select type *">
                            <mat-option *ngFor="let item of listingDetail?.searchComponent?.type" [value]="item">
                                {{item}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      <!-- <select class="form-control" [(ngModel)]="bookingInfo.type" name="type" id="">
                        <option disabled value=""></option>
                        <option *ngFor="let item of listingDetail?.searchComponent?.type" [value]="item">{{item}}</option>
                      </select> -->
                    <!-- </div> -->
                    <!-- <div class="col-sm-2 pr-0">
                      <small>Schedule</small> 
                      <select class="form-control" [(ngModel)]="bookingInfo.schedule" name="schedule">
                        <option value="">Select schedule</option>
                        <option *ngFor="let item of listingDetail?.searchComponent?.schedule" [value]="item">{{homeService.formatSchedule(item)}}</option>
                      </select>
                    </div> -->
                    <!-- <div class="col-sm-3 pr-0">
                      <small>Duration</small>
                      <select class="form-control" [(ngModel)]="bookingInfo.duration" name="duration">
                        <option value="">Select duration</option>
                        <option *ngFor="let item of listingDetail?.searchComponent?.duration" [value]="item">{{homeService.formatDuration(item)}}</option>
                      </select>
                    </div> -->
                    <div class="col-sm-4 col-lg-5">
                      <!-- <small>Date</small> -->
                      <!-- <input type="date" class="form-control" [(ngModel)]="bookingInfo.bookingDate" name="bookingDate" value="" placeholder="Date"
                        ngModel name="date"> -->
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" (dateChanged)="onDateChanged($event)" required></my-date-picker>
                    </div>

                    <div class="col-sm-4 col-lg-2 text-center pt-1">
                      <button (click)=search() class="btn btn-lg w-100 p-2">SEARCH</button>
                      <!-- <a (click)=search() class="btn btn-round"><i class="fa fa-search"></i></a> -->
                    </div>
                  </div>
                </form>
<!-- <pre>{{bookingInfo | json}}</pre> -->
              </div>

              <div class="package-detail">
                <div *ngIf="pricing">
                  <div class="mb-3" *ngFor="let item of pricing; let i = index">
                    <ngb-accordion #acc="ngbAccordion" activeIds="1">
                      <ngb-panel id="1">
                        <ng-template ngbPanelTitle>
                          <div class="row">
                            <div class="col-6 col-sm-3">
                                <strong>Nationality</strong> 
                                <p>{{item?.nationality}}</p>                         
                            </div>
                            <div class="col-6 col-sm-3">
                              <strong>Type</strong> 
                              <p>{{item?.type}}</p>
                            </div>
                            <div class="col-6 col-sm-2">
                                <strong>Schedule</strong> 
                                <!-- <p>{{homeService.formatSchedule(item?.scheddule)}}</p> -->
                            </div>
                            <div class="col-6 col-sm-2">
                                <strong>Duration</strong> 
                                <p>{{homeService.formatDuration(item?.duration)}}</p>
                            </div>
                            <!-- <div class="col-sm-2">
                              Adult : {{ forexService.calculateRate(item?.retailRate) |  currency:forexService.currencyCode }}            
                            </div> -->
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="row pricing-view">
                            <!-- <div class="col-sm-12 mb-2">
                              <h4><strong>Pricing Rate</strong></h4>
                            </div> -->
                            <div class="col-6 col-sm-3 col-lg-3">
                              <strong>Senior 
                                <p>{{ forexService.calculateRate(item?.seniorRetailRate) |  currency:forexService.currencyCode }}</p> 
                              </strong>
                            </div>
                            <div class="col-6 col-sm-3 col-lg-3">
                              <strong>Adult
                                <p>{{ forexService.calculateRate(item?.retailRate) |  currency:forexService.currencyCode }}</p>
                              </strong>
                            </div>
                            <div class="col-6 col-sm-3 col-lg-2">
                              <strong>Child
                                <p>{{ forexService.calculateRate(item?.childRetailRate) |  currency:forexService.currencyCode }}</p>
                              </strong>
                            </div>
                            <div class="col-6 col-sm-3 col-lg-2">
                              <strong>Infant
                                <p>{{ forexService.calculateRate(item?.infantRetailRate) |  currency:forexService.currencyCode }}</p>
                              </strong>
                            </div>
                            <div class="col-sm-12 col-lg-2">
                              <button class="btn" (click)="bookNow(item?.referenceId)">Book Now</button>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>

                    </ngb-accordion>
                  </div>

                </div>
              </div>
            </div>
          </section>
          <!-- ends -->

          <!-- details -->
          <section #target2>
            <div class="white-block">
              <h2>Details</h2>
              <div class="info-tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs mb-2" role="tablist">
                  <li>
                    <a href="#desc" aria-controls="" role="tab" data-toggle="tab" class="active">Description</a>
                  </li>
                  <li>
                    <a href="#highlights" aria-controls="" role="tab" data-toggle="tab">Highlights</a>
                  </li>
                  <li>
                    <a href="#itinerary" aria-controls="" role="tab" data-toggle="tab">Itinerary</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="desc">
                    <div innerHTML="{{listingDetail?.listing[0]?.description}}"></div>
                  </div>

                  <div class="tab-pane" id="highlights">
                    <div innerHTML="{{listingDetail?.listing[0]?.highlight}}"></div>
                  </div>

                  <div class="tab-pane" id="itinerary">
                    <ngb-accordion [closeOthers]="true">
                      <ngb-panel *ngFor="let item of listingDetail?.itinerary">
                        <ng-template ngbPanelTitle>
                          <strong class="d-block"> {{item?.title}}</strong>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <p innerHTML="{{item?.description}}"></p>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>

                </div>

              </div>

            </div>
          </section>
          <!-- ends -->

          <!-- facts -->
          <section #target3>
            <div class="white-block">
              <h2>Facts</h2>
              <div class="info-tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs mb-2" role="tablist">
                  <li>
                    <a href="#rule" aria-controls="" role="tab" data-toggle="tab" class="active">Pckage Rule</a>
                  </li>
                  <li>
                    <a href="#elevation" aria-controls="" role="tab" data-toggle="tab">Elevation</a>
                  </li>
                  <li>
                    <a href="#health" *ngIf="listingDetail?.category[0]?.code === 'GCAT-0002'" aria-controls="" role="tab" data-toggle="tab">Health Condition</a>
                  </li>
                  <li>
                    <a href="#startpoint" aria-controls="" role="tab" data-toggle="tab">Start/End Point</a>
                  </li>
                  <li>
                    <a href="#pickup" aria-controls="" role="tab" data-toggle="tab">Pickup/Dropoff</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="rule">
                    <div class="row">
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">No. of Days :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.daysCount}} D</dd>
                        </dl>
                      </div>
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">No. of Nights :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.nightCount}} N</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Min Age :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.minAge}} Yrs</dd>
                        </dl>
                      </div>
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Max Age :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.maxAge}} Yrs</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Min Weight :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.minWeight}} Kg</dd>
                        </dl>
                      </div>
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Max Weight :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.maxweight}} Kg</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Min Pax Per Booking :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.minPax}} Pax</dd>
                        </dl>
                      </div>
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Max Pax Per Booking :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.maxPax}} Pax</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6" *ngIf="listingDetail?.category[0]?.code === 'GCAT-0001'">Available Flying Capacity :</dt>
                          <dt class="col-6 col-sm-6" *ngIf="listingDetail?.category[0]?.code !=='GCAT-0001'">Available Group Capacity :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.availableCapacity}} Pax</dd>
                        </dl>
                      </div>
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Trip Standard :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.tripStandard}} Star</dd>
                        </dl>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6" *ngIf="listingDetail?.category[0]?.code !=='GCAT-0001' && listingDetail?.category[0]?.code !== 'GCAT-0002'">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Grade :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.tripGrade}}</dd>
                        </dl>
                      </div>
                      <div class="col-sm-6" *ngIf="listingDetail?.category[0]?.code === 'GCAT-0003'" >
                          <dl class="row mb-0">
                            <dt class="col-6 col-sm-6">River Distance (Approx) :</dt>
                            <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.riverDistance}} km</dd>
                          </dl>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6">Best Seasons :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.bestSeason}}</dd>
                        </dl>
                      </div>  
                      <div class="col-sm-6" *ngIf="listingDetail?.category[0]?.code === 'GCAT-0002'" >
                          <dl class="row mb-0">
                            <dt class="col-6 col-sm-6">Bridge Height :</dt>
                            <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.bridgeHeight}}</dd>
                          </dl>
                        </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="elevation">
                    <div class="row">
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6" *ngIf="listingDetail?.category[0]?.code !== 'GCAT-0001'">Trip Start Elevation :</dt>
                          <dt class="col-6 col-sm-6" *ngIf="listingDetail?.category[0]?.code === 'GCAT-0001'" >Take-off Elevation :</dt>
                          <!-- {{listingDetail?.category[0]?.code}} -->
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.startElevation}} m</dd>
                        </dl>
                      </div>
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6" *ngIf="listingDetail?.category[0]?.code !== 'GCAT-0001'">Lowest Elevation :</dt>
                          <dt class="col-6 col-sm-6" *ngIf="listingDetail?.category[0]?.code === 'GCAT-0001'">Landing Elevation :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.lowestElevation}} m</dd>
                        </dl>
                      </div>
                      <div class="col-sm-6">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6" *ngIf="listingDetail?.category[0]?.code !== 'GCAT-0001'">Highest Elevation :</dt>
                          <dt class="col-6 col-sm-6" *ngIf="listingDetail?.category[0]?.code === 'GCAT-0001'">Highest Flying Elevation :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.highestElevation}} m</dd>
                        </dl>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="health" *ngIf="listingDetail?.category[0]?.code === 'GCAT-0002'">
                    <p innerHTML="{{listingDetail?.fact[0]?.healthCondition}}"></p>       
                  </div>

                  <div class="tab-pane" id="startpoint">
                    <div class="row">
                      <div class="col-sm-12">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6 col-lg-3">Trip Start Point :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.startPoint}}</dd>
                        </dl>
                      </div>
                      <div class="col-sm-12">
                        <dl class="row mb-0">
                          <dt class="col-6 col-sm-6 col-lg-3">Trip End Point :</dt>
                          <dd class="col-6 col-sm-6">{{listingDetail?.fact[0]?.endPoint}}</dd>
                        </dl>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="pickup">
                    <div class="row">
                      <div class="col-6 col-sm-6">
                        <strong>Location</strong>
                      </div>
                      <div class="col-3 col-sm-3">
                        <strong>Pickup</strong>
                      </div>
                      <div class="col-3 col-sm-3">
                        <strong>Dropoff</strong>
                      </div>
                    </div>
                    <hr>

                    <div class="row" *ngFor="let item of listingDetail?.transportRoute">
                      <div class="col-6 col-sm-6">
                        {{item.address}}
                      </div>
                      <div class="col-3 col-sm-3">
                        <i *ngIf="item?.pickUp; else clear" class="fa fa-check"></i>
                      </div>
                      <div class="col-3 col-sm-3">
                        <i *ngIf="item?.dropOff; else clear" class="fa fa-check"></i>
                      </div>
                    </div>
                    <ng-template #clear>
                      <i class="fa fa-close"></i>
                    </ng-template>

                  </div>

                </div>

              </div>

            </div>
          </section>
          <!-- ends -->

          <!-- checklist -->
          <section #target4>
            <div class="white-block">
              <h2>Checklist</h2>
              <div class="info-tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs mb-2" role="tablist">
                  <li>
                    <a href="#inc/exc" aria-controls="" role="tab" data-toggle="tab" class="active">Inclusion/Exclusion</a>
                  </li>
                  <li>
                    <a href="#checklist" aria-controls="" role="tab" data-toggle="tab">Provide/Bring</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="inc/exc">
                    <div class="row">
                      <div class="col-sm-12">
                        <p>
                          <strong>Inclusion</strong>
                        </p>
                        <ul class="pl-3">
                          <li *ngFor="let item of listingDetail?.includeExclude?.include">{{item}}</li>
                        </ul>
                      </div>
                      <div class="col-sm-12">
                        <p>
                          <strong>Exclusion</strong>
                        </p>
                        <ul class="pl-3">
                          <li *ngFor="let item of listingDetail?.includeExclude?.exclude">{{item}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="checklist">
                    <div class="row">
                      <div class="col-sm-12">
                        <p>
                          <strong>What We Provide</strong>
                        </p>
                        <ul class="pl-3">
                          <li *ngFor="let item of listingDetail?.Checklist?.provide">{{item}}</li>
                        </ul>
                      </div>
                      <div class="col-sm-12">
                        <p>
                          <strong>What To Bring</strong>
                        </p>
                        <ul class="pl-3">
                          <li *ngFor="let item of listingDetail?.Checklist?.bring">{{item}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </section>
          <!-- ends -->

          <!-- faqs -->
          <section #target5>
            <div class="white-block">
              <h2>FAQ's</h2>
              <ngb-accordion [closeOthers]="true">
                <ngb-panel *ngFor="let item of listingDetail?.faq">
                  <ng-template ngbPanelTitle>
                    <strong class="d-block"> {{item?.question}}</strong>
                  </ng-template>
                  <ng-template ngbPanelContent>
                      <p>{{item?.answer}}</p>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </section>
          <!-- ends -->

          <!-- policy -->
          <!-- <section #target6>
            <div class="white-block">
              <h2>Terms & Policies</h2>
              <ul class="pl-3">
                <li>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                    at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    as opposed to using 'Content here, content here', making it look like readable English.</p>
                </li>
                <li>
                  <p>It is a long established its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like readable
                    English.
                  </p>
                </li>
                <li>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                    at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    as opposed to using 'Content here, content here', making it look like readable English.</p>
                </li>
              </ul>

            </div>
          </section> -->
          <!-- ends -->

          <!-- gallery -->
          <section #target7>
            <div class="white-block">
              <h2>Gallery</h2>
              <div class="info-tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs mb-2" role="tablist">
                  <li>
                    <a href="#images" aria-controls="" role="tab" data-toggle="tab" class="active">Image</a>
                  </li>
                  <li>
                    <a href="#video" aria-controls="" role="tab" data-toggle="tab">Video</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content px-3">
                  <div class="tab-pane active" id="images">

                    <!-- <section id="photos" (click)="openGallery(this.element)">
                    </section> -->

                    <div class="row">
                      <div class="col-4 col-md-2 px-0" *ngFor="let gallery of listingDetail?.listing[0]?.gallery; let i = index">
                        <img [src]="gallery" class="img-fluid" (click)="openGallery(i)" style="height: 110px; object-fit: cover; width: 100%; padding:0 1px 1px 0;">
                      </div>
                    </div>

                  </div>
                  <div class="tab-pane" id="video">
                    <div class="row">
                      
                      <div class="col-6 col-md-4 mb-3" *ngFor="let video of listingDetail?.media?.video" >
                        <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" [src]="transFormUrl(video)" width="100%"></iframe>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </section>
          <!-- ends -->
          <!-- <pre>
            {{ reviewForm?.value | json }}
          </pre> -->
          <!-- review -->
           <section #target8 >
            <div class="white-block">
              <section *ngIf="!isReviewAvailale">
                <h2>Rate & Review</h2>
                <form *ngIf="reviewForm" [formGroup]="reviewForm" autocomplete="off">
                  <div class="row">
                    <div class="col-sm-4 col-md-2">
                      Your Rating
                    </div>
                    <div class="col-sm-8 col-md-10 form-group">
                      <div class='rating-stars'>
                          <ngb-rating [(rate)]="currentRate" max="5" class="star-md" formControlName="star"></ngb-rating>
                      </div>
                    </div>
  
                    <!-- <div class="col-sm-12 form-group">
                      <textarea class="form-control" rows="5" placeholder="Write Your Review" formControlName="description"></textarea>
                    </div> -->

                    <mat-form-field class="col-sm-12 form-group">
                      <textarea matInput rows="5" placeholder="Write Your Review" formControlName="description"></textarea>
                    </mat-form-field>

                  </div>
                  <br>
                  <h2>Experience To Share
                    <small>( Optional )</small>
                  </h2>
                  <div class="row">

                    <mat-form-field class="col-sm-6 form-group">
                      <input matInput placeholder="Video Url" formControlName="videoUrl">
                    </mat-form-field>                      
  
                    <!-- <div class="col-sm-6 form-group">
                      <label>Video Url</label>
                      <input type="text" class="form-control" id="#" placeholder="" formControlName="videoUrl">
                    </div> -->

                    <mat-form-field class="col-sm-6 form-group">
                      <input matInput placeholder="Blog Link" formControlName="blogUrl">
                    </mat-form-field>  
  
                    <!-- <div class="col-sm-6 form-group">
                      <label>Blog Link</label>
                      <input type="text" class="form-control" id="#" placeholder="" formControlName="blogUrl">
                    </div> -->
  
                    <div class="col-sm-12 form-group mt-2">
                      <h6 class="mt-1">
                        <strong>Share some of your photos.</strong>
                      </h6>
                   
                      <div class="upload-btn-wrapper">
                        <button class="btn-upload my-1"><strong><i class="fa fa-upload pr-1"></i> Upload Photo</strong></button>
                        <input type="file" name="uploadfile" multiple (change)=onImageSelect($event)>
                      </div>
                    </div>
                    
                    <div class="col-sm-12 form-group mt-2">
                        <mat-checkbox formControlName="termsAndCondition" class="mt-1">I agree to &nbsp;</mat-checkbox><a class="hover" (click)="openTermsAndCondition(terms)">Terms and Condition</a>
                      <!-- <h6 class="mt-1">
                        <strong (click)="openTermsAndCondition()"><a></a> </strong>
                      </h6> -->
                    </div>
  
                    <div class="col-sm-12">
                      <button [disabled]="!reviewForm?.valid || !reviewForm?.value?.termsAndCondition " (click)=saveReview(reviewForm.value) class="btn btn-large">Submit Review</button>
                    </div>
  
                  </div>
                </form>
               
              </section>

              <br>
              <br>

              <section>

                <div class="row">

                  <div class="col-sm-3">
                    <h2>Review</h2>
                    <!-- <pre>{{count|json}}</pre> -->
                    <div class="rating-total">{{count?.average | number:'1.1-1'}}</div>
                    <ngb-rating [rate]="count?.average" max="5" [readonly]=true class="star-lg" readonly></ngb-rating>
                    <p>{{count?.total}} Reviews</p>
                  </div>

                  <div class="col-sm-9 progressbar">

                    <div class="row">
                      <div class="col-3 col-sm-3 col-md-2 text-right">
                        5 Stars
                      </div>
                      <div class="col-6 col-sm-6">
                          <a class="cursor" (click)="getStarWiseReview(listingDetail.listing[0].referenceId,5,0)"> <ngb-progressbar type="info" [value]="count?.five/count?.total*100"></ngb-progressbar></a>
                      </div>
                      <div class="col-3 col-sm-3">{{count?.five}}</div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-sm-3 col-md-2 text-right">
                        4 Stars
                      </div>
                      <div class="col-6 col-sm-6">
                          <a class="cursor" (click)="getStarWiseReview(listingDetail.listing[0].referenceId,4,0)"> <ngb-progressbar type="info" [value]="count?.four/count?.total*100"></ngb-progressbar></a> 
                      </div>
                      <div class="col-3 col-sm-3">{{count?.four}}</div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-sm-3 col-md-2 text-right">
                        3 Stars
                      </div>
                      <div class="col-6 col-sm-6">
                           <a class="cursor" (click)="getStarWiseReview(listingDetail.listing[0].referenceId,3,0)"> <ngb-progressbar type="info" [value]="count?.three/count?.total*100"></ngb-progressbar></a>
                      </div>
                      <div class="col-3 col-sm-3">{{count?.three}}</div>
                  
                    </div>

                    <div class="row">
                      <div class="col-3 col-sm-3 col-md-2 text-right">
                        2 Stars
                      </div>
                      <div class="col-6 col-sm-6">
                           <a class="cursor" (click)="getStarWiseReview(listingDetail.listing[0].referenceId,2,0)"> <ngb-progressbar type="info" [value]="count?.two/count?.total*100"></ngb-progressbar></a>

                      </div>
                      <div class="col-3 col-sm-3">{{count?.two}}</div>
            
                    </div>

                    <div class="row">
                      <div class="col-3 col-sm-3 col-md-2 text-right">
                        1 Stars
                      </div>
                      <div class="col-6 col-sm-6">
                           <a class="cursor" (click)="getStarWiseReview(listingDetail.listing[0].referenceId,1,0)"> <ngb-progressbar type="info" [value]="count?.one/count?.total*100"></ngb-progressbar></a>

                      </div>
                      <div class="col-3 col-sm-3">{{count?.one}}</div>
                    
                    </div>

                  </div>

                </div>
              </section>
              
              <section class="reviews">
                <h4 class="mb-3" *ngIf="isReviewAvailale">Your Posted Review</h4>
                <div class="row mb-4" *ngIf="isReviewAvailale">
                  <div class="col-sm-12">
                    <div class="blue-block p-3 pull-left w-100">
                    <img [src]="(myreview?.userPhoto !== null)?myreview?.userPhoto:'assets/images/employees.svg'" class="pull-left rounded-circle">
                    <div class="review-text">
                      <strong>{{ myreview?.userName }}</strong>
                      <i *ngIf="myreview?.status === 'PENDING'" class="fa fa-pencil-square-o pl-2 cursor" (click)="openLg(content, myreview)"  placement="top" ngbTooltip="Update Review"></i>
                      <div class="listing-reviews review-total pull-right">
                        <ngb-rating [readonly]=true [rate]="myreview?.star" max="5"></ngb-rating>
                      </div>
                      <p>
                        <small>{{myreview?.updatedAt | date:'mediumDate'}}</small>
                      </p>
                      <p > {{myreview?.description}}</p>
                      <p>
                        <a  *ngIf="myreview?.videoUrl!==null" [href]="myreview?.videoUrl" class="mr-3" target="_blank">
                          <i class="fa fa-video-camera" aria-hidden="true"></i> Video</a> 
                        <a *ngIf="myreview?.blogUrl!==null" [href]="myreview?.blogUrl" target="_blank">
                          <i class="fa fa-rss" aria-hidden="true"></i> Blog</a>
                      </p>
                      <div class="review-img" *ngIf="myreview?.multimedia?.length>0">
                        <a href="#" *ngFor="let item of myreview?.multimedia">
                          <img [src]="item?.url">
                        </a>
                      </div>

                    </div>
                  </div>
                  </div>

                </div>

                <ng-template #content let-modal let-c="close" let-d="dismiss">
                  <div class="modal-header" >
                    <h4 class="modal-title">Update Review</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <section>
                      <h2>Rate & Review</h2>
                      <form [formGroup]="editModalForm">
                        <div class="row">
                          <div class="col-sm-4 col-md-2">
                            Your Rating
                          </div>
                          <div class="col-sm-8 col-md-10 form-group">
                            <div class='rating-stars'>
                                <ngb-rating [(rate)]="currentRate" max="5" class="star-md" formControlName="star"></ngb-rating>
                            </div>
                          </div>
        
                          <div class="col-sm-12 form-group">
                            <textarea class="form-control" rows="5" placeholder="Write Your Review" formControlName="description"></textarea>
                          </div>
                        </div>
                        <br>
                        <h2>Experience To Share
                          <small>( Optional )</small>
                        </h2>
                        <div class="row">
        
                          <div class="col-sm-6 form-group">
                            <label>Video Url</label>
                            <input type="text" class="form-control" id="#" placeholder="" formControlName="videoUrl">
                          </div>
        
                          <div class="col-sm-6 form-group">
                            <label>Blog Link</label>
                            <input type="text" class="form-control" id="#" placeholder="" formControlName="blogUrl">
                          </div>
        
                          <div class="col-sm-12 form-group mt-2">
                            <h6 class="mt-1">
                              <strong>Share some of your photos.</strong>
                            </h6>
                            <div class="upload-btn-wrapper">
                                <button class="btn-upload my-1"><strong><i class="fa fa-upload pr-1"></i> Upload Photo</strong></button>
                                <input type="file" multiple (change)="uploadImageChange($event)">
                              </div>
                           
                          </div>

                          <div class="row">
                              <div class="col-4 col-md-2 px-0" *ngFor="let reviewImages of myreview?.multimedia; let i = index">
                                <img [src]="reviewImages?.url" class="img-fluid" style="height: 110px; object-fit: cover; width: 100%; padding:0 1px 1px 0;">
                                <i class="fa fa-close" (click)="deleteReviewImage(i, reviewImages['id'])"></i>
                              </div>
                            </div>
        
                          <div class="col-sm-12">
                            <button [disabled]="updateFileLength>5" (click)="update(editModalForm.value)" class="btn btn-large">Submit Review</button>
                          </div>
        
                        </div>
                      </form>
                     
                    </section>
                  </div>
                  <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-light">Save</button>
                    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
                  </div> -->
                   <pre>
          </pre>
                </ng-template>
                
                <ng-template #terms let-modal let-c="close" let-d="dismiss">
                    <div class="modal-header" >
                      <h4 class="modal-title">Terms and Conditions</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <section>
                          <ol>
                            <li> I am the owner of these photos and I accept Goglides's Terms of Multimedia use</li>
                            <li> I certify that this review is based on my own experience, and not been offered any incentive or payment to write this review.</li>
                            </ol>
                      </section>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
                    </div>
                  </ng-template>
                
                <!-- <pre>{{reviews|json}}</pre> -->
                <div *ngIf="reviews?.length>0">
                <div class="row" *ngFor="let item of reviews" >
                  <div class="col-sm-12">
                    <img [src]="(item?.userPhoto !==null)?item?.userPhoto:'assets/images/employees.svg'" class="pull-left rounded-circle">
                    <div class="review-text">
                      <strong>{{item?.userName}}</strong>
                      <div class="listing-reviews review-total pull-right">
                        <ngb-rating [rate]="item?.star" [readonly]=true max="5"></ngb-rating>
                      </div>
                      <p>
                        <small>{{item?.updatedAt | date:'mediumDate'}}</small>  
                      </p>

                      <p>{{item?.description}}</p>
                      <p>
                          <a  *ngIf="item?.videoUrl!==null" [href]="item?.videoUrl" class="mr-3">
                            <i class="fa fa-video-camera" aria-hidden="true"></i> Video</a> 
                          <a *ngIf="item?.blogUrl!==null" [href]="item?.blogUrl" >
                            <i class="fa fa-rss" aria-hidden="true"></i> Blog</a>
                        </p>
                        <div class="review-img" *ngIf="item?.multimedia?.length>0">
                          <a href="#" *ngFor="let item of item?.multimedia">
                            <img [src]="item?.url">
                          </a>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <hr class="my-4">
                  </div>
                </div>
              </div>

              <ngb-pagination class="d-flex justify-content-center pagelisting" [collectionSize]="count?.total" [(page)]="page" (pageChange)="onPageChange()"  [pageSize]="3"  [maxSize]="5" [rotate]="true" [ellipses]="false" ></ngb-pagination>

              </section>

            </div>
          </section> 
          <!-- ends -->
        </div>

        <div class="col-sm-3 sidebar">
          <aside>

            <div class="white-block text-center">
              <div class="listing-reviews mb-3">
                <ngb-rating [rate]="count?.average" max="5" class="star-md"></ngb-rating>
                <span>{{ count?.total }} Ratings</span>
              </div>
              <div>
                <button [disabled]="!heart" (click)="removeFromFavorite(listingDetail?.listing[0], i)" *ngIf="listingDetail?.listing[0]?.wishList"  type="button" class="btn btn-sm mb-2" placement="top" ngbTooltip="Add to favorite">
                  <i  *ngIf="listingDetail?.listing[0]?.wishList" class="fa fa-heart px-1" style="color:#f12828;" aria-hidden="true"></i> Favourite
                </button>
                <button [disabled]="!heart" (click)="addToFavorite(listingDetail?.listing[0], i)" *ngIf="!listingDetail?.listing[0]?.wishList"  type="button" class="btn btn-sm mb-2" placement="top" ngbTooltip="Add to favorite">
                  <i *ngIf="!listingDetail?.listing[0]?.wishList" class="fa fa-heart px-1" aria-hidden="true"></i> Favourite
                </button>
            
              </div>
            </div>

            <div class="white-block text-center">
              <strong>Package Operator</strong>
              <div class="row">
                  <div class="col-xs-4 col-sm-offset-4 col-sm-6 col-lg-4 mx-auto mt-2">
                      <img alt="" class="img img-fluid cursor" [src]="listingDetail?.business[0]?.logoUrl" (click)="businessPage(listingDetail?.business[0]?.slug)">
                  </div>
                  <div class="col-sm-12 mt-3">
                      <p class="cursor" (click)="businessPage(listingDetail?.business[0]?.slug)">{{listingDetail?.business[0]?.businessName}} </p>
                  </div>
              </div>
            </div>

            <div class="white-block">
              <strong>Tour Destinations</strong>
              <div *ngFor="let item of listingDetail?.destination">
                <p>
                  <small>
                    <strong>{{item?.country}}</strong> : {{item?.city}}</small>
                </p> 
              </div>
            </div>

            <div class="map-section mb-3" *ngIf="listingDetail?.media?.map[0]">
              <img [src]="listingDetail?.media?.map[0]" class="img-fluid">
            </div>

            <div class="videoframe mb-3" *ngIf="listingDetail?.media?.video[0]">
                <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" [src]="transFormUrl(listingDetail?.media?.video[0])" width="100%" height="300px"></iframe>

            
            </div>
          
          
          </aside>
        </div>

      </div>
    </section>
    <!-- ends -->

    <!-- similar listing -->
    <section class="block block-gray p-0 mt-5">
    <div class="block-heading">
      <span>Similar Listing</span>
    </div>
    <div class="row">
        <div class="col-sm-3 mb-3" *ngFor="let similar of similarListings; let i = index">
            <div class="thumbnail rounded-top">
            <div class="zoom">
                <img [src]="similar?.listing[0]?.featureImageUrl" class="col4-img rounded-top w-100 cursor" (click)="listingPage(similar?.listing[0]?.slug)">
            </div>
            <div class="mb-3">
                <div class="position-relative">
                <p class="agent-review">
                <img [src]="similar?.business[0]?.logoUrl" class="cursor" (click)="businessPage(similar?.business[0]?.slug)">
                </p>
                <span class="package-oprator cursor" (click)="businessPage(similar?.business[0]?.slug)">{{similar?.business[0]?.businessName}}</span>
                </div>
            </div>
        
            <div class="caption">
                <strong class="package-title cursor" (click)="listingPage(similar?.listing[0]?.slug)">{{ similar?.listing[0]?.title }}</strong>
                <p class="text-sm">
                <i class="fa fa-map-marker pr-1 text-primary" aria-hidden="true"></i> {{ similar?.business[0]?.street }}, {{ similar?.business[0]?.city }}</p>
                <h3 class="amount pb-1">
                <small class="text-secondary">from</small> {{ forexService.calculateRate(similar?.listingPrice) |  currency:forexService.currencyCode }} </h3>
                <div class="listing-reviews">
                <ngb-rating [rate]="similar?.review?.average" max=5 readonly=true></ngb-rating>
                | <span>{{ similar?.review?.total }} Reviews</span>
                <span class="pull-right">
                  <a [class.disabled]="!heart">
                    <i (click)="RemoveWishlist(similar?.listing[0], i)" *ngIf="similar?.listing[0]?.wishList" class="fa fa-heart pull-right" style="color:#f12828;" aria-hidden="true"></i>
                    <i (click)="wishlist(similar?.listing[0], i)" *ngIf="!similar?.listing[0]?.wishList" class="fa fa-heart pull-right" aria-hidden="true"></i>
                  </a>
                </span>
                </div>
            </div>
            </div>
        </div>
    </div>
  </section>
  <!-- ends -->
   

  </div>
</div>

<ngx-image-gallery 
[images]="images" 
[conf]="conf"
(onClose)="galleryClosed()"
></ngx-image-gallery>
