<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Settings</h3> -->
    <strong class="mr-2">Settings</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
        <li><a [routerLink]="['/settings/list']">Settings </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
        <li class="active"> Keyclock Settings </li>
        </ol>
    </div> 
</div>
<br/>
  
<form [formGroup]="keyclockSettingForm" autocomplete="off">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                  <i class="material-icons">vpn_key</i>
                </div>
                <div class="row">
                  <div class="col-md-8"><h4 class="card-title">Keyclock Info</h4></div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Auth Server Url </mat-label>
                        <input matInput placeholder="Auth Server Url " formControlName="serverUrl">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Realm ID</mat-label>
                          <input matInput placeholder="Realm ID" formControlName="realmId">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Client ID </mat-label>
                          <input matInput placeholder="Client ID" formControlName="clientId">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Client Secret </mat-label>
                          <input matInput placeholder="Client Secret" formControlName="clientSecret">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Username </mat-label>
                          <input matInput placeholder="Username" formControlName="uname">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Password </mat-label>
                          <input matInput placeholder="Password" formControlName="password">
                        </mat-form-field>
                      </div>
                    </div>
              </div>
          </div>
      </div>
      <!-- <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <p><input type="file"></p>
                  <br>
                  <p><mat-slide-toggle>Site Mode</mat-slide-toggle></p>
                  <br>
                  <mat-form-field>
                    <mat-select placeholder="Default Currency *">
                      <mat-option *ngFor="let option of value" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
          </div>
      </div> -->
  </div>    
  <button mat-button class="btn btn-primary">Save</button>     
</form>
  
<mat-card>
  <pre>
    {{keyclockSettingForm.value | json}}
  </pre>
</mat-card>