<form [formGroup]="socialmediaForm" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
            <!-- <strong class="card-header-primary">Contact-Person</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                  <div class="card-icon">
                      <i class="material-icons">group</i>
                  </div>
                  <h4 class="card-title">Social Links </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label><i class="fa fa-facebook text-primary" aria-hidden="true"></i> Facebook</mat-label>
                                <input matInput type="url" pattern="https?://.+" formControlName="facebookUrl">
                            </mat-form-field>                        
                            <mat-error *ngIf="!socialmediaForm.controls.facebookUrl.valid  && socialmediaForm.controls.facebookUrl.touched">Enter valid url.</mat-error>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label><i class="fa fa-google-plus text-primary" aria-hidden="true"></i> Google Plus</mat-label>
                                <input matInput type="url" pattern="https?://.+" formControlName="googlePlusUrl">
                            </mat-form-field> 
                            <mat-error *ngIf="!socialmediaForm.controls.googlePlusUrl.valid  && socialmediaForm.controls.googlePlusUrl.touched">Enter valid url.</mat-error>    
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label><i class="fa fa-twitter text-primary" aria-hidden="true"></i> Twitter</mat-label>
                                <input matInput pattern="https?://.+" type="url" formControlName="twitterUrl">
                            </mat-form-field> 
                            <mat-error *ngIf="!socialmediaForm.controls.twitterUrl.valid  && socialmediaForm.controls.twitterUrl.touched">Enter valid url.</mat-error>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label><i class="fa fa-linkedin text-primary" aria-hidden="true"></i> Linkedin</mat-label>
                                <input matInput type="url" pattern="https?://.+" formControlName="linkedinUrl">
                            </mat-form-field>     
                            <mat-error *ngIf="!socialmediaForm.controls.linkedinUrl.valid  && socialmediaForm.controls.linkedinUrl.touched">Enter valid url.</mat-error>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label><i class="fa fa-instagram text-primary" aria-hidden="true"></i> Instagram</mat-label>
                                <input matInput type="url" pattern="https?://.+" formControlName="instagramUrl">
                            </mat-form-field>     
                            <mat-error *ngIf="!socialmediaForm.controls.instagramUrl.valid  && socialmediaForm.controls.instagramUrl.touched">Enter valid url.</mat-error>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label><i class="fa fa-youtube text-primary" aria-hidden="true"></i> Youtube</mat-label>
                                <input matInput type="url" pattern="https?://.+" formControlName="youtubeUrl">
                            </mat-form-field>  
                            <mat-error *ngIf="!socialmediaForm.controls.youtubeUrl.valid  && socialmediaForm.controls.youtubeUrl.touched">Enter valid url.</mat-error>   
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label><i class="fa fa-tumblr text-primary" aria-hidden="true"></i> Tumblr</mat-label>
                                <input matInput type="url" pattern="https?://.+" formControlName="tumblerUrl">
                            </mat-form-field>   
                            <mat-error *ngIf="!socialmediaForm.controls.tumblerUrl.valid  && socialmediaForm.controls.tumblerUrl.touched">Enter valid url.</mat-error>  
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
  
  <div class="buttons">
      <button [routerLink]="['/businessdirectory/certificates']" mat-button class="btn btn-primarybtn btn-default">Back</button>
      <button (click)="saveSocialMedia(socialmediaForm.value)" [disabled]="!socialmediaForm.valid" mat-button class="btn btn-primary mat-raised-button">Finish</button>
  </div>
</form>

<mat-card>
  <pre>{{socialmediaForm.value | json}}</pre>
</mat-card>
