<header #targetHeader>
  <div id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-5 col-sm-3 col-lg-2 logo nav-link" id="logo">
          <a class="logo-white" routerLink="">
            <img src="assets/images/goglides_logo_white.png" class="img-fluid">
          </a>
          <a class="logo-sticky" routerLink="">
            <img src="assets/images/goglides_logo.png" class="img-fluid">
          </a>
        </div>
        <div class="col-sm-9 col-lg-10">
          <nav class="navbar navbar-expand-md navbar-light navigation-bar pull-right">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
            </button>
          
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="nav navbar-nav ml-auto text-capitalize">

                <li>
                  <mat-form-field class="cur-select">
                    <mat-select [(ngModel)]="currency" (change)="currencyChange(currency)">
                      <mat-option *ngFor="let data of forex" [value]="data?.currencyCode">
                          {{ data?.currencyCode }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>                      
                </li>

                <li class="pr-3 cur d-none">
                  <select style="background: rgba(0,0,0,.7); color:#fff; padding: 5px 35px 5px 15px; border-radius: 5px; border:1px solid #fff;" [(ngModel)]="currency" (change)="currencyChange(currency)">
                      <option *ngFor="let data of forex" [value]="data?.currencyCode">
                          {{ data?.currencyCode }}
                        </option>
                    <!-- <option>
                      <img src="http://www.countryflags.io/np/flat/16.png"> USD</option>
                    <option data-thumbnail="images/logo.png">NPR</option> -->
                  </select>
                  <!-- <i class="fa fa-arrow"></i> -->
                </li>
                
                <!-- <div *ngIf="kcSvc.authenticated()">
                    <li *ngIf="roles==='ROLE_ADMIN'" class="p-2">
                        <a [href]="AdminSiteUrl" >Dashboard</a>
                    </li>
                </div> -->

                <li *ngIf="kcSvc.authenticated()" class="p-2">
                  <div *ngIf="roles==='ROLE_ADMIN'">
                      <a [href]="AdminSiteUrl" >Dashboard</a>
                  </div>
                </li>
               
              
                <li class="pt-2">
                  <a href="https://blog.goglides.com/" >Blog</a>
                </li>

                <li [hidden]="!kcSvc.authenticated()" class="dropdown pt-2">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{agentProfile?.firstName}} {{agentProfile?.lastName}}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="nav-link" routerLink="/user-profile">My Profile</a>
                    </li>
                    <li>
                      <a class="nav-link" routerLink="/notification">Notification  <span class="badge badge-pill badge-info">{{notificationCount}}</span> </a>
                    </li>
                    <li>
                      <a class="nav-link" [routerLink]="['/mybooking']"> My Booking</a>
                    </li>
                    <li>
                      <a class="nav-link" [routerLink]="['/wish-list']"> My wishlist</a>
                    </li>
                     <li>
                      <a class="nav-link" [routerLink]="['/myreviews']"> My Review</a>
                    </li>
                    <li>
                      <a class="nav-link" [hidden]="!kcSvc.authenticated()" (click)="logOut()">logout</a>
                    </li>
                  </ul>
                </li>
                <li class="pt-2">
                  <a [hidden]="kcSvc.authenticated()" (click)="kcSvc.login()">login</a>
                </li>

                <!-- <li class="dropdown pt-2">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i> Find Booking</a>
                  <span class="caret"></span>
                  <ul class="dropdown-menu dropdown-lg">
                    <li>
                      <div class="row">
                        <mat-form-field class="col-md-5">
                          <input matInput placeholder="Full Name">
                        </mat-form-field>
                        <mat-form-field class="col-md-4">
                          <input matInput placeholder="Booking Reference">
                        </mat-form-field>
                        <div class="col-md-3 pt-2">
                          <button class="btn">Retrieve</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li> -->
              </ul>
            
            </div>
          </nav>
        </div>
      
    </div>
  </div>
  </div>
</header>
<button id="myBtn" (click)="scrollToElement(targetHeader)" class="btn top-arrow"><i class="fa fa-chevron-up"></i></button>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/user-profile">My Profile</a>
          <a class="dropdown-item" [routerLink]="['/mybooking']"> My Booking</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
