#navbar {
//   overflow: hidden;
//   background-color: #f1f1f1;
  background: linear-gradient(180deg,rgba(0,0,0,.6),transparent);
  padding: 10px;
  transition: 0.4s;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.sticky#navbar{
    background: rgba(255,255,255,.98);
    box-shadow: 0 4px 10px -2px rgba(0,0,0,.15), 0 0 0 1px rgba(0,0,0,.02);
    padding: 5px;
}
#navbar #logo {
  transition: 0.4s;
}
.sticky#navbar #logo{
  transform: scale(0.85);
  transition: 0.4s;
}
.sticky#navbar .logo-white,#navbar .logo-sticky{
    display: none;
}
.sticky#navbar .logo-sticky{
    display: block;
}
.sticky .navigation-bar .navbar-nav li a{
    color: #767676;
}
.navbar-toggler-icon{ 
    background-image: none;
    width: auto;
}
.navbar-toggler{
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: inherit;
    padding: 0;
}
.sticky .navbar-toggler{
    color: initial;
}
// .sticky .nav-link{
//     padding: 0;
// }
.nav a{
    cursor: pointer;
}

.cur-select{
    background: rgba(0,0,0,.7); 
    border-radius: 5px; 
    border:1px solid #fff;
    margin-right: 15px;
}

.top-arrow{
    bottom: 30px;
    position: fixed; 
    right: 30px;
    display: none;
}

.dropdown-lg{
    left: auto;
    width: 36rem;
    right: 0;
}

@media(max-width:767px){
    .navbar-nav{
        background: rgba(0,0,0,0.6);
        padding: 15px;
    }
    .sticky .navbar-nav{
        background: transparent;
        border: 1px solid #eee;
    }
    .nav > li > a {
        padding: 10px 0;
    }
    .dropdown-lg{
        width: 100%;
    }
    .navbar-nav .p-2{
        padding: 0 !important;
    }
    .cur-select{
        margin-bottom: 12px;
    }
}
@media (max-width: 576px) {
    #navbar{
        padding: 10px;
    }
    .navbar{
        padding: 0;
        width: 100%;
    } 
    .navbar-toggler{ 
        margin-top: -36px;
    }
    
}
