<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <p class="card-category">Business Directory</p>
                <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <p class="card-category">Packages</p>
   
                <h3 class="card-title">245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-6" [routerLink]="['/bookings/bookingFilter']">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <p class="card-category">booking list view</p>
    
                <!-- <h3 class="card-title">245</h3> -->
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- <li *ngFor="let item of items">{{item}} 
    </li> -->
<!-- <p>test</p> -->
<!-- <p>{{ 'foo' | reverse }}</p> -->
<!-- <p>{{'Some Text To Slugify' | slugify }} -->
    
<!-- <p>{{'Hey foo barasddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd' | shorten: 3: '...'}}</p>  -->
<!-- emp -->
<!-- <section class="emp-block">
<div class="my-5">
    <form>
        <input class="form-control border-bottom col-md-4 d-inline-block" type="search" placeholder="Search" aria-label="Search">
        <img src="http://simpleicon.com/wp-content/uploads/active-search.png" width="30px;" style="margin-left: -30px;">
    </form>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card pt-3 mt-0">
            <img class="mx-auto img-emp" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8mUZ2OjH5maz04lsVqJHR23JncsDjwhExEJx5YscMj4gUmx2rtg">            
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4 class="card-title mb-0"><strong>Jenisha Allen</strong> </h4>
                    <i class="text-primary">Software Engineer</i>
                </div>
                <div class="emp-info mb-2">
                    <p class="mb-0"><strong>Department</strong> : IT</p>
                    <p><strong>Contact Number</strong> : 98451254857</p>
                    <a href="#">jenisha@gmail.com</a>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card pt-3 mt-0">
            <img class="mx-auto img-emp" src="http://samovarcatering.com.au/wp-content/uploads/2016/06/default_M.png">
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4 class="card-title mb-0"><strong>John Smith</strong> </h4>
                    <i class="text-primary">Software Engineer</i>
                </div>
                <div class="emp-info mb-2">
                    <p class="mb-0"><strong>Department</strong> : IT</p>
                    <p><strong>Contact Number</strong> : 98451254857</p>
                    <a href="#">john@gmail.com</a>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card pt-3 mt-0">
            <img class="mx-auto img-emp" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8mUZ2OjH5maz04lsVqJHR23JncsDjwhExEJx5YscMj4gUmx2rtg">            
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4 class="card-title mb-0"><strong>Jenisha Allen</strong> </h4>
                    <i class="text-primary">Software Engineer</i>
                </div>
                <div class="emp-info mb-2">
                    <p class="mb-0"><strong>Department</strong> : IT</p>
                    <p><strong>Contact Number</strong> : 98451254857</p>
                    <a href="#">jenisha@gmail.com</a>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card pt-3 mt-0">
            <img class="mx-auto img-emp" src="http://samovarcatering.com.au/wp-content/uploads/2016/06/default_M.png">
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4 class="card-title mb-0"><strong>John Smith</strong> </h4>
                    <i class="text-primary">Software Engineer</i>
                </div>
                <div class="emp-info mb-2">
                    <p class="mb-0"><strong>Department</strong> : IT</p>
                    <p><strong>Contact Number</strong> : 98451254857</p>
                    <a href="#">john@gmail.com</a>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card pt-3 mt-0">
            <img class="mx-auto img-emp" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8mUZ2OjH5maz04lsVqJHR23JncsDjwhExEJx5YscMj4gUmx2rtg">            
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4 class="card-title mb-0"><strong>Jenisha Allen</strong> </h4>
                    <i class="text-primary">Software Engineer</i>
                </div>
                <div class="emp-info mb-2">
                    <p class="mb-0"><strong>Department</strong> : IT</p>
                    <p><strong>Contact Number</strong> : 98451254857</p>
                    <a href="#">jenisha@gmail.com</a>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card pt-3 mt-0">
            <img class="mx-auto img-emp" src="http://samovarcatering.com.au/wp-content/uploads/2016/06/default_M.png">
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4 class="card-title mb-0"><strong>John Smith</strong> </h4>
                    <i class="text-primary">Software Engineer</i>
                </div>
                <div class="emp-info mb-2">
                    <p class="mb-0"><strong>Department</strong> : IT</p>
                    <p><strong>Contact Number</strong> : 98451254857</p>
                    <a href="#">john@gmail.com</a>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card pt-3 mt-0">
            <img class="mx-auto img-emp" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8mUZ2OjH5maz04lsVqJHR23JncsDjwhExEJx5YscMj4gUmx2rtg">            
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4 class="card-title mb-0"><strong>Jenisha Allen</strong> </h4>
                    <i class="text-primary">Software Engineer</i>
                </div>
                <div class="emp-info mb-2">
                    <p class="mb-0"><strong>Department</strong> : IT</p>
                    <p><strong>Contact Number</strong> : 98451254857</p>
                    <a href="#">jenisha@gmail.com</a>
                </div>  
            </div>
        </div>
    </div>
</div>
<div class="my-3">
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
        </li>
    </ul>
</nav>
</div>
</section>

<style>
    .emp-info{
        border-left: 2px solid #66a5ad;
        padding: 0 15px;
    }
    .img-emp{
        height: 90px;
        width: 90px;
        object-fit: cover;
    }
    .card:hover{
        box-shadow: 0 14px 26px -5px rgba(153, 153, 153, 0.66);
    }
</style> -->