<form autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Location</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                  <div class="card-icon">
                      <i class="material-icons">trending_up</i>
                  </div>
                  <h4 class="card-title">SEO </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Meta Tag</mat-label>
                                <input matInput placeholder="Tag">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Meta Keyword</mat-label>
                                <input matInput placeholder="Keyword">
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>Meta Description</mat-label>
                                <textarea matInput placeholder="Description" rows="6"></textarea>
                              </mat-form-field>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="buttons">
        <button [routerLink]="['/businessdirectory/basicinfo']" mat-button class="btn btn-primarybtn btn-default">Back</button>
        <button (click)="saveLocationInfo(locationForm.value)" [disabled]="!locationForm.valid" mat-button class="btn btn-primary mat-raised-button">Next</button>
    </div> -->
  </form>
  
  <!-- <mat-card>
    <pre>{{locationForm.value | json}}</pre>
  </mat-card> -->
  