.sm-i{
font-size: 14px;
}
.title{
	background: #66a5ad !important; 
	padding: 6px 10px; 
	color: #fff; 
	margin-bottom: 0;
	font-size: 14px;
}
.pax-head{
	background: #eee; 
	padding: 10px; 
	margin: 0;
}
.edit-icons i{
	visibility: hidden;
}
table tr:hover .edit-icons i{
	visibility: visible;
}
table{
	font-size: 12px;
}