
<div class="menu-height"></div>
<div class="inner-wrap">
  <div class="container white-block mx-auto">                          
    <!-- <button class="btn btn-primary">Print</button> -->
    <!-- <div id="printSection"></div> -->

    <button class="btn mb-1" (click)="print()"><i class="fa fa-print" style="font-size:25px;"></i></button>
    <hr>
    <div id="printSection">
    <table style="width: 100%;" id="ticket">
      <tr style="width: 100%;">
        <td style="width:20%; float: left;" class="ticket-logo-placeholder">
          <img src="https://qa-com-goglides-media.s3.us-west-2.amazonaws.com/business/logo/201807112111191919.png" width="auto">
        </td>
        <td style="width: 80%; float: left;" class="ticket-heading">
          <table style="width: 100%">
            <tr>
              <td>
                <h3>{{booking?.clientName}}</h3>
                <p> 
                  <span class="pr-3"><i class="fa fa-envelope-open"></i> <strong class="d-none">Email :</strong>  {{booking?.clientEmail}}</span>  
                  <span class="pr-3"><i class="fa fa-phone" style="font-size: 17px;"></i> <strong class="d-none ml-5">Tel :</strong> {{booking?.clientContact}}</span>
                </p>
              </td>
            </tr>
          </table>
          <hr class="m-0">
          <table class="table">
            <tr>
              <td style="padding-left: 0;"><strong> Booking Reference : </strong>{{booking?.code}}</td>
              <td><strong>Booking Date : </strong> {{booking?.createdAt|date:'mediumDate'}}</td>
              <td><strong>Invoice No. : </strong> {{booking?.invoiceNo}}</td>
            </tr>
          </table>
        </td>
      </tr>
  
      <tr>
        <td colspan="2">
          <h5 class="title"><i class="fa fa-list pr-2"></i> <strong> Package Detail</strong></h5>
          <table class="table">
            <tr>
              <th>Package Name</th>
              <th>Package Code</th>
              <th>Package Operator</th>
            </tr>
            <tr>
              <td>{{package?.listing[0]?.title}}</td>	
              <td>{{package?.listing[0]?.code}}</td>
              <td><img [src]="package?.business[0]?.logoUrl" width="25px;" class="logo-bus"> {{package?.business[0]?.businessName}}</td>
            </tr>
          </table>
        </td>
      </tr>
  
      <tr>
        <td colspan="2">
          <h5 class="title"><i class="fa fa-list pr-2"></i> <strong> Other Detail</strong></h5>
          <table class="table">
            <tr>
              <th> Date</th>
              <th> Time</th>
              <th> Type</th>
              <th> Duration</th>
              <th>Pickup/Dropoff</th>
            </tr>
            <tr>
              <td>{{booking?.bookingDate|date:'mediumDate'}}</td>	
              <td>{{homeService.formatSchedule(booking?.schedule)}}</td>
              <td>{{booking?.type}}</td>
              <td>{{homeService.formatDuration(booking?.duration)}}</td>	
              <td>
                <label for="">Pickup : </label>
                <span class="mr-3" *ngIf="!booking?.pickup">N/A</span>
                <span class="mr-3">{{booking?.pickup}}</span>
                <label for="">Dropoff : </label>
                <span class="pr-1" *ngIf="!booking?.dropOff">N/A</span>
                <span class="pr-1">{{booking?.dropOff}}</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
  
      <tr>
        <td colspan="2">
          <h5 class="title mb-3"><i class="fa fa-user pr-2"></i> <strong> Pax Detail</strong></h5>
          
          <div class="border mb-3" *ngFor="let item of paxList">
          <h6 class="pax-head">{{item?.fullName}} ( Ticket No: {{item?.ticketNo}} )</h6>
          <table class="table mb-0">
            <tr>
              <td><strong>Age Group</strong> : {{item?.ageGroup}}</td>
              <td><strong>Nationality</strong> : {{item?.nationality}}</td>
              <!-- <td><strong>Fare</strong> : {{ item?.retailRate}}</td> -->
              <td><strong>Fare</strong> : {{ forexService.calculateRate(item?.retailRate) |  currency:forexService.currencyCode }}</td>
            </tr>
            <tr>
                <td><strong>Addons</strong></td>                                              
                <td colspan="2" style="padding: 0;" *ngIf="item?.addOn">
                  <table>
                    <tr>
                      <td *ngFor="let add of item?.addOn"><i class="fa fa-tick"></i>  {{add?.title}} : {{ forexService.calculateRate(add?.retailRate) |  currency:forexService.currencyCode }} </td>
                     
                    </tr>
                  </table>
                </td>
              </tr>
  
          </table>
          </div>
          <!-- <div class="text-right" style="border-top:2px solid #ddd; border-bottom:2px solid #ddd;">
            <h3 class="my-1">{{ item?.total  }}</h3>
          </div> -->
          <div  class="text-right">
            <h5  class="my-1"><strong >Total : {{ forexService.calculateRate(booking?.grandTotal) |  currency:forexService.currencyCode }} </strong></h5>
            <!-- <p ><strong >In Word :</strong> {{ commonService.nuberToWord(item?.total) }}.</p> -->
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table class="table mb-0">
            <tr>
              <td><strong>Payment Mode</strong> : {{booking?.paymentMode}}</td>
              <td><strong>Payment Status</strong> : {{booking?.paymentStatus}}</td>
              <td><strong>Booking Status</strong> : {{booking?.bookingStatus}}</td>
            </tr>
          </table>
        </td>   
        </tr> 
      <tr>
        <td colspan="2">
          <h5 class="title"> <i class="fa fa-info-circle pr-2"></i> <strong> Special Request</strong></h5>
          <table class="table">
            <tr>
              <td *ngIf="booking?.comment">
                  {{booking?.comment}}
              </td>
              <td *ngIf="!booking?.comment">
                N/A
              </td>
            </tr>
          </table>
        </td>
      </tr>
  
      <tr>
          <td colspan="2">
            <h5 class="title"><i class="fa fa-ban pr-2"></i> <strong> Cancellation Policy</strong></h5>
            <table class="table">
              <tr>
                <td>
                  1. Before Departure :
                  <ul>
                    <li>You may cancel with a full refund within 24 hours of booking your ticket. After that time, tickets are fully refundable, less a $15 processing fee, if cancelled at least 2 days before the trip date. Less than 02 day(s) of the schedule departure, there is a 100% cancellation fee.
                        Above 15 days prior to your arrival: 25% of the invoice amount.
                    </li>
                    <li>
                      Between 14 days to 5 days prior to your arrival: 35% of the invoice amount.
                    </li>
                    <li>
                      Between 4 days to 02 days prior to your arrival: 50% of the invoice amount.
                    </li>
                    <li>
                      Less than 02 days prior to your arrival: 100% of the invoice amount.
                    </li>
                    <li>
                      No show: 100% of the invoice amount.
                    </li>
                    <li>
                      If the booked ticket is cancelled due to any of the reasons of the company, such ticket shall be postponed to next flight or shall returned the entire amount to booking agent. Transportation charge may not be refundable in case of service used.
                    </li>
                  </ul>
  
                  2. After Departure :
                  <ul>
                    <li>
                      Ticket is nonrefundable after departure.
                    </li>
                  </ul>
                  
                  <p>CHARGE WAIVED IN CASE OF DEATH OF PASSENGER OR DEATH OF IMMEDIATE FAMILY. CERTIFICATE MUST BE NOTIFIED. GOGLIDES MAY REFUSE REFUND IF APPLICATION IS MADE LATER THAN 15DAYS AFTER EXPIRY OF E-TICKETS.</p>
                  
                  Date Change - Anytime
                  <ul>
                    <li>Above 2 days prior to your arrival: 20$</li>
                    <li>Between 24 hours to 12 hour prior to your arrival: 25$</li>
                    <li>Between 11 hours to 5 hour prior to your arrival: 30$</li>
                    <li>Less than 4 hours prior to your arrival: Date change not permitted ( Please contact Goglides team ).</li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
  
        <tr>
          <td colspan="2">
            <h5 class="title"><i class="fa fa-check-square-o pr-2"></i> <strong> Terms and Conditions</strong></h5>
            <table class="table mb-0">
              <tr>
                <td>
                  <p class="mb-0">Visit our page : <a href="https://www.goglides.com/terms-and-condition"> terms & condition</a></p>
                  <p>Email us on : <a href="info@goglides.com">info@goglides.com</a> </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>
    </div>
                          
                              
  
    </div>
</div>    
  

    <!-- <pre>{{booking|json }}</pre>
    <pre>{{listing|json }}</pre>
    <pre>{{paxList|json }}</pre> -->