
  <footer>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 ft-logo">
            <a routerLink="">
              <img src="assets/images/goglides_logo_white.png" class="img-fluid" width="75%">
            </a>
            <p>
              <strong>Thrill with gliding experience !</strong>
            </p>
          </div>
          <div class="col-sm-3">
            <h6>about</h6>
            <ul class="list-unstyled">
              <li>
                <a routerLink="about-us">About Us</a>
              </li>
              <li>
                <a routerLink="terms-and-condition">Terms & Conditions</a>
              </li>
              <li>
                <a routerLink="privacy-policy">Privacy Policy</a>
              </li>
              <li>
                <a routerLink="contact-us">Contact Us</a>
              </li>
              <!-- <li>
                <a routerLink="careers">Career</a>
              </li> -->
            </ul>
          </div>
          <div class="col-sm-4">
            <h6>our address</h6>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i> Bakhundol 01, Lalitpur, Nepal</p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i> +977-1-5528216, +977-1-5532134</p>
            <p>
              <i class="fa fa-envelope-open" aria-hidden="true"></i> info@goglides.com</p>
          </div>
          <div class="col-sm-2">
            <h6>business hours</h6>
            <p>Mon-Fri 9am-6pm </p>
            <p>Sat Closed </p>
            <p>Sun 9am-11am </p>
          </div>
        </div>
      </div>
    </section>

    <section class="social-block text-center">
      <ul class="list-inline">
        <li>
          <a href="https://www.facebook.com/goglides" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/go_glides" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/+Goglides" target="_blank">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCgl6AILUwi4QQzgeaCnw6qw?guided_help_flow=3" target="_blank">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://goglides.tumblr.com/" target="_blank">
            <i class="fa fa-tumblr" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/goglides/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <p>Copyright © 2018 GoGlides. All rights reserved</p>
    </section>

  </footer>
