
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
<form [formGroup]="mediaForm">
    <div class="row">
        <div class="col-md-12">
            <ngx-image-gallery 
                [images]="images" 
                [conf]="conf"
                (onOpen)="galleryOpened($event)"
                (onClose)="galleryClosed()"
                (onImageClicked)="galleryImageClicked($event)"
                (onImageChange)="galleryImageChanged($event)"
                (onDelete)="deleteImage($event)">
            </ngx-image-gallery>

            <div class="card">
                <!-- <strong class="card-header-primary">Media</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Media</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <mat-tab-group>
                        <mat-tab label="Featured/Banner">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Featured Image</label>
                                        <div>
                                            <input type="file" id="file" class="inputfile" (change)="fileChangeEvent($event, 'feature')" />
                                            <!-- <input type="file" class="inputfile" formControlName="featured"> -->
                                            <label class="mat-raised-button" for="file">Choose a file</label> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <image-cropper
                                            [imageChangedEvent]="featureImageChangedEvent"
                                            [maintainAspectRatio]="true"
                                            [aspectRatio]="3.6 / 2.4"
                                            [resizeToWidth]="360"
                                            format="jpg"
                                            (imageCropped)="imageCropped($event,'feature')"
                                            (imageLoaded)="imageLoaded()"
                                            (loadImageFailed)="loadImageFailed()"
                                        ></image-cropper>   
                                        <!-- <img (click)="openGallery(0)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/e4da3b7fbbce2345d7772b0674a318d5/0fa203d7-1974-414a-87d3-1f81c8181b31.jpg" width="100%"> -->
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Preview</strong>
                                        <div class="my-2"><img class="img-fluid" [src]="featureCropedImage" /></div>
                                        Image-size [ 360*240 ]px
                                        <br>
                                        <button *ngIf="!featureStatus; else feature" mat-button class="btn btn-primary mat-raised-button" (click)="chooseFeatureImage($event)">Save</button>      
                                        <ng-template #feature>
                                            <p><ngb-progressbar type="info" [value]="featureProgressPercentage" [striped]="true">{{ featureProgressPercentage  }} %</ngb-progressbar></p>                                  
                                        </ng-template>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Banner Image</label>
                                        <div>
                                            <input type="file" id="file1" class="inputfile" (change)="fileChangeEvent($event, 'banner')" />
                                            <!-- <input type="file" class="inputfile" formControlName="featured"> -->
                                            <label class="mat-raised-button" for="file1">Choose a file</label> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <image-cropper
                                            [imageChangedEvent]="bannerImageChangedEvent"
                                            [maintainAspectRatio]="true"
                                            [aspectRatio]="15.3 / 3"
                                            [resizeToWidth]="1530"
                                            format="jpg"
                                            (imageCropped)="imageCropped($event,'banner')"
                                            (imageLoaded)="imageLoaded()"
                                            (loadImageFailed)="loadImageFailed()"
                                        ></image-cropper>   
                                        <!-- <img (click)="openGallery(0)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/e4da3b7fbbce2345d7772b0674a318d5/0fa203d7-1974-414a-87d3-1f81c8181b31.jpg" width="100%"> -->
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Preview</strong>
                                        <div class="my-2"><img class="img-fluid" [src]="bannerCropedImage" /></div>
                                        Image-size [ 1530*300 ]px
                                        <br>
                                        <button *ngIf="!bannerStatus; else banner" mat-button class="btn btn-primary mat-raised-button" (click)="chooseBannerImage($event)">Save</button>                                                                    
                                        <ng-template #banner>
                                            <p><ngb-progressbar type="info" [value]="bannerProgressPercentage" [striped]="true">{{ bannerProgressPercentage  }} %</ngb-progressbar></p>                                  
                                        </ng-template>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <label>Banner Image</label>
                                        <div>
                                            <input type="file" class="inputfile" formControlName="banner">
                                            <label class="mat-raised-button" for="file">Choose a file</label> 
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img (click)="openGallery(1)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/242f4d7b-0e51-4a67-8c6a-c91f36ef9443.jpg" width="100%">
                                    </div>
                                    <div class="col-md-3">
                                        Image-size [ 1530*300 ]px
                                    </div>
                                </div> -->
                            </div>
                        </mat-tab>

                        <mat-tab label="Gallery">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div *ngIf="!galleryStatus; else upload">
                                            <input type="file" class="inputfile" id="gallery" multiple (change)="choosedPhoto($event)">
                                            <label class="mat-raised-button" for="gallery">Choose a file</label> 
                                        </div>                                    
                                    </div>
                                </div>
                               <ng-template #upload>
                                   <div class="row">
                                        <div class="col-sm-3 mt-3">
                                                <label >{{ fileName }}</label>
                                           </div>
                                           <div class="col-sm-7 mt-4">
                                                <p><ngb-progressbar type="info" [value]="galleryProgressPercentage" [striped]="true">{{ galleryProgressPercentage  }} %</ngb-progressbar></p>                                  
                                           </div>
                                           <div class="col-sm-2">
                                                <button *ngIf="progressBar===0" class="btn btn-primary" type="button" (click)="uploadGalleryPhotos()">Upload</button>
                                                <button *ngIf="progressBar===1" class="btn btn-primary" type="button">Uploading...</button>
                                                <button *ngIf="progressBar===2" class="btn btn-success" type="button">Uploaded</button>
                                           </div>
                                   </div>
                                <hr><br>
                               </ng-template>
                                <div class="row gallery-img">
                                    <!-- <div class="col-md-2 form-group" *ngFor="let file in files">
                                         <img (click)="openGallery(0)" src="{{  }}" width="100%">
                                    </div> -->
                                    <!-- <div class="col-md-2 form-group">
                                        <img (click)="openGallery(1)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/242f4d7b-0e51-4a67-8c6a-c91f36ef9443.jpg" width="100%">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <img (click)="openGallery(2)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/e4da3b7fbbce2345d7772b0674a318d5/bfb8d02a-fc79-4272-a97c-bf6d19654287.jpg" width="100%">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <img (click)="openGallery(3)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/e4da3b7fbbce2345d7772b0674a318d5/8ed48f2d-4382-4d4a-9637-29151e14df7b.JPG" width="100%">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <img (click)="openGallery(4)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/e4da3b7fbbce2345d7772b0674a318d5/3f48808f-0099-468a-9dc8-2e18661b7be1.jpg" width="100%">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <img (click)="openGallery(5)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/e4da3b7fbbce2345d7772b0674a318d5/50b4d333-1403-499b-bebd-e695643e1c01.jpg" width="100%">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <img (click)="openGallery(6)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/e4da3b7fbbce2345d7772b0674a318d5/f8b36685-c6b2-4ed0-8635-bc5fc10c4c6b.jpg" width="100%">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <img (click)="openGallery(7)" src="https://cdn-s.goglides.com/listing/feature/70726f64756374696f6e/e4da3b7fbbce2345d7772b0674a318d5/4c3d26fa-5957-4dcf-977d-37c7ffd202ce.jpg" width="100%">
                                    </div> -->

                                </div> 
                            </div>
                        </mat-tab>

                        <mat-tab label="Video">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Video Url" type="text" value="" formControlName="video"  #video>
                                        </mat-form-field>
                                    </div>
                                    <button class="btn btn-round btn-success btn-just-icon"><i class="material-icons" (click)="saveVideo(video)">done</i></button>
                                </div> 
                                <br>
                                <!-- <div class="row">
                                    <div class="col-md-2">
                                        <iframe width="100%" height="100" src="https://www.youtube.com/embed/L84C8jrD5dk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                                        <a href="https://www.youtube.com/embed/L84C8jrD5dk" target="_blank"></a> 
                                        </iframe>
                                    </div>
                                    <div class="col-md-2">
                                        <iframe width="100%" height="100" src="https://www.youtube.com/embed/qGhekFbbfa0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                    <div class="col-md-2">
                                        <iframe width="100%" height="100" src="https://www.youtube.com/embed/mQwKh1NhKZc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                </div>  -->
                            </div>
                        </mat-tab>

                        <mat-tab label="Map">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <input *ngIf="!mapImageStatus" type="file" (change)="chooseMap($event)">
                                            <button *ngIf="mapImageStatus" type="button" class="btn btn-default" (click)="mapUpload()">Upload</button>
                                            <!-- <label class="mat-raised-button" for="file1">Choose a file</label>  -->
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="mapImage">
                                        <img (click)="openGallery()" [src]="mapImage" width="100%">
                                        <div class="mt-2">
                                            <p *ngIf="mapImageStatus"><ngb-progressbar type="info" [value]="mapProgressPercentage" [striped]="true">{{ mapProgressPercentage  }} %</ngb-progressbar></p>                                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                            
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button [routerLink]="['/packages/addons']" mat-button class="btn btn-primarybtn btn-default">Back</button>
        <button mat-button class="btn btn-primary mat-raised-button" (click)="redirectTo()">Next</button>
    </div>  

</form>

<!-- <mat-card>
    <pre>{{mediaForm.value | json}}</pre>
</mat-card> -->
