<div class="error-page">

  <div class="center-content text-center"> 

    <a routerLink="/">
    <img src="assets/images/goglides_logo_white.png" class="logo">
    </a>    
    
    <div class="error-text">404</div>

    <h1><i class="fa fa-frown-o" aria-hidden="true"></i> Sorry! Page Not Found.</h1>
    <p><a routerLink="/" class="btn-lg btn-large btn">< Back</a></p>

  </div>

</div>
