<div class="menu-height"></div>
<div class="inner-wrap">
  <div class="container">
    <section>
      <div class="row">
        <div *ngIf="myWishLists?.length === 0" class="col-sm-12 col-lg-9 inner-content">
          <section>
            <div class="white-block text-center">
              <h2>your wishlist is currently empty.</h2>
              <p>You haven't added any item to your wishlist.
              <br>
              <p>
                <a routerLink="" class="btn-lg btn">Return To Home </a>
              </p>
            </div>
          </section>
        </div>

        <div *ngIf="myWishLists?.length !== 0" class="col-sm-12 col-lg-9 inner-content">
          <h2>Your Wishlist</h2> 
          <section>
            <div class="white-block wishlist-block" *ngFor="let myWishList of myWishLists">
              <div class="row">
              <div class="col-sm-12 edit-ico">
                <a>
                <i class="fa fa-eye" aria-hidden="true" (click)="listingPage(myWishList?.slug)"></i> <span>View</span>
                </a>
                <a (click)="wishListRemove(myWishList?.referenceId)">
                <i class="fa fa-ban" aria-hidden="true"></i> <span class="red-bg">Remove</span>
                </a>
              </div>

              <div class="col-sm-5">
                <h6 class="cursor" (click)="listingPage(myWishList?.slug)">{{ myWishList?.title }}</h6>
                <p class="badge badge-pill badge-secondary">Code : {{ myWishList?.code }}</p>
              </div>

              <div class="col-sm-4">
                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ myWishList?.address }}, {{ myWishList?.city }}
                <!-- <div class="row package-info">
                  <div class="col-sm-12">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ myWishList?.address }}, {{ myWishList?.city }}
                  </div> -->
                  <!-- <div class="col-sm-6">
                  <i class="fa fa-calendar" aria-hidden="true"></i> {{ myWishList?.address }}
                </div> -->
                <!-- </div> -->
              </div>

              <div class="col-sm-3">
                <h3 class="amount">
                  <small>total</small>
                <br> {{ forexService.calculateRate(myWishList?.price) |  currency:forexService.currencyCode }}
                </h3>

              </div>

            </div>
          </div>
          <nav aria-label="Page navigation text-center" class="pagelisting" *ngIf="dataLength > 5">
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="dataLength" [maxSize]="5" [(page)]="page" aria-label="Default pagination"
              (pageChange)="onPageChange(page)" [pageSize]="5">
            </ngb-pagination>          
          </nav>
        </section>
      </div>
      <!-- <div class="col-sm-3 sidebar">
        <aside>
      
        <div class="form-group"><img src="assets/images/img1.jpg" width="100%"></div>

        <div class="videoframe">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/jIJhnLHc_H4" frameborder="0" allowfullscreen=""></iframe>
        </div>
          
        </aside>
      </div> -->

    </div>
  </section>
</div>
</div>
