<div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Bookings</h3> -->
  <strong class="mr-2">Bookings</strong>
  <div class="breadcrumb-block">
      <ol class="breadcrumb">
      <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
      <!-- <li><a [routerLink]="['/packages/list']">Packages </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li> -->
      <li class="active"> Bookings</li>
      </ol>
  </div> 
</div>
<br/>
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <!-- <strong class="card-header-primary">Basic-Info</strong> -->
          <div class="card-header card-header-icon card-header-primary">
              <div class="card-icon">
                  <i class="material-icons">search</i>
              </div>
              <h4 class="card-title">Create Booking </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                  <mat-form-field>
                      <!-- (change)="selectBusiness($event)" -->
                    <mat-select placeholder="Choose Your Business"   (change)="selectBusiness($event)">
                      <mat-option *ngFor="let business of business" [value]="business.id">
                        {{business.businessName}}
                      </mat-option>
                     
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  <mat-form-field>
                      <!-- (change)="selectBusiness($event)" -->
                    <mat-select placeholder="Choose Your Packages" (change)="selectPackage($event)" >
                      <mat-option *ngFor="let package of packages" [value]="package.id">
                        {{package.title}}
                      </mat-option>
                     
                    </mat-select>
                  </mat-form-field>
              </div>
            
            <div class="col-md-2">
                <mat-form-field >
                  <input matInput placeholder="Trip code" #code>
                </mat-form-field>
            </div>
            <div class="col-md-2">
              <!-- <mat-button class="btn btn-primary" (click)="getByCode(code.value)">search</mat-button> -->
              <button class="btn btn-round btn-white btn-just-icon" (click)="getByCode(code.value)">
                <i class="material-icons">search</i>

              </button>

              <!-- <mat-button class="btn btn-primary" [routerLink]="['bookingdetail']">search</mat-button> -->
            </div>
        
          </div>
      </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary btn-lg" [routerLink]="['/bookings/bookingFilter']">
      Find Bookings
    </button>
  </div>
</div>

</div>
<!-- <app-booking-filter></app-booking-filter> -->
