<div class="container">
    <div class="block-heading">
      <span class="cursor" (click)="loadMore(listings?.category[0]['slug'])">{{listings?.category[0]['title']}}</span>
    </div>
    <div class="row">

      <div class="col-sm-3 mb-3" *ngFor="let item of listings?.list">
        <app-listing-card [list]=item></app-listing-card>
      </div>
      <!-- <div class="">
         <div class="text-center">
              <button class="btn btn-lg border-0" (click)="loadMore(listings?.category[0]['slug'])">Viwew All</button>
            </div> 
      </div> -->
      

    </div>
     <div *ngIf="listings?.category[0]['count']>4">
              <strong class="all-listing-link cursor" (click)="loadMore(listings?.category[0]['slug'])"><a>View All <i aria-hidden="true" class="fa fa-arrow-circle-o-right pl-1 text-primary"></i></a></strong>
    </div>
  </div> 