<form [formGroup]="faqForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Tour-FAQ's </strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Tour FAQ's</h4></div>
                    </div>
                </div>
                <div class="card-body">

                        <div class="row">
                            <div class="col-md-11">
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Question" type="text" formControlName="question">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Answer" rows="5" formControlName="answer"></textarea>
                                </mat-form-field>
                            </div>  
                            <button matTooltip="Click save button to add new faq." matTooltipPosition="left" 
                            class="btn btn-success btn-round btn-just-icon" (click)="addFaq()">
                            <i class="material-icons">done</i></button>
                        </div>
                    
                </div>
            </div>
        </div>

        <div class="col-md-12" *ngFor="let data of faqArray; let i = index">
            <mat-accordion>
                <mat-expansion-panel>
                    <!-- <div class="expansion-icons">
                        <i class="material-icons text-success">create</i>
                        <i class="material-icons text-danger" (click)="deleteFaq(i)">clear</i>
                    </div> -->
                    <mat-expansion-panel-header  class="form-group">
                    <mat-panel-title>
                        <input type="text" value='{{ data.question }}' class="form-control">
                    </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div>
                       <p>
                        {{ data?.answer }}
                       </p> 
                    </div>
    
                </mat-expansion-panel>

               
                
            </mat-accordion>
        </div>           
    
    </div>   
    
    <div class="buttons">
        <button [routerLink]="['/packages/location']" mat-button class="btn btn-primarybtn btn-default">Back</button>
        <button mat-button class="btn btn-primary mat-raised-button" (click)="saveFaqs()">Next</button>
    </div>  

</form>

<!-- <mat-card>
    <pre>{{ faqForm.value | json }}</pre>
</mat-card> -->
