<div>
<!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Catalog</h3> -->
<strong class="mr-2">Catalog</strong>
<div class="breadcrumb-block">
    <ol class="breadcrumb">
    <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
    <!-- <li><a [routerLink]="['/businessdirectory/list']">Business Directory </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li> -->
    <li class="active"> Catalog </li>
    </ol>
</div> 
</div>
<br/>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" [routerLink]="['/category']">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">category</i>
                </div>
                <p class="card-category">Category</p>
                <h3 class="card-title"><small>Total :</small> {{categoryTotalCount}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <span class="badge stats-padding-right badge-success">Publish <span class="badge badge-light ml-1">{{categoryTotalPublish}}</span></span>

                    <span class="badge stats-padding-right badge-primary">Pending <span class="badge badge-light ml-1">{{categoryTotalPending}}</span></span>
    
                    <span class="badge stats-padding-right badge-danger">Trash <span class="badge badge-light ml-1">{{categoryTotalTrash}}</span></span>
                </div>
                <!-- <span class="pull-right">0</span>   -->
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" [routerLink]="['/include']">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">check_box</i>
                </div>
                <p class="card-category">Inclusion/Exclusion</p>
                <h3 class="card-title"><small>Total :</small> {{incExcTotalCount}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats ">
                   <span class="badge stats-padding-right badge-success">Publish <span class="badge badge-light ml-1">{{incExcTotalPublish}}</span></span>

                   <span class="badge stats-padding-right badge-primary">Pending <span class="badge badge-light ml-1">{{incExcTotalPending}}</span></span>

                   <span class="badge stats-padding-right badge-danger">Decline <span class="badge badge-light ml-1">{{incExcTotalTrash}}</span></span>

                </div>
                <!-- <span class="pull-right">6</span> -->
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" [routerLink]="['/checklists']">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">list</i>
                </div>
                <p class="card-category">Checklist</p>
                <h3 class="card-title"><small>Total :</small> {{checkListTotalCount}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                        <span class="badge stats-padding-right badge-success">Publish <span class="badge badge-light ml-1">{{checkListTotalPublish}}</span></span>

                        <span class="badge stats-padding-right badge-primary">Pending <span class="badge badge-light ml-1">{{checkListTotalPending}}</span></span>
     
                        <span class="badge stats-padding-right badge-danger">Decline <span class="badge badge-light ml-1">{{checkListTotalTrash}}</span></span>
                </div>
                <!-- <span class="pull-right">10</span> -->
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats" [routerLink]="['/forex']">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">attach_money</i>
                </div>
                <p class="card-category">forex</p>
                <h3 class="card-title"><small>Total :</small> {{forexTotalCount}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                        <span class="badge stats-padding-right badge-success">Publish <span class="badge badge-light ml-1">{{forexTotalPublish}}</span></span>

                        <span class="badge stats-padding-right badge-primary">Pending <span class="badge badge-light ml-1">{{forexTotalPending}}</span></span>
     
                        <span class="badge stats-padding-right badge-danger">Decline <span class="badge badge-light ml-1">{{forexTotalTrash}}</span></span>
                </div>
                <!-- <span class="pull-right">10</span> -->
            </div>
        </div>
    </div>
 </div>