<h3 class="mat-dialog-title mb-4">Update Banner Image </h3>
<div class="row">
    <div class="col-md-3">
        <label>Banner Image</label>
        <div>
            <input type="file" id="file1" class="inputfile" (change)="fileChangeEvent($event)" />
            <!-- <input type="file" class="inputfile" formControlName="featured"> -->
            <label class="mat-raised-button" for="file1">Choose a file</label> 
        </div>
    </div>
    <div class="col-md-5">
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="15.3 / 3"
            [resizeToWidth]="1530"
            format="jpg"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>   
    </div>
    <div class="col-md-4">
        <strong>Preview</strong>
        <div class="my-2"><img class="img-fluid" [src]="bannerCroppedImage" /></div>
        Image-size [ 1530*300 ]px
        <br>
        <button *ngIf="!bannerStatus" mat-button class="btn btn-primary mat-raised-button" (click)="chooseBannerImage()">Save</button>
        <p *ngIf="bannerStatus"><ngb-progressbar type="info" [value]="bannerProgressPercentage" [striped]="true">{{ bannerProgressPercentage  }} %</ngb-progressbar></p>                                                                                                                                                                          
    </div>
</div>