<form [formGroup]="inclusionForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Includes</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Includes</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input 
                                    type="text" 
                                    placeholder="Pick one" 
                                    aria-label="Assignee" 
                                    matInput 
                                    formControlName="title" 
                                    [(ngModel)]="includeFilterOption"
                                    (click)="initialize()"
                                    (keyup)="includeFilterAutoComplete()" 
                                    [matAutocomplete]="auto" 
                                    #includeAutoComplete>
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of includeCheckListArray" [value]="option" #include (click)="pushInIncExcArray('include',include)">
                                        {{ option.title }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <button class="btn btn-round btn-primary btn-just-icon" matTooltip="Click to add new include list" matTooltipPosition="right">
                            <i class="material-icons" name="addProvide" (click)="addInIncludeExclude('include',includeAutoComplete)">add</i>
                        </button>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12" *ngFor="let value of includeArray; let i = index">
                            <a class="material-icons text-danger align-middle" #popInclude (click)="popFromListArray(i, 'include', popInclude)">cancel</a>
                            <label class="pl-3">{{ value.title }}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<form [formGroup]="exclusionForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Excludes</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Excludes</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input 
                                    type="text" 
                                    placeholder="Pick one" 
                                    aria-label="Assignee" 
                                    matInput 
                                    formControlName="title" 
                                    [(ngModel)]="excludeFilterOption"
                                    (click)="initialize()"
                                    (keyup)="excludeFilterAutoComplete()" 
                                    [matAutocomplete]="autotest" 
                                    #excludeAutoComplete>
                                <mat-autocomplete #autotest="matAutocomplete">
                                    <mat-option *ngFor="let option of excludeCheckListArray" [value]="option" #exclude (click)="pushInIncExcArray('exclude',exclude)">
                                        {{ option.title }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <button class="btn btn-round btn-primary btn-just-icon" matTooltip="Click to add new exclude list" matTooltipPosition="right">
                            <i class="material-icons" name="addProvide" (click)="addInIncludeExclude('exclude',excludeAutoComplete)">add</i>
                        </button>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12" *ngFor="let value of excludeArray; let i = index">
                            <a class="material-icons text-danger align-middle" #popExclude (click)="popFromListArray(i, 'exclude', popExclude)">cancel</a>
                            <label class="pl-3">{{ value.title }}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button [routerLink]="['/packages/facts']" mat-button class="btn btn-primarybtn btn-default">Back</button>
        <button (click)="saveIncludeAndExclude()" mat-button class="btn btn-primary mat-raised-button">Next</button>
    </div>

</form>

<!-- <mat-card>
    <pre>{{ inclusionForm.value | json}}</pre>
</mat-card>
<br>
<mat-card>
    <pre>{{ exclusionForm.value | json}}</pre>
</mat-card> -->