<h3 class="mat-dialog-title mb-4">Update Pax Info</h3>
<form autocomplete="off">
    <div class="table-responsive">
        <table class="table" style="font-size: 13px;">
            <tr>

                <th>A.G</th>
                <th style="width: 60px;">Title</th>
                <th>Full Name</th>
                <th style="width: 60px;">Nationality</th>
                <th>Contact No.</th>
                <th>Email</th>
                <th style="width: 60px;">Weight</th>
                <th>Liscense/Passport</th>
                <th style="width: 80px;">Type</th>
                <th>Add-Ons</th>
            </tr>
            <tr>
          
                    <td>SNR</td>
                    <td>

                        <mat-select>
                            <!-- <mat-option *ngFor="let option of value" [value]="option.value">
                                {{option.viewValue}}
                            </mat-option> -->
                            <mat-option value="1">Mr</mat-option>
                        </mat-select>

                    </td>
                    <td>

                        <input matInput name="" class="border-bottom form-control">

                    </td>
                    <td>

                        <input matInput class="border-bottom form-control">


                    </td>
                    <td>

                        <input matInput class="border-bottom form-control">

                    </td>
                    <td>
                        <input matInput class="border-bottom form-control">

                    </td>
                    <td>

                        <input matInput class="border-bottom form-control">

                    </td>
                    <td>

                        <input matInput class="border-bottom form-control">

                    </td>
                    <td>

                        <mat-select>
                            <!-- <mat-option *ngFor="let option of type" [value]="option.value">
                                {{option.viewValue}}
                            </mat-option> -->
                            <mat-option value="1">passport</mat-option>
                        </mat-select>

                    </td>
                    <td>
                        <mat-slide-toggle></mat-slide-toggle>
                    </td>
          

            </tr>

        </table>
    </div>
    <div mat-dialog-actions>
        <button mat-button class="btn btn-success">yes, update</button>
        <button mat-button class="btn btn-danger">no, keep it</button>
    </div>
</form>