<form [formGroup]="updateBusinessContactPeronForm" class="form-group" autocomplete="off">
    <div class="row">
    <div class="col-md-12">
        <h3 class="mat-dialog-title mb-4">Update Contact Person Info </h3>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="" type="text" formControlName="contactPersonFirstName" (input)="setFormInvalid()">
                </mat-form-field>                        
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="" type="text" formControlName="contactPersonLastName" (input)="setFormInvalid()">
                </mat-form-field>     
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="info@tripconcern.com" type="email" formControlName="contactPersonEmail" (input)="setFormInvalid()">
                </mat-form-field> 
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Designation</mat-label>
                    <input matInput placeholder="Manager" type="text" formControlName="contactPersonJobTitle" >
                </mat-form-field>     
            </div>
            <!-- <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Phone Number (Primary)</mat-label>
                    <input matInput placeholder="0155856548" type="number" formControlName="contactPersonPrimaryPhone" >
                </mat-form-field>     
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Phone Number (Secondary)</mat-label>
                    <input matInput placeholder="015562365" type="number" formControlName="contactPersonSecondaryPhone" >
                </mat-form-field>     
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="98185458658" type="number" formControlName="contactPersonMobile">
                </mat-form-field>     
            </div> -->
            <div class="col-md-6">
                <label>Primary Number</label>
                  <int-phone-prefix formControlName="contactPersonPrimaryPhone" class="form-control" style="height: 55px;" (input)="getPhoneValidationError(primaryPhone)" #primaryPhone></int-phone-prefix>
                  <mat-error class="my-1" *ngIf="!phoneValidation">{{ message }}</mat-error>
            </div>
            <div class="col-md-6">
                  <label>Secondary Number</label>
                  <int-phone-prefix formControlName="contactPersonSecondaryPhone" class="form-control" style="height: 55px;"></int-phone-prefix>
            </div>
            <div class="col-md-6 my-3">
                  <label>Mobile Number</label>
                  <int-phone-prefix formControlName="contactPersonMobile" class="form-control" style="height: 55px;"></int-phone-prefix>
            </div>
        </div>
    </div>
    </div> 

    <mat-dialog-actions>
        <button mat-button class="btn btn-success" [mat-dialog-close]="1" (click)="confirmUpdateContactPerson(updateBusinessContactPeronForm.value)">yes, Update</button>
        <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">no, keep it</button>
    </mat-dialog-actions>
      
</form>
<!-- <pre>{{updateBusinessContactPeronForm.value | json}}</pre> -->