<!-- <div class="row">
  <div class="col-md-12">
    <form [formGroup]="updateIncludeExcludeForm">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-primary">
                      <div class="card-icon">
                        <i class="material-icons">check_box</i>
                      </div>
                      <div class="row">
                        <div class="col-md-8"><h4 class="card-title"> <small> Update Checklist Info</small></h4></div>
                      </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Checklist Title" formControlName="title" [(ngModel)]="data.title">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                <mat-select placeholder="Include Exclude Type Type" formControlName="type" [(ngModel)]= "data.type" >
                                    <mat-option *ngFor="let includeExcludeType of type" [value]="includeExcludeType.value">
                                    {{ includeExcludeType?.viewValue }}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                <mat-select placeholder="Status" formControlName="status" [(ngModel)]="data.status">
                                   <mat-option *ngFor="let s of statusList" [value]="s.value" >
                                    {{s?.viewValue}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                            <button mat-button class="btn btn-success" [mat-dialog-close]="1" (click)="confirmUPdate(updateIncludeExcludeForm.value)">yes, Update</button>
                            <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">no, keep it</button>
                            </div>
                        </div> 
                            <pre>{{updateIncludeExcludeForm.value |json }}</pre>
                    </div>
                </div>
            </div>
        </div>    
    </form>
  </div> 
</div> -->

<div class="row">
    <div class="col-md-12">
        <form [formGroup]="updateIncludeExcludeForm">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mat-dialog-title">Update Inclusion/Exclusion Info</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Title" formControlName="title" [(ngModel)]="data.title">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-select placeholder="Category" formControlName="category" [(ngModel)]= "data.category" >
                                <mat-option *ngFor="let cat of categories" [value]="cat.id">
                                {{ cat?.title }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-select placeholder="Status" formControlName="status" [(ngModel)]="data.status">
                                <mat-option *ngFor="let s of statusList" [value]="s.value" >
                                {{s?.viewValue}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                        <button mat-button class="btn btn-success" [mat-dialog-close]="1" (click)="confirmUPdate(updateIncludeExcludeForm.value)">yes, Update</button>
                        <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">no, keep it</button>
                        </div>
                    </div> 
                        <!-- <pre>{{updateIncludeExcludeForm.value |json }}</pre> -->
                </div>
            </div>    
        </form>
    </div> 
</div>