<h3 mat-dialog-title>Are you sure to delete this pricing?</h3>
<div mat-dialog-content>
</div>

<div mat-dialog-actions>
  <button mat-button class="btn btn-success" [mat-dialog-close]="data?.id">yes, Delete it!</button> 
  <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">NO, keep it</button>
</div>
