<form [formGroup]="addonsForm" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mat-dialog-title mb-4">Add Add-Ons Info </h3>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Add-Ons</mat-label>
                        <input matInput placeholder="Photo, Video, Transportation" formControlName="title">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Wholesale Rate</mat-label>
                        <input matInput placeholder="2000" formControlName="wholesaleRate">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Retail Rate</mat-label>
                        <input matInput placeholder="2500" formControlName="retailRate">
                    </mat-form-field>
                </div>
                <div class="col-md-12 my-3">
                    <mat-label>Included in Base Price</mat-label>
                    <mat-slide-toggle formControlName="type"></mat-slide-toggle>
                </div>
              
            </div>
        </div>
    </div>     
    <div mat-dialog-actions>
        <button mat-button class="btn btn-success" [disabled]="!addonsForm.valid" [mat-dialog-close]="addonsForm.value">add</button>
        <button mat-button class="btn btn-danger" (click)="onClick()">cancel</button>
    </div>
</form>

<!-- <mat-card>
    <pre>{{ addonsForm.value | json}}</pre>
</mat-card> -->
