<div class="row">
    <!-- <div class="card">
        <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
            <i class="material-icons">list</i>
        </div>
        <div class="row">
            <div class="col-md-8"><h4 class="card-title">Checklist <small>- add new checklist</small></h4></div>
        </div>
        </div>
    </div> -->
  <div class="col-md-12">
    <form [formGroup]="categoryUpdateForm">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mat-dialog-title mb-4"><!--<i class="material-icons align-top">create</i>--> Update Checklist Info</h3>
                
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Category Title" formControlName="title">
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-12">
                        <mat-form-field>
                        <mat-select placeholder="Status" formControlName="status">
                            <mat-option *ngFor="let s of statusList"  [value]="s.value" >
                            {{s.viewValue}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                            <mat-slide-toggle *ngIf="data?.isVisible === 1" [checked]="true" formControlName="isVisible">Visibility</mat-slide-toggle>
                            <mat-slide-toggle *ngIf="data?.isVisible === 0" [checked]="false" formControlName="isVisible">Visibility</mat-slide-toggle>
                        <!-- <mat-form-field>
                        
                        </mat-form-field> -->
                    </div>

                    <div class="col-md-12">
                    <button mat-button class="btn btn-success" [mat-dialog-close]="1" (click)="confirmUpdate(categoryUpdateForm.value)">Yes, Update</button>
                    <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">No, keep it</button>
                    </div>
                </div> 
                    <pre>{{categoryUpdateForm.value |json }}</pre>
            </div>
        </div>    
    </form>
  </div> 
</div>