<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Settings</h3> -->
    <strong class="mr-2">Settings</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
        <li><a [routerLink]="['/settings/list']">Settings </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
        <li class="active"> SEO Settings </li>
        </ol>
    </div> 
</div>
<br/>
  
<form [formGroup]="seoSettingForm" autocomplete="off">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                  <i class="material-icons">trending_up</i>
                </div>
                <div class="row">
                  <div class="col-md-8"><h4 class="card-title">SEO Setting</h4></div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Meta Title</mat-label>
                        <input matInput placeholder="title" formControlName="title">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Meta Keywords</mat-label>
                          <input matInput placeholder="Keywords" formControlName="keyword">
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field>
                          <mat-label>Meta Description</mat-label>
                          <textarea matInput placeholder="Description" rows="5" formControlName="description"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>    
  <button mat-button class="btn btn-primary">Save</button>     
</form>

<mat-card>
  <pre>
    {{seoSettingForm.value | json}}
  </pre>
</mat-card>