<div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Bookings</h3> -->
  <strong class="mr-2">Bookings</strong>
  <div class="breadcrumb-block">
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/dashboard']">
          <i class="material-icons">home</i>
        </a>
        <span class="fa fa-angle-right" aria-hidden="true"></span>
      </li>
      <!-- <li><a [routerLink]="['/packages/list']">Packages </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li> -->
      <li class="active"> View Bookings</li>
    </ol>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- <strong class="card-header-primary">Basic-Info</strong> -->
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">search</i>
        </div>
        <h4 class="card-title">Find Bookings </h4>
      </div>
      <div class="card-body">
        <form [formGroup]="bookingFilterForm">
          <div class="row" *ngIf="!show">
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Search Content" formControlName="searchField">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-label>Content Type</mat-label>
                <mat-select formControlName="searchType">
                  <mat-option value="bookingRef">Booking Reference</mat-option>
                  <mat-option value="packageCode">Package Code</mat-option>
                  <mat-option value="businessDir">Package Operator</mat-option>
                  <mat-option value="packageName">Package Name</mat-option>
                  <mat-option value="clientName">Client Name</mat-option>
                  <mat-option value="clientPhone">Client Phone</mat-option>
                  <mat-option value="clientEmail">Client Email</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <!-- <mat-button class="btn btn-primary" (click)="getByCode(code.value)">search</mat-button> -->
              <button class="btn btn-round btn-white btn-just-icon" (click)="searchBooking(bookingFilterForm.value )">
                <i class="material-icons">search</i>
              </button>
              <button class="btn btn-round btn-red btn-just-icon" (click)="resetForm()" matTooltip="Reset" matTooltipPosition="above">
                <i class="material-icons">cached</i>
              </button>
              <button (click)="toggle()" matTooltip="More Filter" matTooltipPosition="above" class="btn btn-round btn-primary btn-just-icon">
                <i class="material-icons">filter_list</i>
              </button>

              <!-- <mat-button class="btn btn-primary" [routerLink]="['bookingdetail']">search</mat-button> -->
            </div>
          </div>
        </form>
        <form [formGroup]="bookingAdvanceFilterForm">


          <div class="row mt-3" *ngIf="show">
            <!-- <div class="col-md-2">
                  <mat-form-field >
                    <input matInput placeholder="Reference No.">
                  </mat-form-field>
              </div> -->
            <div class="col-md-2">

              <my-date-picker name="startDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" placeholder="From"
                required></my-date-picker>

              <!-- <mat-form-field>
                  <input matInput [matDatepicker]="pickerfrom" placeholder="From">
                  <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
                  <mat-datepicker #pickerfrom></mat-datepicker>
                </mat-form-field>-->
            </div>
            <div class="col-md-2">

              <my-date-picker name="finishDate" [options]="myDatePickerOptions" (dateChanged)="onDateChangedFinished($event)" placeholder="To"
                required></my-date-picker>

              <!-- <mat-form-field>
                  <input matInput [matDatepicker]="pickerto" placeholder="To">
                  <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
                  <mat-datepicker #pickerto></mat-datepicker>
                </mat-form-field> -->
            </div>
            <!-- <div class="col-md-2">
              <mat-form-field>
                <mat-label>Payment Status</mat-label>
                <mat-select formControlName="payementStatus">
                  <mat-option value="PENDING">Pending</mat-option>
                  <mat-option value="PAID">Paid</mat-option>
                  <mat-option value="FAILED">Failed</mat-option>
                  <mat-option value="REFUNDED">Refunded</mat-option>
                  <mat-option value="REVERSED">Reversed</mat-option>
                  <mat-option value="CANCELLED">Cancelled</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

              <!-- <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Booking Status</mat-label>
                  <mat-select formControlName="bookingStatus">
                    <mat-option value="PENDING">Pending</mat-option>
                    <mat-option value="CONFIRMED">Confirmed</mat-option>
                    <mat-option value="COMPLETED">Completed</mat-option>
                    <mat-option value="REFUNDED">Refunded</mat-option>
                    <mat-option value="CLOSED">Closed</mat-option>
                    <mat-option value="CANCELLED">Cancelled</mat-option>
                    <mat-option value="AWAITING_APPROVAL">Awaiting_approval</mat-option>
                    <mat-option value="CANCELLATION_REQUEST">Cancellation_request</mat-option>
                    <mat-option value="DECLINED">Declined</mat-option>
                    <mat-option value="TRASH">Trash</mat-option>
                    <mat-option value="RESERVED">Reserved</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->

            <div class="col-md-2">
              <!-- <mat-button class="btn btn-primary" (click)="getByCode(code.value)">search</mat-button> -->
              <button class="btn btn-round btn-white btn-just-icon" (click)="advanceFilter(bookingAdvanceFilterForm.value )">
                <i class="material-icons">search</i>
              </button>
              <button (click)="toggle()" matTooltip="Less Filter" matTooltipPosition="above" class="btn btn-round btn-primary btn-just-icon">
                <i class="material-icons">filter_list</i>
              </button>

              <!-- <mat-button class="btn btn-primary" [routerLink]="['bookingdetail']">search</mat-button> -->
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- <pre>{{bookingFilterForm.value |json}}</pre>
<pre>{{bookingAdvanceFilterForm.value |json}}</pre>  -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">list</i>
        </div>
        <div class="row">
          <div class="col-md-8 pl-0">
            <h4 class="card-title">Booking List </h4>
          </div>
          <div class="col-md-4 text-gray my-2">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div>
          <mat-table #table [dataSource]="dataSource" matSort>

            <!-- ref Column -->
            <ng-container matColumnDef="ref">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Reference </mat-header-cell>
              <mat-cell *matCellDef="let element" class="cursor" (click)="goToTicket(element.bookingId)"> {{element.bookingRefCode}} </mat-cell>
            </ng-container>

            <!-- inv Column -->
            <ng-container matColumnDef="inv">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice </mat-header-cell>
              <mat-cell *matCellDef="let element" class="cursor"  [routerLink]="['/bookings/bookingView', element.bookingId]"> {{element.invoice}} </mat-cell>
            </ng-container>

            <!-- operator Column -->
            <ng-container matColumnDef="operator">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 2;"> Operator </mat-header-cell>
              <mat-cell *matCellDef="let element" class="cursor"  style="flex: 2;" [routerLink]="['/businessdirectory', element.packageOperatorId]"> {{element.packageOperator}} </mat-cell>
            </ng-container>

            <!-- user Column -->
            <ng-container matColumnDef="user">
              <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.clientName}} </mat-cell>
            </ng-container>

            <!-- package Column -->
            <ng-container matColumnDef="package">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 2;"> Package </mat-header-cell>
              <mat-cell *matCellDef="let element" class="cursor"  style="flex: 2;" [routerLink]="['/packages/detailview', element.packageId]"> {{element.packageName}} </mat-cell>
            </ng-container>

            <!-- tour date Column -->
            <ng-container matColumnDef="tourDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tour Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.tourDate | date:'mediumDate'}} </mat-cell>
            </ng-container>

            <!-- pax Column -->
            <ng-container matColumnDef="paxNo">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: .5;"> Pax No </mat-header-cell>
              <mat-cell *matCellDef="let element" style="flex: .5;"> {{element.totalPaxNo}} </mat-cell>
            </ng-container>

            <!-- price Column -->
            <!-- <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
              <mat-cell *matCellDef="let element"> ${{element.grandTotal}} </mat-cell>
            </ng-container> -->

            <!-- booked date Column -->
            <ng-container matColumnDef="bookedDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Booked Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.bookedDate | date:'mediumDate'}} </mat-cell>
            </ng-container>

            <!-- booking status Column -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: .6; text-align: center;"> Booking Status </mat-header-cell>

              <mat-cell *matCellDef="let element" [ngSwitch]="element.bookingStatus" style="flex: .6; text-align: center;">
                  <span *ngSwitchCase="'PENDING'" class="badge badge-info"> PENDING
                    </span>
                    <span *ngSwitchCase="'DECLINED'" class="badge badge-warning"> DECLINED
                    </span>
                    <span *ngSwitchCase="'COMPLETED'" class="badge badge-dark"> COMPLETED
                    </span>
                    <span *ngSwitchCase="'CONFIRMED'" class="badge badge-success"> CONFIRMED
                    </span>
                    <span *ngSwitchCase="'TRASH'" class="badge badge-danger"> TRASH
                    </span>
                    <span *ngSwitchCase="'AWAITING_APPROVAL'" class="badge badge-secondary"> AWAITING_APPROVAL
                    </span>
                    <span *ngSwitchCase="'CLOSED'" class="badge badge-secondary"> CLOSED
                    </span>
                    <span *ngSwitchCase="'CANCELLED'" class="badge badge-danger"> CANCELLED
                    </span>
                    <span *ngSwitchCase="'CANCELLATION_REQUEST'" class="badge badge-warning"> CANCELLATION_REQUEST
                    </span>
                    <span *ngSwitchCase="'RESERVED'" class="badge badge-primary"> RESERVED
                    </span>
                </mat-cell>
            </ng-container>




            <!-- payment status Column -->
            <ng-container matColumnDef="paymentStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: .6; text-align: center"> Payment Status </mat-header-cell>
              <mat-cell *matCellDef="let element" [ngSwitch]="element.payementStatus" style="flex: .6; text-align: center;">
                  <span *ngSwitchCase="'PENDING'" class="badge badge-info"> PENDING
                    </span>
                    <span *ngSwitchCase="'PAID'" class="badge badge-success"> PAID
                    </span>
                    <span *ngSwitchCase="'FAILED'" class="badge badge-danger"> FAILED
                    </span>
                    <span *ngSwitchCase="'REVERSED'" class="badge badge-primary"> REVERSED
                    </span>
                    <span *ngSwitchCase="'REFUNDED'" class="badge badge-dark"> REFUNDED
                    </span>
                    <span *ngSwitchCase="'CANCELLED'" class="badge badge-warning"> CANCELLED
                    </span>
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

          </mat-table>

          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

        </div>
      </div>
    </div>
  </div>
</div>