<form [formGroup]="provideCheckListForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">What We Provide</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">What We Provide</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input 
                                    type="text" 
                                    placeholder="Pick one" 
                                    aria-label="Assignee" 
                                    matInput formControlName="title" 
                                    [(ngModel)]="provideFilterOption"
                                    (keyup)="provideFilterAutoComplete()" 
                                    [matAutocomplete]="auto"
                                    #provideCheckList
                                    >
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of provideCheckListArray" [value]="option" #pushProvide (click)="pushInListArray('provide',pushProvide)">
                                        {{ option.title }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <button class="btn btn-round btn-primary btn-just-icon"  matTooltip="Click to add new provide list" matTooltipPosition="right">
                            <i class="material-icons" name="addProvide" (click)="addInCheckList('provide',provideCheckList)">add</i>
                        </button>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12" *ngFor="let value of provideList; let i = index">
                            <a class="material-icons text-danger align-middle" #popProvide (click)="popFromListArray(i, 'provide', popProvide)">cancel</a>
                            <label class="pl-3">{{ value.title }}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<form [formGroup]="bringCheckListForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">What to Bring</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">What to Bring</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input 
                                    type="text" 
                                    placeholder="Pick one" 
                                    aria-label="Assignee" 
                                    matInput formControlName="title" 
                                    [matAutocomplete]="autotest"
                                    [(ngModel)]="bringFilterOption"
                                    (keyup)="bringFilterAutoComplete()"
                                    #bringCheckList>
                                <mat-autocomplete #autotest="matAutocomplete">
                                    <mat-option *ngFor="let option of bringCheckListArray" [value]="option" #pushBring (click)="pushInListArray('bring',pushBring)">
                                        {{ option.title }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <button class="btn btn-round btn-primary btn-just-icon" matTooltip="Click to add new bring list" matTooltipPosition="right">
                            <i class="material-icons" name="addBring" (click)="addInCheckList('bring',bringCheckList)">add</i>
                        </button>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12" *ngFor="let value of bringList; let i = index">
                            <a class="material-icons text-danger align-middle" #popBring (click)="popFromListArray(i, 'bring', popBring)">cancel</a>
                            <label class="pl-3">{{ value.title }}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button [routerLink]="['/packages/inclusion']" mat-button class="btn btn-primarybtn btn-default">Back</button>
        <button (click)="saveData()" mat-button class="btn btn-primary mat-raised-button">Next</button>
    </div>

</form>

<!-- <mat-card>
    <pre>{{ provideCheckListForm.value | json}}</pre>
</mat-card>
<br>
<mat-card>
    <pre>{{ bringCheckListForm.value | json}}</pre>
</mat-card> -->