<form [formGroup]="generalForm" (ngSubmit)="saveListingGeneral(generalForm.value)">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Tour-Info</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Tour Info</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input  matInput placeholder="Trip Title" type="text" formControlName="title">
                            </mat-form-field>                        
                             <mat-error *ngIf="!generalForm.controls.title.valid  && generalForm.controls.title.touched">Title is required.</mat-error>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input  matInput placeholder="Trip Code" type="text" formControlName="tripCode">
                            </mat-form-field>     
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select  placeholder="Trip Category" formControlName="category">
                                    <mat-option  *ngFor="let category of categories" [value]="category.id">
                                        {{ category.title }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error *ngIf="!generalForm.controls.category.valid  && generalForm.controls.category.touched">Category is required.</mat-error> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <p class="text-gray"><strong>Tour-Description</strong></p>
                            <app-ngx-editor [config]="editorConfig" placeholder="Type your tour description here." [spellcheck]="true"  formControlName="description"></app-ngx-editor>
                        </div>   
                    </div>
                    <mat-error *ngIf="!generalForm.controls.description.valid  && generalForm.controls.description.touched">Description is required.</mat-error>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <p class="text-gray"><strong>Tour-Highlights</strong></p>
                            <app-ngx-editor [config]="editorConfig" placeholder="Type your tour highlights here." [spellcheck]="true" formControlName="highlight"></app-ngx-editor>                    
                        </div>                       
                    </div>
                    <mat-error *ngIf="!generalForm.controls.highlight.valid  && generalForm.controls.highlight.touched">Highlight is required.</mat-error>
                </div>
            </div>
        </div>
        
        <!-- <div class="col-md-12">
            <div class="card">
                <strong class="card-header-primary">Tour-Description</strong>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <app-ngx-editor [config]="editorConfig" [spellcheck]="true" [(ngModel)]="listings.description" formControlName="description"></app-ngx-editor>
                        </div>   
                    </div>
                    <mat-error *ngIf="!generalForm.controls.description.valid  && generalForm.controls.description.touched">Description is required.</mat-error>                                            
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <strong class="card-header-primary">Tour-Highlights</strong>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <app-ngx-editor [config]="editorConfig1" [spellcheck]="true" [(ngModel)]="listings.highlight" formControlName="highlight"></app-ngx-editor>                    
                        </div>                       
                    </div>
                    <mat-error *ngIf="!generalForm.controls.highlight.valid  && generalForm.controls.highlight.touched">Highlight is required.</mat-error>   
                </div>
            </div>
        </div> -->

    </div>
    <div class="buttons">
        <button  [disabled]="!generalForm.valid" mat-button class="btn btn-primary">Next</button>
    </div>
</form>

<!-- <mat-card>
    <pre>{{generalForm.value | json}}</pre>
</mat-card> -->
