<form [formGroup]="locationForm">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <!-- <strong class="card-header-primary">Location</strong> -->
              <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">place</i>
                </div>
                <h4 class="card-title">Location </h4>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-6">
                          <mat-form-field>
                              <mat-label>Street</mat-label>
                              <input matInput placeholder="" type="text" formControlName="street">
                          </mat-form-field>                        
                           <!-- <mat-error *ngIf="!locationForm.controls.street.valid  && locationForm.controls.street.touched">Business name is required.</mat-error> -->
                      </div>
                      <div class="col-md-6">
                          <mat-form-field>
                              <mat-label>City</mat-label>
                              <input matInput placeholder="Kathmandu" type="text" formControlName="city">
                          </mat-form-field>     
                      </div>
                      <div class="col-md-6">
                          <mat-form-field>
                              <mat-label>Province/State</mat-label>
                              <input matInput placeholder="" type="text" formControlName="state">
                          </mat-form-field>     
                      </div>
                      <div class="col-md-6">
                          <mat-form-field>
                              <mat-label>Country</mat-label>
                              <input matInput placeholder="Nepal" type="text" formControlName="country">
                          </mat-form-field>     
                      </div>
                      <div class="col-md-12 form-group">
                        <label>Map</label>
                        <iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=bakhundol+(Goglides)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>     
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="buttons">
      <button [routerLink]="['/businessdirectory/basicinfo']" mat-button class="btn btn-primarybtn btn-default">Back</button>
      <button (click)="saveLocationInfo(locationForm.value)" [disabled]="!locationForm.valid" mat-button class="btn btn-primary mat-raised-button">Next</button>
  </div>
</form>

<!-- <mat-card>
  <pre>{{locationForm.value | json}}</pre>
</mat-card> -->
