<div class="menu-height"></div>
<div class="inner-wrap">
  <div class="container">

   <section class="user-block">
    <div class="row">

     <div class="col-md-2 text-center">
        <ul class="nav tab-vertical" role="tablist">
          <li>
          <a href="#u-profile" data-toggle="tab" class="active d-block">
          <i class="fa fa-user" aria-hidden="true"></i> <br> Profile
          </a>
          </li>
          <!-- <li>
          <a href="#u-card" data-toggle="tab" class="d-block">
            <i class="fa fa-credit-card" aria-hidden="true"></i> <br> Credit Card
          </a>
          </li>
          <li>
          <a href="#u-newsletter" data-toggle="tab" class="d-block">
          <i class="fa fa-envelope" aria-hidden="true"></i> <br> Newsletter
          </a>
          </li> -->
          <li>
          <a href="#u-pass" data-toggle="tab" class="d-block">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i> <br> Password
          </a>
          </li>
          <li>
          <!-- <a href="#u-setting" data-toggle="tab" class="d-block">
            <i class="fa fa-cog" aria-hidden="true"></i> <br> Setting
          </a> -->
          </li>
        </ul>
     </div>

     <div class="col-md-10 block">

      <div class="row">

        <div class="col-sm-5 col-md-4 user-profile">
          <div class="block-gray text-center">
            <div class="profile-img">
              <img class="round-img rounded-circle" [src]="imagePath">
              <span class="hvr-icon">
              <a (click)="openModal()" data-target="#01"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a (click)="viewPic()"><i class="fa fa-eye" aria-hidden="true" ></i></a>
              </span> 
            </div>

            <h2>{{agentProfile?.firstName}} {{agentProfile?.lastName}}</h2>
          </div>
        </div>

        <!-- modal edit -->
        <!-- <div class="modal fade" id="01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog text-center" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Profile Picture</h4>
              </div>
              <div class="modal-body">
                <input type="file" name="file" style="margin:  0 auto; border: 1px solid #ddd;padding:  30px;">
              </div>
              
            </div>
          </div>
        </div> -->
        <!-- modal ends -->

         <!-- modal delete -->
        <div class="modal fade" id="02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog text-center" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4>Are you sure to delete this image?</h4>
              </div>
              <div class="modal-body">                 
                <button type="submit" class="btn btn-primary">Yes</button>
                <button type="submit" class="btn btn-danger">No</button>
              </div>
              
            </div>
          </div>
        </div>
        <!-- modal ends -->
        

        <div class="col-sm-7 offset-md-3 col-md-9 blue-block">
          <!-- Tab panes -->
          <div class="tab-content offset-md-4">
            <div role="tabpanel" class="tab-pane active" id="u-profile">

              <h2>Personal Detail</h2>
              <form *ngIf="profileForm" [formGroup]="profileForm" class="form-horizontal">
                <div  class="form-group row">

                  <div class="col-sm-5">
                    <label for="" class="control-label">First Name</label>
                    <!-- {{agentProfile.firstName}} -->
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstname">
                  </div>

                  <div class="col-sm-5">
                    <label for="" class="control-label">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">
                  </div>

                   <div class="col-sm-5">
                    <label for="" class="control-label">Gender</label>
                     <select class="form-control"  formControlName="gender"> 
                       <!-- <select class="form-control" name="gender" formControlName="gender">-->
                     <option>Select</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option>Other</option>
                    </select>
                  </div> 

                   <div class="col-sm-5">
                    <label for="" class="control-label">Phone</label>
                    <input type="text" class="form-control" placeholder="Phone" name="phone" formControlName="phone">
                  </div> 

                  <div class="col-sm-5">
                    <label for="" class="control-label">Country</label>
                    <input type="text" class="form-control"  placeholder="Country" name="country" formControlName="country">
                  </div>

                  <div class="col-sm-5">
                    <label for="" class="control-label">Address</label>
                    <input type="text" class="form-control" placeholder="Address" name="address" formControlName="address">
                  </div> 

                </div>

                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn" (click)="onSave(profileForm?.value)">Save</button>
                  </div>
                </div>

              </form>

            </div>

              <!-- <div role="tabpanel" class="tab-pane" id="u-card">
                
                <h2>Credit Card Detail</h2>
                <form class="form-horizontal">

                  <div class="form-group">

                    <div class="col-sm-5">
                      <label for="" class="control-label">Credit Card Type</label>
                      <select class="form-control">
                        <option>Select</option>
                        <option>Visa</option>
                        <option>Master</option>
                      </select>
                    </div>

                    <div class="col-sm-5">
                      <label for="" class="control-label">Credit Card Number</label>
                      <input type="text" class="form-control" id="#" placeholder="Credit Card Number">
                    </div>

                    <div class="col-sm-5">
                      <label for="" class="control-label">Cardholder's Name</label>
                      <input type="text" class="form-control" id="#" placeholder="Cardholder's Name">
                    </div>

                    <div class="col-sm-5">
                      <label for="" class="control-label">Expiration Date</label>                      
                      <input type="text" class="form-control" name="singledate" value="" placeholder="To">
                    </div>

                  </div>

                  <div class="form-group">
                    <div class="col-sm-10">
                      <button type="submit" class="btn">Save</button>
                    </div>
                  </div>

                </form>

              </div> -->

            <!-- <div role="tabpanel" class="tab-pane" id="u-newsletter">
              
              <h2>Newsletter Preferences</h2>
              <form class="form-horizontal">

                <div class="form-group">

                  <div class="col-sm-10">
                   <p><i class="fa fa-envelope" aria-hidden="true"></i>  bijay.21@gmail.com</p>
                  </div>

                  <div class="col-sm-10">
                    <div class="radio">
                      <label>
                        <input type="radio" name="opt-radio" id="#" value="1">
                        <strong>All</strong>
                        <p>Select this if you’re always looking out for adventure.</p>
                      </label>                     
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" name="opt-radio" id="#" value="2">
                        <strong>Weekly</strong>
                        <p>Select this for occasional.</p>
                      </label>                     
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" name="opt-radio" id="#" value="3">
                        <strong>Unsubscribe</strong>
                        <p>Select this if you’re not interested.</p>
                      </label>                     
                    </div>

                  </div>                

                </div>

                <div class="form-group">
                  <div class="col-sm-10">
                    <button type="submit" class="btn">Save</button>
                  </div>
                </div>

              </form>

            </div> -->

            <div role="tabpanel" class="tab-pane" id="u-pass">
              
              <h2>Password</h2>
              <form class="form-horizontal" *ngIf="resetPassword" [formGroup]="resetPassword">

                <div class="form-group row">

                  <div class="col-sm-10">
                    <h5>Want to change your password? </h5>
                  </div>

                    <div class="col-sm-5">
                      <label for="" class="control-label">New Password</label>
                      <input type="password" class="form-control" placeholder="New Password" name="ps" formControlName="ps">
                    </div>
                  
                  <div class="col-sm-5">
                    <label for="" class="control-label">Re-type Password</label>
                    <input type="password" class="form-control" id="#" placeholder="Re-type Password" (keyup)="confirmPassword($event)">
                  </div>
                  <span *ngIf="!resetPasswordState" class="text-danger">{{ resetMessage }}</span>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn" [disabled]="!resetPasswordState" (click)="resetPasswordFxn(resetPassword?.value)">Save</button>
                  </div>
                </div>

              </form>  

            </div>

            <div role="tabpanel" class="tab-pane" id="u-setting">
              
              <h2>Other Settings</h2>
              <form class="form-horizontal">

                <div class="form-group row">

                  <div class="col-sm-5">
                    <label for="" class="control-label">Currency</label>
                    <select class="form-control">
                      <option *ngFor="let currencyCode of currencyCode">
                        {{ currencyCode?.currencyCode }}
                      </option>
                    </select>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn">Save</button>
                  </div>
                </div>

              </form>

            </div>

          </div>
        </div>
      </div>
     </div>
    </div> 
   </section>
  </div> 
 </div>
<!-- <pre>
{{ profileForm?.value | json }}
</pre>
<pre>
  {{ resetPassword?.value | json }}
  </pre> -->


