.block-heading {
    font-size: 20px;
    color: #565656;
    /* padding-left: 10px; */
    margin-bottom: 20px;
    padding-bottom: 0;
    /* border-left: 2px solid #5b9ba4; */
    line-height: 1;
}
.search-block{
    bottom: 80px;
    z-index: 100;
}
.col4-img{ 
    object-fit: cover;
}
.cat-text{
    font-size: 9px;
    padding: 5px;
}
.text-sm{
    font-size: 11px;
}
.listing-reviews {
    font-size: 11px;
    margin: 10px 0 0;
}
.listing-reviews span {
    font-size: 9px;
}
.listing-reviews .fa{
    font-size: 20px;
}
.agent-review .fa {
    font-size: 16px;
    margin-top: -20px;
    color: #909090;
}
.agent-review{
    margin-top: -30px;
    z-index: 99;
    position: absolute;
    left: 30px;
}
.agent-review img {
    object-fit: contain;
    background: #fff;
    border-radius: 0;
    padding: 1px;
}
.package-title {
    font-size: 14px;
    display: block;
    padding-bottom: 6px;
    line-height: 1.3;
}
.hot-deals h3.amount {
    font-size: 14px;
    position: absolute;
    /* margin-top: -30px; */
    /* right: -5px; */
    color: #fff;
    background: rgba(0,0,0,0.6);
    visibility: hidden;
    padding: 4px 6px;
}
.hot-deals .thumbnail:hover h3.amount{
    visibility: visible;
    right: 25px;
    transition: ease .3s;
    margin-top: -32px;
}
.cat-img {
    height: 160px;
}
.block{
    padding: 40px 15px;
}
.block .thumbnail{
    background: #fff;
}
.star-rating {
    font-size: 30px;
    color: #66a5ad;
}
.total-rating {
    position: absolute;
    top: 2px;
    left: 0 ;
    font-size: 8px;
    color: #fff;
    padding: 0 8px;
}
.container{
    max-width: 90%;
}
.carousel-inner img{
    height: 410px;
    object-fit: cover;
}
.cat-title{
    background: #07575b;
    color: #fff;
    padding: 10px;
}
.cat-group{
    font-size: 13px;
}
.text-primary,a:hover{
    color: #66a5ad !important;
}
.hot-deals .caption{
    min-height: 80px;
}
.listing-reviews{
    letter-spacing: 1px;
}
ul.list-inline li {
    display: inline-block;
}
.block .caption {
    padding: 0 15px 15px;
}
.amount{
    font-size: 14px;
}
.block-gray {
    background-color: #e8e8e83b;
}
.wish-icon{
    font-size: 22px;
    padding-left: 3px;
    margin-top: 3px;
    display: block;
}
.card{ 
    border: 0;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,.15), 0 0 0 1px rgba(0,0,0,.02);
    border-radius: 0;
}
.form-control:focus{
    box-shadow: none;
}
ngb-rating.d-inline-flex span {
    font-size: 16px;
}
:focus {
    outline: 0 !important;
}
.accordion .card{
    cursor: pointer;
    margin-bottom: 20px;
}
.accordion .card-header {
    background-color: rgba(0,0,0,.02);
}
ngb-rating.star-md.d-inline-flex span {
    font-size: 20px;
}
ngb-rating.star-lg.d-inline-flex span {
    font-size: 24px;
}
.banner-img img{
    height: 100vh;
    transition: ease .5s;
}
.banner-img .carousel-indicators,.banner-img .carousel-control-prev,.banner-img .carousel-control-next{
    display: none;
}
.navigation-bar .navbar-nav li .dropdown-menu a{ cursor: pointer; color: #767676;}
.dropdown a{
    cursor: pointer;
}
.dropdown-menu { padding: 10px; line-height: 2;}
.all-listing-link {
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 15px;
    text-align: right;
}
.package-oprator {
    padding: 5px;
    margin-left: 10px;
    visibility: hidden;
    color: #fff;
    position: absolute;
    bottom: 0;
    margin-top: 0;
    font-size: 11px;
    width: auto;
    /* background-image: -webkit-gradient(linear,left bottom, left top,color-stop(0, rgba(0,0,0,.5)),to(rgba(0,0,0,.0001))); */
    background-image: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,.0005) 100%);
}
.position-relative:hover .package-oprator{ 
    visibility: visible;
    margin-left: 60px;
    transition: ease .3s;
}
.position-relative .agent-review{
    left: 15px;
}
.agent-review:hover img {
    transform: scale(1.2);
    transition: ease-in-out .3s;
}
.cursor{ cursor: pointer;}

.info-tab{
    margin-top: 25px;
}
.info-tab li a.active {
    color: #66a5ad;
    border: 2px solid #eee;
    border-bottom: 0;
    padding: 5px 10px 0 !important;
}
.menu-height{
    height: 85px;
}
.blue-block h4{
    font-size: 14px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
}
.banner-img .carousel-item{
    perspective: unset;
    transition: ease .5s;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-round {
    border-radius: 50%;
}

.btn-round .fa{
    color: #fff;
    padding: 6px 2px;
}

.form-control{
    border: 0;
    border-bottom: 1px solid #ced4da;
    padding: 0;
    height: 20px;
    font-size: 12px;
    margin-bottom: 15px;
    opacity: .6;
}

.form-control:focus{
    border-bottom: 1px solid #66a5ad;
    transition: ease-in .3s;
}

textarea.form-control{
height: auto;
}

label{
font-size: 12px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
}

.btn-upload {
border: 2px solid #66a5ad;
color: #767676;
background-color: #fff;
padding: 8px 10px;
border-radius:4px;
font-size: 13px;
}

.upload-btn-wrapper input[type=file] {
font-size: 14px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

.page-item.active .page-link {
    background-color: #66a5ad;
    border-color: #66a5ad;
    color: #fff !important;
}

.pagelisting .page-link,.page-item.disabled .page-link{
   border: 0;
   background: transparent;
   color: #07575b;
}

/* input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
border-bottom: 1px solid rgb(255, 0, 0);
} */

.cur-select .mat-select-value,.cur-select .mat-select-arrow,.cur-select .mat-select-arrow:focus{
    color: #fff !important;
}
.cur-select .mat-form-field-underline{
    display: none;
}
.cur-select .mat-form-field-infix {
    width: 60px;
    padding: 0;
    border: 0;
}
.cur-select .mat-form-field-wrapper{
    padding: 10px;
}
.badge{ letter-spacing: 1px;}

/* material */
.mat-form-field-underline .mat-form-field-ripple{
    height: 1px;
}
.mat-form-field-underline{
    bottom: inherit;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-form-field-ripple{
    background-color: #66a5ad;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #66a5ad;
}
.mat-focused .mat-form-field-label{
    color: #66a5ad;
}
.mat-input-element {
    caret-color: #767676;
}
.search-block .mat-form-field-flex{
    background: #fff;
    height: 45px;
    padding: 3px 15px;
    font-size: 12px;
}
.search-block .mat-form-field-wrapper{
    padding-bottom: 0;
}
.search-block .mat-form-field-underline, .search-block .mat-form-field-underline .mat-form-field-ripple{
    height: 0;
}
.input-first .mat-form-field-flex{
    border-radius: 30px 0 0 30px;
}
/* ends */

@media(min-width:768px){
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* calendar */
.mydp .header,.mydp .headerlabelbtn{background: none !important;}
.mydp .mydpicon,.mydp .header{color:#fff !important;}
.mydp .weekdaytitle{ font-size:13px !important; padding:10px 0 !important;}
.mydp .caltable,.mydp .weekdaytitle,.mydp .highlight{ color:#66a5ad !important;}
.mydp .header{background-color: #9bc4c9 !important;}
.mydp, .mydp .headertodaybtn{ border:0 !important;}
.mydp .selector{width: 278px!important; border:0; box-shadow: 0 0 10px 0 #aaa;}
.mydp .header {
  background-color: #66a5ad!important;
  height: 50px !important;
}
.mydp .headerlabelbtn{ color: #fff; }
.mydp .headerbtn{ background: none; }
.mydp .selector:focus{ border:0; }
.mydp .daycell{ color: #54708b !important; }
.mydp .icon-mydpcalendar{color: #767676 !important; background: #eee;}
.mydp .headertodaybtn{ display: none;}
.mydp .mydpicon,.mydp .headerbtncell,.mydp .weekdaytitle,.mydp .currmonth,.mydp .btnpickerenabled:hover{ background: transparent !important;}
.main-panel .header{ margin-bottom: 0;}
.daycell.selectedday { background: #ddd !important;}
.mydp .selection{ border-bottom: 1.5px solid #949494 !important; border-radius: 0 !important;}
.mydp .selectiongroup,.mydp .selection,.mydp .btnpicker{
    background-color: transparent !important;
}
.mydp .selectiongroup{
    margin-top: 5px;
}
/* ends */

/* edit icons inner page */
.wishlist-block{position: relative;}
.edit-ico {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;   
    width: 28px;
    padding: 0;
    text-align: center;
    z-index: 99;
}
.edit-ico .fa{color: #fff; display: block; cursor: pointer; background: #66a5ad; margin-bottom: 5px; padding: 5px; clear: both;}
.edit-ico .fa-ban,.edit-ico span.red-bg{ background:#f33b3b; }
.edit-ico span{ 
  opacity: 0;
  z-index: -9;
  font-size: 11px; 
  position: absolute;
  transition: all 0.4s ease-out;
  width: 60px;
  top: 0;
  height: 24px;
  padding: 5px;
  left: -10px;
  background: #66a5ad;
  color: #fff;
}
.edit-ico span.red-bg{ top: 30px; }
.edit-ico a:hover span{ opacity: 1; left: 20px;}
a.btn:hover{ color: #eee !important;}

@media( max-width:767px){
 .edit-ico span{ right: -20px; left: inherit; }
 .edit-ico a:hover span{ right: 14px; left: inherit; }
}

/* ends */

a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}