/*Responsive*/
@media( max-width:767px){
	.navbar-fixed-top{ position: relative; }
    .banner-block{ margin-top: 0; }
	.search-block{ padding: 8px; }
	/* .search-block .form-control{ height: 28px; font-size: 10px; width: 100%; padding: 5px 12px; } */
    .search-block .fa { top: 8px; right: 8px;}
    /* .form-control.input-last{ width: 110%; font-size: 9px; margin-left: -9px; } */
    .block,.footer { padding: 20px 0;}
    /* .block-heading{ font-size: 30px; padding-bottom: 20px; } */
    .block .caption{ padding: 0 10px 10px; }
    .view-btn { padding: 6px 10px; letter-spacing: 1px;}
    .block-more{  margin:0 0 5px; }
    h3{ font-size: 15px; }
    h2{ font-size: 16px; }
    h1{ font-size: 17px; }
    .cat-img,.bg-parallax { height: 200px;}
    /* .banner-img{ height: 300px; } */
	.footer h6{ margin-top: 20px; }
    footer{ text-align: center; }
    footer img{ margin: auto; }

    /*search page*/
    .search-header .nav-btn{ position: absolute; right: 0; }
    .search-header .navbar-collapse {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    min-height: 100%;
    padding-top: 0;
    z-index: 99;
    background: #fff;
    }
    .img-icons span {width: 80px; padding: 4px; margin-right: 0; margin-bottom: 3px;}
    .search-content{ padding: 15px; }
    .list-item{ padding-right: 15px; }
    
    .filter-btn { padding: 10px 0 0; margin: 0; cursor: pointer; font-size: 14px;}
    /* .sorting-bar .btn{ width: 100%; padding: 3px; } */
    /* .sorting-bar .form-control{ margin-bottom: 8px; height: 26px;}
    .sorting-bar .col-xs-6:nth-child(2){ padding-left: 0; } */
    /* .sorting-bar .fa { letter-spacing: 10px; font-size: 16px; padding: 7px 0 0;} */

    .item-list-view .caption,.item-list-view .zoom { margin-right: 0; }

    /*detail page*/
    .page-banner{ height: 100px; }
    .nav-listing {font-size: 12px;}
    .nav-listing li{ margin-bottom: 10px; }
    .amount-lg {font-size: 22px; margin-top: 10px;}
    /* .white-block .sorting-bar .fa{ top: -1px; } */
    .package-detail .amount {font-size: 18px;}
    .package-detail .btn-lg { padding: 8px 15px; font-size: 12px;}
    .booking-detail { padding-right: 15px; border-right: 0;}
    .booking-detail .radio-inline { margin-bottom: 5px;}
    .booking-detail .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{ margin-left: 0; }
    .package-detail h3{ margin: 4px 0; }
    .booking-detail .form-control{ font-size: 10px; }
    .package-detail .info-tab{ margin: 10px 0; }
    .package-detail .info-tab .nav-tabs > li{ padding:0 5px 0; margin-bottom: 5px;}
    .package-detail .info-tab .nav-tabs > li > a { padding: 0;}

    .info-tab .nav-tabs > li > a {font-size: 12px; padding: 0 0 0 8px;}
    .payment-block label { padding-right: 10px; margin-bottom: 10px;}
    .paxdetail label{ font-size: 11px; }
    .paxdetail .form-control{ height: 30px; }
    .btn-large { padding: 8px; font-size: 15px; margin: 0;}
    .review-text { padding-top: 5px;}

    .share-icons{ margin-left: 19%; }
    .pagelisting li a { margin: 2px; font-size: 12px; width: 32px;}


    /*booking page*/
    .white-block{ padding: 10px; }
    .paxdetail{ padding: 12px; }
    .package-info{ font-size: 11px; }
    .no-margin-bottom{ margin-bottom: 5px; }
    .payment-block{ line-height: 2; }

    /*event page*/
    .no-padding-right,.no-padding-left,.contact-block{ padding: 15px; }
    .info-text{ padding: 0; }
    #counter{ font-size: 18px; margin: 15px 0; }
    #counter span{ font-size: 12px; padding-right: 6px; }
    .event-info .blue-block, .event-info .contact-block{ height: auto; }

    /*user profile*/
    .tab-vertical li { display: inline-block;  width: auto; margin-bottom: 5px; font-size: 9px; line-height: 1.6;}
    .tab-vertical li a{ padding: 4px 8px; }

    .user-profile { position: relative; left: 0; top: 0;}
    .user-block .block-gray { padding:20px 10px; margin: 10px 40px;}
    .user-profile h2{ margin:10px 0 0; }
    .user-block .blue-block {font-size: 10px;  padding: 70px 40px 20px; margin-top: -50px; min-height: auto;}
    .user-block .blue-block h2{ margin: 0; }
    .user-block .tab-vertical{margin-left: -15px;}
    .tab-vertical{ margin-bottom: 10px; }

      
}


@media( max-width:350px){
    .tab-vertical li a{ padding: 5px; }
}


@media( max-width:420px){
    .search-header .container-fluid{ padding-left: 8px; padding-right: 8px; }
	/* .search-block .form-control{ width: 114%; } */
	/* .form-control.input-last{ width: 100%;} */
	.logo { padding-top: 13px;}
    .cat-img{ height: 150px; }
    .center-content h3 { margin-bottom: 10px;}
    .center-content .btn { padding: 5px 10px; font-size: 10px;}
    
    /*search page*/
    .search-content{ padding: 8px; }
    .item-list-view .cat-info { margin: -4px 0 2px; font-size: 9px;}
    .item-list-view .cat-info .fa{ font-size: 11px; }
    .item-list-view .cat-info .fa-hourglass-half { font-size: 8px;}
    .item-list-view .caption{ padding: 1px 6px; font-size: 9px; }
    .item-list-view .listing-reviews,.item-list-view h6 { font-size: 10px;}
    .item-list-view .zoom{ width: 30%; }
    .item-list-view .caption{ width: 50%; }
    .item-list-view .price-block{ width: 20%; }
    .item-list-view .zoom .image-box{ height: 85px; }
    .cat-info .fa{ padding-right: 0; }
    .item-list-view .cat-info img { width: 13px; margin: -5px 3px 0 0;}
    .item-list-view .listing-reviews span{ font-size: 8px; }
    .item-list-view .price-block .amount{ font-size: 15px; }
    .price-block { padding: 5px 0; line-height: 1.4;}
    .price-block small{ display: block; }
    .price-block .btn{ padding: 4px; font-size: 8px; }
    .item-list-view h6{ margin: 5px 0 2px; }
    .item-list-view .thumbnail{ margin-bottom: 10px; }
    .item-list-view .cat-info span { margin-right: 3px; padding-right: 3px; line-height: 1.5;}

    .sorting-bar { padding: 8px; margin-bottom: 10px;}
    .promo-block{ padding: 8px; }
}

@media( max-width:767px) and ( min-width: 421px){
    .xs-3col { width: 33.33%; float: left;}
    .col3-img { height: 120px;}
    h3{ font-size: 15px; margin: 8px 0 2px; }
    /* .block .caption{ padding: 0 6px 6px; font-size: 11px; } */
    .listing-reviews span,.agent-review { font-size: 9px;}
    .listing-reviews{ font-size: 13px; margin: 12px 0;}
    .agent-review img{ height: 28px; width: 28px; }
    .agent-review .pull-left { margin-right: 5px;}
    .round-img { height: 120px; width: 120px;}

    .list-item { padding-right: 15px; width: 51.2%; float: left;}
    .list-item:nth-child(2n+2) { padding-left: 0; width: 48.6%;}
    
    .item-list-view .cat-info { margin: 0 0 10px;}
    .item-list-view .caption{ padding: 0 10px; }
    .price-block { padding: 12px 0; line-height: 1.8;}
    .item-list-view.list-item:nth-child(2n+2) { padding-left: 15px;}
    .item-list-view .zoom{ width: 26%; }
    .item-list-view .caption{ width: 50%; }
    .item-list-view .price-block{ width: 24%; }
    .item-list-view .zoom .image-box{ height: 120px; }
    .item-list-view .cat-info span { margin-right: 6px; padding-right: 6px;}
    .sorting-bar .form-control{ height: 30px; }
    /* .sorting-bar .btn{ padding: 5px; } */
    .search-content .listing-reviews{ font-size: 14px; }
    .search-content .listing-reviews span{ font-size: 10px; }

    /*user profile*/
    .user-block .block{ padding: 0 18%; }
    .tab-vertical li{ font-size: 11px; }
    .user-block .block-gray{ margin: 10px 30px; }
    .user-block .blue-block{ padding: 70px 30px 20px; }
}

@media( min-width: 421px) and ( max-width:550px){
    .xs-3col:first-child { width: 100%; float: left;}
    .xs-3col { width: 50%; float: left;}
    .col3-img { height: 150px;}

    /*search page*/
    .cat-info{ min-height: 36px; }
    .item-list-view .cat-info { min-height: auto; margin: -2px 0 4px;}
    .item-list-view .caption{ font-size: 10px; }
    .price-block{ line-height: 1.4; }
    .item-list-view .price-block .amount{ font-size: 15px; }
    .price-block small{ display: block; }
    .price-block .btn { font-size: 9px;}
}

@media( max-width:991px) and ( min-width:768px){
    /* .banner-img { height: 400px;} */
    /* .search-block .form-control{ height: 35px; } */
    .search-block{ padding: 10px; }
    .search-block .fa{ top: 11px; right: 11px; }
    /* .block-heading{ font-size: 36px; } */
    /* .form-control.input-last,.listing-reviews span{ font-size: 12px; } */
    .col3-img { height: 160px;}
    .view-btn {padding: 9px 30px; font-size: 15px;}
    h3{ font-size: 18px; margin: 10px 0 0; line-height: 1.4; }
    h1{ font-size: 24px; }
    .block .caption{ padding: 0 10px 10px; }
    .listing-reviews { font-size: 18px; margin: 15px 0;}
    .cat-img { height: 250px;}
    .round-img { height: 140px; width: 140px;}

    /*search page*/
    .search-bar{ float: right; }
    .list-item:nth-child(3n+3) { padding-right: 0;}
    .list-item:nth-child(2n+2) { padding-right: 15px; width: 51.9%;}
    .img-icons span { width: 65px; padding: 0px; margin: 6px 3px; font-size: 9px; }
    .filter-bar{padding: 10px 5px;}
    .sorting-bar .form-control{ width: 130%; }
    .item-list-view .image-box{ height: 115px; }
    .list-item{ width: 48.1%; }
    .list-item p img{float: left; margin: 0 5px 0 0;}
    .search-content .listing-reviews { font-size: 13px; margin: 0;}
    .search-content .listing-reviews span { font-size: 10px; margin-top: 2px;}

    .item-list-view .zoom { width: 30%;}
    .item-list-view .caption{ width: 48%; padding: 0 10px 5px; }
    
    .item-list-view .caption,.item-list-view .zoom { margin-right: 0; }
    .price-block{ padding: 18px 0; line-height: 1.8; }
    .item-list-view .price-block .amount{ font-size: 18px; }
    .price-block .btn{ font-size: 10px; padding: 5px; }
    .list-item p { margin-bottom: 5px; font-size: 11px;}

    .item-list-view .cat-info span { margin-right: 5px; padding-right: 5px;}
    .item-list-view .cat-info{ margin: 0 0 5px; }
    .item-list-view h6{ margin: 5px 0 2px; font-size: 14px;}
    .cat-info{ min-height: 36px; }

    /*detail page*/
    .page-banner{ height: 200px; }
    .package-detail .amount{ font-size: 16px; }
    .block-gray .white-block{ padding: 10px; }
    .amount-lg{ font-size: 22px; }
    .nav-tabs{ font-size: 12px; }
    .package-detail .btn-lg {padding: 10px 10px 6px; font-size: 12px;}
    .booking-detail{ padding-right: 10px; }
    .booking-detail .radio-inline { font-size: 10px;}
    .booking-detail .radio-inline + .radio-inline{ margin-left: 5px; }

    /*booking page*/
    .package-info{ font-size: 12px; }
    .pax-info .white-block{ padding: 5px; }
    .paxdetail{ padding: 8px; }
    aside .blue-block{ padding: 10px; font-size: 14px; }
    aside .dark-blue-block{ font-size: 18px; padding: 10px; }


    /*event page*/
    #counter{ font-size: 24px; }
    #counter span{ font-size: 13px; }
    .info-text{ font-size: 12px; padding: 10px 10px 0 0; }

    /*user profile*/
    .tab-vertical li { display: inline-block; font-size: 12px;}
    .tab-vertical li a{ padding: 6px 16px; }
    .tab-vertical{ margin-bottom: 5px; }

    
}

@media( max-width:1199px) and ( min-width:992px){

    /*search page*/
    .filter-bar{ padding: 10px 5px; }
    .img-icons span { width: 56px; padding: 0; margin: 8px 1px 0;}
    .img-icons img{ height: 30px; }
    .rating-stars ul > li.star > i.fa { font-size: 1.6em; padding-right: 3px;}
    .search-content .amount { margin: 6px 0 0 0; float: none !important;}
    .search-content .listing-reviews { font-size: 14px;}
    .search-content .listing-reviews span { font-size: 10px;}
    #product-view .image-box{ height: 150px; }

    .list-item { width: 32.5%;}
    .list-item:nth-child(3n+3) { width: 35%;}
    .item-list-view .caption { width: 49%;}
    .price-block { padding: 22px 0;}
    .search-content .listing-reviews{ margin: 0; }

    /*event page*/
    #counter{ font-size: 28px; }
    #counter span{ font-size: 13px; }


}

@media( max-width:1360px) and ( min-width:1200px){

    /*search page*/
    .img-icons span { width: 66px;}
    .list-item:nth-child(3n+3){width: 34.6%;}
    .list-item{ width: 32.6%;}
    .search-content .amount{ font-size: 14px; }

}

/**********************/
/* index */
@media ( max-width:1199px) and (min-width: 992px) { 
    .pkg-review{ padding: 0;}
    .package-title{ font-size: 12px;}
    /* .col4-img{ height: 130px;} */
    .listing-reviews .fa {
        font-size: 15px;
        margin: 6px -6px 0 0;
    }
    .pricing-view .btn {
        margin-top: 0;
        font-size: 10px;
    }
    .pricing-view{ font-size: 10px;}
}

@media ( max-width:991px) and (min-width: 768px) { 
    /* .col4-img{ height: 110px;} */
    .star-rating{ font-size: 22px;}
    .total-rating {
        top: 6px;
        font-size: 6px;
        padding: 0 6px;
    }
    .wish-icon{ font-size: 16px;}
    .pkg-review{ padding: 0;}
    .package-title{ font-size: 10px; padding-bottom: 5px;}
    .text-sm,.listing-reviews span{ font-size: 8px;}
    .agent-review{ left: 25px;}
    .cat-text {
        padding: 3px;
        margin: 8px;
    }
    .listing-reviews {
        font-size: 10px;
        margin: 6px 0;
    }
    .amount{ font-size: 11px;}
    .position-relative .agent-review {
        left: 10px;
    }
    .position-relative:hover .package-oprator{ margin-left: 50px;}
    .hot-deals h3.amount{ font-size: 9px;}
    .listing-reviews .fa {
        font-size: 15px;
    }
    .info-tab .nav-tabs > li{ line-height: 2.6;}
    .nav-listing li{ margin-bottom: 10px;}
    .sidebar{
        padding-left: 0;
    }
    .cur-select,.nav a,.dropdown-lg{
        font-size: 11.5px;
    }
    .cur-select .mat-form-field-infix{
        width: 50px;
    }
}

@media ( max-width:767px) and (min-width: 576px) { 
    .total-rating {
        top: 5px;
        left: 6px;
        font-size: 6px;
        padding: 0;
    }
    .star-rating{
        font-size: 22px;
    }
    .wish-icon {
        font-size: 18px;
        padding-left: 5px;
        margin-top: 0;
        display: inline-block;
    }
    /* .col4-img{
        height: 90px;;
    } */
    .package-title{
        font-size: 10px;
        padding-bottom: 3px;
    }
   .hot-deals .text-sm {
        border-bottom: 1px solid #ddd;
        display: block;
        padding: 5px 0;
        margin-bottom: 5px;
    }
    .hot-deals .caption {
        min-height: 105px;
    }
    .text-sm,.listing-reviews{ font-size: 8px;}
    .agent-review {
        margin-top: -20px;
        left: 12px;
    }
    .cat-text {
        font-size: 7px;
        padding: 2px 5px;
        margin: 5px;
    }
    .container {
        max-width: 95%;
    }
    .block-heading{ font-size: 16px; margin-left: -8px;}
    .amount {
        font-size: 12px;
    }
    .cat-group {
        font-size: 11px;
    }
    .cat-title {
        padding: 6px 9px;
        font-size: 13px;
    }
    .carousel-inner img{ height: 360px;}
    .listing-reviews span{ display: block;}
    .listing-reviews .fa{ margin-top: -15px;}
    .listing-reviews{ margin: 6px 0;}
    .hot-deals .thumbnail:hover h3.amount {
        visibility: visible;
        right: 20px;
        transition: ease .3s;
        margin-top: -20px;
        font-size: 7px;
    }
    .block .col-sm-3 {
        padding: 0 6px;
    }
    h1.para-text{ font-size: 36px;}
    .listing-reviews .fa {
        font-size: 16px;
    }
    .position-relative .agent-review {
        left: 7px;
    }
    .position-relative:hover .package-oprator{
        margin-left: 35px;
    }
    .banner-img {
        height: auto;
    }
    .package-oprator{
        font-size: 9px;
    }
    dt{ font-size: 11px;}
    .info-tab .nav-tabs > li {
        margin-right: 0;
        line-height: 2.2;
    }
    .user-block .block {
        padding: 0 5%;
    }
    .search-block .mat-form-field-flex {
        height: 40px;
        padding: 5px 15px;
        font-size: 11px;
    }
    .form-control.input-last {
        height: 40px;
        font-size: 10px;
    }
 }

 @media (max-width: 576px) {
    .total-rating {
        left: 8px;
        padding: 0;
    }
    .cat-group{
        margin-bottom: 15px;
    }
    .carousel-inner img{ 
        height: 230px;
    }
    .banner-img {
        height: auto;
    }
    .search-block {
        bottom: 20px;
    }
    .agent-review{
        left: 25px;
        margin-top: -35px;
    }
    .position-relative .agent-review {
        left: 10px;
    }
    .position-relative:hover .package-oprator{ margin-left: 65px;}
    .agent-review img{
        height: 50px;
        width: 50px;
    }
    h1.para-text{
        font-size: 24px;
    }
    .d-xs-none{
        display: none !important;
    }
    .cat-select .mat-form-field-flex{border-radius: 50px 0 0 50px; padding-left: 20px;}
    .search-block .pr-0{ padding-right: 0 !important;}
    .search-block .mat-form-field-flex { 
        height: 35px;
        padding: 5px 15px;
        font-size: 10px;
    }
    .form-control.input-last {
        height: 35px;
        font-size: 10px;
    }
    .pr-0{ padding-right: 15px !important;}
    /* .search-block .form-control{ width: 110%;} */
    /* .form-control.input-last {
        width: 100%;
        margin-left: 0;
    } */
    .navbar-toggler{ font-size: 16px;}
    .info-tab .nav-tabs > li{
        line-height: 2.5;
    }
    .info-tab {
        margin-top: 0;
    }
    .nav-tabs {
        border-bottom: 1px solid #dee2e6 !important;
        padding-bottom: 5px;
        margin-bottom: 0 !important;
    }
    .ft-logo img{
        width: 40%;
    }
    .menu-height {
        height: 50px;
    }
    .table {
        font-size: 3vmin;
    }
    
 }

 @media (max-width: 420px) {
    .total-rating{ top: 1px;} 
    .pkg-review{
        padding: 0;
    }
    .logo {
        padding: 0;
    }
 }

 @media (min-width: 576px) and (max-width:1199px){
    .sidebar{
        padding-left: 0;
    }
 }

 @media (min-width:1200px){
     .pkg-review{
         padding: 0;
     }
 }

 /* @media (min-width:1600px){
    body, html{font-size: 1.5rem;}
 } */
