@charset "utf-8";
/**********************/
@font-face {
  font-family: 'Poppins-Bold';
  src: url('fonts/Poppins-Bold.eot');
  src: url('fonts/Poppins-Bold.woff2') format('woff2'),
       url('fonts/Poppins-Bold.woff') format('woff'),
       url('fonts/Poppins-Bold.ttf') format('truetype'),
       url('fonts/Poppins-Bold.svg#Poppins') format('svg'),
       url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'Poppins-Light';
  src: url('fonts/Poppins-Light.eot');
  src: url('fonts/Poppins-Light.woff2') format('woff2'),
       url('fonts/Poppins-Light.woff') format('woff'),
       url('fonts/Poppins-Light.ttf') format('truetype'),
       url('fonts/Poppins-Light.svg#Poppins-Light') format('svg'),
       url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('fonts/Poppins-Medium.eot');
  src: url('fonts/Poppins-Medium.woff2') format('woff2'),
       url('fonts/Poppins-Medium.woff') format('woff'),
       url('fonts/Poppins-Medium.ttf') format('truetype'),
       url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg'),
       url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('fonts/Poppins-Regular.eot');
  src: url('fonts/Poppins-Regular.woff2') format('woff2'),
       url('fonts/Poppins-Regular.woff') format('woff'),
       url('fonts/Poppins-Regular.ttf') format('truetype'),
       url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'),
       url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('fonts/Poppins-SemiBold.eot');
  src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
       url('fonts/Poppins-SemiBold.woff') format('woff'),
       url('fonts/Poppins-SemiBold.ttf') format('truetype'),
       url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
       url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
  url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
  url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
  url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
  url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

body,html{ font-family: 'Poppins-Regular', sans-serif; color: #767676; font-size: 14px;}
a,.navigation-bar .navbar-nav li a{ color: #656565; }
a:hover,a:focus{ text-decoration: none; }

h1.para-text{ font-size: 50px; text-transform: capitalize; letter-spacing: 4px; }
h1{ font-size: 24px;}
h2{ font-size: 18px; margin: 0 0 15px; text-transform: capitalize; }
h3{ font-size: 17px; color: #444; text-transform: capitalize;}
h4{ font-size: 16px;}
h5{ font-size: 15px;}
h6{ font-size: 14px; text-transform: capitalize;}

/* h6,h3,.img-icons span{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} */


strong{ font-family: 'Poppins-Medium'; font-weight: normal; }

.no-padding-right{ padding-right: 0; }
.no-padding-left{ padding-left: 0; }
.no-margin-top{ margin-top: 0 !important; }

.wrapper{ overflow: hidden; }
.container{ max-width: 90%;}

body::-webkit-scrollbar { width: 6px;}
 
body::-webkit-scrollbar-track {box-shadow: inset 0 0 3px rgba(0,0,0,0.2);}
 
body::-webkit-scrollbar-thumb { background-color: #07575b; border-radius: 5px; }    


@-moz-document url-prefix('') {

scrollbar {
   -moz-appearance: none !important;
   background: #333 !important;
   width: 5px !important;
}
thumb,scrollbarbutton {
   -moz-appearance: none !important;
   background-color: #767676 !important;
}
 
thumb:hover,scrollbarbutton:hover {
   -moz-appearance: none !important;
   background-color: #ddd !important;
}
 
scrollbarbutton {
   display: none !important;
}
 
scrollbar[orient="vertical"] {
  width: 5px !important;
}
}

scrollbar {
/*  clear useragent default style*/
   -moz-appearance: none !important;
}
/* buttons at two ends */
scrollbarbutton {
   -moz-appearance: none !important;
}
/* the sliding part*/
thumb{
   -moz-appearance: none !important;
}
scrollcorner {
   -moz-appearance: none !important;
   resize:both;
}
/* vertical or horizontal */
scrollbar[orient="vertical"] {
    color:silver;
}

/*::-moz-scrollbar {
    width: 5px;
}
 
::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-moz-scrollbar-thumb{
  background-color: #07575b;
}*/


/* header{ background-color: rgba(255,255,255,1); padding: 8px 0; box-shadow: 0 9px 16px -6px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.01); } */
/* .navigation-bar{ background-color: transparent; text-transform: capitalize;  border:0; margin-bottom: 0; padding-top: 8px;} */
.nav > li > a{ padding: 10px; }
.logo{ padding-top: 6px; z-index: 9;}
.navbar-toggle{ margin-bottom: 0; margin-top: 0; }


.banner-block{ margin-top: 66px; }
.search-block {
    background: rgba(255,255,255,.5);
    padding: 10px;
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 85%;
    border-radius: 50px 50px 50px 50px;
}
.search-block .fa{position: absolute; top: 16px; right: 15px;}
.search-block .form-control{ height: 45px; padding: 0 10px; box-shadow: 0 6px 8px 0 rgba(0,0,0,.06); margin-bottom: 0; opacity: 1; }
.form-control.input-first{ border-radius: 50px 0 0 50px; padding-left: 20px; }
.form-control.input-last{ border-radius: 0 50px 50px 0; border:0; }
.btn:hover{ opacity: .9;}

.block{ padding: 50px 0; background-color: #fff; }
.block-gray{ background-color: #e8e8e8; }
.block .thumbnail{ border: 0; padding: 0; box-shadow: 0 4px 10px -2px rgba(0,0,0,.15), 0 0 0 1px rgba(0,0,0,.02); }
.block .thumbnail:hover{ box-shadow: 0 9px 16px -2px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.02); }
.block-heading{ font-size: 50px; color: #565656; padding-bottom: 40px; }
.block .caption{ color: inherit; padding: 0 20px 15px; }
.block .img-block{ margin-bottom: 30px; }
.view-btn{ padding: 10px 25px; font-size: 15px; text-transform: uppercase; letter-spacing: 1px; background-color: #07575b; }
.view-btn:hover{ opacity: .8; }
.block-more{ margin: 40px 0 15px; }

.image-box {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 170px;
}
.banner-img{ height: 510px; }
.col3-img{ height: 238px; width: 100%; object-fit: cover; display: block; }
.cat-img{ height: 412px; }
.cat-text {
    position: absolute;
    top: 0;
    z-index: 99;
    background: #07575bd6;
    padding: 5px 10px;
    color: #fff;
    margin: 10px;
    font-size: 12px;
}
.round-img{ height: 198px; width: 198px; margin: auto; object-fit: cover; }

.listing-reviews{ font-size: 18px; margin:18px 0 0; }
.listing-reviews span{ font-size: 14px; }

.agent-review{ font-size: 12px; margin-top: 18px; }
.agent-review .pull-left{ margin-right: 10px; }
.agent-review img{ border-radius: 50%; height: 40px; width: 40px; }
.agent-review p{ padding-top: 5px; }
.agent-review .fa{ font-size: 21px; margin-top: -10px; color: #909090; }

.img-block,.banner-block{ position: relative;}
.overlay {   
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.35);
     z-index: 99;
 }
.zoom{ position: relative; overflow: hidden; }
.zoom img,.zoom .image-box { -moz-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s;}
.zoom:hover img,.zoom:hover .image-box { -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2);}

.center-content{margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 99; width: 100%;}
.center-content h3{ margin-bottom: 30px; }
.center-content .btn{ padding: 6px 30px; }

.bg-parallax {
background: url(../images/img8.jpg) no-repeat fixed;
background-position: fixed;
background-position: 50% 50%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 450px;
margin: 0 auto;
width: 100%;
}

.footer{ padding: 40px 0 10px; background: #353535; color: #909090;}
.fa-envelope-open{ font-size: 11px; }
.footer .fa{ padding-right: 6px; color: #fff;}
.footer a{ color: inherit; line-height: 1.8; }
.ft-logo p{ margin-top: 10px; }
.social-block{ padding: 20px 0 10px; font-size: 12px; background: #212020;}
.social-block .fa {
  font-size: 12px;
  height: 28px;
  width: 28px;
  padding: 6px 0;
  border: 1.5px solid #ddd;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
}


/******search page******/

.search-wrap{ position:relative; background-color: #e7eae4; font-size: 13px;} 
.search-wrap .navbar-collapse{ padding: 0; }
.search-bar{ background: #f5f5f5; border-radius: 50px; margin-top: 7px; }
.search-bar .form-control,.search-bar .btn{background: transparent; border: 0; box-shadow: none; color: inherit;}
.search-bar .btn{ border-left: 1px  solid #eaeaea; }
.search-bar .btn:hover { color: #aaa;}

.search-content{ padding: 15px 0; font-size: 11.5px; }
.search-content .caption{ padding: 5px 10px 10px;}
.search-content h6{ margin-bottom: 5px; }
.search-content .amount{ font-size: 18px; display: block;}
.search-content small {font-size: 68%; color: #777;}
.search-content .thumbnail{ margin-bottom: 15px; }

.search-content .listing-reviews { font-size: 16px; margin: 0 0 2px;}
.search-content .listing-reviews span{ font-size: 11px;}
.search-filter .well{ padding: 15px 0 0; border:0; box-shadow: none; background-color: #e7eae4;}
.title-bordered { font-family: 'Poppins-SemiBold';}
.slider-block .rating-widget{ margin: 15px 0; border-bottom: 1px solid #ddd;}
.slider-block input[type="checkbox"]{ margin-top: 1px; }

.cat-info{ font-size: 10px; margin: 10px 0; }
.cat-info img{ width: 15px; margin: -5px 5px 0 0; }
.cat-info span{ border-right: 1px dotted #ddd; margin-right: 5px; padding-right: 5px; line-height: 1.8; }
.cat-info span:last-child{ border-right: 0; }
.cat-info .fa{ padding-right: 3px; font-size: 13px; }
.cat-info .fa-hourglass-half{ font-size: 10px; }

.list-item {padding-right: 0;}
.list-item:nth-child(3n+3) { padding-right: 15px;}

.theme-blue .back-bar {height: 5px; background-color: #ddd;}
.theme-blue .back-bar .pointer { width: 16px; height: 16px;}
.filter-bar { background: #fff; padding: 10px;}
.img-icons{ border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px; }
.img-icons span{     
  width: 80px;
  display: inline-block;
  background: #fff;
  padding: 5px;
  text-align: center;
  margin: 8px 5px 0 0;
  font-size: 10px;
  cursor: pointer;
}
.img-icons img{ height: 35px; }
.price-range { margin: 20px 0;}
.range-block{ background: #fff; text-align: center; padding: 8px 5px; margin: 10px 0 15px; border-bottom: 1px solid #ddd;}
.slider-container{ margin: 0 auto; width: 100% !important; }
.check{ opacity:0.9; filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2)); color: #66a5ad; }
.filter-bar li{ border-bottom: 0; }
.slider-block{ font-size: 12px; }
.search-filter .btn { margin-top: 10px; width: 100%;}

/*ui slider*/
.ui-slider-horizontal { height: 5px; background: #ddd; border-radius: 2px;}
.ui-slider { position: relative; text-align: left;}
.ui-slider-horizontal .ui-slider-range {top: -1px; height: 100%;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; height: 5px; background: #66a5ad;}
.ui-slider .ui-slider-handle { 
    border-radius: 50%; 
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid #AAA !important;
    background-color: #e7e7e7;  
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider-horizontal .ui-slider-handle { top: -.5em; margin-left: -.6em;}
.ui-slider a:focus { outline:none;}
#slider-range { width: 100%; margin: 0 auto;}
.sliders_step1{margin: -8px 0 19px;}

/*list view*/
.price-block { padding: 36px 0;line-height: 2; border-left: 2px solid #eee; display: none;}
.price-block small { font-size: 58%;}
.sorting-bar { background: #d2d3d4; padding: 10px; margin-bottom: 15px;}
/* .sorting-bar .fa{ color: #aaa; font-size: 16px; padding: 8px 0; } */
.item-list-view { width: 100% !important; padding-right: 15px !important;}
.item-list-view .thumbnail{ width: 100%; float: left; margin-bottom: 10px;}
.item-list-view .zoom{ width: 25%; float: left; margin-right: 10px;}
.item-list-view .caption{ width: 50%; float: left; margin-right: 10px; }
.item-list-view .caption .amount{ display: none; }
.item-list-view .price-block{ width: 22%; float: left; display: block; margin: 10px 0; }
.item-list-view .price-block .amount{ font-size: 22px; }
.item-list-view .cat-info{ margin: 18px 0; font-size: 12px;}
.item-list-view .cat-info span { margin-right: 10px; padding-right: 10px;}

.promo-block{ padding-top: 15px; margin-bottom: 15px;}
.promo-block  form{ background: #fff; margin-top: 10px; padding: 12px; clear: both;}
.promo-block .form-control{    border: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    font-size: 12px;
  }

/******detail page******/

.page-banner{ width: 100%; height: 300px; object-fit: cover; }
.inner-wrap{ background-color: #e8e8e8; padding: 20px 0; min-height: 70vh;}
.white-block{ background-color: #fff; margin: 0 0 15px; padding: 20px; }
.amount-lg{ font-size: 26px; margin-top: 22px; }

.nav-listing ul{ margin-bottom: 0; font-family: 'Poppins-Medium'; }
.nav-listing li,.info-tab .nav-tabs > li{ padding-right: 10px; display: inline-block; margin-right: 5px;}
.nav-listing li{ border-right: 1px solid #ddd;}
.nav-listing li:last-child,.info-tab .nav-tabs > li:last-child{ border-right: 0; }

.white-block .sorting-bar{ background: #e8e8e8b5; }
/* .white-block .sorting-bar .btn{ width: 100%; } */
/* .white-block .sorting-bar .fa{     position: absolute; top: 2px; right: 20px; color: #66a5ad; font-size: 15px; } */
.inner-content .block-gray{ padding: 10px; margin-bottom: 15px; }
.block-gray .white-block{ margin-bottom: 5px; }
.block-gray .white-block:last-child{ margin-bottom: 0; }
.package-detail h3{ margin: 6px 0 12px; }
.package-detail .amount{ font-size: 18px; }
.booking-detail{ font-size: 12px; padding-right: 50px; border-right: 2px solid #ddd; }
.booking-detail label{ font-weight: normal; }
.booking-detail .radio-inline { margin-bottom: 25px; }
.booking-detail .form-control{ background-color: #aaaaaa0b; color: inherit; box-shadow: none;}
.package-detail .btn-lg{ margin-top: 20px; }
.info-tab .nav-tabs > li > a{ padding: 0 0 0 12px; }
.info-tab .nav-tabs > li:first-child a{ padding-left:0; }
.info-tab .nav-tabs > li > a:hover { background-color: transparent; }
.info-tab .tab-content > .tab-pane{ padding: 15px 0; font-size: 13px; line-height: 2;}
.info-tab .tab-content > .tab-pane p{ line-height: 1.5; }
.info-tab .tab-content > .tab-pane i{ padding-right: 3px; }
.info-tab th{ font-weight: normal;}
.review-total{ margin: 0; }
.progress { height: 6px; background-color: #e8e8e8; box-shadow: none; margin-top: 6px;}

.reviews{ margin-top: 30px; }
.reviews img{ height: 80px; width: 80px; object-fit: cover; margin-right: 12px; }

.pagelisting { text-align: center; margin: 20px 0 0;}
/* .pagelisting li a{ border-radius:50%; margin:5px; color: #07575b; width: 34px;} */
.pagelisting li:first-child a,.pagelisting li:last-child a{ border:0;}
.pagelisting li:first-child a,.pagelisting li:last-child a,.pagelisting li:last-child a:hover,.pagelisting li:first-child a:hover{ background-color:transparent;}

.btn-add {
    display: block;
    border: 1px solid #c7c7c7;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    color: #565656;
    background-color: #fff;
    margin: 15px 0;
}
.share-icons{ margin-top: 10px; margin-left: 26%; }
.share-icons i{background: #66a5ad; color: #fff; padding: 5px 7px; font-size: 18px;}
.nav-tabs.share-icons li {
    border-right: none;
    padding-right: 0;
}
.nav-tabs.share-icons li a{ padding: 0 0 0 2px; }

.review-text{ padding: 0; font-size: 13px; }
.review-text i{ font-size: 14px; }
.rating-total{ font-size: 40px; }

input[type="radio"], input[type="checkbox"]{ margin: 1px 0 0; }
.block-transparent{ background-color: transparent; }

.review-img img{ height: 40px; width: 50px; margin: 0 0 5px; }

/****booking page****/

.package-info{ line-height: 2.2; }
.pax-info h3 {
    background: #07575b;
    color: #fff;
    padding: 10px;
    margin: 0;
}
.paxdetail, .paxdetail .form-control,.more-detail{ font-size: 12px; }
label{ font-weight: normal; }
.payment-block{  margin-bottom: 25px; padding: 6px 0; }

.btn-large{ margin: 20px 0; }
.blue-block{ margin-bottom: 0; line-height: 1.8;}
.dark-blue-block{ background-color: #07575b; font-size: 18px; padding: 8px 3px;}
.more-detail{ margin: 8px 0; }
.no-margin-bottom{ margin-bottom: 0; }

/******************wishlist page*************************/

.wishlist-block{ font-size: 12px; }
.wishlist-block h3{ margin: 0 0 5px; }

/***************event page******************/

.no-padding-right{ padding-right: 0; }
.no-padding-left{ padding-left: 0; }
.event-info .blue-block,.event-info .contact-block{ height: 300px; }
.event-info .blue-block i{ font-size: 24px; padding-right: 5px; }
.info-text{ padding: 25px 40px 0 0; }
.info-text h1{ margin-bottom: 10px; }
.title{ font-size: 35px; }

#counter { font-size: 36px; margin: 50px 0 0;}
#counter span{ font-size: 16px; padding-right: 15px; }

.pricing-block{background-color: #ebebeb;}
.pricing-block .blue-block{    
    height: 130px;
    width: 130px;
    margin: 20px auto;
    padding: 36px 0;
    border-radius: 50%;
    font-size: 40px;
  }
.title-bg{ 
  text-align:  center;
  background: #07575b;
  color: #fff;
  padding: 20px;
  margin: 0;
  font-family: 'Poppins-Medium';
}  
.title-arrow{
  color: #07575b;
  position:  absolute;
  text-align:  center;
  width: 95%;
  font-size: 60px;
  padding:  0;
  margin: 0;
  line-height: 13px;
}
.ad-block{ margin-bottom: 60px; }
.event-counter{ padding: 20px 0; margin-top: 30px; }
.event-counter #counter{ margin-top: 20px; }
.event-counter #counter span{ font-size: 18px; padding-right: 40px; }

.contact-block{ border:1px solid #ebebeb; padding: 50px 0; margin-bottom: 15px; }

/*more less*/
.read-more-state { display: none;}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before { content: '+ More';}
.read-more-state:checked ~ .read-more-trigger:before { content: '- Less';}
.read-more-trigger { cursor: pointer; display: inline-block;color: #66a5ad; font-size: 16px; font-family: 'Poppins-Medium';}
ul.read-more-wrap { padding: 0 20px;}

/**event-listing page**/
.event-listing-wrap .col3-img{height: 160px;}
.event-listing-wrap .paxdetail{ margin: 0 0 30px; min-height: 150px; }

/**login page**/

.btn-fb{background: #3b5998 !important;}
.btn-gplus{ background: #dd4e40 !important;}
.btn-fb,.btn-gplus,.form-single-wrap .btn{ width: 100%; padding: 8px; }

.form-single-wrap .form-control{ border: 0; border-bottom: 1px solid #e6e6e6; box-shadow: none; height: 35px; padding-left: 0;}
.form-single-wrap .form-control:focus{ outline: none; box-shadow: none; border-bottom: 1px solid #66afe9; }
.form-single-wrap .login-wrap{ margin: 20px; padding: 30px 20px; box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2); background: #fff; font-size: 12px;}
.form-single-wrap{ margin:3%; }

.form-single-wrap .social-block {background: #fff; color: #333; border-top: 1px solid #ddd;}
.form-single-wrap .social-block a{ color: #07575b;}
.form-single-wrap .logo{ padding-bottom: 15px; margin-top: 22%; }

/**user profile**/
.user-block .block{ padding: 0 15px; position: relative; min-height: 480px;}
.user-block .btn{ background-color: #fff; color: #565656; margin-top: 25px; }
.user-block .btn:hover,.user-block .btn:focus{ color: #565656; }
.tab-vertical li { display: block; width: 100%; background-color: #fff; margin-bottom: 10px; font-size: 16px; }
.tab-vertical li a{ margin:0; }
.tab-vertical li a.active { 
  background: #66a5ad; color: #fff; border-radius: 0; border:0; margin:0;
}
.tab-vertical li a.active:hover{ color: #fff !important;}
.user-block .blue-block{ font-size: 12px; padding: 70px 0; min-height: 480px; }
.user-block .blue-block h2{ color: initial; }
.user-block .form-control{ height: 28px; font-size: 12px; border:0; }
.user-block .control-label{ padding-top: 15px; line-height: 1.8; }

.user-block .block-gray{box-shadow: 0 9px 16px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.01); padding: 50px 15px 30px;}
.user-block .round-img{ height: 160px; width: 160px; }
.user-block .radio p{ color: #565656; }

.user-profile{ position: absolute; z-index: 9; left: 90px; top: 70px; padding: 0; }
.user-profile h2{ font-size: 18px; margin-top: 30px; }

.profile-img{ position: relative; }
.hvr-icon{
  position: absolute;
  top: 0;
  width: 160px;
  height: 160px;
  right: 0;
  margin: 0 auto;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  font-size: 22px;
  letter-spacing: 2px;
  padding: 66px 0;
  display: none;
}
.profile-img:hover .hvr-icon{ display: block; }


/*Common css*/

.navigation-bar,.form-control.input-last,.pax-info h3,th{font-family: 'Poppins-Medium'; font-weight: normal; }

.block-heading span,.amount,h2{color: #07575b;}

.info-tab .nav-tabs > li.active > a{ color: #66a5ad; }

.btn,.form-control.input-last,.progress-bar-info,.blue-block{ background-color: #66a5ad; }

.block .thumbnail,.btn,.form-control,.well,.dropdown-menu,.progress{border-radius: 0;}

.sorting-bar .form-control,.dropdown-menu,.search-block .form-control,.booking-detail .form-control,.info-tab .nav-tabs,
.info-tab .nav-tabs > li.active > a,.info-tab .nav-tabs > li > a{ border:0; }

.block-heading span, h3,h6,h2,dt{ font-family: 'Poppins-SemiBold'; font-weight: normal;}

.amount, .listing-reviews span,.center-content,h6,.form-control.input-last{ letter-spacing: 1px; }

.center-content,.center-content h3,.center-content a,.social-block, .social-block a,.form-control.input-last,.footer h6,
.btn,.btn:hover,.view-btn,.view-btn:hover,.view-btn:focus,.btn:focus,.blue-block,.blue-block h2,.dark-blue-block,.btn a,.hvr-icon a,
.hvr-icon
{color: #fff;}

.search-bar .btn:focus,.slick-center:focus{ outline: none !important; }


/* new */
.badge{ font-weight: normal;  font-family: 'Poppins-Medium';}
/* ends */

/* header css  */
header {
  position: absolute;
  z-index: 250;
}
.navigation-bar .navbar-nav li a{ color: #fff; }

.banner-img{ height: 100vh; }
.search-block{ z-index: 99; }

.currency select, .cur select{ border:0; padding: 10px 15px;  -webkit-appearance: none;  -moz-appearance:    none;}
.currency select:focus, .cur select{ outline: 0; }

.currency:after {
  content:"\f107";
  font-family:'FontAwesome';
  position: absolute;
  top: 10px;
  right: 18px;
}
.cur{position: relative;}
.cur:after {
  content: "\F107";
  font-family: 'FontAwesome';
  position: absolute;
  top: 1px;
  left: 55px;
  font-size: 20px;
  color: #fff;
}
/* ends */

