<div class="row">
    <div class="col-md-12">
        <h3 class="mat-dialog-title mb-4">Add Pricing Info </h3>
        <form [formGroup]="pricingForm" class="form-array" autocomplete="off">
            <div formArrayName="pricing_info">

                <div *ngFor="let title of pricingForms.controls; let i=index" [formGroupName]="i">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Nationality</mat-label>
                                <input matInput placeholder="Nepali" formControlName="nationality">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Total Stock</mat-label>
                                <input matInput placeholder="50" formControlName="stockUnit">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Type</mat-label>
                                <input matInput placeholder="Tandem" formControlName="type">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Schedule</mat-label>
                                <!-- <input matInput placeholder="8:00 AM" formControlName="schedule"> -->
                                <input matInput atp-time-picker placeholder="8:00 AM" formControlName="schedule" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- <mat-form-field>
                                <mat-label>Duration</mat-label>
                                <input matInput placeholder="30 min" formControlName="duration">
                            </mat-form-field> -->
                            <mat-label>
                                <strong class="text-gray">Duration</strong>
                            </mat-label>
                            <form #form="ngForm">
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Week</mat-label>
                                            <!-- <input matInput placeholder="2" formControlName="week"> -->
                                            <input matInput type="number" id="week" min="0" max="52" name="week" ngModel placeholder="week" required [value]="(form.value.week > 52 || form.value.week < 0)? form.value.week : form.value.week "
                                                (blur)="validation(form.value.week, form.value.days, form.value.hours, form.value.minutes)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Day</mat-label>
                                            <!-- <input matInput placeholder="2" formControlName="days"> -->
                                            <input matInput type="number" id="days" min="1" max="7" ngModel name="days" placeholder="days" required [value]="(form.value.days > 6 || form.value.days < 0)?form.value.days : form.value.days "
                                                (blur)="validation(form.value.week, form.value.days, form.value.hours, form.value.minutes)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Hour</mat-label>
                                            <!-- <input matInput placeholder="2" formControlName="hours"> -->
                                            <input matInput type="number" id="hours" min="0" max="23" name="hours" ngModel placeholder="hours" required [value]="(form.value.hours > 23 || form.value.hours < 0)?form.value.hours : form.value.hours"
                                                (blur)="validation(form.value.week, form.value.days, form.value.hours, form.value.minutes)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Minute</mat-label>
                                            <!-- <input matInput placeholder="30" formControlName="minutes"> -->
                                            <input matInput type="number" id="minutes" min="0" name="minutes" max="59" ngModel placeholder="minutes" required [value]="(form.value.minutes > 59 || form.value.minutes < 0 )?form.value.minutes : form.value.minutes"
                                                (blur)="validation(form.value.week, form.value.days, form.value.hours, form.value.minutes)">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                            <!-- <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Week</mat-label>
                                        <input matInput placeholder="2" formControlName="duration">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Day</mat-label>
                                        <input matInput placeholder="2" formControlName="duration">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Hour</mat-label>
                                        <input matInput placeholder="2" formControlName="duration">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Minute</mat-label>
                                        <input matInput placeholder="30" formControlName="duration">
                                    </mat-form-field>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-6 mt-4">
                            <!-- <mat-slide-toggle formControlName="salesRate" (click)="toggle()">Show Sales Rate</mat-slide-toggle> -->
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Duration</mat-label>
                                <input matInput placeholder="30 min" formControlName="duration">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Schedule</mat-label>
                                <input matInput placeholder="8:00 AM" formControlName="schedule">
                            </mat-form-field>
                        </div>
                    </div>  -->
                    <!-- <div class="row">
                        <div class="col-md-6 form-group">   
                            <mat-slide-toggle formControlName="salesRate" (click)="toggle()">Show Sales Rate</mat-slide-toggle>
                        </div>
                    </div> -->
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive pricing-table">
                                <table class="table border">
                                    <thead>
                                        <tr>
                                            <th>Age-Group</th>
                                            <th class="text-center">Wholesale</th>
                                            <th class="text-center">Retail</th>
                                            <th *ngIf="show">Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Senior</td>
                                            <td class="text-center">
                                                <mat-form-field>
                                                    <input matInput formControlName="seniorWholesaleRate">
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center">
                                                <mat-form-field>
                                                    <input matInput formControlName="seniorRetailRate">
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center" *ngIf="show">
                                                <mat-form-field>
                                                    <input matInput formControlName="seniorSalesRate">
                                                </mat-form-field>
                                            </td>
                                            <!-- <td><mat-slide-toggle>No</mat-slide-toggle></td> -->
                                        </tr>
                                        <tr>
                                            <td>Adult</td>
                                            <td class="text-center">
                                                <mat-form-field>
                                                    <input matInput formControlName="wholesaleRate">
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center">
                                                <mat-form-field>
                                                    <input matInput formControlName="retailRate">
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center" *ngIf="show">
                                                <mat-form-field>
                                                    <input matInput formControlName="salesRate">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Child</td>
                                            <td class="text-center">
                                                <mat-form-field>
                                                    <input matInput formControlName="childWholesaleRate">
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center">
                                                <mat-form-field>
                                                    <input matInput formControlName="childRetailRate">
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center" *ngIf="show">
                                                <mat-form-field>
                                                    <input matInput formControlName="childSalesRate">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Infant</td>
                                            <td class="text-center">
                                                <mat-form-field>
                                                    <input matInput formControlName="infantWholesaleRate">
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center">
                                                <mat-form-field>
                                                    <input matInput formControlName="infantRetailRate">
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center" *ngIf="show">
                                                <mat-form-field>
                                                    <input matInput formControlName="infantSalesRate">
                                                </mat-form-field>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div mat-dialog-actions>
                <button mat-button class="btn btn-success" [mat-dialog-close]="pricingForm.value.pricing_info" (click)="savePrice(pricingForm.value.pricing_info)">Add</button>
                <button mat-button class="btn btn-danger" (click)="onClick()">cancel</button>
            </div>
        </form>
    </div>
</div>



<!-- <mat-card>
    <pre>{{ pricingForm.value | json }}</pre>
</mat-card> -->