<section>
  <img src="assets/images/banner1.jpg" class="page-banner">
</section> 

<div class="inner-wrap">
  <div class="container">
    
    <div class="row">
      <div class="col-md-9">
        <section class="contact-form-block">
          <div class="white-block">
      
              <form [formGroup]="contactusForm">            
              <div class="row">
      
              <div class="col-sm-12">
                <div class="block-heading"><span>Drop Message</span></div>
              </div>              
              <div class="col-sm-6 form-group">
                  <input type="text" class="form-control" placeholder="Full Name" formControlName="fullname">
                  <span class="text-danger" *ngIf="contactusForm.controls.fullname.invalid && contactusForm.controls.fullname.touched ">Fullname cann't be blank</span>                               
                </div>    
                <div class="col-sm-6 form-group">
                  <input type="text" class="form-control" placeholder="Email" formControlName="email">
                  <span class="text-danger" *ngIf="contactusForm.controls.email.invalid && contactusForm.controls.email.touched ">Please provide valid email</span>                               
                </div>
      
                <div class="form-group col-xs-12 col-sm-12 mt-2">             
                  <textarea rows="8" class="form-control" placeholder="If you have any queries? Please comment." formControlName="details"></textarea>
                  <span class="text-danger" *ngIf="contactusForm.controls.details.invalid && contactusForm.controls.details.touched ">Lenth of query must be greater than 50</span>                               
                </div> 
      
                <!-- <div class="form-group col-xs-12 col-sm-4">             
                  <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LeaxBoUAAAAAJyWICHwU4kfZKMu7MsxyAlRZ1mC"></re-captcha>
                </div>  -->
      
                <div class="col-md-12">
                  <button [disabled]="!contactusForm.valid" type="submit" class="btn-lg btn-large btn" (click)="onSubmit(contactusForm.value)" >Send Message</button>
                </div>
              </div>
              <!-- <pre>
                {{ contactusForm.value | json }}
              </pre> -->
              </form>
      
            
          </div> 
        </section>
      </div>
      <div class="col-md-3">
        <section class="contact-icon-block">
          <div class="white-block">
          <div class="row">
      
            <!-- <div class="col-sm-12 text-center">
              <div class="block-heading"><span>Get In Touch</span></div>
            </div> -->
      
            <div class="col-sm-12 contact-info">
              <i class="fa fa-map-marker pr-2" aria-hidden="true"></i>
              <span>Bakhundol, Lalitpur</span>
            </div>
  
            <div class="col-sm-12 contact-info">
              <i class="fa fa-phone pr-2" aria-hidden="true"></i>
              <span> +977-14219235, 14263722</span>
            </div>
      
            <div class="col-sm-12 contact-info">
              <i class="fa fa-envelope pr-2" aria-hidden="true"></i>
              <span>info@goglides.com</span>
            </div>
      
          </div>
          </div> 
        </section>
      </div>
    </div>

  </div> 
</div>