<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <strong class="card-header-primary">Destination-Info</strong> -->
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8"><h4 class="card-title">Destination Info</h4></div>
                </div>
            </div>
            <div class="card-body">

                <form [formGroup]="destinationForm" class="form-array">
                    <div formArrayName="destination_detail">
        
                        <div *ngFor="let destination of destinationDetailForms.controls; let i=index" 
                                [formGroupName]="i">
                    
                        <div class="row form-fields">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Country" type="text" formControlName="country">
                                <mat-error *ngIf="!destinationForm.controls.destination_detail.controls.valid && destinationForm.controls.destination_detail.controls.touched">Please provide city</mat-error>
                            </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="cities" type="text" formControlName="city">
                                <mat-error *ngIf="!destinationForm.controls.destination_detail.controls.valid && destinationForm.controls.destination_detail.controls.touched">Please provide city</mat-error>
                                </mat-form-field>
                            </div>
                            <button *ngIf="destinationForm.controls.destination_detail.controls.length > 1" (click)="deleteDestination(i)" class="btn btn-round btn-danger btn-just-icon"><i class="material-icons">clear</i></button>
                        </div>      
                        
                        </div>
                        <button [disabled]="!destinationForm.controls.destination_detail.valid" class="btn btn-round btn-success btn-just-icon"><i class="material-icons">done</i></button>
                        <button (click)="addDestination()" class="btn btn-round btn-primary btn-just-icon"><i class="material-icons">add</i></button>
                    </div>  
                    
                    <div class="buttons">
                        <button [routerLink]="['/packages/checklist']" mat-button class="btn btn-primarybtn btn-default">Back</button>
                        <button mat-button class="btn btn-primary mat-raised-button" (click)="saveDestination()">Next</button>
                    </div>  

                </form>

            </div>
        </div>
    </div>
</div>

<!-- <mat-card>
    <pre>
      {{ destinationForm.value | json}}
    </pre>
</mat-card> -->