<h3 class="mat-dialog-title mb-4">Update Featured Image </h3>
<div class="row">
    <div class="col-md-3">
        <label>Featured Image</label>
        <div>
            <input type="file" id="file1" class="inputfile" (change)="fileChangeEvent($event)" />
            <!-- <input type="file" class="inputfile" formControlName="featured"> -->
            <label class="mat-raised-button" for="file1">Choose a file</label> 
        </div>
    </div>
    <div class="col-md-5">
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="3 / 2"
            [resizeToWidth]="360"
            format="jpg"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>   
    </div>
    <div class="col-md-4">
        <strong>Preview</strong>
        <div class="my-2"><img class="img-fluid" [src]="featureCropedImage" /></div>
        Image-size [ 360*240 ]px
        <br>
        <button *ngIf="!featureStatus" mat-button class="btn btn-primary mat-raised-button" (click)="chooseFeatureImage()">Save</button>
        <p *ngIf="featureStatus"><ngb-progressbar type="info" [value]="featureProgressPercentage" [striped]="true">{{ featureProgressPercentage  }} %</ngb-progressbar></p>                                                                                                      
    </div>
</div>