<div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Cart View</h3> -->
  <strong class="mr-2">Reserved Packages</strong>
  <div class="breadcrumb-block">
      <ol class="breadcrumb">
          <li>
              <a [routerLink]="['/dashboard']">
                  <i class="material-icons">home</i>
              </a>
              <span class="fa fa-angle-right" aria-hidden="true"></span>
          </li>
          <li>
              <a [routerLink]="['/bookings']">Booking </a>
              <span class="fa fa-angle-right" aria-hidden="true"></span>
          </li>
          <li class="active"> View</li>
      </ol>
  </div>
</div>
<br/>
 <mat-card>
   <div class="table-responsive">
     <table class="table">
       <tr>
         <th>Package</th>
         <th>Nationality</th>
         <!-- <th>Price</th> -->
         <th>Qty</th>
         <th>Total</th>
         <!-- <th></th> -->
       </tr>
       <!-- <span *ngIf="cartLists"> -->
        <tr *ngFor="let cart of cartLists">
          <td>{{listing?.title}}</td>
          <td>{{cart?.nationality}}</td>
          <!-- <td>7000</td> -->
          <td>{{cart?.totalQty}}</td>
          <td>{{cart?.total}}</td>
          <td><i class="material-icons text-danger">clear</i></td>
        </tr>
       <!-- </span> -->
     </table>
   </div>
 </mat-card>
 <mat-button [routerLink]="['/bookings/paxinfo']" class="btn btn-primary pull-right mt-3">Proceed</mat-button>
 <mat-button class="btn btn-danger pull-right mt-3 mr-2">Clear Cart</mat-button>
