<g:each in="${eventTicket}" var="c">
    <div style="width: 50%; float: left; text-align: center; padding: 15px; border: 1px dotted #ccc;"><p><img style="width: 180px;"
                                                                                                              src="${assetPath(src: '/images/logo.png')}"></p>

        <p><strong>Ticket No</strong> : ${c?.ticketNo} <strong style="padding-left: 20px;">Register Date</strong> : <g:formatDate format="yyyy-MM-dd" date="${eventBooking?.event?.createdAt}"/>
        </p>

        <p><strong>Payment Mode</strong> : ${eventBooking?.paymentMode}</p>

        <p><strong style="font-size: 22px;">${eventBooking?.event?.title}</strong></p>

        <p><strong><g:formatDate format="yyyy-MM-dd" date="${eventBooking?.event?.endDate}" type="date" style="FULL"/></strong></p>

        <p>${eventBooking?.event?.location}</p>

        <p>Total Amount : <strong>Rs ${eventBooking?.eventCharge?.retailRate}</strong></p>

        %{--<p><img src="images/barcode.png" class="code-img"></p>--}%
    </div>
</g:each>