<form [formGroup]="couponForm">    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <strong class="card-header-primary">Coupon-Info</strong> -->
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">list</i>
                    </div>
                    <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Coupon Info</h4></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Coupon Status" formControlName="status">
                                    <mat-option *ngFor="let couponstatus of status" [value]="couponstatus.value">
                                    {{ couponstatus.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="legacy">
                                <mat-label>Coupon Type</mat-label>
                                <input matInput placeholder="Festival Discount, Group Discount" formControlName="type">
                            </mat-form-field>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput type="datetime" [matDatepicker]="picker" placeholder="Start Date" formControlName="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field> 
                                <mat-error *ngIf="!couponForm.controls.startDate.valid  && couponForm.controls.startDate.touched">Please enter a valid date.</mat-error>   
                                                                                     
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput type="datetime" [matDatepicker]="picker1" placeholder="End Date" formControlName="endDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field> 
                                <mat-error *ngIf="!couponForm.controls.endDate.valid  && couponForm.controls.endDate.touched">Please enter a valid date.</mat-error>                                                                                        
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="No. of Coupons" type="number" min="1" formControlName="number">
                                </mat-form-field>
                                <mat-error *ngIf="!couponForm.controls.number.valid  && couponForm.controls.number.touched">Please enter a valid number of coupons.</mat-error>                                                                                                                        
                            </div>  
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Minimum Amount to Purchase" type="text" formControlName="minimumAmount">
                                </mat-form-field>
                            </div>                                  
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Discount" type="text" formControlName="discount">
                                </mat-form-field>
                            </div>  
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Assign To" type="text" formControlName="assign">
                                </mat-form-field>
                            </div>                                  
                        </div>

                </div>
            </div>
        </div>
    </div>  
    
    <div class="buttons">
        <button [routerLink]="['/packages/media']" mat-button class="btn btn-primarybtn btn-default">Back</button>
        <button [routerLink]="['/packages/calendar']" mat-button class="btn btn-primary mat-raised-button">Next</button>
    </div>  

</form>

<mat-card>
    <pre>{{ couponForm.value | json}}</pre>
</mat-card>
