<div class="package-form">
  <div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Add New Business Directory</h3> -->
  <strong mr-2>Add New Business Directory</strong>
  <div class="breadcrumb-block">
      <ol class="breadcrumb">
      <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
      <li><a [routerLink]="['/businessdirectory/list']">Business Directory </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
      <li class="active"> Add New</li>
      </ol>
  </div> 
  </div>
  <br/>
  
  <div class="row">
    <div class="col-md-2">
      <mat-list role="list">
        <mat-list-item role="listitem" [routerLink]="['/businessdirectory/basicinfo']"  routerLinkActive="mat-list-item-focus">
          <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">business</i></div>  Business 
        </mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/businessdirectory/contact']" routerLinkActive="mat-list-item-focus">
          <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">person</i></div> Contact Person
        </mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/businessdirectory/location']" routerLinkActive="mat-list-item-focus">
          <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">place</i></div> Location
        </mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/businessdirectory/certificates']" routerLinkActive="mat-list-item-focus">
          <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">attachment</i></div> Certificates
        </mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/businessdirectory/socialmedia']" routerLinkActive="mat-list-item-focus">
          <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">group</i></div> Social Media
        </mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/businessdirectory/businesspolicy']" routerLinkActive="mat-list-item-focus">
          <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">assignment</i></div> Insurance Policy
        </mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/businessdirectory/seo']" routerLinkActive="mat-list-item-focus">
          <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">trending_up</i></div> SEO
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

