  <h3 mat-dialog-title><!--<i class="material-icons align-top">info_outline</i>--> Are you sure to delete this category?</h3>
  <div mat-dialog-content>

    <!-- Title: {{data?.title}} -->

  </div>

  <div mat-dialog-actions>
    <button class="btn btn-success" mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Yes, Delete It!</button>
    <button class="btn btn-danger" mat-button (click)="onNoClick()" tabindex="-1">No Keep It</button>
  </div>
