<h3 class="mat-dialog-title mb-4">Update Include/Exclude Info </h3>
 <form [formGroup]="inclusionForm"> 
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input 
                    type="text" 
                    placeholder="Pick one" 
                    aria-label="Assignee" 
                    matInput 
                    formControlName="title" 
                    [(ngModel)]="includeFilterOption"
                    (click)="initialize()"
                    (keyup)="includeFilterAutoComplete()" 
                    [matAutocomplete]="auto" 
                    #includeAutoComplete>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of includeCheckListArray" [value]="option" #include (click)="pushInIncExcArray('include',include)">
                        {{ option.title }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <button class="btn btn-round btn-primary btn-just-icon" matTooltip="Click to add new include list" matTooltipPosition="right" [disabled]="!inclusionForm.valid">
            <i class="material-icons" name="addProvide" (click)="addInIncludeExclude('include')">add</i>
        </button>
    </div>
    
    <div class="row">
        <div class="col-md-12" *ngFor="let value of includeArray; let i = index">
            <a class="material-icons text-danger align-middle" #popInclude (click)="popFromListArray(i, 'include', value?.id)">cancel</a>
            <label class="pl-3">{{ value?.title}}</label>
        </div>
    </div>
</form>

<form [formGroup]="exclusionForm">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input 
                    type="text" 
                    placeholder="Pick one" 
                    aria-label="Assignee" 
                    matInput 
                    formControlName="title" 
                    [(ngModel)]="excludeFilterOption"
                    (click)="initialize()"
                    (keyup)="excludeFilterAutoComplete()" 
                    [matAutocomplete]="autotest" 
                    #excludeAutoComplete>
                <mat-autocomplete #autotest="matAutocomplete">
                    <mat-option *ngFor="let option of excludeCheckListArray" [value]="option" #exclude (click)="pushInIncExcArray('exclude',exclude)">
                        {{ option.title }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <button class="btn btn-round btn-primary btn-just-icon" matTooltip="Click to add new exclude list" matTooltipPosition="right" [disabled]="!exclusionForm.valid">
            <i class="material-icons" name="addProvide" (click)="addInIncludeExclude('exclude')">add</i>
        </button>
    </div>
    
    <div class="row">
        <div class="col-md-12" *ngFor="let value of excludeArray; let i = index">
            <a class="material-icons text-danger align-middle" #popExclude (click)="popFromListArray(i, 'exclude', value?.id)">cancel</a>
            <label class="pl-3">{{ value?.title }}</label>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button class="btn btn-success" (click)="onClick()">yes, update</button>
        <button mat-button class="btn btn-danger" (click)="onClick()">no, keep it</button>
    </div>
</form>

<!-- <mat-card>
    <pre>{{ inclusionForm.value | json}}</pre>
</mat-card>
<br>
<mat-card>
    <pre>{{ exclusionForm.value | json}}</pre>
</mat-card>  -->
