<div class="menu-height"></div>
<div class="inner-wrap">
  <div class="container">
      <div class="row">
          <div *ngIf="!dataLength" class="col-sm-12 col-lg-9 inner-content">
              <section>
                <div class="white-block text-center">
                  <h2>No reviews yet</h2>
                  <!-- <p>You haven't added any item to your wishlist. -->
                  <br>
                  <p>
                    <a routerLink="" class="btn-lg btn">Return To Home </a>
                  </p>
                </div>
              </section>
            </div>
          
            <div *ngIf="dataLength" class="col-md-9">
            <h2>Your Reviews</h2>
            <!-- review -->
            <section class="reviews mt-0">
            
              <div class="white-block position-relative" *ngFor="let myReview of myReviews">
                <div class="row">
                  <div class="col-sm-12 edit-ico">
                    <a>
                    <i *ngIf="myReview?.status === 'PENDING'" class="fa fa-edit" aria-hidden="true" (click)="editReview(content, myReview)"></i> <span>Edit</span>
                    </a>
                    <!-- <a>
                    <i class="fa fa-ban" aria-hidden="true"></i> <span class="red-bg">Cancel</span>
                    </a> -->
                  </div>




                  <div class="col-sm-11">
                    <img [src]="myReview?.lisitngPhoto" class="pull-left cursor" (click)="redirectTo(myReview?.listingSlug)">
                    {{ myreview?.star }}
                    <div class="review-text">
                      <h6 class="d-inline cursor" (click)="redirectTo(myReview?.listingSlug)">
                        {{ myReview?.listingTitle }}  
                      </h6>
                      <div class="listing-reviews review-total pull-right">
                        <ngb-rating [readonly]=true [rate]="myReview?.star" max="5"></ngb-rating>
                      </div>
                      <p class="mb-2">
                        <small class="pr-2"><strong>{{ myReview?.reviewedAt | date:'mediumDate' }}</strong></small>
                        <span [ngSwitch]="myReview?.status">
                            <strong *ngSwitchCase="'PENDING'">
                              <span class="badge badge-pill badge-info">
                                <i class="fa fa-ban" aria-hidden="true"></i> PENDING </span>
                            </strong>
                            <strong *ngSwitchCase="'COMPLETED'">
                              <span class="badge badge-pill badge-success">
                                <i class="fa fa-check" aria-hidden="true"></i> COMPLETED </span>
                            </strong>
                          </span>
                      </p>
          
                      <p>{{ myReview?.description }}</p>
                      <p>
                        <a *ngIf="myReview?.videoUrl" [href]="myReview?.videoUrl" target="_blank">
                          <i class="fa fa-video-camera" aria-hidden="true"></i> Video</a> |
                        <a *ngIf="myReview?.blogUrl" [href]="myReview?.blogUrl" target="_blank">
                          <i class="fa fa-rss" aria-hidden="true"></i> Blog</a>
                      </p>
                      <div *ngIf="myReview?.multimedia?.length !== 0" class="review-img">
                        <a *ngFor="let image of myReview?.multimedia">
                          <img [src]="image?.url">
                        </a>
                      </div>
          
                    </div>
                  </div>
          
                </div>
              </div>
          
              <nav aria-label="Page navigation" class="pagelisting">
                  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="dataLength" [maxSize]="5" [(page)]="page" aria-label="Default pagination"
                  (pageChange)="onPageChange(page)" [pageSize]="5"></ngb-pagination>  
              </nav>
              
            </section>
            <!-- ends -->
          </div>
    </div>
  </div>
</div>



<ng-template #content let-modal let-c="close" let-d="dismiss">
  <div class="modal-header" >
    <h4 class="modal-title">Update Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <section>
      <h2>Rate & Review</h2>
      <form [formGroup]="editModalForm">
      <!-- <form> -->
        <div class="row">
          <div class="col-sm-4 col-md-2">
            Your Rating
          </div>
          <div class="col-sm-8 col-md-10 form-group">
            <div class='rating-stars'>
                <ngb-rating [(rate)]="currentRate" max="5" class="star-md" formControlName="star"></ngb-rating>
            </div>
          </div>

          <div class="col-sm-12 form-group">
              <textarea class="form-control" rows="5" placeholder="Write Your Review" formControlName="description"></textarea>
            <!-- <textarea class="form-control" rows="5" placeholder="Write Your Review"></textarea> -->
          </div>
        </div>
        <br>
        <h2>Experience To Share
          <small>( Optional )</small>
        </h2>
        <div class="row">

          <div class="col-sm-6 form-group">
            <label>Video Url</label>
            <!-- <input type="text" class="form-control" id="#" placeholder=""> -->
             <input type="text" class="form-control" id="#" placeholder="" formControlName="videoUrl"> 
          </div>

          <div class="col-sm-6 form-group">
            <label>Blog Link</label>
            <!-- <input type="text" class="form-control" id="#" placeholder=""> -->
            <input type="text" class="form-control" id="#" placeholder="" formControlName="blogUrl">
          </div>

          <div class="col-sm-12 form-group mt-2">
            <h6 class="mt-1">
              <strong>Share some of your photos.</strong>
            </h6>
            <div class="upload-btn-wrapper">
                <button class="btn-upload my-1"><strong><i class="fa fa-upload pr-1"></i> Upload Photo</strong></button>
                <input type="file" multiple (change)="uploadImageChange($event, multimedia)">
              </div>
           
          </div>

          <div class="row">
              <div class="col-4 col-md-2 px-0" *ngFor="let reviewImages of multimedia; let i = index">
                <img [src]="reviewImages?.url" class="img-fluid" style="height: 110px; object-fit: cover; width: 100%; padding:0 1px 1px 0;">
                <i class="fa fa-close" (click)="deleteReviewImage(i, reviewImages?.id)"></i>
              </div>
            </div>

          <div class="col-sm-12">
              <button [disabled]="updateFileLength>5" (click)="update(editModalForm.value, multimedia)" class="btn btn-large">Submit Review</button>
          </div>

        </div>
      </form>
     
    </section>
  </div>
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light">Save</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div> -->
   <pre>
</pre>
</ng-template>