<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Business Directory View</h3> -->
    <strong class="mr-2">Business Directory View</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">
                    <i class="material-icons">home</i>
                </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li>
                <a [routerLink]="['/businessdirectory/list']">Business Directory </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li class="active"> View </li>
        </ol>
    </div>
</div>
<br/>
<ngx-image-gallery [images]="images" [conf]="conf" (onOpen)="galleryOpened($event)" (onClose)="galleryClosed()" (onImageClicked)="galleryImageClicked($event)"
    (onImageChange)="galleryImageChanged($event)" (onDelete)="deleteImage($event)">
</ngx-image-gallery>
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Description</h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-success" (click)="updateBusinessDirBasicInfo(business)">create</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-description" innerHTML="{{business?.description}}"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Contact Person </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-primary" (click)="addNewBusinessdirContactPerson(business?.id)" >add</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div *ngIf="contactPersons?.length>0;else notFound">
                    <div class="row" *ngFor="let contactPerson of contactPersons">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <strong>Name</strong> : {{contactPerson?.contactPersonFirstName}} {{contactPerson?.contactPersonLastName}}
                                        </div>
                                        <div class="col-md-6">
                                            <strong>Email</strong> : {{contactPerson?.contactPersonEmail}}
                                        </div>
                                        <div class="col-md-6">
                                            <strong>Designation</strong> : {{contactPerson?.contactPersonJobTitle}}
                                        </div>
                                        <div class="col-md-6">
                                            <strong>Mobile</strong> : {{contactPerson?.contactPersonMobile}}
                                        </div>
                                        <div class="col-md-6">
                                            <strong>Primary Phone</strong> : {{contactPerson?.contactPersonPrimaryPhone}}
                                        </div>
                                        <div class="col-md-6">
                                            <strong>Secondary Phone</strong> : {{contactPerson?.contactPersonSecondaryPhone}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-center">
                                    <i class="material-icons text-success" style="font-size: 16px;" (click)="updateBusinessDirContactPerson(contactPerson?.id, business?.id)">create</i>
                                </div>
                            </div>
                        
                        </div>
                        
                        <div class="col-md-12">
                            <div class="border-bottom my-3"></div>
                        </div>
                    </div>

                </div>

                <ng-template #notFound>
                    No Data Found
                </ng-template>


            </div>
        </div>

        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">place</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Location </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-success" (click)="updateBusinessDirLocationInfo(business)">create</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <strong>Street</strong> : {{business?.street}}
                    </div>
                    <div class="col-md-6">
                        <strong>City</strong> : {{business?.city}}
                    </div>
                    <div class="col-md-6">
                        <strong>Province/State</strong> : {{business?.state}}
                    </div>
                    <div class="col-md-6">
                        <strong>Country</strong> : {{business?.country}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">attachment</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Certificates </h4>
                    </div>
                    <div class="col-md-4 text-right edit-icons">
                        <i class="material-icons text-success">create</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                            <tr *ngIf="businessCertificate">
                                <td>Business Certificate</td>
                                <td>
                                    <a [href]="businessCertificate?.fileUrl" target="_blank"> businesscertificate-1 </a>
                                </td>
                                <td>
                                    <!-- <div class="badge badge-success">Verified</div> -->
                                    <mat-slide-toggle [checked]="certChecked" (change)="busCert($event,businessCertificate?.id)" class="pr-5">Verified</mat-slide-toggle>
                                    <mat-slide-toggle (change)="onChange($event)">Decline</mat-slide-toggle>
                                </td>
                            </tr>
                            <tr *ngIf="businessCertificate_Pan">
                                <td>Business PAN</td>
                                <td>
                                    <a [href]="businessCertificate_Pan?.fileUrl" target="_blank"> business-PAN </a>
                                </td>
                                <td>
                                    <mat-slide-toggle [checked]="certPanChecked" (change)="busCert($event,businessCertificate_Pan?.id)" class="pr-5">Verified</mat-slide-toggle>
                                    <mat-slide-toggle (change)="onChange($event)">Decline</mat-slide-toggle>
                                </td>
                            </tr>
                            <tr *ngIf="businessCertificate_Vat">
                                <td>Business VAT</td>
                                <td>
                                    <a href="assets/Ticket.pdf" target="_blank"> business-VAT </a>
                                </td>
                                <td>
                                    <mat-slide-toggle [checked]="certVatChecked" (change)="busCert($event,businessCertificate_Vat?.id)" class="pr-5">Verified</mat-slide-toggle>
                                    <mat-slide-toggle (change)="onChange($event)">Decline</mat-slide-toggle>
                                </td>
                            </tr>
                            <tr *ngIf="businessCertificate_Tipn">
                                <td>Business TIPN</td>
                                <td>
                                    <a [href]="businessCertificate_Tipn.fileUrl" target="_blank"> business-TPIN </a>
                                </td>
                                <td>
                                    <mat-slide-toggle [checked]="certTpinChecked" (change)="busCert($event,businessCertificate_Tipn?.id)" class="pr-5">Verified</mat-slide-toggle>
                                    <mat-slide-toggle (change)="onChange($event)">Decline</mat-slide-toggle>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">attachment</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Certificates </h4>
                    </div>
                    <div class="col-md-4 text-right">
                        <i class="material-icons text-gray">create</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-12"><strong>Business Certificates</strong></div>
                        <div class="col-md-2 form-group">
                            <img (click)="openGallery(0)" src="http://resources.mynewsdesk.com/image/upload/dpr_1.0,f_auto,pg_1,q_auto,w_670/rya9djfb6cvne5hd6bkv.jpg" class="img-fluid">
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                        <div class="col-md-2 form-group">
                            <img (click)="openGallery(1)" src="https://isimangaliso.com/wp-content/uploads/2014/09/Background-Information-iSimangaliso-GEF-project-1.jpg" class="img-fluid">
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">PDF files</div>
                        <div class="col-md-6 form-group">
                            <embed src="assets/Ticket.pdf" width="100%" height="375" type='application/pdf'>
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12"><strong>Business PAV/VAT/TIPN</strong></div>
                        <div class="col-md-2 form-group">
                            <img (click)="openGallery(0)" src="http://resources.mynewsdesk.com/image/upload/dpr_1.0,f_auto,pg_1,q_auto,w_670/rya9djfb6cvne5hd6bkv.jpg" class="img-fluid">
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                        <div class="col-md-2 form-group">
                            <img (click)="openGallery(1)" src="https://isimangaliso.com/wp-content/uploads/2014/09/Background-Information-iSimangaliso-GEF-project-1.jpg" class="img-fluid">
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                        <div class="col-md-2 form-group">
                            <img (click)="openGallery(0)" src="http://resources.mynewsdesk.com/image/upload/dpr_1.0,f_auto,pg_1,q_auto,w_670/rya9djfb6cvne5hd6bkv.jpg" class="img-fluid">
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                        <div class="col-md-2 form-group">
                            <img (click)="openGallery(1)" src="https://isimangaliso.com/wp-content/uploads/2014/09/Background-Information-iSimangaliso-GEF-project-1.jpg" class="img-fluid">
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                        <div class="col-md-2 form-group">
                            <img (click)="openGallery(1)" src="https://isimangaliso.com/wp-content/uploads/2014/09/Background-Information-iSimangaliso-GEF-project-1.jpg" class="img-fluid">
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">PDF files</div>
                        <div class="col-md-6 form-group">
                            <embed src="assets/Ticket.pdf" width="100%" height="375" type='application/pdf'>
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                        <div class="col-md-6 form-group">
                            <embed src="assets/Ticket.pdf" width="100%" height="375" type='application/pdf'>
                            <mat-slide-toggle class="mt-3">Verified</mat-slide-toggle>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
    <div class="col-md-3 aside">
        <div class="card card-profile">
            <div class="text-right">
                <!-- <i class="material-icons text-gray" (click)="updateBusinessLogo(business)">create</i> -->
            </div>
            <div class="card-avatar position-relative">
                <span class="icon-absolute">
                    <i class="material-icons text-white" (click)="updateBusinessLogo(business)">create</i>
                    <!-- <i class="material-icons text-white" (click)="updateBusinessLogo(business)">remove_red_eye</i> -->
                </span>
                <img class="img" [src]="business?.logoUrl" />
            </div>
            <div class="card-body p-1">
                <h5 class="card-title mb-0"><strong> {{business?.businessName}} </strong></h5>
                <p class="text-gray">Reg No. : {{business?.registrationNumber}}</p>
                <p>
                    <strong>Business Type : {{business?.businessType}}</strong>
                </p>
                <p>
                    <a [href]="business?.website">
                        <i class="fa fa-globe"></i> {{business?.website}}</a>
                    <br/>
                    <a href="mailto:">
                        <i class="fa fa-envelope"></i> {{business?.email}}</a>
                </p>
                <p>
                    <i class="fa fa-phone"></i> Tel : {{business?.phone1}}, {{business?.phone2}}</p>
                <p>
                    <button [routerLink]="['/businessdirectory/viewpackages']" type="button" class="btn btn-xs btn-primary btn-round">
                        Bookings
                        <span class="badge badge-light">10</span>
                    </button>
                    <button [routerLink]="['/businessdirectory/viewpackages', id]" type="button" class="btn btn-xs btn-primary btn-round">
                        Packages
                        <span class="badge badge-light">{{packageCount}}</span>
                    </button>
                    <button (click)="addPackage(business?.id)" class="btn btn-xs btn-primary btn-round">Add Package</button>
                </p>

                <div class="form-group">
                    <a *ngIf="business?.facebookUrl" href="{{ business?.facebookUrl }}" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a *ngIf="business?.instagramUrl" href="{{ business?.instagramUrl }}" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a *ngIf="business?.googlePlusUrl" href="{{ business?.googlePlusUrl }}" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a *ngIf="business?.twitterUrl" href="{{ business?.twitterUrl }}" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a *ngIf="business?.linkedInUrl" href="{{ business?.linkedInUrl }}" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a *ngIf="business?.youtubeUrl" href="{{ business?.youtubeUrl }}" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a *ngIf="business?.tumblerUrl" href="{{ business?.tumblerUrl }}" target="_blank">
                        <i class="fa fa-tumblr"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p>Created Date :
                    <strong>{{business?.createdAt | date:'mediumDate'}}</strong>
                </p>
                <p>Updated Date :
                    <strong>{{business?.updatedAt | date:'mediumDate'}}</strong>
                </p>

                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select placeholder="Status" [value]="business?.status" (change)="updateBusinessDirStatus(business?.id,$event.value)" >
                        <mat-option *ngFor="let option of statusList" [value]="option.value">
                            {{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field> -->
                    <mat-label>Verified</mat-label>
                    <mat-slide-toggle *ngIf="business?.isVerified === 1" [checked]="enabled" (click)="isVerifiedFalse(business)"></mat-slide-toggle>
                    <mat-slide-toggle *ngIf="business?.isVerified !== 1" [checked]="disabled" (click)="isVerifiedTrue(business)"></mat-slide-toggle>
                <!-- </mat-form-field> -->
            </div>
        </div>

    </div>
</div>