.fa{
    padding-right: 10px;
}
.text-right{
    padding: 6px 0 0;
    i.text-gray {
        visibility: hidden;
    }
}
.card:hover i.text-gray{
    visibility: visible;
}
.card-profile .card-avatar img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.card-profile .card-avatar{
    border-radius: 0;
}
.edit-icons{
    padding: 6px 0 0;
    i {
        visibility: hidden;
        // font-size: 20px;
    }
}
.card:hover .edit-icons i{
    visibility: visible;
}
