<h3 mat-dialog-title> Are you sure to delete this?</h3>
<div mat-dialog-content>

  <!-- Title: {{data?.title}} -->

</div>

<div mat-dialog-actions>
  <button class="btn btn-success" mat-button>Yes, Delete It!</button>
  <button class="btn btn-danger" mat-button>No Keep It</button>
</div>
