<form [formGroup]="updateBusinessDirBasicInfo">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mat-dialog-title mb-4">Update Business Basic Info </h3>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Registered Business Name</mat-label>
                        <input matInput placeholder="Trip Concern Pvt. Ltd." type="text" formControlName="businessName" [(ngModel)]="data.businessInfo.businessName" (input)="setFormInvalid()">
                    </mat-form-field>
                    <mat-error *ngIf="!updateBusinessDirBasicInfo.controls.businessName.valid  && updateBusinessDirBasicInfo.controls.businessName.touched">Business name is required.</mat-error>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Business TAX/PAN/VAT/TIPNS</mat-label>
                        <input matInput placeholder="AAAPL1234C" type="text" formControlName="registrationNumber" [(ngModel)]="data.businessInfo.registrationNumber">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Website</mat-label>
                        <input matInput placeholder="https://goglides.com/" type="url" pattern="https?://.+" formControlName="website" [(ngModel)]="data.businessInfo.website" (input)="setFormInvalid()">
                    </mat-form-field>
                    <mat-error *ngIf="!updateBusinessDirBasicInfo.controls.website.valid  && updateBusinessDirBasicInfo.controls.website.touched">website must be valid.</mat-error>

                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="info@tripconcern.com" type="email" formControlName="email" [(ngModel)]="data.businessInfo.email" (input)="setFormInvalid()">
                    </mat-form-field>
                    <mat-error *ngIf="!updateBusinessDirBasicInfo.controls.email.valid  && updateBusinessDirBasicInfo.controls.email.touched">email must be valid.</mat-error>
                </div>
                <div class="col-md-6">
                    <int-phone-prefix formControlName="phone1" class="form-control" style="height: 55px;" [(ngModel)]="data.businessInfo.phone1" (input)="getPhoneValidationError(primaryPhone)" #primaryPhone></int-phone-prefix>
                    <mat-error class="my-2" *ngIf="!phoneValidation">{{ message }}</mat-error>
                </div>
                <div class="col-md-6">
                    <int-phone-prefix formControlName="phone2" class="form-control" [(ngModel)]="data.businessInfo.phone2" style="height: 55px;"></int-phone-prefix>
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>Choose Business Type</mat-label>
                        <mat-select placeholder="Business Type" formControlName="businessType" [(ngModel)]="data.businessInfo.businessType" (change)="setFormInvalid()">
                            <mat-option *ngFor="let b of business" [value]="b.name">
                                {{ b.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="!updateBusinessDirBasicInfo.controls.businessType.valid  && updateBusinessDirBasicInfo.controls.businessType.touched">Business Type is required.</mat-error>
                </div>

                <div class="col-md-12 form-group">
                    <!-- <pre>{{data.businessInfo.description|json}}</pre> -->
                    <!-- <mat-form-field>
                    <textarea matInput placeholder="Short Description" rows="5" formControlName="description"></textarea>
                    
                    </mat-form-field> -->
                    <app-ngx-editor [config]="editorConfig21" [spellcheck]="true" formControlName="description" [(ngModul)]="data.businessInfo.description"></app-ngx-editor>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button class="btn btn-success" [mat-dialog-close]="1" [disabled]="!formValidation" (click)="confirmBusinessDirUpdate(updateBusinessDirBasicInfo.value)">yes, Update</button>
        <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">no, keep it</button>
    </div>
</form>

<!-- <mat-card>
  <pre>{{updateBusinessDirBasicInfo.value | json}}</pre>
</mat-card> -->