<h3 mat-dialog-title>Are you sure to delete this checklist?</h3>
<div mat-dialog-content>
  <!-- Id: {{data.id}}
  <p></p>
  Title: {{data.title}}
  <p></p>
  Type: {{data.type}}
  <p></p> -->

</div>

<div mat-dialog-actions>
  <button mat-button class="btn btn-success" [mat-dialog-close]="1" (click)="confirmDelete()">yes, Delete it!</button> 
  <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">NO, keep it</button>
</div>
