
  <div class="thumbnail rounded-top">

    <div class="zoom">
      <img (click)="detailPage(deals?.listing[0]?.slug)" class="col4-img rounded-top w-100 cursor" [src]="deals?.listing[0]?.featureImageUrl">
      <span class="cat-text">{{deals?.category[0]['title']}}</span>
    </div>

    <div class="mb-4">
      <p class="agent-review cursor">
        <img (click)="businessPage(deals?.business[0]?.slug)" [src]="deals?.business[0]?.logoUrl">
      </p>
      <h3 class="amount">
          <!-- {{ forexService.calculateRate(list?.listingPrice[0]) |  currency:forexService.currencyCode }}
        <small>from</small> {{deals?.listingPrice[0] |  currency:'NPR':'code'}}</h3> -->
        <small>from</small> {{ forexService.calculateRate(deals?.listingPrice) |  currency:forexService.currencyCode }}</h3>
    </div>
   
    <div class="caption">

      <div class="row">
        <div class="col-10 col-sm-12 col-md-9 col-lg-10">
          <strong (click)="detailPage(deals?.listing[0]?.slug)" class="package-title cursor">{{deals?.listing[0]?.title}}</strong>
          <span class="text-sm">
            <i class="fa fa-map-marker pr-1 text-primary" aria-hidden="true"></i> {{deals?.business[0]?.street}}, {{deals?.business[0]?.city}}</span>
        </div>
        <div class="col-2 col-sm-12 col-md-3 col-lg-2 pkg-review">
          <span class="position-relative">
            <i class="fa fa-star star-rating" aria-hidden="true"></i>
            <span class="total-rating">{{ deals?.review?.average | number:'1.1-1'}}</span>
          </span>
          <a [class.disabled]="!heart">
              <i (click)="RemoveWishlist(deals?.listing[0])" *ngIf="wishList" style="color:#f12828" class="fa fa-heart wish-icon" aria-hidden="true"></i>
              <i (click)="wishlist(deals?.listing[0])" *ngIf="!wishList" class="fa fa-heart wish-icon" aria-hidden="true"></i>
          </a>
          
        </div>
      </div>

    </div>
  </div>
<!-- </div> -->