<div>
<!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Category</h3> -->
<strong class="mr-2">Category</strong>
<div class="breadcrumb-block">
    <ol class="breadcrumb">
    <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
    <li><a [routerLink]="['/catalog']">Catalog </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
    <li class="active"> Category </li>
    </ol>
</div> 
</div>
<br/>
<div class="row">
<div class="col-md-12">
  <form [formGroup]="categoryForm" (ngSubmit)="saveCategory(categoryForm.value)" autocomplete="off">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                      <i class="material-icons">category</i>
                    </div>
                    <div class="row">
                      <div class="col-md-8"><h4 class="card-title">Category <small>- add new category</small></h4></div>
                    </div>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-5">
                              <mat-form-field class="example-full-width">
                              <input matInput placeholder="Category Title *" type="text" formControlName="title">
                              </mat-form-field>
                            <mat-error *ngIf="categoryForm.controls.title.invalid && categoryForm.controls.title.touched ">Category title is required</mat-error>                              
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Category Code*" type="text" formControlName="code">
                            </mat-form-field>
                            <mat-error *ngIf="categoryForm.controls.code.invalid && categoryForm.controls.code.touched ">Code is required</mat-error>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field>
                              <mat-select placeholder="Status *" formControlName="status">
                                  <mat-option *ngFor="let option of statusList" [value]="option.value">
                                  {{ option.viewValue }}
                                  </mat-option>
                              </mat-select>
                              </mat-form-field>
                            <mat-error *ngIf="categoryForm.controls.status.invalid && categoryForm.controls.status.touched ">Status is required</mat-error>                              
                          </div>
                          <button matTooltip="Click to save category" matTooltipPosition="left" type ="submit" class="btn btn-round btn-success btn-just-icon" [disabled]="!categoryForm.valid"><i class="material-icons">done</i></button>
                      </div> 
                          
                  </div>
              </div>
          </div>
      </div>       
  </form>
</div> 
<!-- <pre>
  {{categoryForm.value | json}}
</pre> -->
<div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <div class="row">
          <div class="col-md-8"><h4 class="card-title">Category <small>- list of available categories</small></h4></div>
          <div class="col-md-4"> 
            <mat-form-field class="card-title">
              <input matInput #filter placeholder="Filter">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-body">
          <mat-table #table [dataSource]="dataSource" matSort>

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:.3"> SN </mat-header-cell>
                <mat-cell *matCellDef="let categoryList;" style="flex: .3"> {{categoryList?.id}} </mat-cell>
        
                <!-- <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell> -->
              </ng-container>
        
              <!-- Title Column -->
              <ng-container matColumnDef="Title">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 2"> Title </mat-header-cell>
                <mat-cell *matCellDef="let categoryList" style="flex: 2"> {{categoryList?.title}} </mat-cell>
              </ng-container>
        
              <!-- Status Column -->
              <ng-container matColumnDef="Status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let categoryList" [ngSwitch]="categoryList?.status">
                    <span *ngSwitchCase="'PUBLISH'" class="badge badge-success"> Publish
                    </span>
                    <span *ngSwitchCase="'AWAITING_APPROVAL'" class="badge badge-info"> Pending
                    </span>
                    <span *ngSwitchCase="'TRASH'" class="badge badge-danger"> Trash
                    </span>
                    <span *ngSwitchCase="'DRAFT'" class="badge badge-warning"> Draft
                      </span>
                      <span *ngSwitchCase="'DECLINED'" class="badge badge-dark"> Decline
                      </span>
                      <span *ngSwitchCase="'CLOSED'" class="badge badge-secondary"> Closed
                        </span>
                  </mat-cell>
              </ng-container>
        
              <!-- Action Column -->
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let categoryList; let i= index">
                    <a class="btn-link">
                      <i class="material-icons text-success"  (click)="updateCategory(i,categoryList?.id,categoryList?.title, categoryList?.status, categoryList?.isVisible )" >edit</i>
                    </a>
                    <a class="btn-link">
                      <i class="material-icons text-danger" (click)="deleteCategory(i,categoryList?.id,categoryList?.title)">clear</i>
                    </a>
                  </mat-cell>
              </ng-container>
        
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
      </div>
    </div>
  </div>
</div>