<div class="row">
  <div class="col-md-12">
    <form [formGroup]="updateCheckListForm">
        <div class="row">
            <div class="col-md-12">
                    <h4 class="mat-dialog-title mb-4">Update Checklist Info</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Checklist Title" formControlName="title" [(ngModel)]="data.title">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Category" formControlName="category" [(ngModel)]="data.category">
                                  <mat-option *ngFor="let category of categories" [value]="category.id">
                                    {{ category.title }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field>
                            <mat-select placeholder="Status" formControlName="status" [(ngModel)]="data.status">
                                <mat-option *ngFor="let s of statusList"  [value]="s.value" >
                                {{s.viewValue}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                        <button mat-button class="btn btn-success" [mat-dialog-close]="1" (click)="confirmUpdate(updateCheckListForm.value)">yes, Update</button>
                        <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">no, keep it</button>
                        </div>
                    </div> 
                        <!-- <pre>{{updateCheckListForm.value |json }}</pre> -->
            </div>
        </div>    
    </form>
  </div> 
</div>