<div class="package-form">
    <div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Add New Package</h3> -->
    <strong class="mr-2">Add New Package</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
            <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
            <li><a [routerLink]="['/packages/list']">Packages </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
            <li class="active"> Add New</li>
        </ol>
    </div> 
    </div>
    <br/>
    
    <div class="row">
        <div class="col-md-2">
        <mat-list role="list">
            <mat-list-item role="listitem"routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div>  General 
            </mat-list-item>
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div>  Itinerary
            </mat-list-item>
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Facts
            </mat-list-item>
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Inclusion
            </mat-list-item>
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Checklist
            </mat-list-item>
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Tour Destination
            </mat-list-item>
            <mat-list-item role="listitem" routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Pricing
            </mat-list-item>
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Add-Ons
            </mat-list-item>
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Media
            </mat-list-item>
            <!-- <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Coupon
            </mat-list-item>
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Calendar
            </mat-list-item> -->
            <!-- <mat-list-item role="listitem" [routerLink]="['/packages/location']" routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Location
            </mat-list-item> -->
            <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> FAQ's
            </mat-list-item>
            <!-- <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Policy and Terms
            </mat-list-item> -->
            <!-- <mat-list-item role="listitem"  routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> Setting
            </mat-list-item> -->
            <!-- <mat-list-item role="listitem" routerLinkActive="mat-list-item-focus">
                <div class="btn btn-sm btn-primary btn-just-icon btn-round"><i class="material-icons">more_horiz</i></div> SEO
            </mat-list-item> -->
        </mat-list>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
