<h3 class="mat-dialog-title mb-4">Update Destination Info </h3>
<form [formGroup]="destinationForm">
  
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
            <input matInput placeholder="Country" type="text" formControlName="country">
        </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field>
            <input matInput placeholder="cities" type="text" formControlName="city">
            </mat-form-field>
        </div>
    </div>      
  
    <div mat-dialog-actions>
      <button mat-button class="btn btn-success" [mat-dialog-close]="destinationForm.value" >yes, update</button>
      <button mat-button class="btn btn-danger">no, keep it</button>
  </div>

</form>   

<!-- <mat-card>
  <pre>
    {{ destinationForm.value | json}}
  </pre>
</mat-card> -->