<div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Settings</h3> -->
  <strong class="mr-2">Settings</strong>
  <div class="breadcrumb-block">
      <ol class="breadcrumb">
      <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
      <!-- <li><a [routerLink]="['/catalog']">Catalog </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li> -->
      <li class="active"> Settings </li>
      </ol>
  </div> 
</div>
<br/>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" [routerLink]="['/settings/generalsetting']">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">info_outline</i>
                </div>
                
                <h4 class="card-title text-left">
                    General
                </h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-primary">remove_red_eye</i>  View your setting
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" [routerLink]="['/settings/socialsetting']">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">group</i>
                </div>
                
                <h4 class="card-title text-left">Social</h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-primary">remove_red_eye</i>  View your setting
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" [routerLink]="['/settings/seosetting']">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">trending_up</i>
                </div>
               
                <h4 class="card-title text-left">SEO</h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-primary">remove_red_eye</i>  View your setting
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" [routerLink]="['/settings/paymentsetting']">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">payment</i>
                </div>
               
                <h4 class="card-title text-left">Payment Configuration</h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-primary">remove_red_eye</i>  View your setting
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" [routerLink]="['/settings/keyclocksetting']">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">vpn_key</i>
                </div>
              
                <h4 class="card-title text-left">
                    Keyclock Configuration
                </h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-primary">remove_red_eye</i>  View your setting
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" [routerLink]="['/settings/apisetting']">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon p-1">
                    <i class="material-icons">list</i>
                </div>
                <h4 class="card-title text-left">API Configuration</h4>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-primary">remove_red_eye</i>  View your setting
                </div>
            </div>
        </div>
    </div>
</div>
