<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="container-fluid">
                <!-- <div>
                <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Business Directory</h3>
                <div class="breadcrumb-block">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
                        <li><a href="#">Business Directory </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
                        <li class="active"> Add New</li>
                    </ol>
                </div> 
                </div>
                <br/> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    <div *ngIf="isMaps('maps')">
        <app-footer></app-footer>
    </div>
</div>
</div>