<div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Settings</h3> -->
  <strong class="mr-2">Settings</strong>
  <div class="breadcrumb-block">
      <ol class="breadcrumb">
      <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
      <li><a [routerLink]="['/settings/list']">Settings </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
      <li class="active"> General Settings </li>
      </ol>
  </div> 
</div>
<br/>

<form [formGroup]="generalSettingForm" autocomplete="off">
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                  <i class="material-icons">info_outline</i>
                </div>
                <div class="row">
                  <div class="col-md-8"><h4 class="card-title">Site Info</h4></div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Site Name *</mat-label>
                        <input matInput placeholder="Goglides" formControlName="siteName">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Site Url *</mat-label>
                          <input matInput placeholder="https://www.goglides.com" formControlName="siteUrl">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Tagline</mat-label>
                          <input matInput placeholder="Thrill with gliding experience" formControlName="tagline">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Admin Email *</mat-label>
                          <input matInput placeholder="info@goglides.com" formControlName="adminEmail">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <mat-form-field>
                            <mat-label>Copyright</mat-label>
                            <input matInput placeholder="Copyright © 2018 GoGlides. All rights reserved" formControlName="copyright">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field>
                            <mat-label>Business Hour</mat-label>
                            <input matInput placeholder="Mon-Fri 9am-6pm" formControlName="businessHour">
                          </mat-form-field>
                        </div>
                    </div> 
              </div>
          </div>
          <div class="card">
              <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                  <i class="material-icons">info_outline</i>
                </div>
                <div class="row">
                  <div class="col-md-8"><h4 class="card-title">Contact Info</h4></div>
                </div>
              </div>
              <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Primary Address *</mat-label>
                          <input matInput placeholder="Bakhundole" formControlName="primaryAdd">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Secondary Address</mat-label>
                          <input matInput placeholder="Thamel" formControlName="secondaryAdd"> 
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Primary Contact *</mat-label>
                          <input matInput placeholder="01-55256585" formControlName="primaryContact">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Secondary Contact</mat-label>
                          <input matInput placeholder="01-556825145" formControlName="secondaryContact">
                        </mat-form-field>
                      </div>
                  </div>  
                  <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Fax-1</mat-label>
                          <input matInput placeholder="01-55256585" formControlName="fax1">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Fax-2</mat-label>
                          <input matInput placeholder="01-556825145" formControlName="fax2">
                        </mat-form-field>
                      </div>
                  </div>  
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Google Map</mat-label>
                      <textarea matInput placeholder="Textarea" rows="5" formControlName="map"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <p><input type="file" formControlName="logo"></p>
                  <br>
                  <!-- <mat-label>Site Mode *</mat-label> -->
                  <p><mat-slide-toggle formControlName="siteMode">Site Mode</mat-slide-toggle></p>
                  <br>
                  <mat-form-field>
                    <mat-select placeholder="Default Currency *" formControlName="currency">
                      <mat-option *ngFor="let option of value" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
          </div>
      </div>
  </div>   
  <button mat-button class="btn btn-primary">Save</button>    
</form>
   
<mat-card>
  <pre>
    {{ generalSettingForm.value | json }}
  </pre>
</mat-card>
