<div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Category</h3> -->
  <strong class="mr-2">Forex</strong>
  <div class="breadcrumb-block">
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/dashboard']">
          <i class="material-icons">home</i>
        </a>
        <span class="fa fa-angle-right" aria-hidden="true"></span>
      </li>
      <li>
        <a [routerLink]="['/catalog']">Catalog </a>
        <span class="fa fa-angle-right" aria-hidden="true"></span>
      </li>
      <li class="active"> Forex </li>
    </ol>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="forexForm" autocomplete="off">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon card-header-primary">
              <div class="card-icon">
                <i class="material-icons">attach_money</i>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Forex
                    <small>- add new forex</small>
                  </h4>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field>
                    <input matInput placeholder="Country Code *" type="text" formControlName="countryCode">
                  </mat-form-field>
                  <mat-error *ngIf="forexForm.controls.countryCode.invalid && forexForm.controls.countryCode.touched ">Country code is required</mat-error>
                </div>
                <div class="col-md-2">
                  <mat-form-field>
                    <input matInput placeholder="Currency Code *" type="text" formControlName="currencyCode">
                  </mat-form-field>
                  <mat-error *ngIf="forexForm.controls.currencyCode.invalid && forexForm.controls.currencyCode.touched ">Currency code is required</mat-error>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput placeholder="Exchange Rate *" type="text" formControlName="rate">
                  </mat-form-field>
                  <mat-error *ngIf="forexForm.controls.rate.invalid && forexForm.controls.rate.touched ">Exchange rate is required</mat-error>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select placeholder="Status *" formControlName="status">
                      <mat-option *ngFor="let s of statusList" [value]="s.value">
                        {{ s.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="forexForm.controls.status.invalid && forexForm.controls.status.touched ">Status is required</mat-error>
                </div>
                <button matTooltip="Click to save" matTooltipPosition="left" type="submit" class="btn btn-round btn-success btn-just-icon"
                  [disabled]="!forexForm.valid" (click)="saveForex(forexForm.value)">
                  <i class="material-icons">done</i>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <pre>
      {{forexForm.value | json}}
    </pre> -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h4 class="card-title">Forex
              <small>- list of available forex</small>
            </h4>
          </div>
          <div class="col-md-4 text-gray my-2">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-body">
        <mat-table #table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:.3"> SN </mat-header-cell>
            <mat-cell *matCellDef="let element; let i =index " style="flex:.3"> {{i+1}} </mat-cell>
          </ng-container>

          <!-- Country-code Column -->
          <ng-container matColumnDef="countrycode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Country Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.countryCode}} </mat-cell>
          </ng-container>

          <!-- Currency-code Column -->
          <ng-container matColumnDef="currencycode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Currency Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.currencyCode}} </mat-cell>
          </ng-container>

          <!-- echange-rate Column -->
          <ng-container matColumnDef="exchangerate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Exchange Rate </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rate}} </mat-cell>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngSwitch]="element.status">
              <!-- <span class="badge badge-success"> Publish
                        </span> -->
              <span *ngSwitchCase="'PUBLISH'" class="badge badge-success"> Publish
              </span>
              <span *ngSwitchCase="'AWAITING_APPROVAL'" class="badge badge-info"> Pending
              </span>
              <span *ngSwitchCase="'TRASH'" class="badge badge-danger"> TRASH
              </span>
              <span *ngSwitchCase="'DRAFT'" class="badge badge-warning"> Draft
              </span>
              <span *ngSwitchCase="'DECLINED'" class="badge badge-dark"> Decline
              </span>
              <span *ngSwitchCase="'CLOSED'" class="badge badge-secondary"> Closed
              </span>
            </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a class="btn-link">
                <i class="material-icons text-success" (click)="openDialog1(element)">edit</i>
              </a>
              <a class="btn-link">
                <i class="material-icons text-danger" (click)="openDialog()">clear</i>
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator  [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>