<form [formGroup]="faqForm" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mat-dialog-title mb-4">Update Tour FAQ's </h3>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                    <input matInput placeholder="Question" type="text" formControlName="question" value="{{ data['faq']['question'] }}">
                    </mat-form-field>
                    <mat-form-field>
                    <textarea matInput placeholder="Answer" rows="5" formControlName="answer" value="{{ data['faq']['answer'] }}"></textarea>
                    </mat-form-field>
                </div>  
            </div> 
        </div>                              
    
    </div>   
    
    <div mat-dialog-actions>
        <button mat-button class="btn btn-success" [mat-dialog-close]="faqForm.value">yes, update</button>
        <button mat-button class="btn btn-danger" (click)="onNoClick()">no, keep it</button>
    </div>

</form>

<!-- <mat-card>
    <pre>{{ faqForm.value | json }}</pre>
</mat-card> -->
