<nav class="navbar navbar-expand-lg  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <!-- <a class="navbar-brand" href="#">{{getTitle()}}</a> -->
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <!-- <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form> -->
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="material-icons">dashboard</i>
                        <p>
                            <span class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li> -->
                
                <li class="nav-item dropdown">
                    <a class="nav-link" routerLink="/bookings/viewcart" >
                        <i class="material-icons">shopping_cart</i>
                        <span class="notification">{{cartCount}}</span>
                    </a>
                    <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Responded to your email</a>
                        <a class="dropdown-item" href="#">You have 5 new tasks</a>
                        <a class="dropdown-item" href="#">You have 5 new notification</a>
                    </div> -->
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification">{{notificationCount}}</span>
    
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <div class="notification-link" >
                            <div *ngFor="let item of notifications">
                                    <a class="dropdown-item"> <span innerHTML="{{item?.description }}"></span> <span class="pl-5">{{item?.createdAt | date:'mediumDate'}}</span></a>

                            </div>
                                <a class="dropdown-item" routerLink="/notification"> <span >View All</span> </a>
                        </div>
                     
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <span>{{agentProfile?.firstName}} {{agentProfile?.lastName}}</span>
                     
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">User Profile</a>
                        <a class="dropdown-item" (click)=logout()>Logout</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                        <span class="d-lg-none d-md-block"  >{{agentProfile?.firstName}}</span>
                    <a class="nav-link" (click)="kcSvc.account()">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block"  >{{agentProfile}}</span>
                        </p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>