<body>

  <div class="wrapper">
    <app-header></app-header>

    
    <!-- <app-home></app-home> -->
<router-outlet></router-outlet>

  </div>
  <app-footer></app-footer>

  <ng-snotify></ng-snotify>

</body>
