<form [formGroup]="policyForm">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <strong class="card-header-primary">Policy/Terms </strong> -->
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8"><h4 class="card-title">Policy/Terms</h4></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Policy and Terms :</label>
                    </div>
                    <div class="col-md-8">
                        <mat-radio-group>
                            <div class="form-group">
                                <mat-radio-button value="1" onclick="show21();">Use goglides standard policy [ <a href="https://goglides.com/privacy-policy" target="blank"> Read Policy </a>]</mat-radio-button>
                            </div>
                            <div class="form-group">
                                <mat-radio-button value="2" onclick="show11();">Update your custom policy</mat-radio-button>
                                <div class="more-option-field" id="div11" style="display: none;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <mat-form-field>
                                                <textarea matInput placeholder="Textarea" rows="6" formControlName="customPolicy"></textarea>
                                            </mat-form-field>                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <button [routerLink]="['/packages/faq']" mat-button class="btn btn-primarybtn btn-default">Back</button>
    <button [routerLink]="['/packages/setting']" mat-button class="btn btn-primary mat-raised-button">Next</button>
</div>  

</form>

<mat-card>
    <pre>{{policyForm.value | json}}</pre>
</mat-card>
