<div class="error-page">

  <div class="center-content text-center"> 

    <a href="http://mockup.goglides.com/html/new/index.html">
      <img src="assets/images/goglides_logo_white.png" class="logo">
    </a>    
    
    <div class="error-text">500</div>

    <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Internal Server Error.</h1>
    <p><a href="http://mockup.goglides.com/html/new/index.html" class="btn-lg btn-large btn">< Back</a></p>

  </div>

</div>