.error-page{ 
    background: #308b90;
    background: #07575bbd;
    height: 100vh;
 }
 .error-page h1{ margin-bottom: 40px; }
 .error-page .logo{ width: 300px; margin-top: 30px; }
 .error-text{font-size: 150px; padding: 0; color: #fff; text-shadow: 5px 3px 3px #898989;}