.banner-caption{
    top:65%;
    z-index: 100;
    font-size: 2.5vmin;
    left: 2%;
    right: 2%;
}
.blockquote-footer{
    border-right:5px solid #fff; 
    font-size: 1.8vmin;
    color: #fff;
}
@media(max-width:767px){
    .banner-caption{
        top:25%;
        font-size: 3.2vmin;
    }
    .blockquote-footer{
        font-size: 2.6vmin;
    }
}