<section class="position-relative">
  <span class="overlay"></span>
  <div class="image-box banner-img">
    <ngb-carousel *ngIf="bannerImages"  >
      <ng-template ngbSlide *ngFor="let image of bannerImages; let i = index" >
        <img class="w-100" [src]="image['path']" alt="Random slide">

        <div class="carousel-caption banner-caption">
            <blockquote *ngIf="quotes">
              <i class="fa fa-quote-left"></i>
              <span> {{quotes[i]?.quote}}</span>
              <i class="fa fa-quote-right"></i>
              <footer class="blockquote-footer text-right pr-3 mt-3">
                <cite title="Source Title">{{quotes[i]?.source}}</cite>
              </footer>
            </blockquote>
        </div>

      </ng-template>
    </ngb-carousel>
  </div>

  <div class="search-block">

    <form [formGroup]="seachForm">

      <div class="row">
        <mat-form-field class="col-8 col-sm-4 d-xs-none pr-0 input-first">
          <mat-label>Destination</mat-label>
          <input matInput disabled>
        </mat-form-field>
        <!-- <div class="col-8 col-sm-4 pr-0">
          <input class="form-control input-first" type="text" name="" placeholder="Destination">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div> -->
        <mat-form-field class="col-sm-3 d-xs-none pr-0">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <!-- <div class="col-sm-3 d-xs-none pr-0">  
          <div class="date" id="datetimepicker14">
            <input type="text" class="form-control" name="datefilter" value="" placeholder="Date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div> -->

        <mat-form-field class="col-8 col-sm-3 pr-0 cat-select">
          <mat-label>Choose Category</mat-label>
          <mat-select formControlName="category" (change)="search()">
            <!-- <mat-option value="selected">Choose Category</mat-option> -->
            <mat-option value="paragliding">Paragliding</mat-option>
            <mat-option value="bungee">Bungee </mat-option>
            <mat-option value="rafting">Rafting/Kayak</mat-option>
            <mat-option value="trekking">Trekking</mat-option>
            <mat-option value="hike">Hike</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div class="col-sm-3 d-xs-none pr-0">
          <input class="form-control" type="text" name="" placeholder="Categories">
          <i class="fa fa-th" aria-hidden="true"></i>
        </div> -->

        <div class="col-4 col-sm-2">
          <input class="form-control input-last cursor" type="submit" name="" (click)=navigate() value="SEARCH" placeholder="Search">
        </div>
      </div>

    </form>
<!-- <pre>{{seachForm|Json}}</pre>   -->
  </div>

</section>

<!-- <div class="text-center">
  <a (click)="scrollToElement(targetBannerupload)" class="btn btn-sm" style="border-radius: 30px;
  padding: 5px 10px;
  color: #fff;
  position: absolute;
  top: 30px;
  z-index: 99999;">Upload Banner</a>
</div> -->

<section class="block block-gray hot-deals">
  <div class="container">
    <div class="block-heading">
      <span>Hot Deals</span>
    </div>
    <div class="row">
      <div class="col-sm-3 mb-3" *ngFor="let item of hotDeals">
        <app-hot-deals-block [deals]=item> </app-hot-deals-block>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 pr-0">
        <span class="cat-title d-block">Categories</span>
        <ul class="list-group cat-group">
          <li class=" cursor list-group-item d-flex justify-content-between align-items-center p-2 rounded-0" *ngFor="let item of categories" (click)="loadMore(item?.slug)">
            {{item?.title}}
            <span class=" cursor badge badge-secondary badge-pill" (click)="loadMore(item?.slug)"> {{item?.count}}</span>
          </li>
        </ul>
      </div>

      <div class="col-sm-9 col-md-9">
        <ngb-carousel *ngIf="addsImages.length !== 0">
          <ng-template ngbSlide *ngFor="let item of addsImages">
            <img class="w-100 cursor" [src]="item['path']" alt="Random first slide" (click)="redirect(item['link'])">
            <div class="carousel-caption" *ngIf="item?.link">
              <p class="cursor" style="font-size: 24px" (click)="redirect(item['link'])">{{ item['description'] }}</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>


<section *ngFor="let item of categoriesList let i = index" class="block" [ngClass]="{'block-gray': (i % 2===0)}" >
  <app-categories-listing [listings]=item></app-categories-listing>
</section>

<!-- banner upload section -->
<!-- <section class="block block-gray text-center">
  <div class="container">
      <div class="block dark-blue-block">
        <h1 class="mb-3">Get a chance to explore your creativity through our website !</h1>
      
        <button class="btn btn-lg" (click)="banner()">Click To Know</button>
      </div>
  </div>
</section> -->
<!-- ends -->

<section class="img-block para-img">
  <div class="bg-parallax"></div>
  <span class="overlay"></span>
  <div class="center-content text-center">
    <h1 class="para-text">Thrill With Gliding Experience!</h1>
  </div>
</section>

