<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Settings</h3> -->
    <strong class="mr-2">Settings</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
        <li><a [routerLink]="['/settings/list']">Settings </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
        <li class="active"> Payment Settings </li>
        </ol>
    </div> 
  </div>
  <br/>
  
  <form [formGroup]="paymentSettingForm" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                  <div class="card-icon">
                    <i class="material-icons">payment</i>
                  </div>
                  <div class="row">
                    <div class="col-md-8"><h4 class="card-title">Paypal</h4></div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                      <div class="col-md-6">
                          <mat-slide-toggle>Paypal Mode</mat-slide-toggle>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>End Point *</mat-label>
                          <input matInput placeholder="End Point" formControlName="title">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                          <mat-form-field>
                            <mat-label>Client ID *</mat-label>
                            <input matInput placeholder="Client ID">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field>
                            <mat-label>Client Secret *</mat-label>
                            <input matInput placeholder="Client Secret">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Sandbox End Point</mat-label>
                              <input matInput placeholder="Sandbox End Point">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Sandbox Client ID</mat-label>
                              <input matInput placeholder="Sandbox Client ID">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Sandbox Client Secret </mat-label>
                              <input matInput placeholder="Sandbox Client Secret ">
                            </mat-form-field>
                          </div>
                      </div> 
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Return URL</mat-label>
                              <input matInput placeholder="Sandbox Client ID">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Cancel URL </mat-label>
                              <input matInput placeholder="Sandbox Client Secret ">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Redirect URL </mat-label>
                              <input matInput placeholder="Sandbox Client Secret ">
                            </mat-form-field>
                          </div>
                      </div> 
                </div>
            </div>
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                  <div class="card-icon">
                    <i class="material-icons">payment</i>
                  </div>
                  <div class="row">
                    <div class="col-md-8"><h4 class="card-title">Khalti</h4></div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                      <div class="col-md-6">
                          <mat-slide-toggle>Khalti Mode</mat-slide-toggle>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Live Secret Key</mat-label>
                          <input matInput placeholder="End Point" formControlName="title">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                          <mat-form-field>
                            <mat-label>Live Public Key</mat-label>
                            <input matInput placeholder="Client ID">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field>
                            <mat-label>Test Secret Key</mat-label>
                            <input matInput placeholder="Client Secret">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field>
                            <mat-label>Test Public Key</mat-label>
                            <input matInput placeholder="Sandbox End Point">
                          </mat-form-field>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card">
                <div class="card-body"> 
                  <br>
                  <p><mat-slide-toggle>Paypal Mode</mat-slide-toggle></p>
                  
                </div>
            </div>
        </div> -->
    </div>   
    <button mat-button class="btn btn-primary">Save</button>      
  </form>
  