<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Booking Detail View</h3> -->
    <strong class="mr-2">Booking Detail View</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">
                    <i class="material-icons">home</i>
                </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li>
                <a [routerLink]="['/bookings']">Booking </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li class="active"> View</li>
        </ol>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-9">
        <!-- filter -->
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Booking Details </h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
              
                <form #bookingForm="ngForm">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <!-- (change)="selectBusiness($event)" -->
                                <mat-select placeholder="Type" name="type" ngModel>
                                    <mat-option *ngFor="let price of bookingOption?.type" [value]="price">
                                        {{price}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <!-- (change)="selectBusiness($event)" -->
                                <mat-select placeholder="Schedule" name="schedule" ngModel>
                                    <mat-option *ngFor="let price of bookingOption?.schedule" [value]="price">
                                        {{commonService.formatSchedule(price)}}
                                        <!-- {{price}} -->
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <!-- (change)="selectBusiness($event)" -->
                                <mat-select placeholder="Duration" name="duration" ngModel>
                                    <mat-option *ngFor="let price of bookingOption?.duration" [value]="price">
                                        {{commonService.formatDuration(price)}}
                                        <!-- {{price}} -->
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <!-- <mat-form-field> -->
                            <my-date-picker name="bookingDate" [options]="myDatePickerOptions" placeholder="Choose a date" [(ngModel)]="model"></my-date-picker>

                            <!-- <input matInput [matDatepicker]="picker" ngModel name="bookingDate" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker> -->
                            <!-- </mat-form-field> -->
                        </div>
                        <div class="col-md-1">
                            <button (click)="search(bookingForm.value)" class="btn btn-round btn-white btn-just-icon">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--  -->
        <!-- results -->
        <div class="card" *ngIf="listingPrices">
            <div class="card-body">

                <mat-accordion *ngFor="let item of listingPrices; let i = index">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="form-group">
                            <mat-panel-title style="flex:5">
                                {{item?.nationality}}
                                <span *ngIf="state[item?.id]===1">
                                    <i class="material-icons text-success pl-2" style="font-size: 18px; vertical-align: middle">shopping_cart</i>
                                </span>
                            </mat-panel-title>
                            <mat-panel-description style="flex-grow: 1;">
                                {{item?.type}}
                            </mat-panel-description>
                            <mat-panel-description style="flex-grow: 1;">
                                {{commonService.formatSchedule(item?.schedule)}}
                            </mat-panel-description>
                            <mat-panel-description style="flex-grow: 1;">
                                {{commonService.formatDuration(item?.duration)}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th>Age Group</th>
                                            <th>Rate</th>
                                            <th style="width: 20%">Qty</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                        <tr>
                                            <td>Senior</td>
                                            <td>{{item?.seniorRetailRate}}</td>
                                            <td>
                                                <input type="number" min="0" max="10" matInput class="border-bottom" value="0" (input)="calcSenior(item?.id,$event,item?.seniorRetailRate)"
                                                    placeholder="">
                                            </td>
                                            <td class="text-right">{{seniortotal[item?.id]}}</td>
                                        </tr>
                                        <tr>
                                            <td>Adult</td>
                                            <td>{{item?.retailRate}}</td>
                                            <td>
                                                <input type="number" min="0" max="10" matInput class="border-bottom" value="0" (input)="calcAdult(item?.id,$event,item?.retailRate)"
                                                    placeholder="">
                                            </td>
                                            <td class="text-right">{{adulttotal[item?.id]}}</td>
                                        </tr>
                                        <tr>
                                            <td>Child</td>
                                            <td>{{item?.childRetailRate}}</td>
                                            <td>
                                                <input type="number" min="0" max="10" matInput class="border-bottom" value="0" (input)="calcChild(item?.id,$event,item?.childRetailRate)"
                                                    placeholder="">
                                            </td>
                                            <td class="text-right">{{childtotal[item?.id]}}</td>
                                        </tr>
                                        <tr>
                                            <td>Infant</td>
                                            <td>{{item?.infantRetailRate}}</td>
                                            <td>
                                                <input type="number" min="0" max="10" matInput class="border-bottom" value="0" (input)="calcInfant(item?.id,$event,item?.infantRetailRate)"
                                                    placeholder="">
                                            </td>
                                            <td class="text-right">{{infanttotal[item?.id]}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="text-right">{{total[item?.id] }}</td>
                                        </tr>
                                    </table>
                                    <button *ngIf="state[item?.id]!==1" (click)="addtoCart(item)" class="btn btn-round btn-sm">add to cart</button>
                                    <button *ngIf="state[item?.id]===1" (click)="addtoCart(item)" class="btn btn-round btn-success btn-sm">added to cart</button>
                                    <!-- {{state[item?.id]}} -->
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                
                <!-- <mat-button class="btn btn-primary pull-right mt-3" (click)="openDialog()">Book Now</mat-button>                -->
                <mat-button (click)="saveBooking()" class="btn btn-primary pull-right mt-3">Book Now</mat-button>
                <mat-button [routerLink]="['/bookings/paxinfo']" class="btn btn-primary pull-right mt-3">Pax Info</mat-button>
            </div>

        </div>
        <!-- end -->
        <pre>
                {{bookingForm.value | json}}
            </pre>
    </div>


    <div class="col-md-3">
        <!-- profile -->
        <div class="card card-profile mb-0">
            <div class="card-avatar full-width-avatar">
                <img class="img img-banner" [src]="bannerImage" />
            </div>
            <div class="featured-img" style="margin: -70px 0 0 30px">
                <img class="img img-feat" [src]="featureImage" />
            </div>
            <div class="card-body">
                <h4 class="card-title mb-1"><strong>{{listing?.title}}</strong></h4>
                <h6 class="text-gray">Trip Code : {{listing?.code}}</h6>

                <div>
                    <small>
                        <strong>Catagory : {{category?.title}}</strong>
                    </small>
                </div>
                <p>
                    <button class="btn text-success" style="background: #f1f1f1; width: 100%;">
                        <strong>Available</strong>
                    </button>
                </p>
            </div>
        </div>
        <!-- end -->

        <!-- summary -->
        <div class="card mt-0">
            <div class="card-body" style="padding: 10px;">
                <div style="background: #f1f1f1; padding: 10px;">
                    <h5 class="text-center">
                        <strong>Booking Summary</strong>
                    </h5>
                    <table class="table">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%" *ngIf="cartList">
                                    <tr *ngFor="let cart of cartList">
                                        <td class="px-0">{{cart?.category}}</td>
                                        <td class="px-0">{{cart?.total}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- <span *ngIf="cartList">
                            <tr *ngFor="let cart of cartList">
                                <span></span>
                                <td>{{cart?.nationality}}</td>
                                <td>{{cart?.total}}</td>
                            </tr>
                        </span> -->
                    </table>
                </div>
            </div>
        </div>
        <!-- end -->

    </div>

</div>
