<div class="buttons">
    <mat-paginator class="d-inline-block" [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    <button matTooltip="Add New Business Directory" [matTooltipPosition]="'left'" class="btn btn-lg btn-round btn-primary btn-just-icon pull-right" [routerLink]="['/businessdirectory/basicinfo']">
    <i class="material-icons">add</i>
    </button>
</div>
<div class="row">
<div class="col-md-9">    
<!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Business Directory List</h3> -->
<strong class="mr-2">Business Directory List</strong>
<div class="breadcrumb-block">
    <ol class="breadcrumb">
    <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
    <!-- <li><a [routerLink]="['/businessdirectory/list']">Business Directory </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li> -->
    <li class="active"> Business Directory </li>
    </ol>
</div> 
</div>
<div class="col-md-3">
<form class="navbar-form">
    <div class="input-group border-bottom">
        <input class="form-control" placeholder="Search..." type="text" value="">
        <button class="btn btn-white btn-round btn-just-icon" mat-raised-button="" type="submit">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>
    </div>
</form>
</div>
</div>

<div class="row business-list-block" >  
  <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let business of businessDir">
      <div class="card card-stats" (click)="view(business?.id)" >
          <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon p-1">
                  <img [src]="business?.logoUrl" style="width: 60px; height: 60px; object-fit: contain;">
              </div>
              <h5 class="card-title">{{business?.businessName}}</h5>
              
              <!-- <p class="card-category"> Godawari, Lalitpur</p> -->

          </div>
          <div class="card-footer">
              <div class="stats">
                  <i class="material-icons">place</i> {{business?.street}}
              </div>
              <div  [ngSwitch]="business.status">
                    <span *ngSwitchCase="'DRAFT'" class="pull-right badge badge-secondary ng-star-inserted">
                            Draft
                    </span>
                    <span *ngSwitchCase="'PUBLISH'" class="pull-right badge badge-success ng-star-inserted">
                            Publish
                    </span>
                    <span *ngSwitchCase="'TRASH'" class="pull-right badge badge-danger ng-star-inserted">
                            Trash
                    </span>
                    <span *ngSwitchCase="'AWAITING_APPROVAL'" class="pull-right badge badge-primary ng-star-inserted">
                            Pending
                    </span>
                    <span *ngSwitchCase="'DECLINED'" class="pull-right badge badge-warning ng-star-inserted">
                            Decline
                    </span>
                    <span *ngSwitchCase="'CLOSED'" class="pull-right badge badge-dark ng-star-inserted">
                            Close
                    </span>
              </div>
             
          </div>
      </div>
  </div>
 
</div>
