// .block .thumbnail{
//     box-shadow: none;
//     // :hover{
//     //     box-shadow: 0 9px 16px -2px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.02);
//     // }
// }
// .block .thumbnail:hover{
//     box-shadow: 0 9px 16px -2px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.02);
// }