
<div class="menu-height"></div>
<div class="inner-wrap">
    <div class="container">
        <div class="block block-transparent py-0">
            <h2>{{ category }}</h2>

            <div class="row">
                <div class="col-sm-3 mb-3" *ngFor="let listingData of listing; let i = index">
                    <div class="thumbnail rounded-top">
                
                    <div class="zoom">
                        <img (click)="detailPage(listingData?.slug)" [src]="listingData?.featureImageUrl" class="col4-img rounded-top w-100 cursor">
                    </div>
                    <div class="mb-4">
                        <div class="position-relative cursor">
                        <p class="agent-review">
                        <img (click)="businessPage(listingData?.businessSlug)" [src]="listingData?.businessUrl">
                        </p>
                        <span (click)="businessPage(listingData?.businessSlug)" class="package-oprator">{{ listingData?.businessName }}</span>
                        </div>
                    </div>
                
                    <div class="caption">
                        <strong (click)="detailPage()" class="package-title cursor">{{ listingData?.title }}</strong>
                        <p class="text-sm">
                        <i class="fa fa-map-marker pr-1 text-primary" aria-hidden="true"></i> {{ listingData?.address }}, {{ listingData?.city }}</p>
                        <h3 class="amount pb-1">
                        <small class="text-secondary">from</small> {{ forexService.calculateRate(listingData?.price) |  currency:forexService.currencyCode }}</h3>
                        <div class="listing-reviews">
                        <ngb-rating [rate]="listingData?.review?.average" max=5 readonly=true></ngb-rating>
                        | <span>{{ listingData?.review?.total }} Reviews</span>
                        <span class="pull-right">
                        <a [class.disabled]="!heart">
                            <i (click)="removeWishList(listingData, i)" *ngIf="listingData?.wishList" class="fa fa-heart pull-right" style="color:#f12828;" aria-hidden="true"></i>
                            <i (click)="wishlist(listingData, i)" *ngIf="!listingData?.wishList" class="fa fa-heart pull-right" aria-hidden="true"></i>
                        </a>
                        </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
