<form [formGroup]="updateGeneralForm">
  <div class="row">
      <div class="col-md-12">
        <h3 class="mat-dialog-title mb-4">Update General Info </h3>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input  matInput placeholder="Trip Title" type="text" formControlName="title">
                    </mat-form-field>                        
                    <mat-error *ngIf="!updateGeneralForm.controls.title.valid  && updateGeneralForm.controls.title.touched">Title is required.</mat-error>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input  matInput placeholder="Trip Code" type="text" formControlName="tripCode">
                    </mat-form-field>     
                </div>
        
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <p class="text-gray"><strong>Tour-Description</strong></p>
                    <app-ngx-editor [config]="editorConfig" [spellcheck]="true"  formControlName="description"></app-ngx-editor>
                </div>   
            </div>
            <mat-error *ngIf="!updateGeneralForm.controls.description.valid  && updateGeneralForm.controls.description.touched">Description is required.</mat-error>
            <div class="row">
                <div class="col-md-12 form-group">
                    <p class="text-gray"><strong>Tour-Highlights</strong></p>
                    <app-ngx-editor [config]="editorConfig1" [spellcheck]="true" formControlName="highlight"></app-ngx-editor>                    
                </div>                       
            </div>
            <mat-error *ngIf="!updateGeneralForm.controls.highlight.valid  && updateGeneralForm.controls.highlight.touched">Highlight is required.</mat-error>
        </div>
      </div>
      
      <div class="col-md-12">
        <button mat-button class="btn btn-success" [mat-dialog-close]="updateGeneralForm.value">Yes, Update</button>
        <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">No, keep it</button>
      </div>

  </div>
</form>

<!-- <mat-card>
  <pre>{{updateGeneralForm.value | json}}</pre>
</mat-card> -->
