<h3 class="mat-dialog-title">Client Info</h3>
<form [formGroup]="contactInfo" autocomplete="off">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input formControlName="clientName" matInput placeholder="Client Name">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input  matInput formControlName="clientEmail"  placeholder="Contact Email">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input  matInput formControlName="clientContact"  placeholder="Contact Number">
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="close" (click)="book(contactInfo.value)" class="btn btn-success">save</button>
  </mat-dialog-actions>
</form>
<pre>
  {{contactInfo.value | json}}
</pre>

  