<form [formGroup]="policyForm">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mat-dialog-title mb-4">Update Terms and Policy </h3>
            <div class="row">
                <div class="col-md-12">
                    <label>Policy and Terms :</label>
                    <textarea matInput placeholder="Textarea" rows="6" formControlName="customPolicy" value="There are many variations of passages of Lorem Ipsum available There are many variations of passages of Lorem Ipsum available"></textarea>                    
                </div>
                <!-- <div class="col-md-8">
                    <mat-radio-group>
                        <div class="form-group">
                            <mat-radio-button value="1" onclick="show21();">Use goglides standard policy [ <a href="https://goglides.com/privacy-policy" target="blank"> Read Policy </a>]</mat-radio-button>
                        </div>
                        <div class="form-group">
                            <mat-radio-button value="2" onclick="show11();">Update your custom policy</mat-radio-button>
                            <div class="more-option-field" id="div11" style="display: none;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <textarea matInput placeholder="Textarea" rows="6" formControlName="customPolicy"></textarea>
                                        </mat-form-field>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-radio-group>
                </div> -->
            </div>
        </div>
    </div>
    
    <div mat-dialog-actions>
        <button mat-button class="btn btn-success">yes, update</button>
        <button mat-button class="btn btn-danger">no, keep it</button>
    </div>
    
    </form>
    
    <mat-card>
        <pre>{{policyForm.value | json}}</pre>
    </mat-card>
    