<div class="example-container">
   <strong>Reason for decline</strong>
    <mat-form-field>
      <textarea matInput placeholder="Textarea" rows="5"></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button class="btn btn-success" [mat-dialog-close]="1">Submit</button>
      <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">cancel</button>
    </div>
  </div>
  