<h3 class="mat-dialog-title mb-4">Add Payment Detail</h3>
<form autocomplete="off">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>      
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Amount">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-select placeholder="Account">
         <mat-option value=""> Cash </mat-option>
         <mat-option value="">Nabil Bank</mat-option>
         <mat-option value="">Investment Bank</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Currency">
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-select placeholder="Payment Method">
          <mat-option value=""> Cash </mat-option>
          <mat-option value="">Card</mat-option>
          <mat-option value="">Cheque</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Reference">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button class="btn btn-success">save</button>
      <button mat-button class="btn btn-danger">cancel</button>
  </div>
</form>
