<div class="menu-height"></div>
<div class="inner-wrap">
  <div class="container">
    <section>
      <div class="white-block">
        <div class="row">
          <div class="col-sm-6">
            <h1>{{listing?.listing[0]?.title}} </h1>
            <!-- <h1>test</h1> -->
            <span class="badge badge-pill badge-secondary">
              <small>Code : {{listing?.listing[0]?.code}} </small>
              <!-- <small>Product code : test </small> -->
            </span>
          </div>
          <div class="col-sm-6">
            <div class="row package-info">
              <div class="col-xs-6 col-sm-6">
                <!-- <i class="fa fa-clock-o" aria-hidden="true"></i> {{homeService.formatSchedule(pricing?.schedule)}} -->
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{homeService.formatSchedule(booking?.schedule)}}
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-calendar" aria-hidden="true"></i> {{booking?.bookingDate | date:'mediumDate'}}
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-info-circle" aria-hidden="true"></i> {{booking?.type}}
                <!-- <img src="assets/images/para-ico.png"> test -->
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{homeService.formatDuration(booking?.duration)}}
                <!-- <i class="fa fa-clock-o" aria-hidden="true"></i>test -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <div class="row">
      <!-- other info -->
      <div class="col-md-9"> 
        <section>
          <form  [formGroup]="otherInfoForm">
            <div class="white-block">
              <h2 class="mb-3">Other Details</h2>
              <div class="paxdetail">
        
                <strong>Payment Option</strong>
                <div class="payment-block mt-2">   
                  <mat-radio-group formControlName="paymentMode" >
                      <mat-radio-button class="pr-5" *ngFor="let mode of paymode" [value]="mode.paymode">
                          <img [src]="mode.iconUrl">  
                        {{mode.paymode}}
                      </mat-radio-button>
                  </mat-radio-group>     
                </div>
                    
                <strong>Emergency Contact Detail</strong>
                <div class="more-detail">
        
                  <div class="row">
                    <mat-form-field class="form-group col-sm-6">
                      <input matInput placeholder="Name" required formControlName="emergencyContactName" type="text">
                    </mat-form-field>
                    <!-- <div class="col-xs-6 col-sm-6 form-group">
                      <label for="">Name</label>
                      <input  formControlName="emergencyContactName" type="text" class="form-control" id="#" placeholder="">
                    </div> -->
                    <mat-form-field class="form-group col-sm-6">
                      <input matInput placeholder="Number" required formControlName="emergencyContactNumber" type="number">
                    </mat-form-field>
                    <!-- <div class="col-xs-6 col-sm-6 form-group">
                      <label for="">Number</label>
                      <input type="text" formControlName="emergencyContactNumber" class="form-control" id="#" placeholder="">
                    </div> -->
                  </div>
        
                </div>
                <!-- {{pickup}} -->
                <strong *ngIf="pickup.length>0 && dropOff.length>0">Other Details</strong>
                <div class="more-detail">
        
                  <div *ngIf="pickup.length>0 && dropOff.length>0" class="row">
                    <!-- <div class="col-xs-6 col-sm-6 form-group" *ngIf="pickup.length>0"> -->
                      <mat-form-field class="col-xs-6 col-sm-6 form-group" *ngIf="pickup.length>0">
                        <mat-label>Pick Up</mat-label>
                        <mat-select formControlName="pickup" class="" name="pickup">
                            <!-- <mat-option disabled value="">select</mat-option> -->
                            <mat-option value="" *ngFor="let item of pickup" [value]="item">{{item}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <!-- <label for="">Pick Up</label> -->
                      <!-- <select formControlName="pickup" class="form-control" name="pickup" id="">
                        <option disabled value="">select</option>
                        <option value="" *ngFor="let item of pickup" [value]="item">{{item}}</option>
                      </select> -->
                      <!-- <input type="text" formControlName="pickup" class="form-control" id="#" placeholder=""> -->
                    <!-- </div> -->
                    <!-- <div class="col-xs-6 col-sm-6 form-group " *ngIf="dropOff.length>0"> -->
                        <mat-form-field class="col-xs-6 col-sm-6 form-group " *ngIf="dropOff.length>0">
                            <mat-label>Pick Up</mat-label>
                            <mat-select formControlName="dropOff" class="" name="pickup">
                                <!-- <mat-option disabled value="">select</mat-option> -->
                                <mat-option value="" *ngFor="let item of dropOff" [value]="item">{{item}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      <!-- <label for="">Drop Off</label> -->
                      <!-- <select formControlName="dropOff" class="form-control" name="dropOff" id="">
                          <option disabled value="">select</option>
                        <option value="" *ngFor="let item of dropOff" [value]="item">{{item}}</option>
                      </select> -->
                      <!-- <input type="text" formControlName="dropOff" class="form-control" id="#" placeholder=""> -->
                    <!-- </div> -->
        
                  </div>

                  <!-- <div class="form-group">
                    <label for=""><strong>Special Request</strong></label>
                    <textarea rows="5" formControlName="comment" class="form-control" id="#" placeholder="If you have any queries? Please comment."></textarea>
                  </div> -->

                  <strong>Special Request</strong>
                  <mat-form-field class="w-100 mt-2">
                    <textarea matInput placeholder="If you have any queries? Please comment." rows="5" formControlName="comment"></textarea>
                  </mat-form-field>
        
                </div>

               

                <mat-checkbox formControlName="condition">I Accept </mat-checkbox> <a target="_blank" href="/terms-and-condition"> <strong> Terms & Conditions. </strong></a>

                <!-- <div class="checkbox">
                  <label>
                    <input formControlName="condition" type="checkbox" value="" id="termss">
                  <label for="termss">I Accept</label><a target="_blank" href="/terms-and-condition"> <strong> Terms & Conditions. </strong></a>
                  </label>
                </div> -->
        
              <!-- </div> -->
            </div>
        
            <div class="text-center">
              <button type="submit" (click)="saveBooking(otherInfoForm.value)"  [disabled]="!otherInfoForm.valid" class="btn-lg btn-large btn">Confirm Booking</button>
            </div>
            </div>
          </form>
        </section> 
        <!-- <div class="form-group text-center">
          <button  class="btn-lg btn-large btn">next</button>
        </div> -->
      </div>
      <!-- ends -->

      <!-- aside -->
      <div class="col-sm-3 sidebar">
        <aside>
          <div>
            <div class="white-block blue-block">
              <h4 class="text-center mb-3">
                Booking Summary
              </h4>
              <ul class="list-unstyled mb-0">
                <li>
                  <span>{{infactPax}}</span> x Infant
                  <span class="pull-right">{{ forexService.calculateRate(infactPaxRate) |  currency:forexService.currencyCode }} </span>
                </li>
                <li>
                  <span>{{childPax}}</span> x Child
                  <span class="pull-right">{{ forexService.calculateRate(childPaxRate) |  currency:forexService.currencyCode }} </span>
                </li>
                <li>
                  <span>{{adultPax}}</span> x Adult
                  <span class="pull-right">{{ forexService.calculateRate(adultPaxRate) |  currency:forexService.currencyCode }}</span>
                </li>
                <li>
                  <span>{{seniorPax}}</span> x Senior
                  <span class="pull-right">{{ forexService.calculateRate(seniorPaxRate) |  currency:forexService.currencyCode }} </span>
                </li> 
              </ul>
            </div>
          </div>
          <div>
            <div class="white-block blue-block">
              <h4 class="text-center mb-3">
                Addons Summary
              </h4>
              <ul class="list-unstyled mb-0" *ngIf="paxList">
                <li *ngFor="let item of paxList">
                  <strong>{{item?.fullName}}</strong>
                  <div *ngIf="item?.addOn">
                    <div *ngFor="let adon of item?.addOn">
                      <div>{{adon?.title}}
                        <span class="pull-right">{{ forexService.calculateRate(adon?.retailRate) |  currency:forexService.currencyCode }}  </span>
                        </div>
                    </div>
                  </div>
                  
                <hr>
                 
                </li>
                
              </ul>
            </div>
            <div class="white-block dark-blue-block text-center">
              Total : {{ forexService.calculateRate(total) |  currency:forexService.currencyCode }} 
            </div>
          </div>
        </aside>
    </div>
    <!--ends  -->
    </div>
  
  </div>
</div>  
<!-- <pre>{{paxList|json}}</pre> -->
<!-- <pre>{{otherInfoForm.value|json }}</pre> -->