<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <strong class="card-header-primary">Calendar </strong> -->
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8"><h4 class="card-title">Calendar</h4></div>
                </div>
            </div>
            <div class="card-body">
                <div *ngIf="calendarOptions">
                    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                        (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="buttons">
    <button [routerLink]="['/packages/coupon']" mat-button class="btn btn-primarybtn btn-default">Back</button>
    <button [routerLink]="['/packages/location']" mat-button class="btn btn-primary mat-raised-button">Next</button>
</div>  