<div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Checklist</h3> -->
  <strong class="mr-2">Checklist</strong>
  <div class="breadcrumb-block">
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/dashboard']">
          <i class="material-icons">home</i>
        </a>
        <span class="fa fa-angle-right" aria-hidden="true"></span>
      </li>
      <li>
        <a [routerLink]="['/catalog']">Catalog </a>
        <span class="fa fa-angle-right" aria-hidden="true"></span>
      </li>
      <li class="active"> Checklist </li>
    </ol>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="checkListForm" autocomplete="off">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon card-header-primary">
              <div class="card-icon">
                <i class="material-icons">list</i>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Checklist
                    <small>- add new checklist</small>
                  </h4>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Checklist Title *" formControlName="title">
                  </mat-form-field>
                  <mat-error *ngIf="!checkListForm.controls.title.valid  && checkListForm.controls.title.touched">Title is required.</mat-error>                   
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select placeholder="Category" formControlName="category">
                      <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{ category.title }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="!checkListForm.controls.category.valid  && checkListForm.controls.category.touched">Category is required.</mat-error> 
                </div>
              
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select placeholder="Status *" formControlName="status">
                      <mat-option *ngFor="let s of statusList" [value]="s.value">
                        {{ s.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="!checkListForm.controls.status.valid  && checkListForm.controls.status.touched">Status is required.</mat-error>                   
                </div>
                <button  matTooltip="Click to save checklist" matTooltipPosition="right" type="submit" class="btn btn-round btn-success btn-just-icon" [disabled]="!checkListForm.valid" (click)="saveCheckList()">
                  <i class="material-icons">done</i>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <pre>{{checkListForm.value | json}}</pre> -->

  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h4 class="card-title">Checklist
              <small>- list of available checklists</small>
            </h4>
          </div>
          <div class="col-md-4">
            <div class="form my-2">
              <mat-form-field>
                <input matInput class="text-gray" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>              
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <mat-table #table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:.3"> SN </mat-header-cell>
            <mat-cell *matCellDef="let element; let i =index;" style="flex: .3"> {{ i+1 }} </mat-cell> 
            <!-- <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell> -->
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 3" class="px-3"> Title </mat-header-cell>
            <mat-cell *matCellDef="let element" style="flex: 3" class="px-3"> {{element.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.category.title }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
            
          <!-- Weight Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngSwitch]="element.status">
                <span *ngSwitchCase="'PUBLISH'" class="badge badge-success"> Publish</span>
                <span *ngSwitchCase="'AWAITING_APPROVAL'" class="badge badge-info"> Pending</span>
                <span *ngSwitchCase="'TRASH'" class="badge badge-danger"> Trash</span>
                <span *ngSwitchCase="'DRAFT'" class="badge badge-warning"> Draft</span>
                <span *ngSwitchCase="'DECLINED'" class="badge badge-dark"> Decline</span>
                <span *ngSwitchCase="'CLOSED'" class="badge badge-secondary"> Closed</span>
              </mat-cell>
          </ng-container>
    
          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let element; let i =index;">
                <a class="btn-link">
                  <i class="material-icons text-success" 
                    (click)="editCheckList(i, element.id, element.title, element.status, element.category.id)">edit</i>
                </a>
                <a class="btn-link">
                  <i class="material-icons text-danger" (click)="deleteCheckList(i, element.id, element.title)">clear</i>
                </a>
              </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
        [pageIndex]="0"
        [pageSize]="20"
        [pageSizeOptions]="[20, 30, 50, 100]">
      </mat-paginator>
</div>
</div>