<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Pax Information</h3> -->
    <strong class="mr-2">Pax Information</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">
                    <i class="material-icons">home</i>
                </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li>
                <a>Booking </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li class="active"> Pax Info </li>
        </ol>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">person</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Pax Info </h4>
                    </div>
                </div>
            </div>
            {{ resetCount() }}

            <form [formGroup]="productionForm">
                
                <div class="card-body">
                    <mat-accordion *ngFor="let group of prodData.items; let i = index">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header class="form-group">
                                <mat-panel-title>
                                    <strong class="mr-1"></strong> {{group.category}}
                                     <p class="badge badge-secondary m-1">{{group?.products.length}}</p>
                                </mat-panel-title>
                                <mat-panel-description style="flex-grow: 1;">
                                    <!-- {{formatCategory(item)[2]}} -->
                                    {{group?.type}}
                                    
                                </mat-panel-description>
                                <mat-panel-description style="flex-grow: 1;">
                                    <!-- schedule -->
                                    {{commonService.formatSchedule(group?.schedule)}}
                                    <!-- {{commonService.formatSchedule(formatCategory(item)[3])}} -->
                                </mat-panel-description>
                                <mat-panel-description style="flex-grow: 1;">
                                
                                    {{commonService.formatDuration(group?.duration)}}
                                    <!-- {{initArray(2)}} -->
                                    <!-- {{commonService.formatDuration(formatCategory(item)[4])}} -->
                                </mat-panel-description>

                            </mat-expansion-panel-header>
                            <div class="table-responsive">
                                <table class="table">
                              <tbody formArrayName="paxInfo">
                                  <tr>
                                      <th>A.G</th>
                                      <th style="width: 60px;">Title</th>
                                      <th>Full Name</th>
                                      <th style="width: 60px;">Nationality</th>
                                      <th>Email</th>
                                      <th>Contact No.</th>
                                      <th style="width: 60px;">Weight</th>
                                      <th>Liscence/Passport</th>
                                      <th style="width: 80px;">Type</th>
                                      <th>Addons</th>
                                  </tr>
                                      <tr *ngFor="let product of group.products; let j=index" [formGroupName]="ind">

                                    <td>
                                         {{ add()}}
                                        <!-- <mat-form-field> -->
                                                    {{product.ageGroup}}
                                                    <!-- <input matInput placeholder="ageGroup" formControlName="ageGroup" class="border-bottom form-control"> -->
                                        <!-- </mat-form-field> -->
                                    </td>
                                    <td>
                                        <!-- <mat-form-field> -->
                                                <mat-select placeholder="title" [value]="product?.title" formControlName="title">
                                                        <mat-option *ngFor="let option of value" [value]="option.value">
                                                            {{option.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                            <!-- <input matInput placeholder="title" formControlName="title" class=" form-control"> -->
                                        <!-- </mat-form-field> -->
                                    </td>
                                    <td>
                                        <!-- <mat-form-field> -->
                                            <input matInput placeholder="fullName" formControlName="fullName" class="border-bottom form-control">
                                        <!-- </mat-form-field> -->
                                    </td>
                                    <td>
                                        <!-- <mat-form-field> -->
                                            <input matInput placeholder="nationality" formControlName="nationality" class="border-bottom form-control">
                                        <!-- </mat-form-field> -->
                                    </td>
                                    <td>
                                        <!-- <mat-form-field> -->
                                            <input matInput placeholder="email" formControlName="email" class="border-bottom form-control">
                                        <!-- </mat-form-field> -->
                                    </td>
                                    <td>
                                        <!-- <mat-form-field> -->
                                                    <input matInput placeholder="contact" formControlName="contactNo" class="border-bottom form-control">
                                        <!-- </mat-form-field> -->
                                    </td>
                                    <td>
                                        <!-- <mat-form-field> -->
                                            <input matInput placeholder="weight" formControlName="weight" class="border-bottom form-control">
                                        <!-- </mat-form-field> -->
                                    </td>
                                    <td>
                                        <!-- <mat-form-field> -->
                                                    <input matInput placeholder="ID No." formControlName="identificationNo" class="border-bottom form-control">
                                        <!-- </mat-form-field> -->
                                    </td>
                                    <td>
                                       <mat-select placeholder="I.D Type" [value]="product?.identificationType" formControlName="identificationType">
                                            <mat-option *ngFor="let option of type" [value]="option.value">
                                                {{option.viewValue}}
                                            </mat-option>
                                         
                                        </mat-select>
                                    </td>
                                    <td>
                                            <mat-select placeholder="Addons" [value]="product?.addAddon" formControlName="addAddon" (change)="addOns($event,product.id,i, group.category)" >
                                                    <mat-option *ngFor="let option of addons" [value]="option.value">
                                                        {{option.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                         
                                    </td>

                                   </tr>
                            </tbody>
                    </table>
                </div>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- <mat-button class="btn btn-primary mt-3 pull-right" [routerLink]="['/bookings/otherinfo/',booking.id]">Next</mat-button> -->
            <mat-button class="btn btn-primary mt-3 pull-right" (click)="saveBooking(productionForm.value)"  >Next</mat-button>
                        
            </div>
            </form>

        </div>
    </div>
    <!-- <li *ngFor="let item of getRange(9)">a</li> -->
   

    <!-- <p>{{booking?.cart | trim: '/'  }}</p>  -->
    <div class="col-md-3">
        <!-- profile -->
        <div class="card card-profile mb-0">
            <div class="card-avatar position-relative full-width-avatar">
                <img class="img img-banner" [src]="bannerImage" />
            </div>
            <div class="position-relative featured-img" style="margin: -70px 0 0 30px">
                <img class="img img-feat" [src]="featureImage" />
            </div>
            <div class="card-body">
                <h4 class="card-title mb-1">{{listing?.title}}</h4>
                <h6 class="text-gray">Trip Code : {{listing?.code}} </h6>
                <div>
                    <small>
                        <strong>Catagory : {{category?.title}}</strong>
                    </small>
                </div>
                <p>
                    <button class="btn text-primary" style="background: #f1f1f1; width: 100%;">
                        <strong>{{booking?.bookingStatus}}</strong>
                    </button>
                </p>
                <!-- <div>
                    <strong class="d-block">Client Name : {{booking?.clientName}} </strong>
                    <strong class="d-block">Client Contact : {{booking?.clientContact}} </strong>
                    <strong class="d-block">Booking Date : {{booking?.bookingDate | date:'medium'}} </strong>
                    <strong class="d-block">Booked Date : {{booking?.createdAt | date:'medium'}} </strong>
                </div>-->
            </div>
        </div>
        <!-- end -->

        <!-- summary -->
        <div class="card mt-0">
            <div class="card-body" style="padding: 10px;">
                <div style="background: #f1f1f1; padding: 10px;">
                    <!-- <h5 class="text-center">
                        <strong>Booking Summary</strong>
                    </h5> -->
                    <table class="table">
                        <!-- <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr> -->
                        <tr>
                            <td>
                                <strong>Client Name</strong>
                            </td>
                            <td>{{booking?.clientName}} </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Client Contact </strong>
                            </td>
                            <td>{{booking?.clientContact}} </td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Booking Date </strong>
                            </td>
                            <td>{{booking?.bookingDate | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong> Booked Date</strong>
                            </td>
                            <td>{{booking?.createdAt | date:'medium'}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- end -->
        <!-- summary -->
        <div class="card mt-0">
            <div class="card-body" style="padding: 10px;">
                <div style="background: #f1f1f1; padding: 10px;">
                    <h5 class="text-center">
                        <strong>Booking Summary</strong>
                    </h5>
                    <table class="table">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        <!-- <tr>
                            <td colspan="2">
                                <div *ngIf="cartList">
                                <table>
                                    <tr *ngFor="let cart of cartList">
                                        <td>{{cart?.nationality}}</td>
                                        <td>{{cart?.total}}</td>
                                    </tr>
                                </table>
                            </div>
                            </td>
                        </tr> -->
                        <!-- <span *ngIf="cartList">
                            <tr *ngFor="let cart of cartList">
                                <span></span>
                                <td>{{cart?.nationality}}</td>
                                <td>{{cart?.total}}</td>
                            </tr>
                        </span> -->
                    </table>
                </div>
            </div>
        </div>
        <!-- end -->

    </div>

</div>




<pre>{{ productionForm.value | json }}</pre>

    <!-- <pre>{{ prodData.items | json }}</pre> -->


