
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <input *ngIf="!mapImageStatus" type="file" (change)="chooseMap($event)">
                    <button *ngIf="mapImageStatus" type="button" class="btn btn-default" (click)="mapUpload()">Upload</button>
                    <!-- <label class="mat-raised-button" for="file1">Choose a file</label>  -->
                </div>
            </div>
            <div class="col-md-4" *ngIf="mapImage">
                <img (click)="openGallery()" [src]="mapImage" width="100%">
                <div class="mt-2">
                    <p *ngIf="mapImageStatus"><ngb-progressbar type="info" [value]="mapProgressPercentage" [striped]="true">{{ mapProgressPercentage  }} %</ngb-progressbar></p>                                  
                </div>
            </div>
        </div>
    </div>