<ngx-image-gallery 
[images]="images" 
[conf]="conf"
(onClose)="galleryClosed()"
></ngx-image-gallery>
   <div class="menu-height"></div>
   <div class="inner-wrap agent-wrap">
    <div class="container">

     <section>

      <div class="block">
       <div class="row">

        <div class="col-sm-2 col-lg-1">
           <img [src]="business?.logoUrl" class="img-fluid">
         </div>

         <div class="col-sm-7">
         <h2 class="mb-2">{{ business?.businessName}}</h2>
         <h4><small><i class="fa fa-map-marker"></i>  {{ business?.street}}, {{ business?.city}}</small></h4>

          <div class="listing-reviews mb-2">
            <ngb-rating [rate]="rating?.averageRating" max="5" class="star-md"></ngb-rating>
            <span>{{ rating?.totalReviewsCount}} Reviews</span>
          </div>

          <h5 *ngIf="business?.isVerified"><span class="text-success pr-1" ><i class="fa fa-check-circle" aria-hidden="true"></i></span> <small>Verified</small></h5>
          <h5 *ngIf="!business?.isVerified"><span class="text-default pr-1"><i class="fa fa-times-circle" aria-hidden="true"></i></span> <small> Not-Verified</small></h5>
         </div>

         <!-- <div class="col-sm-3 col-lg-4 text-center pt-4">
           <ul class="list-inline">
            <li><a [href]="business?.facebookUrl"><i class="fa fa-facebook pr-2" aria-hidden="true"></i></a></li>
            <li><a [href]="business?.twitterUrl"><i class="fa fa-twitter pr-2" aria-hidden="true"></i></a></li>
            <li><a [href]="business?.linkedInUrl"><i class="fa fa-linkedin pr-2" aria-hidden="true"></i></a></li>
            <li><a [href]="business?.youtubeUrl"><i class="fa fa-youtube pr-2" aria-hidden="true"></i></a></li>
            <li><a [href]="business?.tumblerUrl"><i class="fa fa-tumblr pr-2" aria-hidden="true"></i></a></li>
            <li><a [href]="business?.instagramUrl"><i class="fa fa-instagram pr-2" aria-hidden="true"></i></a></li>
          </ul>
         </div> -->

         <!-- modal -->
         <!-- <div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4>Do you have any query?</h4>
                  <textarea class="form-control" rows="5" placeholder="Write your query.."></textarea>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
                  <button type="button" class="btn">Send Message</button>
                </div>
              </div>
            </div>
          </div> -->
         <!-- ends -->

         <!-- <div class="col-sm-3">
           <div>
            <ul class="list-unstyled">
              <li>Phone <span class="pull-right text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
              <li>Email <span class="pull-right text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
              <li>Address <span class="pull-right text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span></li>
              <li>Selfie <span class="pull-right text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span></li>
              <li>Insurance Policy <span class="pull-right text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span></li>
            </ul>
           </div>
          </div>  -->

       </div>
      </div>

       <div class="row">

          <div class="col-sm-3">

          <!-- Nav tabs -->
          <ul class="nav tab-vertical" role="tablist">
            <!-- <li class="active"><a href="#a1" data-toggle="tab">Home</a></li> -->
            <li><a href="#a3" data-toggle="tab" class="active d-block">Listings</a></li>
            <li><a href="#a2" data-toggle="tab" class="d-block">About</a></li>
            <!-- <li><a href="#a4" data-toggle="tab" class="d-block">Pilots</a></li>
            <li><a href="#a5" data-toggle="tab" class="d-block">Review</a></li>
            <li><a href="#a6" data-toggle="tab" class="d-block">Shop</a></li>-->
             <li><a href="#a7" data-toggle="tab" class="d-block">Multimedia</a></li> 
            <!--<li><a href="#a8" data-toggle="tab" class="d-block">Events</a></li> -->
          </ul>
             
         </div>

         <div class="col-sm-9 inner-content">

           <!-- Tab panes -->
            <div class="tab-content">

              <div class="tab-pane" id="a1">
                <div class="row">
                  <div class="col-sm-8">
<!-- 
                    <section class="block">
                      <form>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea name="texts" id="exampleTextarea" rows="2" class="form-control" placeholder="Write what you wish"></textarea>
                            </div>
                          </div>
                          
                          <div class="col-md-9">
                            <div class="post-icons">
                              <ul class="list-inline">
                               <!--  <li>
                                    <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Text</span>
                                    <input type="file" name="file1" id="file1">
                                </li> -
                                <li>
                                    <span><i class="fa fa-picture-o" aria-hidden="true"></i> Images</span>
                                    <input type="file" name="file2" id="file2">
                                </li>
                                <li>
                                    <span><i class="fa fa-video-camera" aria-hidden="true"></i> Video</span>
                                    <input type="file" name="file3" id="file3">
                                </li>
                              </ul>
                              
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <button class="btn pull-right">Post</button>
                          </div>


                        </div>
                      </form>
                    </section>


                    <section>
                    <img src="images/img.jpg" style="width: 100%; height: 280px; object-fit:  cover;">
                    <div class="block">
                      <h3 class="no-margin-top">Kathmandu Paragliding</h3>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                      <hr>
                      <span class="post-like">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> <small>21 Likes</small>
                        <!-- <i class="fa fa-comments" aria-hidden="true"></i> <small>2 Comments</small> -
                      </span>  
                      <div class="btn-group dropup pull-right">
                        <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-option">
                          <li><a href="#">Hide post</a></li>
                          <li><a href="#">Delete post</a></li> 
                          <li><a href="#">Save post</a></li> 
                          <li><a href="#">Report post</a></li>                       
                        </ul>
                      </div>
                      
                      <!-- <section><hr>
                      <div class="row">
                        <div class="col-sm-2"><img src="images/p2.jpg" class="img-circle img-responsive">
                        </div>
                        <div class="col-sm-10" style="font-size: 12px;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
                        </div>
                      </div><hr>
                      <div class="row">
                        <div class="col-sm-2"><img src="images/p1.jpg" class="img-circle img-responsive">
                        </div>
                        <div class="col-sm-10" style="font-size: 12px;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
                        </div>
                      </div><hr>
                      <div class="row">
                        <div class="col-sm-2"><img src="images/p3.jpg" class="img-circle img-responsive">
                        </div>
                        <div class="col-sm-10" style="font-size: 12px;">
                        <textarea class="form-control" rows="2"></textarea>
                        </div>
                      </div>
                      </section> 
                      
                    </div>
                    </section>

                    <section>
                    <img src="images/img14.jpg" style="width: 100%; height: 280px; object-fit:  cover;">
                    <div class="block">
                      <h3 class="no-margin-top">Kathmandu Paragliding</h3>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                      <hr>
                      <span class="post-like">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                        <!-- <i class="fa fa-comments" aria-hidden="true"></i>  -
                      </span>  
                      <div class="btn-group dropup pull-right">
                        <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-option">
                          <li><a href="#">Hide post</a></li>
                          <li><a href="#">Delete post</a></li> 
                          <li><a href="#">Save post</a></li> 
                          <li><a href="#">Report post</a></li>                       
                        </ul>
                      </div>
                      
                    </div>
                    </section>

                    <section>
                    <div class="block">
                      <h3 class="no-margin-top">Kathmandu Paragliding</h3>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                      <hr>
                      <span class="post-like">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> <small>1 Likes</small>
                        <!-- <i class="fa fa-comments" aria-hidden="true"></i>  -
                      </span>  
                      <div class="btn-group dropup pull-right">
                        <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-option">
                          <li><a href="#">Hide post</a></li>
                          <li><a href="#">Delete post</a></li> 
                          <li><a href="#">Save post</a></li> 
                          <li><a href="#">Report post</a></li>                       
                        </ul>
                      </div>
                      
                    </div>
                    </section> -->

                  </div>
                  <div class="col-sm-4">
                    <!-- <div class="block">
                      <ul>
                        <li>Blog</li>
                      </ul>
                    </div>
                  </div> -->
                  <h2>Featured</h2>
                  <img [src]="business?.logoUrl" class="img-fluid"></div>
                </div>
              </div>
              
              <div class="tab-pane" id="a2">
                <section class="block">
                  <h2>About</h2>
                  <p innerHTML="{{ business?.description }}"></p>
                  <!-- <p>
                    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
                  </p> -->
                </section>
              </div>

              <div class="tab-pane active" id="a3">
                <section class="block block-transparent">
                  <h2>Listings</h2>
                  <div class="row">
                    <div class="col-sm-3 mb-3" *ngFor="let listing of listing; let i = index">
                      <div class="thumbnail rounded-top">
                        <a (click)="route(listing?.slug)" class="cursor">  
                        <div class="zoom">
                        <div>
                          <img class="rounded-top img-fluid" [src]="listing?.featureImageUrl" alt="">
                        </div>
                        <span class="cat-text">{{ listing?.category }}</span>
                        </div>
                        </a>

                        <div class="caption pt-3">
                          <strong class="package-title cursor" (click)="route(listing?.slug)">{{ listing?.title }}</strong>
                          <p class="text-sm">
                              <i class="fa fa-map-marker pr-1 text-primary" aria-hidden="true"></i> {{business?.street}}, {{business?.city}}
                          </p>
                          <h3 class="amount">
                            <small>from</small> {{ forexService.calculateRate(listing?.price) |  currency:forexService.currencyCode }} 
                          </h3>
                          <div class="listing-reviews">
                            <ngb-rating [rate]="listing?.review?.average " max="5"></ngb-rating>
                            | <span>{{ listing?.review?.total }} Reviews</span>
                            <span class="pull-right">
                              <a>
                                <i (click)="RemoveWishlist(listing, i)" *ngIf="listing?.wishList" class="fa fa-heart pull-right" style="color:red;" aria-hidden="true"></i>
                                <i (click)="wishlist(listing, i)" *ngIf="!listing?.wishList" class="fa fa-heart pull-right" aria-hidden="true"></i>
                              </a>
                            </span>
                          </div>
                        </div>

                      </div>
                      
                    </div>
                  </div>

                  <!-- <div class="text-center block-more"><a href="#" class="view-btn">Load More </a></div> -->
                
              </section>
              </div>

              <!-- <div class="tab-pane" id="a4">
                <section>               
                  <div class="block">
                  <h2>Pilots</h2>
                  <div class="row">

                    <div class="col-sm-3">

                       <div class="text-center">
                        <div class="image-box round-img img-circle" style="background-image:url(images/p3.jpg);"></div>
                        <div class="caption">
                          <strong>Bijay Chaulagain</strong>
                          <p>Tandem Pilot</p>
                        </div>
                      </div>
                      
                    </div>

                    <div class="col-sm-3">

                       <div class="text-center">
                          <div class="image-box round-img img-circle" style="background-image:url(images/p1.jpg);"></div>
                          <div class="caption">
                            <strong>Bijay Chaulagain</strong>
                            <p>Tandem Pilot</p>
                          </div>
                        </div>
                      
                    </div>

                    <div class="col-sm-3">

                       <div class="text-center">
                          <div class="image-box round-img img-circle" style="background-image:url(images/p2.jpg);"></div>
                          <div class="caption">
                            <strong>Bijay Chaulagain</strong>
                            <p>Tandem Pilot</p>
                          </div>
                        </div>
                      
                    </div>

                    <div class="col-sm-3">

                       <div class="text-center">
                          <div class="image-box round-img img-circle" style="background-image:url(images/p1.jpg);"></div>
                          <div class="caption">
                            <strong>Bijay Chaulagain</strong>
                            <p>Tandem Pilot</p>
                          </div>
                        </div>
                      
                    </div>


                  </div>
                  </div>           
                </section>
              </div>

              <div class="tab-pane" id="a5">
                 <section class="reviews block">
                  <h2>Review</h2>  
                  <div class="row">
                    <div class="col-sm-12">
                      <img src="images/img6.jpg" class="pull-left img-circle">
                      <div class="col-sm-8 col-md-9 review-text">
                      <strong>John Smith</strong> 
                      <div class="listing-reviews review-total pull-right">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                      </div>
                      <p><small>Jan 2, 2018</small></p>           

                      <p>It is long established fact that a reader will be distracted by readable contents of a page when looking at its layout. The point of using Lorem Ipsum is..</p>
                    </div>
                   </div>

                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-12">
                      <img src="images/img1.jpg" class="pull-left img-circle">
                      <div class="col-sm-8 col-md-9 review-text">
                      <strong>John Smith</strong>
                      <div class="listing-reviews review-total pull-right">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                      </div>
                      <p><small>Jan 2, 2018</small></p>

                      <p>It is a long established fact that a reader will be distracted readable content of a page when looking at its layout. The point of using Lorem Ipsum is..</p>
                    </div>
                   </div>

                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-12">
                      <img src="images/img5.jpg" class="pull-left img-circle">
                      <div class="col-sm-8 col-md-9 review-text">
                      <strong>John Smith</strong>
                      <div class="listing-reviews review-total pull-right">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                      </div>
                      <p><small>Jan 2, 2018</small></p>

                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is..</p>
                    </div>
                   </div>

                  </div>

                  <nav aria-label="Page navigation" class="pagelisting">
                    <ul class="pagination">
                      <li>
                        <a href="#" aria-label="Previous">
                          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li>
                        <a href="#" aria-label="Next">
                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </section>
              </div> -->

              <div class="tab-pane" id="a6">Shop</div>

              <div class="tab-pane" id="a7">
                 <section class="block">
                    <ngb-tabset>
                        <ngb-tab>
                          <ng-template ngbTabTitle><h2 class="mb-0">Photos</h2></ng-template>
                          <ng-template ngbTabContent>
                            <div class="row mt-4">
                              <div class="col-sm-3 col-md-2 px-0" *ngFor="let galley of galleries; let i = index">
                                  <div>
                                    <img class="img-fluid" [src]="galley['fileUrl']" alt="" (click)="openGallery(i)" style="height: 110px; object-fit: cover; width: 100%; padding:0 1px 1px 0;">
                                  </div>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                          <ng-template ngbTabTitle><h2 class="mb-0">Videos</h2></ng-template>
                          <ng-template ngbTabContent>
                            <div class="row mt-4">
                              <div class="col-sm-6 col-md-4 mb-4" *ngFor="let video of videos">
                                <iframe width="100%" height="" [src]="transFormUrl(video?.fileUrl)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
            
                    <!-- <h2>Photos</h2>
                    <div class="row">
                      <div class="col-sm-2" *ngFor="let galley of galleries; let i = index">
                        <div class="thumbnail mb-4" style="position: relative;">
                            <div class="zoom">
                              <div>
                                <img class="img-fluid" [src]="galley['fileUrl']" alt="" (click)="openGallery(i)">
                            </div>
                            </div>
                        </div>
                      </div>
                    </div>-->

                    <!-- <div class="text-center block-more"><a href="#" class="view-btn">Load More </a></div> -->
                  
                </section>

                <!-- <section class="block">
              
                    <h2>Videos</h2>
                    <div class="row">

                      <div class="col-sm-4 mb-4" *ngFor="let video of videos">
                        <iframe width="100%" height="" [src]="transFormUrl(video?.fileUrl)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </div>

                    </div>

                    <div class="text-center block-more"><a href="#" class="view-btn">Load More </a></div>
                  
                </section> -->

              </div>

              <div class="tab-pane" id="a8">
                <section class="block block-transparent">
            
                  <h2>Events</h2>
                  <div class="row">

                     <style type="text/css">
                      .thumbnail:hover .caption{ opacity: 1 !important; right: 0 !important; z-index: 9 !important;}
                    </style>

                    <div class="col-sm-6">
                      <div class="thumbnail" style="position: relative;">
                        <a href="http://mockup.goglides.com/html/new/detail-page.html">            
                          <div class="zoom"><div class="image-box" style="background-image:url(images/smile.jpg); height: 230px;"></div>
                          </div>
                        </a>
                         <div class="caption text-center" style="
                                  position:  absolute;
                                  right: -30px;
                                  top: 0;
                                  background: #ffffffc7;
                                  width:  100%;
                                  height: 100%; z-index:-9; padding: 40px 30px; opacity: 0; transition: all 0.6s ease-out;
                              ">
                        <a href="http://mockup.goglides.com/html/new/detail-page.html">
                          <h3>Holi Event</h3>
                          <p>Kathmandu, Nepal</p><hr>
                          <h3 class="amount"><small>from</small> $120</h3>
                        </a>
                        </div>
                      </div>
                      
                    </div>

                    <div class="col-sm-6">
                      <div class="thumbnail" style="position: relative;">
                        <a href="http://mockup.goglides.com/html/new/detail-page.html">            
                          <div class="zoom"><div class="image-box" style="background-image:url(images/e1.jpg); height: 230px;"></div>
                          </div>
                        </a>
                         <div class="caption text-center" style="
                                  position:  absolute;
                                  right: -30px;
                                  top: 0;
                                  background: #ffffffc7;
                                  width:  100%;
                                  height: 100%; z-index:-9; padding: 40px 30px; opacity: 0; transition: all 0.6s ease-out;
                              ">
                        <a href="http://mockup.goglides.com/html/new/detail-page.html">
                          <h3>Valentine Special</h3>
                          <p>Kathmandu, Nepal</p><hr>
                          <h3 class="amount"><small>from</small> $100</h3>
                          </a>
                        </div>
                      </div>
                      
                    </div>

                  </div>

                  <!-- <div class="text-center block-more"><a href="#" class="view-btn">Load More </a></div> -->
                
              </section>
              </div>

            </div>


         </div>

       </div>

     </section>




    

    </div> 
   </div>