.agent-wrap .block{ padding: 15px; margin-bottom: 15px; }
.agent-wrap .block-transparent{ padding: 0; }
.agent-wrap .block-more { margin: 25px 0 30px;}
.text-bg-blue{ 
  background: #66a5ad;
  color: #fff;
  margin: 0;
  padding: 10px;
 }
 .agent-wrap .round-img{ height: 130px; width: 130px; }
 .agent-wrap ul{ line-height: 2; }
 .agent-wrap .reviews{ margin-top: 0; }

 .agent-wrap .tab-vertical li a{ padding: 4px 10px; }
 .agent-wrap .tab-vertical li { margin-bottom: 2px; }

 textarea { resize: none;}



 .post-icons input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.post-icons li{
      border: 1px solid #ddd;
      border-radius: 40px;
      padding: 0 15px;
      margin-right: 5px;
}

.post-like{ cursor: pointer; }
.post-like small{ padding-right: 10px; }

@media (min-width:578px) and (max-width:767px){
.tab-vertical li{ width: 100%;}
}