<div class="row">
  <div class="col-md-12">
    <form [formGroup]="forexUpdateForm">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mat-dialog-title mb-4"> Update Forex Info</h3>
                
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Country Code" formControlName="countryCode">
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Currency Code" formControlName="currencyCode">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Exchange Rate" formControlName="rate">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="Status *" formControlName="status">
                                <mat-option *ngFor="let s of statusList" [value]="s.value">
                                  {{ s.viewValue }}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                    <button mat-button class="btn btn-success" (click)="updateForex(forexUpdateForm.value)" [mat-dialog-close]="update">Yes, Update</button>
                    <button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">No, keep it</button>
                    </div>
                </div> 
                    <!-- <pre>{{forexUpdateForm.value |json }}</pre> -->
            </div>
        </div>    
    </form>
  </div> 
</div>