<h3 class="mat-dialog-title mb-4">Add Destination Info </h3>
<form [formGroup]="destinationForm" class="form-array">
    <div formArrayName="destination_detail">

        <div *ngFor="let destination of destinationDetailForms.controls; let i=index" [formGroupName]="i">

            <div class="row">
                <div class="col-md-5">
                    <mat-form-field>
                        <input matInput placeholder="Country" type="text" formControlName="country">
                        <mat-error *ngIf="!destinationForm.controls.destination_detail.controls.valid && destinationForm.controls.destination_detail.controls.touched">Please provide city</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="cities" type="text" formControlName="city">
                        <mat-error *ngIf="!destinationForm.controls.destination_detail.controls.valid && destinationForm.controls.destination_detail.controls.touched">Please provide city</mat-error>
                    </mat-form-field>
                </div>
                <button *ngIf="destinationForm.controls.destination_detail.controls.length > 1" (click)="deleteDestination(i)" class="btn btn-round btn-danger btn-just-icon">
                    <i class="material-icons">clear</i>
                </button>
            </div>

        </div>
        <!-- <button [disabled]="!destinationForm.controls.destination_detail.valid" class="btn btn-round btn-success btn-just-icon" (click)="saveDestination()"><i class="material-icons">done</i></button> -->
    </div>

    <button (click)="addDestination()" class="btn btn-round btn-primary btn-just-icon pull-right mx-2 mt-3">
            <i class="material-icons">add</i>
        </button>

    <div mat-dialog-actions>
        <button mat-button class="btn btn-success" [mat-dialog-close]="destinationForm.value.destination_detail">Save</button>
        <button mat-button class="btn btn-danger" (click)="close()">cancel</button>
    </div>

</form>

<!-- <mat-card>
  <pre>
    {{ destinationForm.value | json}}
  </pre>
</mat-card> -->