<!-- <div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <strong class="card-header-primary">Setting </strong> 
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8"><h4 class="card-title">Setting</h4></div>
                </div>
            </div>
            <div class="card-body">
                <form autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Status">
                                    <mat-option *ngFor="let packagestatus of packageStatus" [value]="packagestatus.value">
                                    {{ packagestatus.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-6">
                            <mat-form-field class="demo-chip-list">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let cities of city" [selectable]="selectable"
                                            [removable]="removable" (removed)="remove(cities)">
                                    {{cities.name}}
                                    <mat-icon matChipRemove *ngIf="removable"><i class="material-icons">close</i></mat-icon>
                                    </mat-chip>
                                    <input placeholder="Tags"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur"
                                        (matChipInputTokenEnd)="add($event)" />
                                </mat-chip-list>
                            </mat-form-field>
                        </div>                                   
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Want to make visibility private ? <br> <small>( Initially visibility is in public. )</small></label>
                        </div>
                        <div class="col-md-8">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Confirm booking on request ? <br><small>( Instant confirmation is recommended. )</small></label>
                        </div>
                        <div class="col-md-8">
                            <mat-slide-toggle></mat-slide-toggle>
                        </div>
                    </div>
                    <!-- <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Discount :</label>
                        </div>
                        <div class="col-md-8">
                            <mat-radio-group>
                                <div>
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <div class="more-option-field">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Value">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-8">
                                                <mat-radio-group>
                                                    <mat-radio-button value="1">Percent</mat-radio-button>
                                                    <mat-radio-button value="2">Amount</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <mat-radio-button value="2">No</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div> 
                    <hr> -->
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-12">
        <h3 class="mat-dialog-title mb-4">Update Featured Date </h3>
        <form [formGroup]="featureForm">
            <div class="row">
                <div class="col-sm-6">
                    <strong class="text-gray">Start Date</strong>
                    <my-date-picker name="mydate" formControlName="startDate" placeholder="Start Date" [options]="myDatePickerOptions" required></my-date-picker>
                </div>
                <div class="col-sm-6">
                    <strong class="text-gray">End Date</strong>
                    <my-date-picker name="mydate" formControlName="endDate" placeholder="End Date" [options]="myDatePickerOptions" required></my-date-picker>
                </div>
            </div>
            <div mat-dialog-actions>
                <button mat-button class="btn btn-success" [mat-dialog-close]="featureForm.value">yes, Update</button>
                <button mat-button class="btn btn-danger">no, keep it</button>
                <!-- <button mat-button class="btn btn-danger" (click)="onClick()">no, keep it</button> -->
            </div>
        </form>
        <!-- <div class="col-sm-2">
            <button mat-button class="btn btn-primarybtn btn-default" [mat-dialog-close]="featureForm.value">
                <i class="material-icons">done</i>
            </button>
        </div> -->
    </div>
</div>

<mat-card>
    <pre>
        {{
            featureForm.value | json
        }}
    </pre>
</mat-card>
<!-- <hr> -->
<!-- <div class="row">
                        <div class="col-md-4">
                            <label>Want to make recursive ?</label>
                        </div>
                        <div class="col-md-8">
                            <mat-radio-group>
                                <div>
                                    <mat-slide-toggle (click)="toggle()"></mat-slide-toggle>
                                    <mat-radio-button value="1" onclick="show10()">Yes</mat-radio-button>
                                    <div *ngIf="show" class="more-option-field">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <mat-select placeholder="Type">
                                                        <mat-option *ngFor="let packagestatus of packageStatus" [value]="packagestatus.value">
                                                        {{ packagestatus.viewValue }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker4" placeholder="Starting Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker4></mat-datepicker>
                                                </mat-form-field>          
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker5" placeholder="Ending Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker5></mat-datepicker>
                                                </mat-form-field>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <mat-radio-button value="2" onclick="show20()">No</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div> -->
<!-- </form>
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <button [routerLink]="['/packages/policy']" mat-button class="btn btn-primarybtn btn-default">Back</button>
    <button [routerLink]="['/packages/seo']" mat-button class="btn btn-primary mat-raised-button">Next</button>
</div>   -->