

<div class="modal-header">
  <h4 class="modal-title">Why do you want to cancel this booking?</h4>
  <button type="button" class="close" aria-label="Close" (click)="d()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <form [formGroup]="cancellationForm">
      <textarea class="form-control" name="msgCancellation" rows="3" formControlName="msgCancellation"></textarea>
      <span class="text-danger" *ngIf="cancellationForm.controls.msgCancellation.invalid && cancellationForm.controls.msgCancellation.touched ">Please write something</span>                              
    </form>
  </div>
  <h4>Our cancellation policy.</h4>
  <div>
   <p><strong>1. Before Departure :</strong></p>
   <ul type="circle">
     <li>You may cancel with a full refund within 24 hours of booking your ticket. After that time, tickets are fully refundable, less a $15 processing fee, if cancelled at least 2 days before the trip date. Less than 02 day(s) of the schedule departure, there is a 100% cancellation fee.</li>
     <li>Above 15 days prior to your arrival: 25% of the invoice amount.</li>
     <li>Between 14 days to 5 days prior to your arrival: 35% of the invoice amount.</li>
     <li>Between 4 days to 02 days prior to your arrival: 50% of the invoice amount.</li>
     <li>Less than 02 days prior to your arrival: 100% of the invoice amount.</li>
     <li>No show: 100% of the invoice amount.</li>
     <li>If the booked ticket is cancelled due to any of the reasons of the company, such ticket shall be postponed to next flight or shall returned the entire amount to booking agent. Transportation charge may not be refundable in case of service used.</li>
   </ul>
   <p><strong>2. After Departure :</strong></p>
   <ul type="circle">
     <li>Ticket is nonrefundable after departure.</li>
   </ul>
   <p><strong>CHARGE WAIVED IN CASE OF DEATH OF PASSENGER OR DEATH OF IMMEDIATE FAMILY. CERTIFICATE MUST BE NOTIFIED. GOGLIDES MAY REFUSE REFUND IF APPLICATION IS MADE LATER THAN 15DAYS AFTER EXPIRY OF E-TICKETS.</strong></p>
 </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="activeModal.close('Close click')">Close</button>
        <button type="button" class="btn" [disabled]="!cancellationForm.valid" (click)="cancellationProcess()">Submit</button>
</div>