<form [formGroup]="documentsForm" autocomplete="off">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <!-- <strong class="card-header-primary">Certificates</strong> -->
              <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">attachment</i>
                </div>
                <h4 class="card-title">Certificates </h4>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-3">
                          <label>Business Logo</label>
                      </div>
                      <div class="col-md-6">    
                        <input  type="file" formControlName="logo" name="file" id="file"  (change)="fileChangeEvent($event)" class="inputfile" />   
                        <label class="mat-raised-button" for="file">Choose a file</label>      <br>               
                        <!-- <button [disabled]="!croppedImage" mat-button class="btn btn-primary mat-raised-button" (click)="upload()">Upload</button> -->


                      <!-- </div>
                      <div class="col-md-3"> -->
                        <image-cropper
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="4 / 4"
                            [resizeToWidth]="300"
                            format="png"
                            (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()"
                            (loadImageFailed)="loadImageFailed()"
                        ></image-cropper>
                      </div>
                      <div class="col-md-3">
                       <label>Preview</label> 
                       <div><img [src]="croppedImage" /></div>
                       <br/>
                       <button *ngIf="logoBarStaus === 0" [disabled]="!croppedImage" mat-button class="btn btn-primary mat-raised-button" (click)="upload()">Save</button>
                       <p *ngIf="logoBarStaus === 1"><ngb-progressbar type="info" [value]="logoProgressPercentage" [striped]="true">{{ logoProgressPercentage  }} %</ngb-progressbar></p>                                  
                      </div>
                      <div class="col-12">
                      <mat-error *ngIf="!documentsForm.controls.logo.valid  && documentsForm.controls.logo.touched">Business logo is required.</mat-error>                        
                      </div>
                    </div>
                  <hr>
                  <div class="row">    
                      <div class="col-md-3">
                          <label>Business Certificates</label>
                      </div>
                      <div class="col-md-6">    
                            <input type="file" id="file-1" (change)="selectBusinessCertificateFile($event)" class="inputfile" formControlName="documents">
                            <label class="mat-raised-button" for="file-1">Choose a file</label>      


                          <!-- <input type="file"  (change)="selectFile($event)" formControlName="documents">                         -->
                      </div>
                      <div class="col-md-3">
                          <button *ngIf="businessCertificateStatus === 0" type="button" mat-button class="btn btn-primary mat-raised-button" (click)="uploadBusinessCertificate()">Save</button>
                          <p *ngIf="businessCertificateStatus === 1"><ngb-progressbar type="info" [value]="businessProgressPercentage" [striped]="true">{{ businessProgressPercentage  }} %</ngb-progressbar></p>                                                              
                        </div>
                  </div>    
                  <hr>
                  <div class="row">
                      <div class="col-md-3">
                          <label>Business PAN/VAT/TIPN</label>
                      </div>
                      <div class="col-md-6">    
                          <input type="file" class="inputfile" id="file-2" (change)="selectBusinessCertificateFile($event)" formControlName="pan"> 
                          <label class="mat-raised-button" for="file-2">Choose a file</label>   

                      </div>
                      <div class="col-md-3">
                            <button *ngIf="panCertificateStatus === 0" mat-button class="btn btn-primary mat-raised-button" (click)="uploadBusinessPan()">Save</button>
                            <p *ngIf="panCertificateStatus === 1"><ngb-progressbar type="info" [value]="panProgressPercentage" [striped]="true">{{ panProgressPercentage  }} %</ngb-progressbar></p>                                                              
                        </div>
                  </div>    
                  <hr>
                  <!-- <div class="row">
                      <div class="col-md-12">
                          <mat-form-field>
                            <textarea matInput placeholder="Other Affiliation ( If any )" rows="5" formControlName="affiliation"></textarea>
                          </mat-form-field>
                      </div>
                  </div> -->
                  <div class="row">
                      <div class="col-md-12">
                            <p><strong class="text-gray">Other Affiliation</strong></p>
                            <form [formGroup]="moreDocumentsForm" class="form-array" autocomplete="off">
                                <div formArrayName="document_detail" class="border p-3">
                                   
                                    <div *ngFor="let document of documentDetailForms.controls; let i=index" 
                                            [formGroupName]="i">
                                
                                    <div class="row mb-2">
                                        <div class="col-md-3">
                                            <input type="file" class="inputfile" id="files" [value]="businessPan" formControlName="file"> 
                                            <label class="mat-raised-button" for="files">Choose a file</label>   
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                            <input matInput placeholder="File Name" type="text" formControlName="description">
                                            </mat-form-field>
                                        </div>
                                        <button *ngIf="moreDocumentsForm.controls.document_detail.controls.length > 1" (click)="deleteDocument(i)" class="btn btn-round btn-danger btn-just-icon"><i class="material-icons">clear</i></button>
                                    </div>      
                                    
                                    </div>
                                    <button  class="btn btn-round btn-success btn-just-icon"><i class="material-icons">done</i></button>
                                    <button (click)="addDocument()" class="btn btn-round btn-primary btn-just-icon"><i class="material-icons">add</i></button>
                                </div>  
                                
                                <div class="buttons">
                                    <button [routerLink]="['/packages/checklist']" mat-button class="btn btn-primarybtn btn-default">Back</button>
                                    <button [routerLink]="['/packages/pricing']" mat-button class="btn btn-primary mat-raised-button">Next</button>
                                </div>  
            
                            </form>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="buttons">
    <button [routerLink]="['/businessdirectory/contact']" mat-button class="btn btn-primarybtn btn-default">Back</button>
    <button (click)="saveBusinessDirectoryCertificate()"  mat-button class="btn btn-primary mat-raised-button">Next</button>
  </div>
</form>


<!-- <mat-card>
  <pre>{{documentsForm.value | json}}</pre>
</mat-card>

<mat-card>
   <pre>{{moreDocumentsForm.value | json}}</pre>
</mat-card> -->
