<div>
    <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Settings</h3> -->
    <strong class="mr-2">Settings</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
        <li><a [routerLink]="['/settings/list']">Settings </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
        <li class="active"> Social Settings </li>
        </ol>
    </div> 
</div>
<br/>
  
<form [formGroup]="generalSettingForm" autocomplete="off">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                  <i class="material-icons">group</i>
                </div>
                <div class="row">
                  <div class="col-md-8"><h4 class="card-title">Social Info</h4></div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Facebook</mat-label>
                        <input matInput placeholder="https://www.facebook.com/goglides" formControlName="fb">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Google Plus</mat-label>
                          <input matInput formControlName="gplus" placeholder="https://plus.google.com/b/104573181260446052319/104573181260446052319/about?gmbpt=true&hl=en">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Twitter</mat-label>
                          <input matInput formControlName="twitter" placeholder="https://twitter.com/go_glides">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Youtube</mat-label>
                          <input matInput formControlName="youtube" placeholder="https://www.youtube.com/channel/UCgl6AILUwi4QQzgeaCnw6qw?guided_help_flow=3">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Tumblr</mat-label>
                          <input matInput formControlName="tumblr" placeholder="https://goglides.tumblr.com/">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Instagram</mat-label>
                          <input matInput formControlName="insta" placeholder="https://www.instagram.com/goglides/">
                        </mat-form-field>
                      </div>
                    </div>
              </div>
          </div>
      </div>
      <!-- <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <p><input type="file"></p>
                  <br>
                  <p><mat-slide-toggle>Site Mode</mat-slide-toggle></p>
                  <br>
                  <mat-form-field>
                    <mat-select placeholder="Default Currency *">
                      <mat-option *ngFor="let option of value" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
          </div>
      </div> -->
  </div>     
  <button mat-button class="btn btn-primary">Save</button>    
</form>

<mat-card>
  <pre>
    {{generalSettingForm.value | json}}
  </pre>
</mat-card>