<div>
  <!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Choose Your Business Directory</h3> -->
  <strong class="mr-2">Choose Your Business Directory</strong>
  <div class="breadcrumb-block">
          <ol class="breadcrumb">
          <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
          <li><a [routerLink]="['/packages/list']">Packages </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
          <li class="active"> Choose Business</li>
          </ol>
  </div> 
</div>
<br/>
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <!-- <strong class="card-header-primary">Basic-Info</strong> -->
          <div class="card-header card-header-icon card-header-primary">
              <div class="card-icon">
                  <i class="material-icons">business</i>
              </div>
              <h4 class="card-title">Business Directory List </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="Choose Your Business Directory" (change)="selectBusiness($event)">
                      <mat-option *ngFor="let business of business" [value]="business.id">
                        {{business.businessName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
            </div>
            <p><strong>-- OR --</strong></p>
            <div class="row">
              <div class="col-md-6">
                <h5>Create a new business directory</h5>
                <button [routerLink]="['/businessdirectory/basicinfo']" mat-button class="btn btn-primary">Create New</button>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>