<form [formGroup]="updateItineraryForm">
    <h3 class="mat-dialog-title mb-4">Update Itinerary Info </h3>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="title" >
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <app-ngx-editor [config]="editorConfig2" [spellcheck]="true" formControlName="description" value=""></app-ngx-editor>       
        </div>  
    </div>
<mat-dialog-actions>
<button mat-button class="btn btn-success" [mat-dialog-close]="updateItineraryForm.value" >yes, Update</button>
<button mat-button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">no, keep it</button>
</mat-dialog-actions>
        <!-- <button (click)="addTitle()" class="btn btn-round btn-primary btn-just-icon"><i class="material-icons">add</i></button> -->    
</form>

<!-- <pre>{{updateItineraryForm.value | json}}</pre> -->