<div class="menu-height"></div>
<div class="inner-wrap">
  <div class="container">
    <!-- <h2>Booking Details</h2> -->
    <section>
      <div class="white-block">
        <div class="row">
          <div class="col-sm-6">
            <h1>{{listing?.listing[0]?.title}} </h1>
            <span class="badge badge-pill badge-secondary">
              <small>Code : {{listing?.listing[0]?.code}} </small>
            </span>
          </div>
          <div class="col-sm-6">
            <div class="row package-info">
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{homeService.formatSchedule(pricing?.schedule)}}
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-calendar" aria-hidden="true"></i> {{bookingDate | date:'mediumDate'}}
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-info-circle" aria-hidden="true"></i> {{pricing?.type}}
              </div>
              <div class="col-xs-6 col-sm-6">
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{homeService.formatDuration(pricing?.duration)}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="row">

        <!-- paxdetail -->
        <div class="col-sm-9 inner-content">
          <form [formGroup]="bookingForm">
            <div formArrayName="paxInfo">
              <div *ngFor="let pax of paxInfoForms.controls; let i=index" [formGroupName]="i">
                <section class="pax-info">
                  <h3>Pax- {{i+1}} Personal Detail
                    <span *ngIf="bookingForm.controls.paxInfo.controls.length>1" (click)="delPax(i)" class="pull-right">
                      <i class="fa fa-close"></i>
                    </span>
                  </h3>
                  <div class="white-block">
                    <div class="paxdetail">
                      <div class="row">
                        <!-- <div class="col-5 col-sm-3 col-md-2"> -->
                        <mat-form-field class="form-group col-5 col-sm-3 col-md-2">
                          <mat-label>Title</mat-label>
                          <mat-select formControlName="title">
                            <mat-option value="Mr">Mr</mat-option>
                            <mat-option value="Mrs">Mrs</mat-option>
                            <mat-option value="Ms">Ms</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- </div> -->
                        <!-- <div class="col-7 col-sm-4 col-md-4"> -->
                        <mat-form-field class="form-group col-7 col-sm-4 col-md-4">
                          <input matInput placeholder="Full Name" formControlName="fullName" required>
                        </mat-form-field>

                        <!-- <label for="">Full Name</label>
                          <input #name formControlName="fullName" required type="text" class="form-control" placeholder=""> -->
                        <!-- </div> -->
                        <!-- <div class="form-group col-sm-5 col-md-6"> -->
                        <mat-form-field class="form-group col-sm-5 col-md-6">
                          <input matInput placeholder="Contact" required formControlName="contactNo" type="number">
                        </mat-form-field>
                        <!-- <label for="">Contact Number</label>
                          <input formControlName="contactNo" type="number" class="form-control" placeholder=""> -->
                        <!-- </div> -->
                        <!-- <div class="form-group col-5 col-sm-3 col-md-2"> -->
                        <mat-form-field class="form-group col-5 col-sm-3 col-md-2">
                          <mat-label>ID Type *</mat-label>
                          <mat-select formControlName="identificationType">
                            <mat-option>choose one</mat-option>
                            <mat-option value="liscence">Liscence</mat-option>
                            <mat-option value="Passport">Passport</mat-option>
                            <mat-option value="Citizenship">Citizenship</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- <select formControlName="identificationType" class="form-control">
                            <option>choose one</option>
                            <option value="liscence">Liscence</option>
                            <option value="Passport">Passport</option>
                            <option value="Citizenship">Citizenship</option> 
                          </select> -->
                        <!-- </div> -->
                        <!-- <div class="form-group col-7 col-sm-4 col-md-4"> -->
                        <mat-form-field class="form-group col-7 col-sm-4 col-md-4">
                          <input matInput placeholder="ID Number" required formControlName="identificationNo" type="text">
                        </mat-form-field>
                        <!-- <label for="">ID Number</label>
                          <input formControlName="identificationNo" type="text" class="form-control" placeholder=""> -->
                        <!-- </div> -->
                        <!-- <div class="form-group col-sm-5 col-md-6"> -->
                        <mat-form-field class="form-group col-sm-5 col-md-6">
                          <input matInput placeholder="Email" formControlName="email" email="true" required type="email">
                        </mat-form-field>

                        <!-- </div> -->
                        <!-- <div class="form-group col-sm-4"> -->
                        <mat-form-field class="form-group col-sm-4">
                          <input matInput placeholder="Nationality" formControlName="nationality" required type="text">
                        </mat-form-field>
                        <!-- </div> -->
                        <!-- <div class="form-group col-sm-4"> -->
                        <mat-form-field class="form-group col-sm-4">
                          <input matInput placeholder="Weight" required formControlName="weight" type="number">
                        </mat-form-field>

                        <!-- </div> -->
                        <!-- <div class="form-group col-sm-4"> -->
                        <mat-form-field class="form-group col-sm-4">
                          <mat-label>Age Group</mat-label>
                          <mat-select formControlName="ageGroup" (change)=ageGroupChange()>
                            <mat-option value="INF">Infant</mat-option>
                            <mat-option value="CHD">Child</mat-option>
                            <mat-option value="ADT">Adult</mat-option>
                            <mat-option value="SNR">Senior</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </section>

              </div>

            </div>
          </form>

          <div class="form-group text-center">
            <button (click)="addPax()" class="btn-lg btn-large btn btn-secondary">Add Pax</button>
            <button (click)="saveBooking()" class="btn-lg btn-large btn" [disabled]="!bookingForm.valid">Next</button>
          </div>


          <!-- <pre>{{bookingForm.value|json}}</pre> -->
          <!-- <pre>{{setBookigData()  |json}}</pre>
          <pre>{{localProfile |json}}</pre> -->
          <!-- {{clientMobile}}
          {{clientPhone}} -->


        </div>
        <!-- ends -->

        <!-- aside -->
        <div class="col-sm-3 sidebar">
          <aside>
            <div class="white-block blue-block">
              <h4 class="text-center mb-3">
                Booking Summary
              </h4>
              <ul class="list-unstyled mb-0">
                <li>
                  <span>{{infactPax}}</span> x Infant
                  <span class="pull-right">{{ forexService.calculateRate(pricing.infantRetailRate) | currency:forexService.currencyCode }}</span>
                </li>
                <li>
                  <span>{{childPax}}</span> x Child
                  <span class="pull-right">{{ forexService.calculateRate(pricing.childRetailRate) | currency:forexService.currencyCode }}</span>
                </li>
                <li>
                  <span>{{adultPax}}</span> x Adult
                  <span class="pull-right">{{ forexService.calculateRate(pricing.retailRate) | currency:forexService.currencyCode }}</span>
                </li>
                <li>
                  <span>{{seniorPax}}</span> x Senior
                  <span class="pull-right">{{ forexService.calculateRate(pricing.seniorRetailRate ) | currency:forexService.currencyCode }}</span>
                </li>

              </ul>
            </div>
            <div class="white-block dark-blue-block text-center">
              Total : {{ forexService.calculateRate(total ) | currency:forexService.currencyCode }}
            </div>
          </aside>
        </div>
        <!-- ends -->

      </div>

    </section>

  </div>
</div>