<div class="menu-height"></div>
<!-- <section>
    <img class="page-banner" src="https://s3-us-west-2.amazonaws.com/stage-goglides-media/original/bannerHome/Annapurna_trail.jpg">
  </section> -->
<div class="inner-wrap">
  <div class="container">
    <!-- <div class="white-block">
        <div class="row">
          <div class="col-sm-12 col-md-6 border-right">
              <div class="white-block">
                  <h2>Upload Banner</h2>
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="inputtitle">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="link">Link</label>
                        <input type="text" class="form-control" id="inputlink">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="user">User Name</label>
                        <input type="text" class="form-control" id="inputuser">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputdesc">Description</label>
                      <textarea rows="5" class="form-control" id="inputdesc" placeholder=""></textarea>
                    </div>
                    <div class="upload-btn-wrapper">
                      <button class="btn-upload">Upload Photo</button>
                      <input type="file" name="uploadfile" />
                    </div>
                    <hr>
                  
                    <button type="submit" class="btn btn-lg mt-3">Submit</button>
                  </form>
              </div>
          </div>
          <div class="col-sm-12 col-md-6">
              <div class="white-block">
                <h2>Add Quote</h2>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="user">User Name</label>
                      <input type="text" class="form-control" id="inputuser">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail">Email</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputdesc">Quote</label>
                    <textarea rows="5" class="form-control" id="inputdesc" placeholder=""></textarea>
                  </div>
                  <div class="form-group">
                    <label for="inputsource">Source</label>
                    <input type="text" class="form-control" id="inputsource" placeholder="">
                  </div>
                  <button type="submit" class="btn btn-lg mt-3">Submit</button>
                </form>
            </div>
          </div>
        </div>
    </div>     -->
    <!-- <div class="white-block">
        <div class="row">
          <div class="col-sm-12 col-md-6">
              <div class="white-block">
                  <h2>Upload Banner</h2>
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="inputtitle">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="user">User Name</label>
                        <input type="text" class="form-control" id="inputuser">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputdesc">Description</label>
                      <textarea rows="5" class="form-control" id="inputdesc" placeholder=""></textarea>
                    </div>
                    <div class="upload-btn-wrapper">
                      <button class="btn-upload">Upload Photo</button>
                      <input type="file" name="uploadfile" />
                    </div>
                    <hr>
                  
                    <button type="submit" class="btn btn-lg mt-3">Submit</button>
                  </form>
              </div>
          </div>
          <div class="col-sm-12 col-md-6">
              <p><strong>Banner Preview</strong></p>
              <div class="position-relative">
                <span class="overlay"></span>
                <img src="assets/images/img.jpg" class="img-fluid">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p><strong>Quote Preview</strong></p>
            <div class="position-relative">
              <span class="overlay"></span>
              <img src="assets/images/img.jpg" class="img-fluid">
              <div class="carousel-caption banner-caption">
                  <blockquote>
                    <i class="fa fa-quote-left"></i>
                    <span>Travel far enough, you meet yourself.</span>
                    <i class="fa fa-quote-right"></i>
                    <footer class="blockquote-footer text-right pr-3 mt-3">
                      <cite title="Source Title">David Mitchell</cite>
                    </footer>
                  </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
              <div class="white-block">
                <h2>Add Quote</h2>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="user">User Name</label>
                      <input type="text" class="form-control" id="inputuser">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail">Email</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputdesc">Quote</label>
                    <textarea rows="5" class="form-control" id="inputdesc" placeholder=""></textarea>
                  </div>
                  <div class="form-group">
                    <label for="inputsource">Source</label>
                    <input type="text" class="form-control" id="inputsource" placeholder="">
                  </div>
                  <button type="submit" class="btn btn-lg mt-3">Submit</button>
                </form>
            </div>
          </div>
        </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <img src="assets/images/cycling.jpg" class="img-fluid" style="height: 140px; width: 100%; object-fit: cover;">
        <div class="carousel-caption banner-caption p-0" style="font-size: 2vmin">
            <p>Upload your awesome picture and we will publish your picture as our banner image of home page.<br>
              & you can also add inspirational quotes to your picture.
            </p>
            <button class="btn" (click)="scrollToElement(targetBannerupload)">Look A Preview</button>
        </div>
      </div>
    </div>
    <br>
    <div class="white-block p-0">
        <div class="row">
          <div class="col-sm-12 col-md-6">
              <div class="white-block">
                  <h2>Add Picture</h2>
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="inputtitle">
                      </div>
                    </div>
                    <!-- <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="user">User Name</label>
                        <input type="text" class="form-control" id="inputuser">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="">
                      </div>
                    </div> -->
                    <div class="form-group">
                      <label for="inputdesc">Description</label>
                      <textarea rows="3" class="form-control" id="inputdesc" placeholder=""></textarea>
                    </div>
                    <div class="upload-btn-wrapper">
                      <button class="btn-upload my-1"><strong><i class="fa fa-upload pr-1"></i> Upload Photo</strong></button>
                      <input type="file" name="uploadfile" />
                    </div>
                    <div class="form-check pl-0 my-3">
                      <input type="checkbox" class="form-check-input mt-1" id="inputcheck">
                      <label class="form-check-label pl-4" for="inputcheck"><strong>I Accept <a class="cursor">Terms & Conditions.</a></strong></label>
                    </div>
                    <button type="submit" class="btn mb-3">Submit</button>
                  </form>
                  <hr style="border-top: 2px solid #e8e8e8; margin-left: -20px; margin-right: -20px;">
                  <h2>Add Quote</h2>
                  <form>
                    <div class="form-group">
                      <label for="inputdesc">Quote</label>
                      <textarea rows="3" class="form-control" id="inputdesc" placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                      <label for="inputsource">Source</label>
                      <input type="text" class="form-control" id="inputsource" placeholder="">
                    </div>
                    <button type="submit" class="btn mt-3">Submit</button>
                  </form>
              </div>
          </div>
          <div class="col-sm-12 col-md-6 blue-block p-4" style="margin-left: -15px;">
            <p><strong>Follow These Instructions</strong></p>
            <ul>
              <li class="pb-2">At first choose awesome picture from your own folder because picture with copyright issues are not acceptable.</li>
              <li class="pb-2">After ensuring copyright issue now you are ready to upload the picture.</li>
              <li class="pb-2">Then fill all the required fields and upload the picture.</li>
              <li class="pb-2">Picture should not be larger than 2mb and ratio should be (1530*430)px.<br>
                <small>(Ensure that picture should not pixelate.)</small>
              </li>
              <li class="pb-2">Now you can upload the picture successfully.</li>
              <li class="pb-2">You also can add some inspirational quotes to your picture with author.</li>
              <li class="pb-2">Finally click the submit button to publish.</li>
            </ul>
            <p><strong>Note* :</strong> You can choose optionally whether you want to upload,</p>
            <ul>
              <li>Image only</li>
              <li>Quote only</li>
              <li>Both (Image & Quote)</li>
            </ul>
          </div>
        </div>
    </div>
    <pre>{{ bannerForm?.value | json }}</pre>
    <pre>{{ quoteForm?.value | json }}</pre>
    <div class="row" #targetBannerupload>
      <div class="col-md-12">
        <!-- <h2>Banner Preview</h2> -->
        <img src="assets/images/banner-upload.png" class="img-fluid w-100">
      </div>
    </div>

  </div>
</div>
