<div>
<!-- <h3 style="display: inline; margin-right: 15px; vertical-align: middle">Inclusion/Exclusion</h3> -->
<strong class="mr-2">Inclusion/Exclusion</strong>
<div class="breadcrumb-block">
    <ol class="breadcrumb">
    <li><a [routerLink]="['/dashboard']"><i class="material-icons">home</i> </a><span class="fa fa-angle-right" aria-hidden="true"></span></li>
    <li><a [routerLink]="['/catalog']">Catalog </a> <span class="fa fa-angle-right" aria-hidden="true"></span></li>
    <li class="active"> Inclusion/Exclusion </li>
    </ol>
</div> 
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="inclusionExclusionForm" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-primary">
                      <div class="card-icon">
                        <i class="material-icons">check_box</i>
                      </div>
                      <div class="row">
                        <div class="col-md-8"><h4 class="card-title">Inclusion/Exclusion <small>- add new inclusion/exclusion</small></h4></div>
                      </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                <input  matInput type="text" placeholder="Title *" formControlName="title">
                                </mat-form-field>
                              <mat-error *ngIf="!inclusionExclusionForm.controls.title.valid  && inclusionExclusionForm.controls.title.touched">Title is required.</mat-error>                                 
                            </div>
                            <div class="col-md-3">
                              <mat-form-field>
                                <mat-select placeholder="Category" formControlName="category">
                                  <mat-option *ngFor="let category of categories" [value]="category.id">
                                    {{ category.title }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-error *ngIf="!inclusionExclusionForm.controls.category.valid  && inclusionExclusionForm.controls.category.touched">Category is required.</mat-error> 
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                <mat-select   placeholder="Status *" formControlName="status">
                                    <mat-option *ngFor="let status of statusList" [value]="status.value">
                                    {{ status.viewValue }}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                              <mat-error *ngIf="!inclusionExclusionForm.controls.status.valid  && inclusionExclusionForm.controls.status.touched">Status is required.</mat-error>                                                                 
                            </div>
                            <button
                              matTooltip="Click to save" matTooltipPosition="right"
                              type="submit" 
                              class="btn btn-round btn-success btn-just-icon" 
                              [disabled]="!inclusionExclusionForm.valid" 
                              (click)="saveIncludeExclude(inclusionExclusionForm.value)">
                              <i class="material-icons">done</i>
                            </button>
                        </div> 
                            
                    </div>
                </div>
            </div>
        </div>       
    </form>
  </div> 
    <!-- <pre>{{inclusionExclusionForm.value | json}}</pre> -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <div class="row">
          <div class="col-md-8"><h4 class="card-title">Inclusion/Exclusion <small>- list of available inclusion/exclusion</small></h4></div>
          <div class="col-md-4 my-2"> 
            <mat-form-field>
              <input matInput type="text" class="text-gray" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>  
          </div>
        </div>
      </div>
      <div class="card-body">
            <mat-table #table [dataSource]="dataSource" matSort>
              
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:.3"> SN </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index" style="flex:.3"> {{ i+1 }} </mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 3"> Title </mat-header-cell>
                <mat-cell *matCellDef="let element" style="flex:3"> {{element.title}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.category.title }} </mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngSwitch]="element.status">
                  <span *ngSwitchCase="'PUBLISH'" class="badge badge-success"> Publish</span>
                  <span *ngSwitchCase="'AWAITING_APPROVAL'" class="badge badge-info"> Pending</span>
                  <span *ngSwitchCase="'TRASH'" class="badge badge-danger"> Trash</span>
                  <span *ngSwitchCase="'DRAFT'" class="badge badge-warning"> Draft</span>
                  <span *ngSwitchCase="'DECLINED'" class="badge badge-dark"> Decline</span>
                  <span *ngSwitchCase="'CLOSED'" class="badge badge-secondary"> Closed</span>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let element; let i =index;">
                    <a class="btn-link">
                      <i class="material-icons text-success" (click)= "updateIncludeExclude(i,element?.id, element?.title, element?.status, element?.category.id)">edit</i>
                    </a>
                    <a class="btn-link">
                      <i class="material-icons text-danger"(click)= "deleteIncludeExclude(i,element?.id, element?.title, element?.status)">clear</i>
                    </a>
                  </mat-cell>
              </ng-container>
        
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator
          [pageIndex]="0"
          [pageSize]="20"
          [pageSizeOptions]="[20, 30, 50, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>