<div>
    <strong class="mr-2">Booking Detail View</strong>
    <div class="breadcrumb-block">
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">
                    <i class="material-icons">home</i>
                </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li>
                <a [routerLink]="['/bookings']">Booking </a>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
            </li>
            <li class="active"> View</li>
        </ol>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">list</i>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Booking Detail View</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab label="Invoice">
                        <div class="pt-4">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="https://qa-com-goglides-media.s3.us-west-2.amazonaws.com/business/logo/201807112111191919.png"
                                                width="auto">
                                        </td>
                                        <td class="text-right">
                                            <strong>Goglides Groups Pvt. Ltd.</strong>
                                            <p class="mb-0">
                                                <i class="material-icons align-middle text-gray sm-i">phone</i>+977-1-5525698,
                                                +977-1-5525699</p>
                                            <p class="mb-0">
                                                <i class="material-icons align-middle text-gray sm-i">place</i>Bakhundol,
                                                Lalitpur</p>
                                            <p class="mb-0">
                                                <i class="material-icons align-middle text-gray sm-i">email</i>
                                                info@goglides.com</p>
                                        </td>
                                        <!-- <td class="text-right">
                                            <h4 class="text-uppercase text-primary">
                                                <strong>Invoice</strong>
                                            </h4>
                                            <p class="mb-0">
                                                <strong>Booking Date : {{ booking?.bookingDate | date:'mediumDate'}}</strong>
                                            </p>
                                            <p class="mb-0">
                                                <strong>Invoice No. :</strong> {{ booking?.invoiceNo }}</p>
                                            <p class="mb-0">
                                                <strong>Booking Reference :</strong> {{ booking?.code }}</p>
                                        </td> -->
                                    </tr>

                                    <tr>
                                        <!-- <td class="align-top">
                                            <h5 class="text-primary mb-1">
                                                <strong>Billing From</strong>
                                            </h5>
                                            <strong>Goglides Groups Pvt. Ltd.</strong>
                                            <p class="mb-0">
                                                <i class="material-icons align-middle text-gray sm-i">phone</i>+977-1-5525698, +977-1-5525699</p>
                                            <p class="mb-0">
                                                <i class="material-icons align-middle text-gray sm-i">place</i>Bakhundol, Lalitpur</p>
                                            <p class="mb-0">
                                                <i class="material-icons align-middle text-gray sm-i">email</i> info@goglides.com</p>
                                        </td> -->
                                        <td>
                                            <h5 class="text-primary mb-1">
                                                <strong>Billing To</strong>
                                            </h5>
                                            <strong>{{ booking?.clientName}}</strong>
                                            <p class="mb-0">
                                                <i class="material-icons align-middle text-gray sm-i">phone</i>{{
                                                booking?.clientContact }}</p>
                                            <p class="mb-0">
                                                <!-- <i class="material-icons align-middle text-gray sm-i">place</i>Thamel, Kathmandu</p> -->
                                                <p class="mb-0">
                                                    <i class="material-icons align-middle text-gray sm-i">email</i> {{
                                                    booking?.clientEmail}}</p>
                                        </td>
                                        <td class="text-right">
                                            <h4 class="text-uppercase text-primary">
                                                <strong>Invoice</strong>
                                            </h4>
                                            <p class="mb-0">
                                                <strong>Booking Date : {{ booking?.bookingDate | date:'mediumDate'}}</strong>
                                            </p>
                                            <p class="mb-0">
                                                <strong>Invoice No. :</strong> {{ booking?.invoiceNo }}</p>
                                            <p class="mb-0">
                                                <strong>Booking Reference :</strong> {{ booking?.code }}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" style="border-top:0;">
                                            <table style="width: 100%;">
                                                <tbody>
                                                    <tr style="background: #66a5ad; color: #fff;">
                                                        <th>Description</th>
                                                        <th>Qty</th>
                                                        <th>Rate</th>
                                                        <th class="text-right">Total</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ listing?.title }}</td>
                                                        <td>{{ booking?.paxTotalCount }}</td>
                                                        <td>{{ prodData.items[0]?.products[0]?.retailRate }}</td>
                                                        <td>{{ booking?.total }}</td>
                                                    </tr>

                                                    <!-- <tr *ngFor="let invoice of invoices">
                                                        <td>
                                                            <strong>{{ invoice?.listingTitle }} ( {{ invoice?.category }} )</strong>
                                                            <p class="mb-0" *ngIf="invoice?.adultQty">Adults</p>
                                                            <p class="mb-0" *ngIf="invoice?.infantQty">Infants</p>
                                                            <p class="mb-0" *ngIf="invoice?.seniorQty">Seniors</p>
                                                            <p class="mb-0" *ngIf="invoice?.childQty">Child</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon0_value">{{ invoice?.addons?.addon0_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon1_value">{{ invoice?.addons?.addon1_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon2_value">{{ invoice?.addons?.addon2_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon3_value">{{ invoice?.addons?.addon3_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon4_value">{{ invoice?.addons?.addon4_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon5_value">{{ invoice?.addons?.addon5_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon6_value">{{ invoice?.addons?.addon6_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon7_value">{{ invoice?.addons?.addon7_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon8_value">{{ invoice?.addons?.addon8_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon9_value">{{ invoice?.addons?.addon9_value }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon10_value">{{invoice?.addons?.addon10_value }}</p>
                                                            <!-- <p class="mb-0">Transportation</p>
                                                            <p class="mb-0">Photo/Video</p> -->
                                                    <!-- </td>
                                                        <td>
                                                            <p class="mb-0">&nbsp;</p>
                                                            <p class="mb-0" *ngIf="invoice?.adultQty">{{ invoice?.adultQty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.infantQty">{{ invoice?.infantQty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.seniorQty">{{ invoice?.seniorQty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.childQty">{{ invoice?.childQty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon0_value">{{ invoice?.addons?.addon0_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon1_value">{{ invoice?.addons?.addon1_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon2_value">{{ invoice?.addons?.addon2_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon3_value">{{ invoice?.addons?.addon3_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon4_value">{{ invoice?.addons?.addon4_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon5_value">{{ invoice?.addons?.addon5_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon6_value">{{ invoice?.addons?.addon6_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon7_value">{{ invoice?.addons?.addon7_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon8_value">{{ invoice?.addons?.addon8_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon9_value">{{ invoice?.addons?.addon9_qty }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon10_value">{{invoice?.addons?.addon10_qty }}</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">&nbsp;</p>
                                                            <p class="mb-0" *ngIf="invoice?.adultQty">Rs {{ invoice?.adultRate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.infantQty">Rs {{ invoice?.infantRate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.seniorQty">Rs {{ invoice?.seniorRate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.childQty">Rs {{ invoice?.childRate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon0_value">{{ invoice?.addons?.addon0_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon1_value">{{ invoice?.addons?.addon1_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon2_value">{{ invoice?.addons?.addon2_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon3_value">{{ invoice?.addons?.addon3_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon4_value">{{ invoice?.addons?.addon4_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon5_value">{{ invoice?.addons?.addon5_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon6_value">{{ invoice?.addons?.addon6_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon7_value">{{ invoice?.addons?.addon7_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon8_value">{{ invoice?.addons?.addon8_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon9_value">{{ invoice?.addons?.addon9_rate }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon10_value">{{invoice?.addons?.addon10_rate }}</p>
                                                            
                                                        </td>
                                                        <td class="text-right">
                                                            <p class="mb-0">&nbsp;</p>
                                                            <p class="mb-0" *ngIf="invoice?.adultQty">Rs {{ invoice?.adultTotal }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.infantQty">Rs {{ invoice?.infantTotal }} </p>
                                                            <p class="mb-0" *ngIf="invoice?.seniorQty">Rs {{ invoice?.seniorTotal }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.childQty">Rs {{ invoice?.childTotal }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon0_value">{{ invoice?.addons?.addon0_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon1_value">{{ invoice?.addons?.addon1_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon2_value">{{ invoice?.addons?.addon2_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon3_value">{{ invoice?.addons?.addon3_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon4_value">{{ invoice?.addons?.addon4_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon5_value">{{ invoice?.addons?.addon5_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon6_value">{{ invoice?.addons?.addon6_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon7_value">{{ invoice?.addons?.addon7_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon8_value">{{ invoice?.addons?.addon8_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon9_value">{{ invoice?.addons?.addon9_total }}</p>
                                                            <p class="mb-0" *ngIf="invoice?.addons?.addon10_value">{{invoice?.addons?.addon10_total }}</p>
                                                        </td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <table class="pull-right">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong>Sub Total :</strong>
                                                        </td>
                                                        <td class="text-right">{{ invoices?.sub_total }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Advance :</strong>
                                                        </td>
                                                        <td class="text-right">Rs 5000</td>
                                                    </tr>
                                                    <tr style="background: #eee;">
                                                        <td>
                                                            <strong>Total Balance Due : </strong>
                                                        </td>
                                                        <td class="text-right">Rs 20000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Payment Due Date :</strong>
                                                        </td>
                                                        <td class="text-right">Jul 22, 2018</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary">Print</button>
                            <button class="btn btn-success" (click)="moreOption()">More Option</button>
                        </div>
                    </mat-tab>
                    <mat-tab label="Pax Info">
                        <div class="card-body">
                            <mat-accordion *ngFor="let category of prodData.items;">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="form-group">
                                        <mat-panel-title>
                                            <strong class="mr-1"></strong> {{category?.category}}
                                            <p class="badge badge-secondary m-1">{{category?.products.length}}</p>
                                        </mat-panel-title>
                                        <mat-panel-description style="flex-grow: 1;">
                                            {{category?.type}}
                                        </mat-panel-description>
                                        <mat-panel-description style="flex-grow: 1;">
                                            {{commonService.formatSchedule(category?.schedule)}}
                                        </mat-panel-description>
                                        <mat-panel-description style="flex-grow: 1;">
                                            {{commonService.formatDuration(category?.duration)}}
                                        </mat-panel-description>

                                    </mat-expansion-panel-header>

                                    <div class="pt-4">
                                        <table class="table">
                                            <tr>
                                                <th>A.G</th>
                                                <th>Name</th>
                                                <th>Nationality</th>
                                                <th>Contact No.</th>
                                                <th>Email</th>
                                                <th>Weight</th>
                                                <th>ID</th>
                                                <th style="width: 20px;"></th>
                                            </tr>
                                            <tr *ngFor="let item of category.products">
                                                <td>{{item?.ageGroup}}</td>
                                                <td>{{item?.fullName}}</td>
                                                <td>{{item?.nationality}}</td>
                                                <td>{{item?.contactNo}}</td>
                                                <td>{{item?.email}}</td>
                                                <td>{{item?.weight}}Kg</td>
                                                <td>{{item?.identificationType}} : {{item?.identificationNo}}</td>
                                                <td style="width: 20px;">
                                                    <div class="edit-icons">
                                                        <i class="material-icons text-success" (click)="paxinfoEdit()">edit</i>
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-tab>
                    <mat-tab label="Ticket">
                        <div class="pt-4">
                            <mat-tab-group>
                                <mat-tab *ngFor="let item of prodData.items" label="{{item?.category}}">

                                    <button class="btn btn-primary" (click)="printComponent('ticket')">Print</button>
                                    <table style="width: 100%;" id="ticket">
                                        <tr>
                                            <td style="width:20%; float: left;" class="ticket-logo-placeholder">
                                                <img src="https://qa-com-goglides-media.s3.us-west-2.amazonaws.com/business/logo/201807112111191919.png"
                                                    width="auto">
                                            </td>
                                            <td style="width: 80%; float: left;" class="ticket-heading">
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td>
                                                            <h3>{{ booking?.clientName}}</h3>
                                                            <p>
                                                                <span class="pr-3">
                                                                    <i class="material-icons align-middle sm-i text-gray">email</i>
                                                                    <strong class="d-none">Email :</strong> {{
                                                                    booking?.clientEmail}},</span>
                                                                <span class="pr-3">
                                                                    <i class="material-icons align-middle text-gray"
                                                                        style="font-size: 17px;">phone</i> <strong
                                                                        class="d-none">Tel :</strong> {{
                                                                    booking?.clientContact }}</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <hr class="m-0">
                                                <table class="table">
                                                    <tr>
                                                        <td style="padding-left: 0;">
                                                            <strong>Booking Reference : </strong> {{ booking?.code }}</td>
                                                        <td>
                                                            <strong>Booking Date : </strong> {{ booking?.bookingDate |
                                                            date:'mediumDate'}}</td>
                                                        <td>
                                                            <strong>Invoice No. : </strong> {{ booking?.invoiceNo }}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <h5 class="title">
                                                    <strong>
                                                        <i class="material-icons align-middle mr-1">list</i> Package
                                                        Detail</strong>
                                                </h5>
                                                <table class="table">
                                                    <tr>
                                                        <th>Package Name</th>
                                                        <th>Package Code</th>
                                                        <th>Package Operator</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ listing?.title }}</td>
                                                        <td>{{ listing?.code }}</td>
                                                        <td>
                                                            <img [src]="business?.logoUrl" width="25px;">&nbsp;&nbsp;&nbsp;
                                                            {{ business?.businessName }}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <h5 class="title">
                                                    <strong>
                                                        <i class="material-icons align-middle mr-1">list</i> Detail</strong>
                                                </h5>
                                                <table class="table">
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>Type</th>
                                                        <th>Duration</th>
                                                        <th>Pickup/Dropoff</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ item?.products[0]?.bookingDate | date:'mediumDate'}}</td>
                                                        <td>{{ item?.schedule }}</td>
                                                        <td>{{ item?.type }}</td>
                                                        <td>{{ commonService.formatDuration(item?.duration) }}</td>
                                                        <td>
                                                            <label for="">Pickup : </label>
                                                            <!-- <i  class="material-icons sm-i">done</i> Pickup : -->
                                                            <span *ngIf="booking?.pickup; else noPickUpDropOff" class="mr-3">
                                                                {{ booking?.pickup }}</span>
                                                            <label for="">Dropoff : </label>
                                                            <!-- <i  class="material-icons sm-i">done</i> Dropoff : -->
                                                            <span *ngIf="booking?.dropOff; else noPickUpDropOff" class="pr-1">
                                                                {{ booking?.dropOff }}</span>
                                                            <ng-template #noPickUpDropOff>
                                                                <span class="mr-3"> - </span>
                                                            </ng-template>
                                                            <!-- <i class="material-icons sm-i ml-3">done</i> Pickup
                                                <i class="material-icons sm-i ml-3">done</i> Dropoff -->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <h5 class="title mb-3">
                                                    <strong>
                                                        <i class="material-icons align-middle mr-1">person</i> Pax
                                                        Detail</strong>
                                                </h5>
                                                <!-- <pre>
                                                        {{prodData?.items?.products |json}}
                                                    </pre> -->
                                                <div class="border mb-3" *ngFor="let paxInfo of item?.products">
                                                   
                                                    <h6 class="pax-head">{{ paxInfo?.title}} {{paxInfo?.fullName}} (
                                                        Ticket No: {{paxInfo?.ticketNo}})</h6>
                                                    <table class="table mb-0">
                                                        <tr>
                                                            <td>
                                                                <strong>Age Group</strong> : {{ paxInfo?.ageGroup}}</td>
                                                            <td>
                                                                <strong>Nationality</strong> : {{ paxInfo?.nationality}}</td>
                                                            <td>
                                                                <strong>Fare</strong> : 
                                                                {{ paxInfo?.individualTotal|currency:'USD'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>Addons</strong>
                                                            </td>
                                                            <td colspan="2" style="padding: 0;">
                                                                <table>
                                                                    <tr>
                                                                        <td *ngFor="let addon of paxInfo?.addons">
                                                                            <i class="material-icons sm-i">done</i> {{
                                                                            addon?.title }} : {{  addon?.retailRate | currency:'USD' }}</td>

                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                <!-- <div class="text-right" style="border-top:2px solid #ddd; border-bottom:2px solid #ddd;">
                                        <h3 class="my-1">{{ item?.total  }}</h3>
                                    </div> -->
                                                <div class="text-right" style="border-top:1px solid #ddd; border-bottom:1px solid #ddd;">
                                                    <h5 class="my-1">
                                                        <strong>Total : {{ booking?.total |currency:'USD' }}</strong>
                                                    </h5>
                                                    <!-- <p ><strong >In Word :</strong> {{ commonService.nuberToWord(item?.total) }}.</p> -->
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="table mb-0">
                                                    <tr>
                                                        <td>
                                                            <strong>Payment Mode</strong> : {{ booking?.paymentMode }}</td>
                                                        <td>
                                                            <strong>Payment Status</strong> : {{ booking?.paymentStatus
                                                            }}</td>
                                                        <td>
                                                            <strong>Booking Status</strong> : {{ booking?.bookingStatus
                                                            }}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h5 class="title">
                                                    <strong>
                                                        <i class="material-icons align-middle mr-1">speaker_notes</i>
                                                        Special Request</strong>
                                                </h5>
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            {{ booking?.comment }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <h5 class="title">
                                                    <strong>
                                                        <i class="material-icons align-middle mr-1">
                                                            cancel_presentation</i> Cancellation Policy</strong>
                                                </h5>
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            1. Before Departure :
                                                            <ul>
                                                                <li>You may cancel with a full refund within 24 hours
                                                                    of booking
                                                                    your ticket. After that time, tickets are fully
                                                                    refundable,
                                                                    less a $15 processing fee, if cancelled at least 2
                                                                    days
                                                                    before the trip date. Less than 02 day(s) of the
                                                                    schedule
                                                                    departure, there is a 100% cancellation fee. Above
                                                                    15
                                                                    days prior to your arrival: 25% of the invoice
                                                                    amount.
                                                                </li>
                                                                <li>
                                                                    Between 14 days to 5 days prior to your arrival:
                                                                    35% of the invoice amount.
                                                                </li>
                                                                <li>
                                                                    Between 4 days to 02 days prior to your arrival:
                                                                    50% of the invoice amount.
                                                                </li>
                                                                <li>
                                                                    Less than 02 days prior to your arrival: 100% of
                                                                    the invoice amount.
                                                                </li>
                                                                <li>
                                                                    No show: 100% of the invoice amount.
                                                                </li>
                                                                <li>
                                                                    If the booked ticket is cancelled due to any of the
                                                                    reasons of the company, such ticket shall be
                                                                    postponed to next flight
                                                                    or shall returned the entire amount to booking
                                                                    agent.
                                                                    Transportation charge may not be refundable in case
                                                                    of
                                                                    service used.
                                                                </li>
                                                            </ul>

                                                            2. After Departure :
                                                            <ul>
                                                                <li>
                                                                    Ticket is nonrefundable after departure.
                                                                </li>
                                                            </ul>

                                                            <p>CHARGE WAIVED IN CASE OF DEATH OF PASSENGER OR DEATH OF
                                                                IMMEDIATE
                                                                FAMILY. CERTIFICATE MUST BE NOTIFIED. GOGLIDES MAY
                                                                REFUSE
                                                                REFUND IF APPLICATION IS MADE LATER THAN 15DAYS AFTER
                                                                EXPIRY
                                                                OF E-TICKETS.</p>

                                                            Date Change - Anytime
                                                            <ul>
                                                                <li>Above 2 days prior to your arrival: 20$</li>
                                                                <li>Between 24 hours to 12 hour prior to your arrival:
                                                                    25$</li>
                                                                <li>Between 11 hours to 5 hour prior to your arrival:
                                                                    30$</li>
                                                                <li>Less than 4 hours prior to your arrival: Date
                                                                    change not
                                                                    permitted ( Please contact Goglides team ).</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <h5 class="title">
                                                    <strong>
                                                        <i class="material-icons align-middle mr-1">contact_support</i>
                                                        Terms and Conditions</strong>
                                                </h5>
                                                <table class="table mb-0">
                                                    <tr>
                                                        <td>
                                                            <p class="mb-0">Visit our page :
                                                                <a href="http://goglides.com/terms & condition">http://goglides.com/terms
                                                                    & condition</a>
                                                            </p>
                                                            <p>Email us on :
                                                                <a href="#">info@goglides.com</a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <pre>{{prodData?.items[0]|json}}</pre>
                                </mat-tab>
                            </mat-tab-group>

                        </div>
                    </mat-tab>


                </mat-tab-group>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <!-- summary -->
        <div class="card">
            <div class="card-body p-1">
                <h5 class="border-bottom mb-0 p-2">
                    <strong>Action</strong>
                </h5>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tr>
                            <!-- <td>Payment</td> -->
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="Payment Status" [value]="booking?.paymentStatus" (change)="onClickPaymentStatus($event, booking['id'])">
                                        <mat-option *ngFor="let paymnt of paymentStatus" [value]="paymnt.value">
                                            {{paymnt.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <!-- <td>Booking</td> -->
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="Booking Status" [value]="booking?.bookingStatus" (change)="onClickBookingStatus($event, booking['id'])">
                                        <mat-option *ngFor="let bkStatus of bookingStatus" [value]="bkStatus.value">
                                            {{bkStatus.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Payment Mode : {{booking?.bookingMode}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Payment Status : {{booking?.paymentStatus}}</td>
                        </tr>
                        <tr *ngIf="booking?.paymentStatus ==='PAID' && booking?.bookingStatus === 'CONFIRMED'">
                            <td colspan="2" class="text-center">
                                <button class="btn btn-primary btn-sm btn-round" (click)="issueTicket(booking)">Generate
                                    Ticket</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- end -->
        <!-- summary -->
        <div class="card">
            <div class="card-body p-1">
                <h5 class="border-bottom p-2">
                    <strong>Summary</strong>
                </h5>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tr>
                            <td>{{listing?.title}}</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">Booking Ref : {{ booking?.code }}</p>
                                <p class="mb-0">Booking Date : {{booking?.bookingDate | date:'medium'}}</p>
                                <p class="mb-0">Invoice No. : {{ booking?.invoiceNo }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">Created : {{booking?.createdAt | date:'medium'}}</p>
                                <p class="mb-0">Updated : {{ booking?.updatedAt | date:'medium'}}</p>
                                <p class="mb-0">Trashed : {{ booking?.deletedAt | date:'medium'}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- end -->

    </div>

</div>

<!-- <pre>
    {{ prodData | json}}
</pre> -->