.sm-i{
    font-size: 14px;
}
.title{
    background: #66a5ad !important; 
    padding: 6px 10px; 
    color: #fff; 
    margin-bottom: 0;
}
.pax-head{
    background: #eee; 
    padding: 10px; 
    margin: 0;
}
.edit-icons i{
    visibility: hidden;
}
table tr:hover .edit-icons i{
    visibility: visible;
}

@media print and (color) {
    * {
      -webkit-print-color-adjust: exact;   
    }
    
    table { page-break-inside:auto; page-break-after:avoid; width: 100%; }
    tr { page-break-inside:auto; page-break-after:auto }

    // .ticket-logo-placeholder{
    //     width: 20% !important;
    //     float: left !important;
    // }
    // .ticket-heading{
    //     width: 80% !important;
    //     float: left !important;
    // }
}
